In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
from config import db_password

In [2]:
#db_string = f'postgres://postgres:postgres@database-1.czruykdkti9i.us-east-2.rds.amazonaws.com:5432/startups'
#engine = create_engine(db_string)

In [3]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

3.91000000004027e-05

In [4]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [5]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funding_rounds_final.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationships_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv
sql_db/
sql_db/acquisitions_clean.csv
sql_db/degrees_clean.csv
sql_db/funding_round_filled.csv
sql_db/funds_clean.csv
sql_db/investments_cleaner.csv
sql_db/ipos_cleaner.csv
sql_db/milestones_cleaner.csv
sql_db/objects_clean.csv
sql_db/offices_clean.csv
sql_db/people_cleaner.csv
sql_db/relationships_cleaner.csv
sql_db/time_elapsed_clean.csv
time_elapsed_clean.csv

######  Just for creating a layout I will be temporary loading local csv files as some of them I have downloaded on my laptop only

In [6]:
# Loading the file with compiled start dates
companies_df = pd.read_csv('companies_info.csv')
companies_df

,object_id,entity_type,name_x,category_code,status,country_code,state_code,city,region,investment_rounds,invested_companies,funding_rounds,funding_total_usd
0,c:1,Company,Wetpaint,web,operating,USA,WA,Seattle,Seattle,0,0,3,39750000
1,c:10,Company,Flektor,games_video,acquired,USA,CA,Culver City,Los Angeles,0,0,0,0
2,c:100,Company,There,games_video,acquired,USA,CA,San Mateo,SF Bay,0,0,0,0
3,c:10000,Company,MYWEBBO,network_hosting,operating,NaN,NaN,NaN,unknown,0,0,0,0
4,c:10001,Company,THE Movie Streamer,games_video,operating,NaN,NaN,NaN,unknown,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,Webgility,ecommerce,operating,USA,CA,San Francisco,SF Bay,0,0,0,0
196549,c:9995,Company,FohBoh,public_relations,operating,USA,CA,San Jose,SF Bay,0,0,1,750000
196550,c:9996,Company,CSC,consulting,operating,USA,VA,Falls Church,Washington DC,0,0,0,0
196551,c:9997,Company,Top-candidateÂ™,search,operating,USA,CA,Los Angeles,Los Angeles,0,0,0,0
196552,c:9998,Company,Closet Couture,ecommerce,operating,USA,CA,Pacific Palisades,Pacific Palisades,0,0,1,475000

In [7]:
companies_df.columns.to_list()

['object_id',
 'entity_type',
 'name_x',
 'category_code',
 'status',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'funding_total_usd']

In [8]:
companies_info = companies_df[['object_id',
 'category_code',
 'status',
 'funding_total_usd']]
companies_info

       object_id     category_code     status  funding_total_usd
0            c:1               web  operating           39750000
1           c:10       games_video   acquired                  0
2          c:100       games_video   acquired                  0
3        c:10000   network_hosting  operating                  0
4        c:10001       games_video  operating                  0
...          ...               ...        ...                ...
196548   c:99940         ecommerce  operating                  0
196549    c:9995  public_relations  operating             750000
196550    c:9996        consulting  operating                  0
196551    c:9997            search  operating                  0
196552    c:9998         ecommerce  operating             475000

[196553 rows x 4 columns]

In [9]:
# Loading the file from with product labels
labels_df = pd.read_csv('prod_label.csv')
labels_df

       object_id  product_label
0            c:1              1
1           c:10              1
2          c:100              0
3        c:10000              0
4        c:10001              0
...          ...            ...
196548   c:99940              1
196549    c:9995              0
196550    c:9996              0
196551    c:9997              0
196552    c:9998              0

[196553 rows x 2 columns]

In [10]:
#table_name = 'product_labels'
#labels_df.to_sql(name='product_labels', con = engine)

In [11]:
# Merging them
companies_prodlbls = pd.merge(companies_info, labels_df, how='left', on=['object_id'])
companies_prodlbls

,object_id,category_code,status,funding_total_usd,product_label
0,c:1,web,operating,39750000,1
1,c:10,games_video,acquired,0,1
2,c:100,games_video,acquired,0,0
3,c:10000,network_hosting,operating,0,0
4,c:10001,games_video,operating,0,0
...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1
196549,c:9995,public_relations,operating,750000,0
196550,c:9996,consulting,operating,0,0
196551,c:9997,search,operating,0,0
196552,c:9998,ecommerce,operating,475000,0

In [12]:
# Loading funding rounds types, # of rounds and # of participants
funds_df = pd.read_csv('companies_funding_rounds.csv')
funds_df

       object_id  rounds_total last_funding_round_type  number_of_participants
0            c:1           3.0               series-c+                     9.0
1           c:10           NaN                     NaN                     NaN
2          c:100           NaN                     NaN                     NaN
3        c:10000           NaN                     NaN                     NaN
4        c:10001           NaN                     NaN                     NaN
...          ...           ...                     ...                     ...
196548   c:99940           NaN                     NaN                     NaN
196549    c:9995           1.0                   angel                     0.0
196550    c:9996           NaN                     NaN                     NaN
196551    c:9997           NaN                     NaN                     NaN
196552    c:9998           1.0                   angel                     0.0

[196553 rows x 4 columns]

In [13]:
# Merging them
companies_lbls_funds = pd.merge(companies_prodlbls, funds_df, how='left', on=['object_id'])
companies_lbls_funds

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN
196551,c:9997,search,operating,0,0,NaN,NaN,NaN
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0

In [14]:
companies_lbls_funds.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'rounds_total',
 'last_funding_round_type',
 'number_of_participants']

In [15]:
# Loading final file with all date compiled based on Fahima's file
#client = boto3.client('s3')
#path1 = 's3://team3-final-bucket/'
time_elapsed_df = pd.read_csv('companies_all_dates.csv')
time_elapsed_df

       object_id start_dates   end_dates  time_elapsed_months
0            c:1  2005-10-01  2008-05-19                 32.0
1           c:10  2011-09-01         NaN                  NaN
2          c:100         NaN         NaN                  NaN
3        c:10000  2008-07-26  2015-01-01                 77.0
4        c:10001  2008-07-26  2015-01-01                 77.0
...          ...         ...         ...                  ...
196548   c:99940  2007-01-01  2015-01-01                 96.0
196549    c:9995  2007-11-01  2008-08-25                 10.0
196550    c:9996  1959-01-01  2015-01-01                672.0
196551    c:9997  2008-07-01  2015-01-01                 78.0
196552    c:9998  2007-09-01  2008-06-01                  9.0

[196553 rows x 4 columns]

In [16]:
# Merging companies and dates
companies_with_dates = pd.merge(companies_lbls_funds, time_elapsed_df, how='left', on=['object_id'])
companies_with_dates

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0

In [17]:
# Loading Winston's file
locations = pd.read_csv('usa_only.csv')
locations

,Unnamed: 0,object_id,name,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,region
0,0,c:1,Wetpaint,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,West
1,6454,c:15710,Immersion Corporation,801 Fox Lane,San Jose 95131,SF,0,CA,USA,37.386711,-121.903953,NorCal
2,10539,c:17385,About Me!,"2601 Mission St,","#900,",SF,94110,CA,USA,37.755068,-122.418026,NorCal
3,3,c:10005,Thomas Publishing,Five Penn Plaza,15th Floor,New York,10001,NY,USA,0.000000,0.000000,NY
4,4,c:10009,dimension5 labs,1025 Don Diego Ave,NaN,Santa Fe,87505,NM,USA,35.674675,-105.948434,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...
55468,44595,c:65540,The Pricerie,NaN,NaN,LA,0,CA,USA,0.000000,0.000000,SoCal
55469,48079,c:75652,Textual Indices,NaN,NaN,SF,95382,CA,USA,0.000000,0.000000,NorCal
55470,55599,f:9997,Axel Johnson,155 Spring Street,6th floor,New York,10012,NY,USA,40.724468,-74.001704,NY
55471,55600,f:9998,Liberty City Ventures,NaN,NaN,New York,0,NY,USA,40.714353,-74.005973,NY
55472,16406,c:199793,Digital Energy,NaN,128 Auburn Ct Ste 106,LA,CA 91362,CA,USA,34.145839,-118.805647,SoCal

In [18]:
# Dropping columns
locations_clean = locations[['object_id','country_code','region']]

In [19]:
# Merging companies and locations
companies_locations = pd.merge(companies_with_dates, locations_clean, how='left', on=['object_id'])
companies_locations

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaN,NaN,NaN,USA,NorCal
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [20]:
# We need only USA companies so filtering them
USA_companies = companies_locations[companies_locations['country_code']=='USA']
USA_companies

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaN,NaN,NaN,USA,NorCal
8,c:10005,advertising,operating,0,0,NaN,NaN,NaN,NaN,2015-01-01,NaN,USA,NY
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [21]:
# Checking null values
for column in USA_companies.columns:
    print(f"Column {column} has {USA_companies[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 4305 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 31260 null values
Column last_funding_round_type has 31842 null values
Column number_of_participants has 31842 null values
Column start_dates has 12831 null values
Column end_dates has 7232 null values
Column time_elapsed_months has 17782 null values
Column country_code has 0 null values
Column region has 26 null values

In [22]:
# Filtering companies only from 2000 year
USA_companies1 = USA_companies[USA_companies['start_dates']>='2000-01-01']
USA_companies1

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal
15,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [23]:
USA_companies1['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [24]:
USA_companies1[USA_companies1['status']=='acquired'].count()

object_id                  2157
category_code              2011
status                     2157
funding_total_usd          2157
product_label              2157
rounds_total               1306
last_funding_round_type    1296
number_of_participants     1296
start_dates                2157
end_dates                     0
time_elapsed_months           0
country_code               2157
region                     2157
dtype: int64

In [25]:
# Checking null values
for column in USA_companies1.columns:
    print(f"Column {column} has {USA_companies1[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 869 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 17626 null values
Column last_funding_round_type has 17751 null values
Column number_of_participants has 17751 null values
Column start_dates has 0 null values
Column end_dates has 3349 null values
Column time_elapsed_months has 3349 null values
Column country_code has 0 null values
Column region has 16 null values

In [26]:
# Filtering out missing end_dates values
# USA_companies2 = USA_companies1[USA_companies1['end_dates'].notnull()]
# USA_companies2

In [27]:
# USA_companies2['status'].unique()

In [28]:
# Checking null values
# for column in USA_companies2.columns:
    # print(f"Column {column} has {USA_companies2[column].isnull().sum()} null values")

In [29]:
# Dropping nulls in category_code
USA_companies3 = USA_companies1[USA_companies1['category_code'].notnull()]
USA_companies3

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal
15,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [30]:
# Dropping rows with negative number of months in time_elapsed
#USA_companies4 = USA_companies3[USA_companies1['time_elapsed_months']>=0]
#USA_companies4

In [31]:
# Checking null values
#for column in USA_companies4.columns:
   # print(f"Column {column} has {USA_companies4[column].isnull().sum()} null values")

In [32]:
# Dropping missing values in regions
USA_companies5 = USA_companies3[USA_companies1['region'].notnull()].reset_index(drop=True)
USA_companies5

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal
2,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
3,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal
4,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast
30967,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
30968,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
30969,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
30970,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

###### Getting degrees

In [35]:
# Loading Winston's file
degrees_df1 = pd.read_csv('degrees_complete.csv')
degrees_df = degrees_df1[['relationship_object_id','degree_type']].rename(columns={'relationship_object_id':'object_id'})
degrees_df

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,8,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       object_id  degree_type
0            c:1          2.0
1            c:1          4.0
2            c:1          4.0
3            c:1          2.0
4            c:1          4.0
...          ...          ...
227497     f:999          2.0
227498     f:999          3.0
227499    f:9992          2.0
227500    f:9993          2.0
227501    f:9999          4.0

[227502 rows x 2 columns]

In [42]:
degrees_avg = degrees_df.groupby('object_id', as_index=False).agg({"degree_type":"mean"}).round()
degrees_avg

      object_id  degree_type
0           c:1          3.0
1          c:10          2.0
2         c:100          4.0
3       c:10002          3.0
4      c:100042          2.0
...         ...          ...
86520    f:9989          3.0
86521     f:999          2.0
86522    f:9992          2.0
86523    f:9993          2.0
86524    f:9999          4.0

[86525 rows x 2 columns]

In [43]:
USA_companies5_1 = pd.merge(USA_companies5, degrees_avg, how='left', on=['object_id'])
USA_companies5_1

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West,3.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal,2.0
2,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN
3,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal,3.0
4,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN
30967,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN
30968,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN
30969,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN
30970,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

In [44]:
USA_companies5_1[USA_companies5_1['degree_type'].notnull()]

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West,3.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal,2.0
3,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal,3.0
4,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
5,c:10014,mobile,acquired,0,1,1.0,angel,1.0,2008-03-01,NaN,NaN,USA,NorCal,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30956,c:9966,search,operating,0,0,NaN,NaN,NaN,2007-06-17,2015-01-01,91.0,USA,SoCal,3.0
30957,c:99669,enterprise,operating,750000,0,1.0,angel,6.0,2011-01-01,2011-09-08,8.0,USA,West,2.0
30958,c:997,enterprise,acquired,14500000,1,1.0,series-c+,9.0,2003-01-01,NaN,NaN,USA,NorCal,3.0
30960,c:9972,software,operating,82500000,1,5.0,series-c+,14.0,2007-01-01,2013-05-23,77.0,USA,NorCal,3.0
30970,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

##### Now we need to bucket companies life span

In [45]:
time_elapsed_months = USA_companies5['time_elapsed_months']
max_val = time_elapsed_months.max()
max_val

180.0

In [47]:
time_bins = [-0.01, 6, 12, 24, 36, 60, 180]
months_in_bins = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins)
months_in_bins

0         (24.0, 36.0]
1                  NaN
2        (60.0, 180.0]
3                  NaN
4        (60.0, 180.0]
             ...
30966    (60.0, 180.0]
30967    (60.0, 180.0]
30968      (6.0, 12.0]
30969    (60.0, 180.0]
30970      (6.0, 12.0]
Name: time_elapsed_months, Length: 30971, dtype: category
Categories (6, interval[float64]): [(-0.01, 6.0] < (6.0, 12.0] < (12.0, 24.0] < (24.0, 36.0] < (36.0, 60.0] < (60.0, 180.0]]

In [48]:
# Naming the groups:
group_names = ['0-6mth','6-12mth','1-2yr','2-3yr','3-5yr','over5yr']

In [49]:
USA_companies6 = USA_companies5_1.copy()
USA_companies6['time_range'] = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins, labels=group_names)
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West,3.0,2-3yr
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal,2.0,NaN
2,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN,over5yr
3,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal,3.0,NaN
4,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0,over5yr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN,over5yr
30967,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN,over5yr
30968,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN,6-12mth
30969,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN,over5yr
30970,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0,6-12mth

In [ ]:
# USA_companies6.to_csv('USA_companies6_new.csv', index=False)

In [50]:
USA_companies6.dtypes

object_id                    object
category_code                object
status                       object
funding_total_usd             int64
product_label                 int64
rounds_total                float64
last_funding_round_type      object
number_of_participants      float64
start_dates                  object
end_dates                    object
time_elapsed_months         float64
country_code                 object
region                       object
degree_type                 float64
time_range                 category
dtype: object

In [51]:
USA_companies6['time_range'] = USA_companies6['time_range'].astype('object')

In [52]:
USA_companies6.dtypes

object_id                   object
category_code               object
status                      object
funding_total_usd            int64
product_label                int64
rounds_total               float64
last_funding_round_type     object
number_of_participants     float64
start_dates                 object
end_dates                   object
time_elapsed_months        float64
country_code                object
region                      object
degree_type                float64
time_range                  object
dtype: object

In [53]:
USA_companies6['time_range'] = USA_companies6['time_range'].replace(np.nan, 'unknown')
USA_companies6['degree_type'] = USA_companies6['degree_type'].replace(np.nan, 'unknown')
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West,3,2-3yr
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaN,NaN,USA,SoCal,2,unknown
2,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest,unknown,over5yr
3,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,NaN,NaN,USA,NorCal,3,unknown
4,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal,2,over5yr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast,unknown,over5yr
30967,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal,unknown,over5yr
30968,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal,unknown,6-12mth
30969,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal,unknown,over5yr
30970,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal,3,6-12mth

##### Selecting features

In [54]:
USA_companies6.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'rounds_total',
 'last_funding_round_type',
 'number_of_participants',
 'start_dates',
 'end_dates',
 'time_elapsed_months',
 'country_code',
 'region',
 'degree_type',
 'time_range']

In [55]:
USA_companies7 = USA_companies6[['object_id',
 'category_code',
 'status',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'region',
 'start_dates',
 'degree_type']]
USA_companies7

,object_id,category_code,status,product_label,rounds_total,number_of_participants,region,start_dates,degree_type
0,c:1,web,operating,1,3.0,9.0,West,2005-10-01,3
1,c:10,games_video,acquired,1,NaN,NaN,SoCal,2011-09-01,2
2,c:10009,advertising,operating,1,NaN,NaN,Southwest,2008-08-01,unknown
3,c:1001,web,acquired,1,1.0,3.0,NorCal,2007-10-01,3
4,c:10011,games_video,operating,1,NaN,NaN,SoCal,2008-01-01,2
...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,NaN,NaN,Northeast,2004-01-01,unknown
30967,c:99940,ecommerce,operating,1,NaN,NaN,NorCal,2007-01-01,unknown
30968,c:9995,public_relations,operating,0,1.0,0.0,NorCal,2007-11-01,unknown
30969,c:9997,search,operating,0,NaN,NaN,SoCal,2008-07-01,unknown
30970,c:9998,ecommerce,operating,0,1.0,0.0,SoCal,2007-09-01,3

In [56]:
# Replace NaNs with 0 in a few columns - 
# funding_rounds_count, number_of_participants,time_elapsed_months 
USA_companies7['rounds_total'] = USA_companies7['rounds_total'].replace(np.nan, 0)
USA_companies7['number_of_participants'] = USA_companies7['number_of_participants'].replace(np.nan, 0)
USA_companies7

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,object_id,category_code,status,product_label,rounds_total,number_of_participants,region,start_dates,degree_type
0,c:1,web,operating,1,3.0,9.0,West,2005-10-01,3
1,c:10,games_video,acquired,1,0.0,0.0,SoCal,2011-09-01,2
2,c:10009,advertising,operating,1,0.0,0.0,Southwest,2008-08-01,unknown
3,c:1001,web,acquired,1,1.0,3.0,NorCal,2007-10-01,3
4,c:10011,games_video,operating,1,0.0,0.0,SoCal,2008-01-01,2
...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0.0,0.0,Northeast,2004-01-01,unknown
30967,c:99940,ecommerce,operating,1,0.0,0.0,NorCal,2007-01-01,unknown
30968,c:9995,public_relations,operating,0,1.0,0.0,NorCal,2007-11-01,unknown
30969,c:9997,search,operating,0,0.0,0.0,SoCal,2008-07-01,unknown
30970,c:9998,ecommerce,operating,0,1.0,0.0,SoCal,2007-09-01,3

In [71]:
USA_companies7['rounds_total'].unique()

array([  3.,   0.,   1.,   5.,   2.,   7.,   4.,   8.,   6.,  10.,   9.,
        30.,  13.,  25.,  17.,  18.,  11.,  50.,  16.,  99., 480.,  14.,
       300.,  29.,  12.,  68.,  44.,  15.,  61.])

In [72]:
USA_companies7['number_of_participants'].unique()

array([ 9.,  0.,  3.,  1., 19.,  5., 13.,  6., 27., 10.,  4., 14.,  8.,
       18.,  2., 11., 26., 28., 24., 21., 12., 20.,  7., 23., 30., 15.,
       22., 16., 34., 17., 25., 32., 35., 31., 46., 37., 58., 40., 38.,
       54., 29., 42., 33., 53., 36.])

In [57]:
USA_companies7.columns.to_list()

['object_id',
 'category_code',
 'status',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'region',
 'start_dates',
 'degree_type']

In [66]:
# Extracting years from dates
USA_companies8 = USA_companies7.copy()

In [67]:

USA_companies8['start_year'] = pd.DatetimeIndex(USA_companies8['start_dates']).year
USA_companies8

,object_id,category_code,status,product_label,rounds_total,number_of_participants,region,start_dates,degree_type,start_year
0,c:1,web,operating,1,3.0,9.0,West,2005-10-01,3,2005
1,c:10,games_video,acquired,1,0.0,0.0,SoCal,2011-09-01,2,2011
2,c:10009,advertising,operating,1,0.0,0.0,Southwest,2008-08-01,unknown,2008
3,c:1001,web,acquired,1,1.0,3.0,NorCal,2007-10-01,3,2007
4,c:10011,games_video,operating,1,0.0,0.0,SoCal,2008-01-01,2,2008
...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0.0,0.0,Northeast,2004-01-01,unknown,2004
30967,c:99940,ecommerce,operating,1,0.0,0.0,NorCal,2007-01-01,unknown,2007
30968,c:9995,public_relations,operating,0,1.0,0.0,NorCal,2007-11-01,unknown,2007
30969,c:9997,search,operating,0,0.0,0.0,SoCal,2008-07-01,unknown,2008
30970,c:9998,ecommerce,operating,0,1.0,0.0,SoCal,2007-09-01,3,2007

In [68]:
USA_companies8.columns.to_list()

['object_id',
 'category_code',
 'status',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'region',
 'start_dates',
 'degree_type',
 'start_year']

# ML part

###### Splitting the table to categorical and numerical features

In [69]:
# Categorical features
categorical = USA_companies8[[
 'category_code',
 'region',
 'start_year',
 'degree_type']]
categorical

          category_code     region  start_year degree_type
0                   web       West        2005           3
1           games_video      SoCal        2011           2
2           advertising  Southwest        2008     unknown
3                   web     NorCal        2007           3
4           games_video      SoCal        2008           2
...                 ...        ...         ...         ...
30966          software  Northeast        2004     unknown
30967         ecommerce     NorCal        2007     unknown
30968  public_relations     NorCal        2007     unknown
30969            search      SoCal        2008     unknown
30970         ecommerce      SoCal        2007           3

[30971 rows x 4 columns]

In [ ]:
categorical.dtypes

In [ ]:
# Checking null values
for column in categorical.columns:
    print(f"Column {column} has {categorical[column].isnull().sum()} null values")

### First we would want to create a correlation matrix to find dependant valiables

In [ ]:
# Encoding features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
categorical_encode = categorical.copy()

In [ ]:
categorical_encode['category_code'] = le.fit_transform(categorical_encode['category_code'])
categorical_encode['region'] = le.fit_transform(categorical_encode['region'])
categorical_encode['time_range'] = le.fit_transform(categorical_encode['time_range'])
categorical_encode

In [ ]:
# Numerical features
numerical = USA_companies7[['product_label',
 'rounds_total',
 'number_of_participants']]
numerical

In [ ]:
# Merging dfs to combine all features and dropping IDs
features_corr = pd.merge(categorical_encode, numerical, how='left', left_index=True, right_index=True)
features_corr

##### Creating a correlation matrix to find if there are dependent variables

In [ ]:
corrMatrix = features_corr.corr()
corrMatrix.style.background_gradient(cmap='coolwarm')

There are no dependant variables

In [ ]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix,classification_report
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from collections import Counter
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.metrics import classification_report_imbalanced
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN
from sklearn.decomposition import PCA

In [ ]:
USA_companies7

In [ ]:
# Defining target
Ñƒ_df = USA_companies7[['object_id','status']]
Ñƒ_df

In [ ]:
Ñƒ_df['status'].unique()

In [ ]:
# Setting labels in the column for our target (acqusition)
Ñƒ1_df_copy = Ñƒ_df.copy()
Ñƒ1_df_copy['status'].replace(to_replace=['acquired'], value='0', inplace=True)
Ñƒ1_df_copy['status'].replace(to_replace=['operating', 'closed', 'ipo'], value='1', inplace=True)
Ñƒ1_df_copy

In [ ]:
Ñƒ1_df_copy.dtypes

In [ ]:
Ñƒ1_df_copy.groupby('status')['status'].count()

In [ ]:
# Defining the features for scaling
X_df = pd.merge(categorical, numerical, left_index=True, right_index=True)
X_df

In [ ]:
# Encode the categorical features
X_encoded = pd.get_dummies(X_df, columns=['category_code',
 'region',
 'time_range'])
X_encoded

In [ ]:
y1 = Ñƒ1_df_copy['status']
y1

In [ ]:
# Splitting the data to train / test
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
# We need to scale some features
data_scaler = StandardScaler()
X_train_scaled = data_scaler.fit_transform(X_train)
X_test_scaled = data_scaler.fit_transform(X_test)

In [ ]:
# Count target train data
Counter(y_train)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

#### Training

##### Random Forest

In [ ]:
# Creating random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_resampled, y_resampled)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm

In [ ]:
# Out of confusion matrix making a df with proper label names
df_rand_for = pd.DataFrame(data=cm, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_rand_for

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

In [ ]:
print(classification_report(y_test, predictions))

The accuracy score is very high but if we want to know which company we would acquire then we should focus on precision. Our result is 63% and could be improved.

######  Tried dimension reduction but it worsens the result significantly so PCA approach will not work in this case. (deleted PCA code)

## Logistic Regression

In [ ]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Displaying results in confusion matrix
pred = model.predict(X_test_scaled)
matrix = confusion_matrix(y_test, pred)
matrix

In [ ]:
df_log_reg = pd.DataFrame(data=matrix, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_log_reg

In [ ]:
# Accuracy score
balanced_accuracy_score(y_test, pred)

In [ ]:
# Imbalanced classification report
print(classification_report_imbalanced(y_test, pred))

#### We can clearly see that Random Forest algorithm works much better for our data set

We want to try Support vector machine (SVM). Even though it is a binary classifier like logistic regression, it's worth trying:

## SVM

In [ ]:
from sklearn.svm import SVC
model_svm = SVC(kernel='linear')

In [ ]:
model_svm.fit(X_resampled, y_resampled)
pred_svm = model_svm.predict(X_test_scaled)
accuracy_score(y_test, pred_svm)

In [ ]:
matrix_svm = confusion_matrix(y_test, pred_svm)

In [ ]:
df_SVM = pd.DataFrame(data=matrix_svm, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_SVM

In [ ]:
print(classification_report(y_test, pred_svm))

## Neural Network

In [ ]:
number_input_features = len(X_resampled[0])
number_input_features

In [ ]:
import tensorflow as tf

In [ ]:
# Using 2 layers first with Tanh activation function
number_input_features = len(X_resampled[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 50
# hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model with 100 epochs
fit_model = nn.fit(X_resampled, y_resampled, epochs=100)

In [ ]:
# Evaluate the model using the train data 
model_loss1, model_accuracy1 = nn.evaluate(X_resampled,y_resampled,verbose=2)
print(f"Loss: {model_loss1}, Accuracy: {model_accuracy1}")

In [ ]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
predictions_DL = nn.predict(X_test_scaled)
predictions_DL

In [ ]:
y_test1 = y_test.astype(float).values
y_test1

In [ ]:
accuracy_score(y_test1, predictions_DL.round())

In [ ]:
matrix_DL = confusion_matrix(y_test1, predictions_DL.round())
matrix_DL

In [ ]:
df_DL = pd.DataFrame(data=matrix_DL, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_DL

In [ ]:
print(classification_report(y_test1, predictions_DL.round()))

###### We want to find valiables that have good correlation with the output and eliminate noisy data from our ML for performance improvement.

### Applying Backward Elimination Technique to select most relevant features

In [ ]:
data = pd.merge(X_encoded, y1, how='left', left_index=True, right_index=True)
data

In [ ]:
data.columns.to_list()

In [ ]:
data = data[['status',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'category_code_advertising',
 'category_code_analytics',
 'category_code_automotive',
 'category_code_biotech',
 'category_code_cleantech',
 'category_code_consulting',
 'category_code_design',
 'category_code_ecommerce',
 'category_code_education',
 'category_code_enterprise',
 'category_code_fashion',
 'category_code_finance',
 'category_code_games_video',
 'category_code_government',
 'category_code_hardware',
 'category_code_health',
 'category_code_hospitality',
 'category_code_legal',
 'category_code_local',
 'category_code_manufacturing',
 'category_code_medical',
 'category_code_messaging',
 'category_code_mobile',
 'category_code_music',
 'category_code_nanotech',
 'category_code_network_hosting',
 'category_code_news',
 'category_code_nonprofit',
 'category_code_other',
 'category_code_pets',
 'category_code_photo_video',
 'category_code_public_relations',
 'category_code_real_estate',
 'category_code_search',
 'category_code_security',
 'category_code_semiconductor',
 'category_code_social',
 'category_code_software',
 'category_code_sports',
 'category_code_transportation',
 'category_code_travel',
 'category_code_web',
 'region_Midwest',
 'region_NY',
 'region_NorCal',
 'region_Northeast',
 'region_SoCal',
 'region_South',
 'region_Southwest',
 'region_West',
 'time_range_0-6mth',
 'time_range_1-2yr',
 'time_range_2-3yr',
 'time_range_3-5yr',
 'time_range_6-12mth',
 'time_range_over5yr',
 'time_range_unknown']].astype(float)

In [ ]:
data

In [ ]:
import seaborn as sns

In [ ]:
corr1 = data.corr()

In [ ]:
sns.heatmap(corr1)

In [ ]:
columns = np.full((corr1.shape[0],), True, dtype=bool)
for i in range(corr1.shape[0]):
    for j in range(i+1, corr1.shape[0]):
        if corr1.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False

In [ ]:
columns

In [ ]:
selected_columns = data.columns[columns]

In [ ]:
data = data[selected_columns]

In [ ]:
data

In [ ]:
data.columns.to_list()

In [ ]:
selected_columns = selected_columns[1:].values

In [ ]:
import statsmodels.api as sm
def backwardElimination(x, Y, sl, columns):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(Y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
                    columns = np.delete(columns, j)
                    
    regressor_OLS.summary()
    return x, columns
SL = 0.05
data_modeled, selected_columns = backwardElimination(data.iloc[:,1:].values, data.iloc[:,0].values, SL, selected_columns)

In [ ]:
result = pd.DataFrame()
result['status'] = data.iloc[:,0]

In [ ]:
data1 = pd.DataFrame(data = data_modeled, columns = selected_columns)

In [ ]:
data1

In [ ]:
data1.columns.to_list()

In [ ]:
#import matplotlib.pyplot as plt
#fig = plt.figure(figsize = (20, 25))
#j = 0
#for i in data1.columns:
#    plt.subplot(6, 4, j+1)
#    j += 1
#    sns.distplot(data1[i][result['status']==0], color='g', label = 'acquired')
#    sns.distplot(data1[i][result['status']==1], color='r', label = 'non_acquired')
#    plt.legend(loc='best')
#fig.suptitle('Startup acquisition prediction')
#fig.tight_layout()
#fig.subplots_adjust(top=0.95)
#plt.show()

#### After we applied Backward Elimination technique some variables got eliminated. We will train new data set with Neural Network and then Logistic Regression.

###### Neural Network

In [ ]:
data1

In [ ]:
# Assigning new data set to the variable X
X_encoded_b = data1.values
X_encoded_b

In [ ]:
# Splitting the data to train / test
X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(X_encoded_b, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
X_train_b

In [ ]:
# We need to scale some features
data_scaler = StandardScaler()
X_train_scaled_b = data_scaler.fit_transform(X_train_b)
X_test_scaled_b = data_scaler.fit_transform(X_test_b)

In [ ]:
# Count target train data                   
Counter(y_train_b)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_b, y_resampled_b = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_b, y_train_b)
Counter(y_resampled_b)

In [ ]:
# Using 2 layers first with Tanh activation function
number_input_features = len(X_resampled_b[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 50
# hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model with 100 epochs
fit_model_b = nn.fit(X_resampled_b, y_resampled_b, epochs=100)

In [ ]:
fit_model_b

In [ ]:
predictions_DL_b = nn.predict(X_test_scaled_b)
predictions_DL_b

In [ ]:
y_testb = y_test_b.astype(float).values
y_testb

In [ ]:
matrix_DL_b = confusion_matrix(y_testb, predictions_DL_b.round())
matrix_DL_b

In [ ]:
df_DL_b = pd.DataFrame(data=matrix_DL_b, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_DL_b

In [ ]:
print(classification_report(y_testb, predictions_DL_b.round()))

###### Logistic Regression

In [ ]:
X_encoded_a = data1.values
X_encoded_a

In [ ]:
y1

In [ ]:
# Splitting the data to train / test
X_train_a, X_test_a, y_train_a, y_test_a = train_test_split(X_encoded_a, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
# We need to scale some features
data_scaler = StandardScaler()
X_train_scaled_a = data_scaler.fit_transform(X_train_a)
X_test_scaled_a = data_scaler.fit_transform(X_test_a)

In [ ]:
# Count target train data
Counter(y_train_a)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_a, y_resampled_a = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_a, y_train_a)
Counter(y_resampled_a)

In [ ]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled_a, y_resampled_a)

In [ ]:
# Displaying results in confusion matrix
pred_a = model.predict(X_test_scaled_a)
matrix_a = confusion_matrix(y_test_a, pred_a)
matrix_a

In [ ]:
df_log_reg_a = pd.DataFrame(data=matrix_a, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_log_reg_a

In [ ]:
# Accuracy score
balanced_accuracy_score(y_test_a, pred_a)

In [ ]:
# Imbalanced classification report
print(classification_report_imbalanced(y_test_a, pred_a))

# Testing ideas to visualize ML results

In [ ]:
# Encode the categorical features
X_features = USA_companies7[['object_id',
 'category_code',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'region',
 'time_range']]
X_encoded_t = pd.get_dummies(X_features, columns=['category_code',
 'region',
 'time_range'])
X_encoded_t

In [ ]:
y1_df_t = Ñƒ1_df_copy.copy()

In [ ]:
# Splitting the data to train / test
X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_encoded_t, y1_df_t, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
y_test_t

In [ ]:
predictions_DL_df = pd.DataFrame(data = predictions_DL.round(), columns={'predictions'})
predictions_DL_df

In [ ]:
X_test_t

In [ ]:
new_data_set = pd.merge(X_test_t, y_test_t, how='left', on=['object_id'])
new_data_set.reset_index(inplace=True, drop=True)
new_data_set

In [ ]:
categories_to_plot = USA_companies7.drop(columns={'product_label','rounds_total','number_of_participants'})

In [ ]:
added_data = pd.merge(new_data_set, categories_to_plot, how='left', on=['object_id'])

In [ ]:
updated_data_set = pd.merge(added_data, predictions_DL_df, how='left', left_index=True, right_index=True)
updated_data_set

In [ ]:
final_data_set = updated_data_set[['object_id', 
 'status_y',
 'status_x',
 'predictions', 
 'category_code',
 'region',
 'time_range',
 'rounds_total',
 'number_of_participants',
 'category_code_advertising',
 'category_code_analytics',
 'category_code_consulting',
 'category_code_enterprise',
 'category_code_security',
 'category_code_semiconductor',
 'category_code_social',
 'category_code_software',
 'region_Midwest',
 'region_NY',
 'region_NorCal',
 'region_Northeast',
 'region_SoCal',
 'region_South',
 'region_Southwest',
 'region_West',
 'time_range_0-6mth',
 'time_range_1-2yr',
 'time_range_2-3yr',
 'time_range_3-5yr',
 'time_range_6-12mth',
 'time_range_over5yr',
 'time_range_unknown']]
final_data_set

In [ ]:
# final_data_set.to_csv('final_data_set_charts.csv', index=False)