In [16]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from flask import Flask
from flask_sqlalchemy import sqlalchemy
import os
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

path= 'Resources/'

In [17]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"
engine = create_engine(db_string)

In [19]:
obj = pd.read_csv(path+'objects_clean.csv', index_col=0)
obj.head()

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  object_id entity_type parent_id                name    category_code     status  founded_at closed_at country_code state_code         city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0       c:1     Company       NaN            Wetpaint              web  operating  2005-10-17       NaN          USA         WA      Seattle      Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3         39750000.0         2010-09-05        2013-09-18           5             17
1      c:10     Company       NaN             Flektor      games_video   acquired         NaN       NaN          USA         CA  Culver City  Los Angeles                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
2     c:100     Company       NaN               There      games_video   acquired         NaN       NaN          USA         CA    San Mateo       SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2003-02-01        2011-09-23           4             12
3   c:10000     Company       NaN             MYWEBBO  network_hosting  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
4   c:10001     Company       NaN  THE Movie Streamer      games_video  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

In [20]:
obj[obj['object_id'].str.contains('p:', regex=True)]

       object_id entity_type parent_id                    name category_code     status founded_at closed_at country_code state_code city   region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
208205      p:10      Person       NaN         Mark Zuckerberg           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2007-01-01        2013-12-04           5              2
208206     p:100      Person       NaN            Peter Lester           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              1
208207    p:1000      Person       NaN  Dr. Steven E. Saunders           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              1
208208   p:10000      Person       NaN              Neil Capel           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
208209  p:100000      Person       NaN              Sue Pilsch           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              1
...          ...         ...       ...                     ...           ...        ...        ...       ...          ...        ...  ...      ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
434908   p:99995      Person       NaN               Sue Gench           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              1
434909   p:99996      Person       NaN         Rick Tamberrino           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
434910   p:99997      Person       NaN           Peter Lalonde           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              7
434911   p:99998      Person       NaN            Adam Neumann           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              2
434912   p:99999      Person       NaN           Ramon Peypoch           NaN  operating        NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

[226708 rows x 24 columns]

In [21]:
ppl = pd.read_csv(path+'people_cleaner.csv', index_col=0)
ppl

       object_id first_name last_name affiliation_name
0            p:2        Ben   Elowitz        Blue Nile
1            p:3      Kevin  Flaherty         Wetpaint
2            p:4       Raju   Vegesna             Zoho
3            p:5        Ian     Wenig             Zoho
4            p:6      Kevin      Rose     i/o Ventures
...          ...        ...       ...              ...
226703  p:268587       Mark   Stolper     Unaffiliated
226704  p:268589       John      Pins     Unaffiliated
226705  p:268590      David  Schulhof     Unaffiliated
226706  p:268592    Matthew  D. Rosen     Unaffiliated
226707  p:268593     Gordon  Hutchins     Unaffiliated

[226708 rows x 4 columns]

In [24]:
ppl.object_id.nunique()

226708

In [105]:
degrees = pd.read_csv(path +'degrees_clean.csv', index_col=0)
degrees

       object_id degree_type                       subject                                        institution graduated_at
0         p:6117         MBA                           NaN                                                NaN          NaN
1         p:6136          BA               English, French                   Washington University, St. Louis     1/1/1990
2         p:6136          MS            Mass Communication                                  Boston University     1/1/1992
3         p:6005          MS           Internet Technology                            University of Greenwich     1/1/2006
4         p:5832         BCS  Computer Science, Psychology                                    Rice University          NaN
...          ...         ...                           ...                                                ...          ...
109605  p:268589         CPA                           NaN  American Institute of Certtified Public Accoun...          NaN
109606  p:268527     MS & BS                   Engineering               South China University of Technology          NaN
109607  p:268527         PhD                   Engineering                                Clarkson University          NaN
109608  p:268528        B.S.        Electrical Engineering                          Colorado State University          NaN
109609  p:268528        J.D.                           NaN              University of San Diego School of Law          NaN

[109056 rows x 5 columns]

In [106]:
degrees[degrees['object_id']=='p:6']

      object_id degree_type subject                      institution graduated_at
15623       p:6         NaN     NaN  University of Nevada, Las Vegas          NaN
69508       p:6         NaN     NaN                       Montessori     1/1/1983

In [101]:
deg = degrees
#deg['degree_type']=[x for x in deg['degree_type'] if str(x) != 'nan']

deg[deg['degree_type']!='NaN']

       object_id degree_type                       subject                                        institution graduated_at
0         p:6117         MBA                           NaN                                                NaN          NaN
1         p:6136          BA               English, French                   Washington University, St. Louis     1/1/1990
2         p:6136          MS            Mass Communication                                  Boston University     1/1/1992
3         p:6005          MS           Internet Technology                            University of Greenwich     1/1/2006
4         p:5832         BCS  Computer Science, Psychology                                    Rice University          NaN
...          ...         ...                           ...                                                ...          ...
109605  p:268589         CPA                           NaN  American Institute of Certtified Public Accoun...          NaN
109606  p:268527     MS & BS                   Engineering               South China University of Technology          NaN
109607  p:268527         PhD                   Engineering                                Clarkson University          NaN
109608  p:268528        B.S.        Electrical Engineering                          Colorado State University          NaN
109609  p:268528        J.D.                           NaN              University of San Diego School of Law          NaN

[109056 rows x 5 columns]

In [102]:
deg

       object_id degree_type                       subject                                        institution graduated_at
0         p:6117         MBA                           NaN                                                NaN          NaN
1         p:6136          BA               English, French                   Washington University, St. Louis     1/1/1990
2         p:6136          MS            Mass Communication                                  Boston University     1/1/1992
3         p:6005          MS           Internet Technology                            University of Greenwich     1/1/2006
4         p:5832         BCS  Computer Science, Psychology                                    Rice University          NaN
...          ...         ...                           ...                                                ...          ...
109605  p:268589         CPA                           NaN  American Institute of Certtified Public Accoun...          NaN
109606  p:268527     MS & BS                   Engineering               South China University of Technology          NaN
109607  p:268527         PhD                   Engineering                                Clarkson University          NaN
109608  p:268528        B.S.        Electrical Engineering                          Colorado State University          NaN
109609  p:268528        J.D.                           NaN              University of San Diego School of Law          NaN

[109056 rows x 5 columns]

In [113]:
list(degrees.degree_type.unique())

['MBA',
 'BA',
 'MS',
 'BCS',
 'BS',
 'Foundation',
 'MA',
 'LLB',
 'PhD',
 'BFA',
 'BE',
 'MBA With Honors',
 nan,
 'BASC',
 'AA',
 'JD',
 'MIAGE',
 'Sc. B.',
 'MD',
 'S.B',
 'DS',
 'Certification',
 'Masters of Arts',
 'MSBA',
 'MPHIL',
 'BBA',
 'S.B.',
 'Certificate of Management of Tec',
 'BA, BS',
 'M.Eng & BS',
 'M.Math',
 'Dipl.-Kfm.',
 'Masters and Ph.D.',
 'LLM',
 'Electrical Engineering',
 'BTECH',
 'M. Div.',
 'BA Honours Degree',
 'MA, Ph.D.',
 'BENG',
 'Masters Of Research',
 'Single Honours',
 'MPA',
 'MS.M',
 'Bio-Medical Engineering',
 'MBA/MA',
 'BA/MA',
 'JD/MBA',
 'B. Commerce',
 'European Economics, European Law',
 'CEMS Master',
 'BCOM',
 'Undergrad',
 'Management Development for Entre',
 'Degree',
 'Industrial Design',
 'Undergraduate degree',
 'Post-graduate diploma',
 'First class honours degree',
 'Business Administration',
 'MSE',
 'CSS',
 'Bachelor of Commerce (Honors) Gr',
 'BA/BSc',
 'Minor',
 'ScB',
 'SB',
 'Bachelors of Mathematics',
 'Master of Mathematics',
 'Doctor of Philosophy',
 'Bachelor of Electrical Engineeri',
 'BS, MS',
 'MENG',
 'Ph.D. Candidate',
 'B.S./B.A.',
 'BBS',
 'AS',
 'B.S.Eng.',
 'MSc, Mathematics (Highest Honors',
 'Communication Designer',
 'EEM',
 'BA hons 2:1',
 'MS, BS',
 'CollÃ¨ge',
 'Master Degree',
 'BID',
 'Not Completed',
 'MEA',
 'Bachelor of Fine Arts',
 'Masters Degree in Marketing Mana',
 'AB, Magna Cum Laude',
 'Propedeuse',
 'college degree',
 'Master of Business',
 'BA (Hons.) Cantab',
 'Incomplete',
 'Master in Management',
 'MBA, MCom',
 'Certificat de formation continue',
 'Masters in Business',
 'Diploma',
 'Bachelors in Engineering',
 'B.A. - High Honors',
 'M.A , C. Phil.',
 'Bachlelors',
 'Applied Science (Computer Scienc',
 'BSc Hons First class',
 'M.M.',
 'Computer Science',
 'Master in New Technologies, Audi',
 'Professional',
 'DIPLOMA IN ENGINEERING',
 'Bachelor of Science in Economics',
 'Semester Study Abroad',
 'MSC(CS)',
 'B.S. Business Administration (Fi',
 'B.A. International Relations (Gl',
 'B.S. International Political Eco',
 'Master of Laws',
 'MS with Honors',
 'ko',
 'Master of Fine Arts (coursework ',
 'Software Engineer',
 'MLIS',
 'Bachelor Arts',
 'Bachleor of Science',
 'Interactive, Graphic and 3D Desi',
 'Post Graduate Degree',
 'Postgraduate',
 'S.M. (masters)',
 'BIS',
 'A.M.',
 'BA (na)',
 'Bachelor of Law',
 "Master's in International Manage",
 'J.D. (cum laude)',
 'B.S.F.S.',
 'BA (Hons) In-Company Degree',
 'NLP Trainer Certification',
 'NLP Master Pracitioner Certifica',
 'NLP Practitioner Certification',
 'Mater Of computers Applications',
 'ABD',
 'MBA, BS',
 'BSME',
 'MSME',
 'B.S. in Computer Science',
 'A.A. in Accounting and a B.S. in',
 'fdsafasd',
 'M.Sc Information Technology',
 'M. Sc. in Computer Science',
 'Entrepreneurial Masters Program',
 'Interdisciplinary Social Science',
 'BA, cum laude',
 'Industrial Engineering',
 'B.A./M.A.',
 'Bachlor',
 'Engineering',
 'B. Business',
 'B. Engineering',
 'Information Technology',
 'certified',
 'PhD Computer Science',
 'MA First Class Honours',
 'Master of Econ.',
 'M.C.A',
 'BAI',
 'MPS',
 'Manager of Economy',
 'BSN',
 'Ed.M.',
 'Master of Urban Planning',
 'Postgraduate Diploma',
 'Business Economy',
 'Dual Bachelor of Fine Arts',
 'MD-PhD',
 'MCA',
 'BC',
 'MPH',
 'HNDip',
 'Associate Fellow',
 'Licenciatura en ComunicaciÃ³n Pe',
 'MSW',
 'AM',
 'Baccalaureat',
 'M.S.E.',
 'Second Level',
 'lerick Leuven-Gent Management Sc',
 'BA in Economics',
 'MSc (Econ)',
 'Masterâ\x80\x99s Degree in Business Ad',
 'Associate of Science',
 'Bacholer of Science',
 'License',
 'Engineer',
 'Bachelor of Journalism',
 'B.Eng. Minor in Business marketi',
 'B.S. Electrical Engineering',
 'Diplom-Kaufmann',
 'DEA',
 'Maitrise  Gestion (MBA)',
 "Post Master's degree - Ph.D. pro",
 'B of A',
 'Bachelor of Design',
 'Engineering Degree',
 'Specialized Master',
 'Bachelor of Science in Business ',
 'BA with Honors',
 'RRLL',
 'MA (Honours)',
 'B.S. Computer Science',
 'MBA, MA Education',
 'Advanced Diploma',
 'Honours',
 'BA Journalism',
 'MSc. in Computer Science',
 'Post Graduate Diploma',
 'Certificate Program',
 'A. B. summa cum laude',
 'diploma',
 'BS in CS',
 'Bachelors of Commerce',
 'Software and IT',
 'PGDGBO',
 'BBA (CAM)',
 'MA (1st Class Hons)',
 'Associates of Arts',
 'rer.nat.',
 'Bachilor',
 'High School',
 'Law',
 'Msc (Distinction)',
 'Master of Engineering',
 'MPHYS',
 'mathematics; politial science',
 'Licence',
 'Finance',
 'BSc. (Hons) II.I',
 'BSJ',
 'Bachelor of Science (BS)',
 'BSc Honours',
 'BA Computer Science',
 'MEng, MA',
 'D. Phil',
 'MED',
 'Bach. of Engg.',
 'Magister Artium',
 'Journalist and Social Comunicato',
 'Specialist in Balanced Score Car',
 'Medical',
 'Chartered Financial Analyst',
 '2.2',
 'Associates of Sciences',
 'Bachelors in Business & IT',
 'HND',
 'M.A.Sc.',
 'JD, MBA',
 'Bachelor of Information Technolo',
 'Mgr',
 'BcA',
 'MA (Hons)',
 'PGCE',
 'BA Business',
 'Post-Graduate Diploma in Managem',
 'AAS',
 'MBA (Coporate Finance)',
 'B.S. Business Administration',
 'Abogado / Attorney',
 '2:1 Business',
 'B. Engg.',
 'Bachelor of Science in Engineeri',
 'Master of Educational Technology',
 'Master of Arts [MA]',
 'Bachelor of Medicine and Surgery',
 'Fellowship of Emergency Medicine',
 'MBA-FM',
 'Masters Psychology',
 'B.S. Computer Information System',
 'Marketing',
 'French Business School',
 'B.A. with honors',
 'Bachelor of Technology (B.Tech)',
 'BE/BS (Engineering)',
 'Masters Certification',
 'B.S. Computer Engineering',
 'Stud.Soc.Sc',
 'BTS',
 'BA - Business Management',
 'Master Grande Ecole',
 'JBA',
 'Bsc (Eng) (Elec)',
 'Int. Management',
 'Professional Designation in Mark',
 'D.Phil',
 'Bachelor Science',
 'BFA, Communication Arts emphasis',
 'MFC',
 'BS Economics',
 'PhD (not completed)',
 'BS/MS',
 'Bachelors of Technology',
 'Summer Program',
 '.5 MBA',
 'Commerce',
 'M.Sc. in Information Systems',
 'doctoral degree',
 'Bachelor of Science degree',
 'Sc.B',
 'graduated',
 'MSc, BSc',
 'B.A. cum laude',
 'Graduated',
 'BA, BE, and MBA',
 "Master's Degree and Doctorate",
 'LL.M, LL.B,B.A',
 'Honorary Doctorate',
 'ME',
 'Bachelors of Scienc',
 'degree',
 'Bachelor of Social Science',
 'MSc and DPhil',
 'MSci',
 'MS in Electrical Engineering',
 'Bachelor of Business Studies',
 'B.S. in mechanical engineering',
 'B.S. in business administration',
 'M.B.A. in finance and marketing',
 'BSE, MSE',
 'BCP',
 'Master of Architecture',
 'BSc Engineering',
 'Masters in Computer Science',
 'MBA and a CFA',
 'Business degree',
 'Bachelor of Economics',
 'Science',
 'Universit',
 'ScD',
 "Master's and Bachelor's Degrees",
 'PhD - Not complete',
 'MS and BS',
 'IngÃ©nieur',
 'Marshall Scholar',
 'Non Degree',
 'Bachleor of Arts',
 'M.D. and Ph.D.',
 'Masters of arts',
 "Master's degrees",
 'Bachelorâ\x80\x99s degree',
 'MBA & JD',
 'Bachelor and a Doctorate degree',
 'Master of Information Technology',
 'Advanced Masters degree in Compu',
 'Bachelors Degree in computer Sci',
 'M.A. and M.B.A.',
 'Doctorate of Science',
 'Masterâ\x80\x99s degree',
 'Executive Education',
 'Business Adminstration',
 'Mass Communications',
 'Post Graduation (More than BA le',
 'MS and PhD',
 'MBA and BS',
 'Master of Science degree',
 'BSE',
 'Bachelor degrees',
 'Ph.D. and M.Sc.',
 'GMP',
 'Stanford Certified Project Manag',
 'PharmD',
 'Ph.D. and D.I.C.',
 'MBA and BBA',
 'B.B.A. and a M.B.A.',
 'Bsc Computer Science',
 'Bachelor of Sciences (Agricultur',
 'BS/BA',
 'BS and PHD',
 'Dr.',
 'Licentiate',
 'Post-graduate',
 'Management',
 'BS, Engineering',
 'Ph.D. and D.Sc.',
 'M.E.',
 'MBA and Ph.D.',
 'M.A. and PhD',
 'Bachelor (Erasmus exchange)',
 'CEMS Masters',
 'Master degree',
 'Degrees',
 'Associate',
 'MChem',
 'MBA and BA',
 'BE - Bachelor of Engineering',
 'CFP',
 'CeMap',
 'BS - Business Admin.',
 'Physics doctorate',
 'Advanced Bachelor of Science deg',
 'B.S.',
 'Ph.D.',
 'Post-grade diploma',
 'Phd interdisciplinary',
 'Diploma of General practitioner',
 'Business',
 'BPhil',
 'Bachelors with Honors',
 'BCOM (PPE)',
 'associates of art',
 'MA, LPP',
 "Master's of Computer Science",
 'Fulbright Scholar',
 'BS Mechanical engg',
 'Electrical and Computer Engineer',
 'Bacharel',
 'B.S. (with hons)',
 'Master of Commerce (First Class ',
 'ACLA (Auto Claims Law Associate)',
 'Behavioral Science and Health Ad',
 'Master in Public Policy',
 'DIPL-ING',
 'Corporate Finance',
 'MCSA',
 'Cert IV in Information Technolog',
 'Cert IV Design',
 'MCP',
 'thermo energetic engineer',
 'Certified as Leadership Coach',
 'M.Sc. (summa cum laude)',
 'B.Sc (summa cum laude)',
 'licence',
 'Graduation',
 'B.M.',
 'M.Div.',
 'Bachelors degrees',
 "Ingenieur diplome d'etat",
 'Doctorate degree',
 'Master and Bachelor degrees',
 'Law degree',
 'Ph.D. and M.S.',
 'Master of Commerce (with distinc',
 'Postgraduate Diploma (with disti',
 'BSFS',
 'Bachelors, Hons.',
 'MIFireE.',
 'Emergency Medicine',
 'M.E.I.E',
 'Redakteur',
 'Diplom-Journalist',
 'PG',
 'Banchelor',
 'Certificate',
 'Steven Wyer [Not Updated]',
 'MA Education',
 'BS Foreign Service',
 'Professional Postgraduate Diplom',
 'Biology',
 'Bachelor of Science (OnlineMedia',
 'University Of Netanya Academic I',
 'BS in Business Administration',
 'BSCE',
 'BSc (Eng) Hons',
 'FdA',
 'Bachelor of Arts (BA)',
 '5 years degree',
 'Masters of Business',
 'R.N.',
 'MSCE',
 'Electrical Engineering Technolog',
 'Honours Degree',
 'BS (Dual)',
 'Masters in Education',
 'Post Graduate',
 'Grad Dip',
 'Visiting Scholar/Research Analys',
 'M.A. Ed',
 'ACCP',
 'Management Development Programme',
 "Diplome d'Ingenieur",
 'BCom Honours',
 'BSIE',
 'MA in Management (Financial Anal',
 'Chartered Accountant',
 'MBA (year one of two year course',
 'BTEC Diploma',
 'BTEC HND',
 'Bachelors (Hons.)',
 'Master Program',
 'BS in Commerce',
 'Bachelor of Laws',
 'Bachelor of Science (Computer Sc',
 'Graduate Diploma',
 'BMath',
 'BscTe',
 'B.S. Physical Science',
 'Bachelor of ICT',
 'MGD',
 'MSc. Engineering',
 'Bachelor of Medicine & Bachelor ',
 'College',
 "Master's Certificate",
 'Master in Information Technology',
 'Bachelor of Science in Computer ',
 'Bachelor of Fine Art',
 'Bachelor of Science - Game Art &',
 'Associated Degree',
 'Technical',
 'Bachelor of Engineering (First C',
 'B.ICT',
 'Diplom',
 'D.Phil.',
 'MBA/MBI',
 '2:02',
 'MAS',
 'MIS',
 'BS Math',
 'Engineer Diploma, Grade I',
 'Research Master',
 'Dipl.-Inform.Wirt.',
 '3 years',
 'BS in BA',
 'B.S. Degree, Cum Laude',
 "Master's/MBA",
 'MSc (econ.)',
 "Bachlor's of Science",
 'Leave of Absence',
 'M.E./B.S.',
 'PhD/M.S.',
 'Dr. Philos',
 'BEcops',
 'Bachelor of Applied Science',
 'Bachelor of Communication',
 'M.A. & Ph.D.',
 'BSc International Business Admin',
 'Batchalor',
 'MMR',
 'BFA & BFA',
 'Ph.D. (In Progress)',
 'AEC',
 'Certificat',
 'HBA',
 'BS with College Honors',
 'Bachelor of Science, Minor',
 'M.Com',
 '(In Progress)',
 'BSEA',
 'Masters, Management',
 'Certificate of Citizenship',
 'Post Graduation',
 'EMB - Post-Grad',
 'Ph.D. (unfinished)',
 'Honorary Degree',
 'Diploma (Master)',
 'Doctor of Medicine',
 'European Exchange Program',
 'Master of International Manageme',
 'Bachelors of Science in Business',
 'Technology',
 'Asscociates',
 'BA with high honors',
 'Core Curriculum for BA/Masters',
 'Board Certification, ABEM',
 'Honors',
 'International Baccalaureate',
 'BA, BAI',
 'MSSE',
 'Bachelors of Science in Manageme',
 'pos',
 'MA Hons',
 'B.Sc Physics',
 'Industrial design',
 'Bachelors of Science (Honors)',
 'BSci',
 'Telecom engineer',
 'Foundation Degree',
 'French Baccalaureat',
 'Master en gestiÃ³n de empresas a',
 'Professor',
 'Master Executive',
 'on leave',
 'Sc.B.',
 'BS in Information Management',
 'MPharm',
 'MB BS',
 'FAICD',
 'FRACGP',
 'BMed',
 'Information Systems',
 'Associates in Art',
 'Dipl.-Ing. (M.Sc.)',
 'BS Electrical Engineering',
 'B Com (exchange student)',
 'BS & MS',
 'Decoration',
 'BSC (Econ)',
 'Bachelors of Engineering',
 'M.Sc. and Ph.D.',
 'B.Sc., M.Mgmnt',
 'CPA diploma',
 'M.Sc. and Ph.D',
 'masterâ\x80\x99s degree',
 'Master of Education',
 'Bachelor or Science',
 'MSEEE',
 'MID',
 '3 yr Diploma',
 'B.S. in Business Administration',
 'PGDMA',
 'Associate of Art',
 'REGULAR',
 'Trainee',
 'Sergeant',
 'Leutenant / First Leutenant',
 'Bachelors of Engg.',
 'Bach. of Computer Science and So',
 'Bachelor (Hons)',
 'Dipl. Inf.',
 'BBA Financial Resource Mgmt',
 'Honours Bachelors',
 'Industrial & Mechanical Engineer',
 'Marketing Communications/Adverti',
 'University of Maryland',
 'Doctor of Philosophy (PhD)',
 'MAMRAM',
 'P.G',
 'Joint Major',
 'Masters in Human Resources Manag',
 'BS, Summa Cum Laude',
 "Baschelor's of Science",
 'BSM',
 'BSs',
 'Bachelors in Engineering (B.E.)',
 'Bachelor of Media Arts',
 'Bachelors of Business',
 'Professional Certification',
 'B.I.S',
 'M.A. HSG',
 'J.D., Law',
 'College of Social Studies',
 'Masters certificate',
 'Executive Program',
 'Esp.',
 'Diplom Informatik',
 'MA hons',
 'PhD, MBA',
 'Qualification',
 'Business, Marketing',
 'General COurse',
 'Specialist in Law',
 'BBusSci',
 'Juris Doctor (JD)',
 'B.S.C. Photo-Journalism, Radio T',
 'Study Abroad',
 'Ph.D. (ABD)',
 "Bachelor's in Business Administr",
 'B.S, M.S',
 'B.E/B-Tech',
 'Music Business',
 'Executive program',
 'High School Diploma',
 'Bachelor of Music',
 'B.A. and Certificate',
 'H.S.C.',
 'B.G.S.',
 'postgraduate',
 'Bechelor',
 'Lic Phil. I',
 'Interdisciplinary Studies',
 'Undergraduate in Businiess',
 'Digital Media Designer for Digit',
 'BSBA - cum laude',
 'Batchelors',
 'Ing. Tec. Telecomunicaciones',
 'Honorary Doctorate of Engineerin',
 'M.A. Hons.',
 'BBM',
 'Proffessional Diploma',
 'Bachelor of Commerce with Honour',
 'M.Sc Masters',
 'B.B.A. with honors',
 'Graduate Diploma in Human Resour',
 'postgraduate studies',
 'Corporate Finance Management',
 'SM',
 'IT',
 'Computer Application',
 'MChemPhys',
 'Ingeniero Civil',
 'M.I.M.S.',
 'Advanced Management Program',
 'Software Engineering',
 'Pharmacy',
 'Bachlors',
 'did not finish',
 'Graduate Degree',
 'B.A. Honours, first class averag',
 'DBA',
 'BSc (Dropout)',
 'MPP',
 'Under Water Basket Weaving',
 'BS in EIT',
 'M.Sc. Master of Science',
 'MET',
 'Bachelor of Engineering - System',
 'PGDM',
 'Inter',
 'Matriculation',
 'iMBA',
 'Bacherlors',
 'B - Level',
 'Honors (1st Class)',
 'MD/PhD',
 'Information Science',
 'Bachelor of Arts (B.A.)',
 'B.S., M.S.',
 'Master of Science in Engineering',
 'Batchelor',
 'MBA/Exchange',
 'PhD -- on leave',
 "Bachelor's Science",
 'International Business and Marke',
 'AB cum laude',
 'AMP',
 'Associate of Applied Science',
 'BSBM',
 'Residency',
 'MD, PhD',
 'Honours Bachelor of Science',
 'Business Science',
 'BA (2:1)',
 'B.A., M.S.',
 'HABB',
 'BS, BAH',
 'BA, with highest honors',
 'M.Litt.',
 'Economist',
 'BA (Hons) International Business',
 'BA Hon',
 'A+',
 'PMP',
 'Bachelors in Science',
 'Bachelors in Business Administra',
 'Master of Science in Management ',
 'Bachelor of Business Administrat',
 'Business Analyst (BA)',
 'Chemical Engineering (4/6 years ',
 'Ingeniero en informatica',
 'Batchelor of Arts',
 'BA(Econ)Hons',
 'Bachleor Of Science',
 'MBA (Marketing)',
 'BS Econ',
 'BA (dual major)',
 'PhD Licentiate',
 'Bsc. Bus/Admin',
 'MLA',
 'HSD',
 'FFA',
 'BSc, MSc',
 'MCS',
 'B. Des',
 'MSc Tech (Masters Degree)',
 'First Class Honours',
 'Ed.M',
 'B.S. Economics',
 'BS & MA',
 'Datamatiker',
 'Medicina y CirugÃ\xada',
 'MBA (cum laude)',
 'Major',
 'Full Time',
 'BHA',
 'MIM',
 'BSW',
 'MBBS',
 'BA Social Sciences',
 'B A, P G Diploma in Journalism',
 'Master of Science in Finance',
 'BS Business Administration',
 'Bachelor of Science Honours',
 'B.S. Electrical & Computer Engin',
 'Bachelor of Sciences',
 'Master of Sciences',
 'master degree',
 'Masters (MSc)',
 'Associate Engineer',
 "Bacheleor's Degree",
 'Regular (4 yr) B.E.',
 'B.Arch',
 'BABA',
 'SOPA',
 'MusB(Hons)',
 "Master's in Marketing",
 'GCE',
 'Hons',
 'Statement of Professional Achiev',
 'M.S. (M.Tech)',
 'Diplom (Bachelor++)',
 'Bachelors of Business & Entrepre',
 'BA Moderatorship',
 'Bachlor of Science (2)',
 'BCom / DipCom',
 'mag',
 'boner',
 'B.S. with Honors and Distinction',
 'Regular',
 'SSC',
 'HSC',
 'Bachelors In Commerce',
 'B.A. (summa cum laude, Phi Beta ',
 "Master's Degree in Science",
 'BA/BA',
 'BSc (BIT)',
 'B.A., Political Science',
 'B.A.',
 'Masters of Sciance',
 'Under Grad.',
 'B.E in Computers',
 'MS of Management',
 'TBKha',
 'Bachelor + Master',
 'MA (Cantab)',
 'BA (Psychology)',
 'Master of Computer Science',
 'Associate of Marketing',
 'Doctor of Dental Medicine',
 'Economics',
 'BA with University Honors',
 'BSEE, MSEE',
 'Bachelor of Architecture',
 'EEE',
 'BM',
 'BSBU',
 'Ph.D., Private Law',
 'Postgraduate diploma in Law, Eng',
 'BTECT',
 'Dipcom (with Distinction)',
 'Business Entrepreneurship',
 'M.S in Computer Science',
 'B.A. Business Administration, Ma',
 'BS / BA',
 'Business Mgmnt and Finance',
 'BA with honors',
 'John S. Knight fellowship for jo',
 "chancellor's scholar / Bachelors",
 'BSc(IT)',
 'Baccalaureate Degree',
 'Licenciatura en Diseno Grafico',
 'Exchange',
 'Account Hons.',
 'BA Science in Design',
 'M.B.A. (candidate)',
 'BA, MBA',
 'B.E - Bachelors',
 'Knight Fellowship',
 "Diplome d'Architecte (DESA)",
 'BS Economcis',
 'B.A. Business Administration',
 'Bachelor of the Arts',
 'MSM',
 'B.S. Engineering',
 'M.F.A ( Viscom )',
 'Coursework',
 'Associate in Science Degree, Gra',
 'Professional Studies',
 'I.T.',
 'B.S Mass Communications',
 'BSsp',
 "Bachelor's with Honours",
 'M.Sc. I.T.',
 'Computer Engineering',
 'Computer Sciences',
 'MBA (Distinction)',
 'B. Sc. in Engr',
 'MS Computer Sciences',
 'Bachelor of Science, Communicati',
 'MBA/MScIB',
 'PGDBA',
 'MPPM (MBA)',
 'Graduate Certificate',
 'J.D. (candidate 2012)',
 'BA Honours - 2.1',
 'BCA',
 'business admnistration',
 'BBA(Mktg)',
 'ECONOMISTA',
 'B.Sc (Econ)',
 'Bach of Science',
 'Bachelor of Ars',
 'BSEE with Honors',
 'SIGM',
 'S.M.',
 'MD/MBA Candidate',
 'Political Science',
 'Bachelor in Engineering',
 'Masters in Science',
 'Masters of Technology',
 'Bachelors Science',
 'BS Econ, BS Engg',
 'Cont.',
 'BTech Computer Engineering',
 'Journalism',
 'Neuroscience',
 'BA/MA with Honors',
 'Sports Humanities, Business and ',
 'BSIT',
 'BaSCEngSci',
 'Ordinary',
 'Bachelor of Computing',
 'Bachelor of Computing with First',
 'Liberal Arts',
 'M.Sc (TECH)',
 'EngD (pending)',
 'DDS',
 'Musical Theatre',
 'BS with honors',
 'EdM',
 'International Business Managemen',
 'German diploma (equ. Master of S',
 'Exchange (Master)',
 'Philosophy',
 'Mag.(FH)',
 'BSc (2:1)',
 'College Diploma',
 'LLB (Hons)',
 'B.Des',
 'D. Eng. (hc)',
 'BS, Honors',
 'National Diploma',
 'Finance / Marketing',
 'BSC HON',
 'Master of Fine Arts',
 'Magister',
 'Post Graduate Study',
 'BA and Certificate',
 'B.S. Computer Science and Engine',
 'Master Business Administration',
 'Science Communication',
 'D3',
 'BA in Economics & International ',
 'B',
 'Computers',
 'Diploma in Collegial Studies',
 'MBA - FINANCE',
 'Diploma equal to BA',
 '2.1 BA Honours',
 'Photographic Consultant',
 'M.A.T',
 'Mag. (FH)',
 'License in Cosmetology',
 'Bachelor of Science Degree',
 'Specialized Master degree',
 'Masters in Computer Application',
 'Bach Engineering',
 'BE (Hons)',
 'Diploma cum laude',
 'Master of Science Management',
 'Master of Studies',
 'Bachelor of Science (BS): Techno',
 'Posgraduate Diploma',
 'Master of Science in Luxury Good',
 'MBA - Master',
 'BEE',
 'ICT System Operator',
 'BA, Honors',
 'Real Estate Marketing',
 'M.S. / A.B.D.',
 'B.S. / M.S.',
 '18c',
 'ACCA',
 'B.Sc Enggenering',
 'Electronic Engineer',
 'Bachelor of Education',
 'MBA - International Management',
 'BSc (Hons) Sandwich',
 'BSSW',
 'Associate Degree',
 "Bachelor's Desgree",
 'MBA (pursuing)',
 'Bmus',
 'B.Comm with honors',
 'Double Major',
 'B.Sc., Engineering',
 'M.Sc., Engineering',

In [104]:
deg_conv = {'Foundation':0, 'Electrical Engineering':2, 'BTECH':2, 'BASC':2, 'Sc. B.':2, 'BA, BS':2, 'S.B':2, , 'AA':1, 'Certificate of Management of Tec':1 , 'college degree':1, 'BBA':2, 'Propedeuse':0, 'BS': 2, 'BFA':2, 'BE':2,'BA': 2, 'BCS':2, 'HEC':2, 'Kaufmannsgehilfenbrief':2, 'Dipl.-Kfm.':2, 'HBSc, Economics':2,'CPA': 3, 'MIAGE':3, 'Master of Retail Management':3,'Joint B.A./M.A.':3,'MBA':4, 'MS':3, 'MA':3, 'MPA':3, 'MBA With Honors':4, 'M.Eng & BS':3, 'M.Math':3, 'LLB':4, 'LLM':4, 'Masters and Ph.D.':5, 'JD':4, 'PhD':5, 'DS':5, 'nan':0} 
  
# traversing through dataframe 
# Gender column and writing 
# values where key matches 
#data.Gender = [gender[item] for item in data.Gender] 
#print(data) 
deg.degree_type = [deg_conv.get(item)
        for item in deg.degree_type
]
deg

       object_id  degree_type                       subject                                        institution graduated_at
0         p:6117          3.0                           NaN                                                NaN          NaN
1         p:6136          1.0               English, French                   Washington University, St. Louis     1/1/1990
2         p:6136          3.0            Mass Communication                                  Boston University     1/1/1992
3         p:6005          3.0           Internet Technology                            University of Greenwich     1/1/2006
4         p:5832          1.0  Computer Science, Psychology                                    Rice University          NaN
...          ...          ...                           ...                                                ...          ...
109605  p:268589          2.0                           NaN  American Institute of Certtified Public Accoun...          NaN
109606  p:268527          NaN                   Engineering               South China University of Technology          NaN
109607  p:268527          4.0                   Engineering                                Clarkson University          NaN
109608  p:268528          NaN        Electrical Engineering                          Colorado State University          NaN
109609  p:268528          NaN                           NaN              University of San Diego School of Law          NaN

[109056 rows x 5 columns]