In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

3.259999994043028e-05

In [3]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [4]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funding_rounds_final.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationships_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv
sql_db/
sql_db/acquisitions_clean.csv
sql_db/degrees_clean.csv
sql_db/funding_round_filled.csv
sql_db/funds_clean.csv
sql_db/investments_cleaner.csv
sql_db/ipos_cleaner.csv
sql_db/milestones_cleaner.csv
sql_db/objects_clean.csv
sql_db/offices_clean.csv
sql_db/people_cleaner.csv
sql_db/relationships_cleaner.csv
sql_db/time_elapsed_clean.csv
time_elapsed_clean.csv

In [5]:
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_raw/'

# IPOs

In [6]:
ipo_df= pd.read_csv(path + 'ipos.csv')
ipo_df.columns.tolist()

['id',
 'ipo_id',
 'object_id',
 'valuation_amount',
 'valuation_currency_code',
 'raised_amount',
 'raised_currency_code',
 'public_at',
 'stock_symbol',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [7]:
ipo_df.nunique()

id                         1259
ipo_id                     1259
object_id                  1253
valuation_amount            102
valuation_currency_code       5
raised_amount               114
raised_currency_code          5
public_at                   517
stock_symbol               1247
source_url                  191
source_description          177
created_at                 1258
updated_at                 1257
dtype: int64

In [8]:
ipo_df['valuation_currency_code'].unique()

array(['USD', 'JPY', nan, 'CAD', 'EUR', 'GBP'], dtype=object)

In [9]:
ipo_df['object_id'].unique()

array(['c:1654', 'c:1242', 'c:342', ..., 'c:220208', 'c:243568',
       'c:235945'], dtype=object)

In [10]:
ipo_clean = ipo_df.drop(columns={'id', 'ipo_id', 'source_url', 'source_description', 'created_at', 'updated_at'})
ipo_clean

,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
0,c:1654,0.000000e+00,USD,0.000000e+00,USD,1980-12-19,NASDAQ:AAPL
1,c:1242,0.000000e+00,USD,0.000000e+00,NaN,1986-03-13,NASDAQ:MSFT
2,c:342,0.000000e+00,USD,0.000000e+00,NaN,1969-06-09,NYSE:DIS
3,c:59,0.000000e+00,USD,0.000000e+00,NaN,2004-08-25,NASDAQ:GOOG
4,c:317,1.000000e+11,USD,0.000000e+00,NaN,1997-05-01,NASDAQ:AMZN
...,...,...,...,...,...,...,...
1254,c:267859,0.000000e+00,USD,0.000000e+00,USD,NaN,NYSE:EBS
1255,c:39330,0.000000e+00,USD,7.250000e+08,USD,2013-12-11,NYSE:ARMK
1256,c:220208,0.000000e+00,USD,2.350000e+09,USD,2008-12-08,NYSE:HLT
1257,c:243568,0.000000e+00,USD,0.000000e+00,USD,NaN,OTC:BCLI
1258,c:235945,0.000000e+00,USD,5.300000e+07,USD,NaN,NASDAQ:KIN

In [11]:
bucket = 'team3-final-bucket' # already created on S3
csv_buffer = StringIO()
ipo_clean.to_csv(csv_buffer)
s3.Object(bucket, 'ipo_clean.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '355C447BA9312915',
  'HostId': 'HZuIrSkhSZaa4CwEVjtFe9H2JnkSwvH0I7KFVw5H9pQVhJFOP+RbxSWRzFaoyWBXmJRAjGO/7cM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'HZuIrSkhSZaa4CwEVjtFe9H2JnkSwvH0I7KFVw5H9pQVhJFOP+RbxSWRzFaoyWBXmJRAjGO/7cM=',
   'x-amz-request-id': '355C447BA9312915',
   'date': 'Thu, 30 Jul 2020 19:56:25 GMT',
   'etag': '"9aec0a48e74cb3b395b7b7f5872683f5"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9aec0a48e74cb3b395b7b7f5872683f5"'}

# Objects

In [6]:
# Objects cleaning
objects_df= pd.read_csv(path + 'objects.csv')
objects_df.columns.tolist()

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'normalized_name',
 'permalink',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'domain',
 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at']

In [8]:
objects_df.shape

(462651, 40)

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(objects_df.dtypes)

id                      object
entity_type             object
entity_id                int64
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [15]:
objects_df.head()

#id c:XXXX = company,  r:XXXX=product, f:XXXX=financial org, p:XXXX=person

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [16]:
objects_df = objects_df.rename(columns = {'id':'object_id'})
objects_df.head()

,object_id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [19]:
objects_clean = objects_df.drop(columns = {'entity_id', 'permalink', 'created_by', 'created_at', 'updated_at', 'logo_url', 'logo_width', 'logo_height', 'overview', 'tag_list', 'domain', 'twitter_username', 'homepage_url', 'normalized_name', 'short_description','description'})
objects_clean

       object_id entity_type parent_id                                               name    category_code     status  founded_at closed_at country_code state_code         city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0            c:1     Company       NaN                                           Wetpaint              web  operating  2005-10-17       NaN          USA         WA      Seattle      Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3         39750000.0         2010-09-05        2013-09-18           5             17
1           c:10     Company       NaN                                            Flektor      games_video   acquired         NaN       NaN          USA         CA  Culver City  Los Angeles                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
2          c:100     Company       NaN                                              There      games_video   acquired         NaN       NaN          USA         CA    San Mateo       SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2003-02-01        2011-09-23           4             12
3        c:10000     Company       NaN                                            MYWEBBO  network_hosting  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
4        c:10001     Company       NaN                                 THE Movie Streamer      games_video  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
...          ...         ...       ...                                                ...              ...        ...         ...       ...          ...        ...          ...          ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
462646    r:9995     Product   c:14164              SiteLink, listing feed for Brokerages              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462647    r:9996     Product   c:14164  EDCLink, listing feed for Economic Development...              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462648    r:9997     Product   c:14164                   Cmail, broadcast email marketing              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462649    r:9998     Product   c:14164                      CatylistCRM, contact database              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462650    r:9999     Product   c:14164                   Catylist Custom Print/Web Design              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

[462651 rows x 24 columns]

In [ ]:
objects_df['tag_list'].unique()

In [ ]:
objects_clean.columns.tolist()

In [ ]:
objects_clean.nunique()

In [ ]:
#bucket = 'team3-final-bucket' # already created on S3
#csv_buffer = StringIO()
objects_clean.to_csv(csv_buffer)
s3.Object('team3-final-bucket', 'objects_clean.csv').put(Body=csv_buffer.getvalue())

# Relationships

In [56]:
rel_df= pd.read_csv(path + 'relationships.csv')
#rel_df.columns.tolist()
print('Complete')

Complete

In [57]:
relationships_clean = rel_df.drop(columns={'id','relationship_id','created_at','updated_at','start_at','end_at','is_past','sequence'})
#relationships_clean
print('Complete')

Complete

In [58]:
bucket = 'team3-final-bucket'
content = csv_buffer.getvalue()
def to_s3(bucket,filename, content):
    client = boto3.client('s3')
    k = "Resources_clean/"+filename
    client.put_object(Bucket=bucket, Key=k, Body=content)

In [59]:
#bucket = 'team3-final-bucket' # already created on S3
relationships_clean.to_csv('relationships_clean.csv')
#s3.Object(bucket, 'relationship_clean.csv').put(Body=csv_buffer.getvalue())
print('Complete')

Complete

# Acquisitions

In [20]:
acquire_df= pd.read_csv(path + 'acquisitions.csv')
acquire_df.columns.tolist()

['id',
 'acquisition_id',
 'acquiring_object_id',
 'acquired_object_id',
 'term_code',
 'price_amount',
 'price_currency_code',
 'acquired_at',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [21]:
acquire_df.head()

   id  acquisition_id acquiring_object_id acquired_object_id term_code  price_amount price_currency_code acquired_at                                         source_url                                 source_description           created_at           updated_at
0   1               1                c:11               c:10       NaN    20000000.0                 USD  2007-05-30  http://venturebeat.com/2007/05/30/fox-interact...  Fox Interactive confirms purchase of Photobuck...  2007-05-31 22:19:54  2008-05-21 19:23:44
1   2               7                c:59               c:72      cash    60000000.0                 USD  2007-07-01  http://www.techcrunch.com/2007/07/02/deal-is-c...    Deal is Confirmed: Google Acquired GrandCentral  2007-07-03 08:14:50  2011-05-06 21:51:05
2   3               8                c:24              c:132      cash   280000000.0                 USD  2007-05-01  http://www.techcrunch.com/2007/05/30/cbs-acqui...   CBS Acquires Europeâs Last.fm for $280 million  2007-07-12 04:19:24  2008-05-19 04:48:50
3   4               9                c:59              c:155      cash   100000000.0                 USD  2007-06-01  http://techcrunch.com/2007/05/23/100-million-p...  $100 Million Payday For Feedburner  This Deal...  2007-07-13 09:52:59  2012-06-05 03:22:17
4   5              10               c:212              c:215      cash    25000000.0                 USD  2007-07-01  http://blog.seattlepi.nwsource.com/venture/arc...                                       seatlepi.com  2007-07-20 05:29:07  2008-02-25 00:23:47

In [22]:
acquisitions_clean = acquire_df.drop(columns={'id','acquisition_id','source_url','source_description', 'created_at', 'updated_at'})
acquisitions_clean

     acquiring_object_id acquired_object_id term_code  price_amount price_currency_code acquired_at
0                   c:11               c:10       NaN  2.000000e+07                 USD  2007-05-30
1                   c:59               c:72      cash  6.000000e+07                 USD  2007-07-01
2                   c:24              c:132      cash  2.800000e+08                 USD  2007-05-01
3                   c:59              c:155      cash  1.000000e+08                 USD  2007-06-01
4                  c:212              c:215      cash  2.500000e+07                 USD  2007-07-01
...                  ...                ...       ...           ...                 ...         ...
9557            c:267859           c:285995     stock  2.220000e+08                 USD  2013-12-11
9558            c:285493           c:286006       NaN  0.000000e+00                 USD  2013-12-09
9559            c:223792           c:220208       NaN  2.600000e+10                 USD  2007-07-03
9560            c:227620           c:286176      cash  5.240000e+07                 USD  2013-12-12
9561                c:53            c:92846       NaN  4.260000e+07                 USD  2013-12-12

[9562 rows x 6 columns]

In [27]:
acquisitions_clean.to_csv('acquisitions_clean.csv')
#to_s3(bucket, 'acquisitions_clean.csv', content)

#  Milestones

In [28]:
milestones= pd.read_csv(path + 'milestones.csv')
milestones.columns.tolist()

['id',
 'object_id',
 'milestone_at',
 'milestone_code',
 'description',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [ ]:
milestones.head()

In [29]:
milestones_clean = milestones.drop(columns={'id', 'created_at', 'updated_at', 'source_url','source_description'})
milestones_clean

      object_id milestone_at milestone_code                                        description
0          c:12   2008-06-09          other                       Survives iPhone 3G Stevenote
1        c:3138   2008-06-17          other  Twhirl announces support for Seesmic video pla...
2          c:59   2008-06-18          other  More than 4 Billion videos viewed at Google Si...
3         c:314   2008-06-18          other                            Reddit goes Open Source
4         c:314   2008-01-22          other        Adds the ability to create your own Reddits
...         ...          ...            ...                                                ...
39451   f:15096   2013-12-12          other  Hyderabad-based tech incubator-cum-seed fund B...
39452   c:59519   2013-12-12          other  miiCard builds on recent momentum and vision f...
39453   f:15097   2013-12-12          other  Quadro Capital Partners and FOREX CLUB Founder...
39454    f:4101   2013-12-12          other  Odyssey Investment Partners set to hit $2 bln ...
39455   f:13852   2013-12-12          other   Ben Franklin Invests $1 Million in 13 PA Tech...

[39456 rows x 4 columns]

In [30]:
milestones_clean.to_csv('milestones_clean.csv')
#to_s3(bucket, 'milestones_clean.csv', content)

# Offices

In [32]:
offices= pd.read_csv(path + 'offices.csv')
#offices.columns.tolist()
print('Complete')

Complete

In [ ]:
offices.head()

In [33]:
offices_clean = offices.drop(columns={'id','office_id','created_at','updated_at', 'description'})
print('Complete')

Complete

In [34]:

offices_clean.to_csv('offices_clean.csv')
#to_s3(bucket, 'offices_clean.csv', content)
print('Complete')

Complete

# People

In [35]:
people= pd.read_csv(path + 'people.csv')
#people.columns.tolist()
print('Complete')

Complete

In [36]:
people = people.rename(columns = {'person_id':'object_id'})
#people
print('Complete')

Complete

In [37]:
people_clean = people.drop(columns={'birthplace', 'id'})
#people_clean
print('Complete')

Complete

In [38]:
people_clean.to_csv('people_clean.csv')
#to_s3(bucket, 'people_clean.csv', csv_buffer.getvalue())
print('Complete')

Complete

# Funds

In [39]:
# Cleaning funds
funds= pd.read_csv(path + 'funds.csv')
#funds.columns.tolist()
print('Complete')

Complete

In [40]:
#funds.head()

In [41]:
funds_clean = funds.drop(columns={'id', 'fund_id','created_at', 'updated_at', 'source_url', 'source_description'})
#funds_clean
print('Complete')

Complete

In [55]:
funds_clean.to_csv('funds_clean.csv')
#to_s3(bucket, 'funds_clean.csv', csv_buffer.getvalue())
print('Complete')

Complete

# Investments

In [43]:
investments= pd.read_csv(path + 'investments.csv')
#investments.columns.tolist()
print('Complete')

Complete

In [44]:
#investments.head()

In [45]:
investments_clean = investments.drop(columns={'id','created_at', 'updated_at'})
print('Complete')
#investments_clean

Complete

In [46]:
investments_clean.to_csv('investments_clean.csv')
#to_s3(bucket, 'investments_clean.csv', csv_buffer.getvalue())
print('Complete')

Complete

# funding_rounds

In [47]:
funding_rounds = pd.read_csv(path + 'funding_rounds.csv')
print('Complete')
#funding_rounds.columns.tolist()

Complete

In [48]:
#funding_rounds.head()

In [49]:
funding_rounds_clean = funding_rounds.drop(columns={'id','created_at', 'updated_at', 'source_url', 'source_description', 'created_by'})
#funding_rounds_clean
print('Complete')

Complete

In [50]:
funding_rounds_clean.to_csv('funding_rounds_clean.csv')
#to_s3(bucket, 'funding_rounds_clean.csv', csv_buffer.getvalue())

# degrees

In [51]:
degrees = pd.read_csv(path + 'degrees.csv')
#degrees.columns.tolist()
print('Complete')

Complete

In [52]:
#degrees.head()

In [53]:
degrees_clean = degrees.drop(columns={'id', 'created_at', 'updated_at'})
#degrees_clean
print('Complete')

Complete

In [54]:
degrees_clean.to_csv('degrees_clean.csv')
#to_s3(bucket, 'degrees_clean.csv', csv_buffer.getvalue())
print('Complete')

Complete

In [ ]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"