In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
import os

In [2]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

5.100000000002325e-05

In [3]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [4]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationship_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv

In [5]:
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_raw/'

# IPOs

In [6]:
ipo_df= pd.read_csv(path + 'ipos.csv')
ipo_df.columns.tolist()

['id',
 'ipo_id',
 'object_id',
 'valuation_amount',
 'valuation_currency_code',
 'raised_amount',
 'raised_currency_code',
 'public_at',
 'stock_symbol',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [7]:
ipo_df.nunique()

id                         1259
ipo_id                     1259
object_id                  1253
valuation_amount            102
valuation_currency_code       5
raised_amount               114
raised_currency_code          5
public_at                   517
stock_symbol               1247
source_url                  191
source_description          177
created_at                 1258
updated_at                 1257
dtype: int64

In [8]:
ipo_df['valuation_currency_code'].unique()

array(['USD', 'JPY', nan, 'CAD', 'EUR', 'GBP'], dtype=object)

In [9]:
ipo_df['object_id'].unique()

array(['c:1654', 'c:1242', 'c:342', ..., 'c:220208', 'c:243568',
       'c:235945'], dtype=object)

In [10]:
ipo_clean = ipo_df.drop(columns={'id', 'ipo_id', 'source_url', 'source_description', 'created_at', 'updated_at'})
ipo_clean

,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
0,c:1654,0.000000e+00,USD,0.000000e+00,USD,1980-12-19,NASDAQ:AAPL
1,c:1242,0.000000e+00,USD,0.000000e+00,NaN,1986-03-13,NASDAQ:MSFT
2,c:342,0.000000e+00,USD,0.000000e+00,NaN,1969-06-09,NYSE:DIS
3,c:59,0.000000e+00,USD,0.000000e+00,NaN,2004-08-25,NASDAQ:GOOG
4,c:317,1.000000e+11,USD,0.000000e+00,NaN,1997-05-01,NASDAQ:AMZN
...,...,...,...,...,...,...,...
1254,c:267859,0.000000e+00,USD,0.000000e+00,USD,NaN,NYSE:EBS
1255,c:39330,0.000000e+00,USD,7.250000e+08,USD,2013-12-11,NYSE:ARMK
1256,c:220208,0.000000e+00,USD,2.350000e+09,USD,2008-12-08,NYSE:HLT
1257,c:243568,0.000000e+00,USD,0.000000e+00,USD,NaN,OTC:BCLI
1258,c:235945,0.000000e+00,USD,5.300000e+07,USD,NaN,NASDAQ:KIN

In [11]:
bucket = 'team3-final-bucket' # already created on S3
csv_buffer = StringIO()
ipo_clean.to_csv(csv_buffer)
s3.Object(bucket, 'ipo_clean.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '355C447BA9312915',
  'HostId': 'HZuIrSkhSZaa4CwEVjtFe9H2JnkSwvH0I7KFVw5H9pQVhJFOP+RbxSWRzFaoyWBXmJRAjGO/7cM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'HZuIrSkhSZaa4CwEVjtFe9H2JnkSwvH0I7KFVw5H9pQVhJFOP+RbxSWRzFaoyWBXmJRAjGO/7cM=',
   'x-amz-request-id': '355C447BA9312915',
   'date': 'Thu, 30 Jul 2020 19:56:25 GMT',
   'etag': '"9aec0a48e74cb3b395b7b7f5872683f5"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9aec0a48e74cb3b395b7b7f5872683f5"'}

# Objects

In [13]:
# Objects cleaning
objects_df= pd.read_csv(path + 'objects.csv')
objects_df.columns.tolist()

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'normalized_name',
 'permalink',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'domain',
 'homepage_url',
 'twitter_username',
 'logo_url',
 'logo_width',
 'logo_height',
 'short_description',
 'description',
 'overview',
 'tag_list',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'created_by',
 'created_at',
 'updated_at']

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(objects_df.dtypes)

id                      object
entity_type             object
entity_id                int64
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [15]:
objects_df.head()

#id c:XXXX = company,  r:XXXX=product, f:XXXX=financial org, p:XXXX=person

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [16]:
objects_df = objects_df.rename(columns = {'id':'object_id'})
objects_df.head()

,object_id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [17]:
objects_clean = objects_df.drop(columns = {'entity_id', 'permalink', 'created_by', 'created_at', 'updated_at', 'logo_url', 'logo_width', 'logo_height', 'overview', 'tag_list', 'domain', 'twitter_username', 'homepage_url', 'normalized_name', 'short_description','description'})
objects_clean

,object_id,entity_type,parent_id,name,category_code,status,founded_at,closed_at,country_code,state_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,WA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,NaN,Flektor,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,NaN,There,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

In [ ]:
objects_df['tag_list'].unique()

In [ ]:
objects_clean.columns.tolist()

In [ ]:
objects_clean.nunique()

In [ ]:
bucket = 'team3-final-bucket' # already created on S3
csv_buffer = StringIO()
objects_clean.to_csv(csv_buffer)
s3.Object('team3-final-bucket', 'objects_clean.csv').put(Body=csv_buffer.getvalue())

# Relationships

In [ ]:
rel_df= pd.read_csv(path + 'relationships.csv')
rel_df.columns.tolist()

In [ ]:
relationships_clean = rel_df.drop(columns={'id','relationship_id','created_at','updated_at','start_at','end_at','is_past','sequence'})
relationships_clean

In [ ]:
bucket = 'team3-final-bucket'
content = csv_buffer.getvalue()
def to_s3(bucket,filename, content):
    client = boto3.client('s3')
    k = "Resources_clean/"+filename
    client.put_object(Bucket=bucket, Key=k, Body=content)

In [ ]:
bucket = 'team3-final-bucket' # already created on S3
relationships_clean.to_csv(csv_buffer)
s3.Object(bucket, 'relationship_clean.csv').put(Body=csv_buffer.getvalue())

# Acquisitions

In [ ]:
acquire_df= pd.read_csv(path + 'acquisitions.csv')
acquire_df.columns.tolist()

In [ ]:
acquire_df.head()

In [ ]:
acquisitions_clean = acquire_df.drop(columns={'id','acquisition_id','source_url','source_description', 'created_at', 'updated_at'})
acquisitions_clean

In [ ]:
acquisitions_clean.to_csv(csv_buffer)
to_s3(bucket, 'acquisitions_clean.csv', content)

#  Milestones

In [ ]:
milestones= pd.read_csv(path + 'milestones.csv')
milestones.columns.tolist()

In [ ]:
milestones.head()

In [ ]:
milestones_clean = milestones.drop(columns={'id', 'created_at', 'updated_at', 'source_url','source_description'})
milestones_clean

In [ ]:
milestones_clean.to_csv(csv_buffer)
to_s3(bucket, 'milestones_clean.csv', content)

# Offices

In [ ]:
offices= pd.read_csv(path + 'offices.csv')
offices.columns.tolist()

In [ ]:
offices.head()

In [ ]:
offices_clean = offices.drop(columns={'id','office_id','created_at','updated_at', 'description'})
offices_clean

In [ ]:
tic
offices_clean.to_csv(csv_buffer)
to_s3(bucket, 'offices_clean.csv', content)
toc
tic-toc

# People

In [ ]:
people= pd.read_csv(path + 'people.csv')
people.columns.tolist()

In [ ]:
people

In [ ]:
people = people.rename(columns = {'person_id':'object_id'})
people

In [ ]:
people_clean = people.drop(columns={'birthplace', 'id'})
people_clean

In [ ]:
people_clean.to_csv(csv_buffer)
to_s3(bucket, 'people_clean.csv', csv_buffer.getvalue())

# Funds

In [ ]:
# Cleaning funds
funds= pd.read_csv(path + 'funds.csv')
funds.columns.tolist()

In [ ]:
funds.head()

In [ ]:
funds_clean = funds.drop(columns={'id', 'fund_id','created_at', 'updated_at', 'source_url', 'source_description'})
funds_clean

In [ ]:
funds_clean.to_csv(csv_buffer)
to_s3(bucket, 'funds_clean.csv', csv_buffer.getvalue())

# Investments

In [ ]:
investments= pd.read_csv(path + 'investments.csv')
investments.columns.tolist()

In [ ]:
investments.head()

In [ ]:
investments_clean = investments.drop(columns={'id','created_at', 'updated_at'})
investments_clean

In [ ]:
investments_clean.to_csv(csv_buffer)
to_s3(bucket, 'investments_clean.csv', csv_buffer.getvalue())

# funding_rounds

In [ ]:
funding_rounds = pd.read_csv(path + 'funding_rounds.csv')
funding_rounds.columns.tolist()

In [ ]:
funding_rounds.head()

In [ ]:
funding_rounds_clean = funding_rounds.drop(columns={'id','created_at', 'updated_at', 'source_url', 'source_description', 'created_by'})
funding_rounds_clean

In [ ]:
funding_rounds_clean.to_csv(csv_buffer)
to_s3(bucket, 'funding_rounds_clean.csv', csv_buffer.getvalue())

# degrees

In [ ]:
degrees = pd.read_csv(path + 'degrees.csv')
degrees.columns.tolist()

In [ ]:
degrees.head()

In [ ]:
degrees_clean = degrees.drop(columns={'id', 'created_at', 'updated_at'})
degrees_clean

In [ ]:
degrees_clean.to_csv(csv_buffer)
to_s3(bucket, 'degrees_clean.csv', csv_buffer.getvalue())

In [ ]:
degree

In [ ]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"