In [62]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from flask import Flask
from flask_sqlalchemy import sqlalchemy
import os
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"

In [3]:
path = 'Resources/'
office = pd.read_csv(path +'offices_clean.csv', index_col=0)
office

,object_id,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude
0,c:1,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253
1,c:3,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945
2,c:4,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523
3,c:5,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801
4,c:7,SF Bay,Suite 200,654 High Street,Palo Alto,94301,CA,ISR,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
112713,f:15098,New York,8 Sound Shore Drive,Suite 303,Greenwich,06830,CT,USA,0.000000,0.000000
112714,c:286200,Santa Barbara,735 State Street,Suite 500,Santa Barbara,93101,CA,USA,0.000000,0.000000
112715,c:256895,Los Angeles,"5777 W. Century Blvd., Suite 360",NaN,Los Angeles,90045,CA,USA,0.000000,0.000000
112716,c:256200,New York,420 LExington Avenue,NaN,New York,10170,NY,USA,0.000000,0.000000
112717,c:286215,SF Bay,2121 S. El Camino Real Suite C-120,NaN,San Mateo,94403,CA,USA,0.000000,0.000000

In [35]:
objects = pd.read_csv(path + 'objects_clean.csv', index_col=0)
objects

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,object_id,entity_type,parent_id,name,category_code,status,founded_at,closed_at,country_code,state_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,WA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,NaN,Flektor,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,NaN,There,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

In [45]:
objects_cleaner=objects[objects['object_id'].str.contains('c:|f:', regex=True)]

In [46]:
locations = office.merge(objects_cleaner, how='outer', left_on= 'object_id', right_on='object_id')
locations

,object_id,region_x,address1,address2,city_x,zip_code,state_code_x,country_code_x,latitude,longitude,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,...,0,0,2005-10-01,2008-05-19,3,3.975000e+07,2010-09-05,2013-09-18,5,17
1,c:1,New York,270 Lafayette Street,Suite 505,New York,10012,NY,USA,40.723731,-73.996431,...,0,0,2005-10-01,2008-05-19,3,3.975000e+07,2010-09-05,2013-09-18,5,17
2,c:3,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945,...,0,0,NaN,NaN,0,0.000000e+00,2010-01-01,2013-11-12,5,18
3,c:4,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523,...,0,0,2005-10-01,2011-07-12,4,4.500000e+07,2010-01-08,2013-12-04,8,57
4,c:5,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801,...,3,3,2004-09-01,2011-01-21,11,2.425700e+09,2009-01-10,2013-12-12,5,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225875,f:9988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.000000e+00,NaN,NaN,0,1
225876,f:9989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.000000e+00,NaN,NaN,0,3
225877,f:9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.000000e+00,NaN,NaN,0,1
225878,f:9993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.000000e+00,NaN,NaN,0,1
225879,f:9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.000000e+00,NaN,NaN,0,1

In [52]:
location1 = locations.object_id.value_counts()
print (location1[location1>1])

c:189440    81
c:59        67
c:262338    49
c:283580    25
c:3277      25
            ..
c:24330      2
f:5046       2
f:10535      2
f:243        2
c:25425      2
Name: object_id, Length: 10314, dtype: int64

In [55]:
locations[locations['object_id']=='c:189440']

,object_id,region_x,address1,address2,city_x,zip_code,state_code_x,country_code_x,latitude,longitude,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
80621,c:189440,Lexington,2770 Lexington Avenue,NaN,Lexington,44904,OH,USA,40.682969,-82.568704,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80622,c:189440,Lima,3650 Fort Shawnee Drive,NaN,Lima,45806,OH,USA,40.686729,-84.125177,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80623,c:189440,Evansville,2800 Lynch Avenue,NaN,Evansville,47711,IN,USA,38.013621,-87.514842,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80624,c:189440,Mishawaka,1217 East McKinley Avenue,NaN,Mishawaka,46545,IN,USA,41.680346,-86.165448,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80625,c:189440,Terre Haute,4250 7th Avenue,NaN,Terre Haute,47802,IN,USA,39.415478,-87.406820,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80697,c:189440,Newport News,11969-A Jefferson Avenue,NaN,Newport News,23606,VA,USA,37.094459,-76.488928,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80698,c:189440,Decatur,1291 East Pershing Road,NaN,Decatur,62526,IL,USA,39.877057,-88.940054,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80699,c:189440,Trussville,3260 Morrow Road,NaN,Trussville,35235,AL,USA,33.597329,-86.646476,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80700,c:189440,Vestal,1000 Front Street,NaN,Vestal,13850,NY,USA,42.081307,-76.068880,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
80701,c:189440,Nashville,309 North Main Street,NaN,Goodlettsville,37072,TN,USA,36.325382,-86.713258,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

In [59]:
office[office['object_id']=='c:189440']

,object_id,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude
77310,c:189440,Lexington,2770 Lexington Avenue,NaN,Lexington,44904,OH,USA,40.682969,-82.568704
77311,c:189440,Lima,3650 Fort Shawnee Drive,NaN,Lima,45806,OH,USA,40.686729,-84.125177
77312,c:189440,Evansville,2800 Lynch Avenue,NaN,Evansville,47711,IN,USA,38.013621,-87.514842
77313,c:189440,Mishawaka,1217 East McKinley Avenue,NaN,Mishawaka,46545,IN,USA,41.680346,-86.165448
77314,c:189440,Terre Haute,4250 7th Avenue,NaN,Terre Haute,47802,IN,USA,39.415478,-87.406820
...,...,...,...,...,...,...,...,...,...,...
77386,c:189440,Newport News,11969-A Jefferson Avenue,NaN,Newport News,23606,VA,USA,37.094459,-76.488928
77387,c:189440,Decatur,1291 East Pershing Road,NaN,Decatur,62526,IL,USA,39.877057,-88.940054
77388,c:189440,Trussville,3260 Morrow Road,NaN,Trussville,35235,AL,USA,33.597329,-86.646476
77389,c:189440,Vestal,1000 Front Street,NaN,Vestal,13850,NY,USA,42.081307,-76.068880
77390,c:189440,Nashville,309 North Main Street,NaN,Goodlettsville,37072,TN,USA,36.325382,-86.713258

In [63]:
objects[objects['object_id']=='c:189440']

      object_id entity_type parent_id                                     name category_code     status  founded_at closed_at country_code state_code       city     region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
47569  c:189440     Company       NaN  American Freight Furniture and Mattress         other  operating  1993-01-01       NaN          USA         OH  Lexington  Lexington                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

In [70]:
locations_clean = locations[locations['object_id']].drop_duplicates(keep='first')

for object_id in list(locations.object_id.values()):
    #df_new=df[df['object_id']]== object_id
    #extract_df.append(df._new.iloc[0].copy())
    #if locations.latitude not null

KeyError: "None of [Index(['c:1', 'c:1', 'c:3', 'c:4', 'c:5', 'c:5', 'c:5', 'c:7', 'c:8', 'c:9',\n       ...\n       'f:9965', 'f:9969', 'f:9972', 'f:9976', 'f:9979', 'f:9988', 'f:9989', 'f:9992', 'f:9993', 'f:9996'], dtype='object', length=225880)] are in the [columns]"

In [ ]:
locations_clean = locations.drop_duplicates(subset='object_id', keep = 'first')
locations_clean