In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from flask import Flask
from flask_sqlalchemy import sqlalchemy
import os
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"

In [3]:
path = 'Resources/'
office = pd.read_csv(path +'offices_clean.csv', index_col=0)
office

       object_id         region                            address1         address2           city zip_code state_code country_code   latitude   longitude
0            c:1        Seattle                    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1            c:3         SF Bay                     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2            c:4         SF Bay                  135 Mississippi St              NaN  San Francisco    94107         CA          USA  37.764726 -122.394523
3            c:5         SF Bay                    1601 Willow Road              NaN     Menlo Park    94025         CA          USA  37.416050 -122.151801
4            c:7         SF Bay                           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000
...          ...            ...                                 ...              ...            ...      ...        ...          ...        ...         ...
112713   f:15098       New York                 8 Sound Shore Drive        Suite 303      Greenwich    06830         CT          USA   0.000000    0.000000
112714  c:286200  Santa Barbara                    735 State Street        Suite 500  Santa Barbara    93101         CA          USA   0.000000    0.000000
112715  c:256895    Los Angeles    5777 W. Century Blvd., Suite 360              NaN    Los Angeles    90045         CA          USA   0.000000    0.000000
112716  c:256200       New York                420 LExington Avenue              NaN       New York    10170         NY          USA   0.000000    0.000000
112717  c:286215         SF Bay  2121 S. El Camino Real Suite C-120              NaN      San Mateo    94403         CA          USA   0.000000    0.000000

[95043 rows x 10 columns]

In [4]:
objects = pd.read_csv(path + 'objects_clean.csv', index_col=0)
objects

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       object_id entity_type parent_id                                               name    category_code     status  founded_at closed_at country_code state_code         city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0            c:1     Company       NaN                                           Wetpaint              web  operating  2005-10-17       NaN          USA         WA      Seattle      Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3         39750000.0         2010-09-05        2013-09-18           5             17
1           c:10     Company       NaN                                            Flektor      games_video   acquired         NaN       NaN          USA         CA  Culver City  Los Angeles                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
2          c:100     Company       NaN                                              There      games_video   acquired         NaN       NaN          USA         CA    San Mateo       SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2003-02-01        2011-09-23           4             12
3        c:10000     Company       NaN                                            MYWEBBO  network_hosting  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
4        c:10001     Company       NaN                                 THE Movie Streamer      games_video  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
...          ...         ...       ...                                                ...              ...        ...         ...       ...          ...        ...          ...          ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
462646    r:9995     Product   c:14164              SiteLink, listing feed for Brokerages              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462647    r:9996     Product   c:14164  EDCLink, listing feed for Economic Development...              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462648    r:9997     Product   c:14164                   Cmail, broadcast email marketing              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462649    r:9998     Product   c:14164                      CatylistCRM, contact database              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462650    r:9999     Product   c:14164                   Catylist Custom Print/Web Design              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

[462651 rows x 24 columns]

In [5]:
#inspecting company
objects[objects['object_id']=='c:9977']

       object_id entity_type parent_id         name category_code  status  founded_at   closed_at country_code state_code           city  region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
196526    c:9977     Company       NaN  Carticipate        mobile  closed  2008-05-22  2012-08-15          USA         CA  San Francisco  SF Bay                 NaN                NaN                  0                   0       2008-05-18      2008-05-18               1           130000.0         2008-08-03        2009-09-01           2              3

In [6]:
objects_cleaner=objects[objects['object_id'].str.contains('c:|f:', regex=True)]

# Merging Office with Objects tables

In [7]:
locations = office.merge(objects_cleaner, how='outer', left_on= 'object_id', right_on='object_id')
locations

       object_id region_x            address1         address2         city_x zip_code state_code_x country_code_x   latitude   longitude   entity_type parent_id                          name    category_code     status  founded_at   closed_at country_code_y state_code_y         city_y region_y first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0            c:1  Seattle    710 - 2nd Avenue       Suite 1100        Seattle    98104           WA            USA  47.603122 -122.333253       Company       NaN                      Wetpaint              web  operating  2005-10-17         NaN            USA           WA        Seattle  Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3       3.975000e+07         2010-09-05        2013-09-18           5             17
1            c:3   SF Bay     4900 Hopyard Rd        Suite 310     Pleasanton    94588           CA            USA  37.692934 -121.904945       Company       NaN                          Zoho         software  operating  2005-09-15         NaN            USA           CA     Pleasanton   SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00         2010-01-01        2013-11-12           5             18
2            c:4   SF Bay  135 Mississippi St              NaN  San Francisco    94107           CA            USA  37.764726 -122.394523       Company       NaN                          Digg             news   acquired  2004-10-11         NaN            USA           CA  San Francisco   SF Bay                 NaN                NaN                  0                   0       2005-10-01      2011-07-12               4       4.500000e+07         2010-01-08        2013-12-04           8             57
3            c:5   SF Bay    1601 Willow Road              NaN     Menlo Park    94025           CA            USA  37.416050 -122.151801       Company       NaN                      Facebook           social        ipo  2004-02-01         NaN            USA           CA     Menlo Park   SF Bay          2008-12-01         2013-11-12                  3                   3       2004-09-01      2011-01-21              11       2.425700e+09         2009-01-10        2013-12-12           5            269
4            c:7   SF Bay           Suite 200  654 High Street      Palo Alto    94301           CA            ISR   0.000000    0.000000       Company       NaN                     Omnidrive  network_hosting     closed  2005-11-01  2008-09-15            ISR           CA      Palo Alto   SF Bay                 NaN                NaN                  0                   0       2006-12-01      2006-12-01               1       8.000000e+05         2006-12-01        2012-12-03           4              4
...          ...      ...                 ...              ...            ...      ...          ...            ...        ...         ...           ...       ...                           ...              ...        ...         ...         ...            ...          ...            ...      ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
208200    f:9988      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN     Technomark Consulting Ltd              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208201    f:9989      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN  Morgan Stanley International              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              3
208202    f:9992      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN                 remove_later1              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208203    f:9993      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN                 remove_later2              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208204    f:9996      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN             founder's Capital              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1

[208205 rows x 33 columns]

In [8]:
location1 = locations.object_id.value_counts()
print (location1[location1>1])

Series([], Name: object_id, dtype: int64)

In [9]:
locations[locations['object_id']=='c:189440']

      object_id   region_x               address1 address2     city_x zip_code state_code_x country_code_x   latitude  longitude entity_type parent_id                                     name category_code     status  founded_at closed_at country_code_y state_code_y     city_y   region_y first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
66804  c:189440  Lexington  2770 Lexington Avenue      NaN  Lexington    44904           OH            USA  40.682969 -82.568704     Company       NaN  American Freight Furniture and Mattress         other  operating  1993-01-01       NaN            USA           OH  Lexington  Lexington                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

In [10]:
office[office['object_id']=='c:189440']

      object_id     region               address1 address2       city zip_code state_code country_code   latitude  longitude
77310  c:189440  Lexington  2770 Lexington Avenue      NaN  Lexington    44904         OH          USA  40.682969 -82.568704

In [11]:
office.drop(office.index[77311:77390])

       object_id         region                            address1         address2           city zip_code state_code country_code   latitude   longitude
0            c:1        Seattle                    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1            c:3         SF Bay                     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2            c:4         SF Bay                  135 Mississippi St              NaN  San Francisco    94107         CA          USA  37.764726 -122.394523
3            c:5         SF Bay                    1601 Willow Road              NaN     Menlo Park    94025         CA          USA  37.416050 -122.151801
4            c:7         SF Bay                           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000
...          ...            ...                                 ...              ...            ...      ...        ...          ...        ...         ...
112713   f:15098       New York                 8 Sound Shore Drive        Suite 303      Greenwich    06830         CT          USA   0.000000    0.000000
112714  c:286200  Santa Barbara                    735 State Street        Suite 500  Santa Barbara    93101         CA          USA   0.000000    0.000000
112715  c:256895    Los Angeles    5777 W. Century Blvd., Suite 360              NaN    Los Angeles    90045         CA          USA   0.000000    0.000000
112716  c:256200       New York                420 LExington Avenue              NaN       New York    10170         NY          USA   0.000000    0.000000
112717  c:286215         SF Bay  2121 S. El Camino Real Suite C-120              NaN      San Mateo    94403         CA          USA   0.000000    0.000000

[94964 rows x 10 columns]

In [12]:
objects[objects['object_id']=='c:189440']

      object_id entity_type parent_id                                     name category_code     status  founded_at closed_at country_code state_code       city     region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
47569  c:189440     Company       NaN  American Freight Furniture and Mattress         other  operating  1993-01-01       NaN          USA         OH  Lexington  Lexington                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

In [14]:
#locations_clean = locations[locations['object_id']].drop_duplicates(keep='first')

#for object_id in list(locations.object_id.values()):
    #df_new=df[df['object_id']]== object_id
    #extract_df.append(df._new.iloc[0].copy())
    #if locations.latitude not null

In [15]:
products=objects[objects['object_id'].str.contains('r:', regex=True)]
products

       object_id entity_type parent_id                                               name category_code     status  founded_at closed_at country_code state_code city   region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
434913       r:1     Product       c:1                                   Wikison Wetpaint           NaN       live  2006-06-01       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
434914      r:10     Product      c:16                                 Slacker Web Player           NaN  operating  2007-06-05       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
434915     r:100     Product    c:1585                 Vemo Enterprise Workforce Planning           NaN       live  2008-07-01       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
434916   r:10002     Product   c:14171             dexmo.com - study and revision network           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
434917   r:10003     Product   c:14173                              VIrtual PBX Parachute           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
...          ...         ...       ...                                                ...           ...        ...         ...       ...          ...        ...  ...      ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
462646    r:9995     Product   c:14164              SiteLink, listing feed for Brokerages           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462647    r:9996     Product   c:14164  EDCLink, listing feed for Economic Development...           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462648    r:9997     Product   c:14164                   Cmail, broadcast email marketing           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462649    r:9998     Product   c:14164                      CatylistCRM, contact database           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462650    r:9999     Product   c:14164                   Catylist Custom Print/Web Design           NaN  operating         NaN       NaN          NaN        NaN  NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

[27738 rows x 24 columns]

In [16]:
products.region.value_counts()

unknown    27738
Name: region, dtype: int64

In [17]:
locations_clean = locations.drop_duplicates(subset='object_id', keep = 'first')
locations_clean

       object_id region_x            address1         address2         city_x zip_code state_code_x country_code_x   latitude   longitude   entity_type parent_id                          name    category_code     status  founded_at   closed_at country_code_y state_code_y         city_y region_y first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0            c:1  Seattle    710 - 2nd Avenue       Suite 1100        Seattle    98104           WA            USA  47.603122 -122.333253       Company       NaN                      Wetpaint              web  operating  2005-10-17         NaN            USA           WA        Seattle  Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3       3.975000e+07         2010-09-05        2013-09-18           5             17
1            c:3   SF Bay     4900 Hopyard Rd        Suite 310     Pleasanton    94588           CA            USA  37.692934 -121.904945       Company       NaN                          Zoho         software  operating  2005-09-15         NaN            USA           CA     Pleasanton   SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00         2010-01-01        2013-11-12           5             18
2            c:4   SF Bay  135 Mississippi St              NaN  San Francisco    94107           CA            USA  37.764726 -122.394523       Company       NaN                          Digg             news   acquired  2004-10-11         NaN            USA           CA  San Francisco   SF Bay                 NaN                NaN                  0                   0       2005-10-01      2011-07-12               4       4.500000e+07         2010-01-08        2013-12-04           8             57
3            c:5   SF Bay    1601 Willow Road              NaN     Menlo Park    94025           CA            USA  37.416050 -122.151801       Company       NaN                      Facebook           social        ipo  2004-02-01         NaN            USA           CA     Menlo Park   SF Bay          2008-12-01         2013-11-12                  3                   3       2004-09-01      2011-01-21              11       2.425700e+09         2009-01-10        2013-12-12           5            269
4            c:7   SF Bay           Suite 200  654 High Street      Palo Alto    94301           CA            ISR   0.000000    0.000000       Company       NaN                     Omnidrive  network_hosting     closed  2005-11-01  2008-09-15            ISR           CA      Palo Alto   SF Bay                 NaN                NaN                  0                   0       2006-12-01      2006-12-01               1       8.000000e+05         2006-12-01        2012-12-03           4              4
...          ...      ...                 ...              ...            ...      ...          ...            ...        ...         ...           ...       ...                           ...              ...        ...         ...         ...            ...          ...            ...      ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
208200    f:9988      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN     Technomark Consulting Ltd              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208201    f:9989      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN  Morgan Stanley International              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              3
208202    f:9992      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN                 remove_later1              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208203    f:9993      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN                 remove_later2              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1
208204    f:9996      NaN                 NaN              NaN            NaN      NaN          NaN            NaN        NaN         NaN  FinancialOrg       NaN             founder's Capital              NaN  operating         NaN         NaN            NaN          NaN            NaN  unknown                 NaN                NaN                  0                   0              NaN             NaN               0       0.000000e+00                NaN               NaN           0              1

[208205 rows x 33 columns]

In [18]:
office

       object_id         region                            address1         address2           city zip_code state_code country_code   latitude   longitude
0            c:1        Seattle                    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1            c:3         SF Bay                     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2            c:4         SF Bay                  135 Mississippi St              NaN  San Francisco    94107         CA          USA  37.764726 -122.394523
3            c:5         SF Bay                    1601 Willow Road              NaN     Menlo Park    94025         CA          USA  37.416050 -122.151801
4            c:7         SF Bay                           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000
...          ...            ...                                 ...              ...            ...      ...        ...          ...        ...         ...
112713   f:15098       New York                 8 Sound Shore Drive        Suite 303      Greenwich    06830         CT          USA   0.000000    0.000000
112714  c:286200  Santa Barbara                    735 State Street        Suite 500  Santa Barbara    93101         CA          USA   0.000000    0.000000
112715  c:256895    Los Angeles    5777 W. Century Blvd., Suite 360              NaN    Los Angeles    90045         CA          USA   0.000000    0.000000
112716  c:256200       New York                420 LExington Avenue              NaN       New York    10170         NY          USA   0.000000    0.000000
112717  c:286215         SF Bay  2121 S. El Camino Real Suite C-120              NaN      San Mateo    94403         CA          USA   0.000000    0.000000

[95043 rows x 10 columns]

In [19]:
office['zip_code']= office['zip_code'].fillna(0)
office

       object_id         region                            address1         address2           city zip_code state_code country_code   latitude   longitude
0            c:1        Seattle                    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1            c:3         SF Bay                     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2            c:4         SF Bay                  135 Mississippi St              NaN  San Francisco    94107         CA          USA  37.764726 -122.394523
3            c:5         SF Bay                    1601 Willow Road              NaN     Menlo Park    94025         CA          USA  37.416050 -122.151801
4            c:7         SF Bay                           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000
...          ...            ...                                 ...              ...            ...      ...        ...          ...        ...         ...
112713   f:15098       New York                 8 Sound Shore Drive        Suite 303      Greenwich    06830         CT          USA   0.000000    0.000000
112714  c:286200  Santa Barbara                    735 State Street        Suite 500  Santa Barbara    93101         CA          USA   0.000000    0.000000
112715  c:256895    Los Angeles    5777 W. Century Blvd., Suite 360              NaN    Los Angeles    90045         CA          USA   0.000000    0.000000
112716  c:256200       New York                420 LExington Avenue              NaN       New York    10170         NY          USA   0.000000    0.000000
112717  c:286215         SF Bay  2121 S. El Camino Real Suite C-120              NaN      San Mateo    94403         CA          USA   0.000000    0.000000

[95043 rows x 10 columns]

In [20]:
offices_clean = office.fillna(0)
offices_clean

       object_id         region                            address1         address2           city zip_code state_code country_code   latitude   longitude
0            c:1        Seattle                    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1            c:3         SF Bay                     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2            c:4         SF Bay                  135 Mississippi St                0  San Francisco    94107         CA          USA  37.764726 -122.394523
3            c:5         SF Bay                    1601 Willow Road                0     Menlo Park    94025         CA          USA  37.416050 -122.151801
4            c:7         SF Bay                           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000
...          ...            ...                                 ...              ...            ...      ...        ...          ...        ...         ...
112713   f:15098       New York                 8 Sound Shore Drive        Suite 303      Greenwich    06830         CT          USA   0.000000    0.000000
112714  c:286200  Santa Barbara                    735 State Street        Suite 500  Santa Barbara    93101         CA          USA   0.000000    0.000000
112715  c:256895    Los Angeles    5777 W. Century Blvd., Suite 360                0    Los Angeles    90045         CA          USA   0.000000    0.000000
112716  c:256200       New York                420 LExington Avenue                0       New York    10170         NY          USA   0.000000    0.000000
112717  c:286215         SF Bay  2121 S. El Camino Real Suite C-120                0      San Mateo    94403         CA          USA   0.000000    0.000000

[95043 rows x 10 columns]

In [21]:
#offices_clean.to_csv('offices_clean.csv')
#to_s3(bucket, 'people_clean.csv', csv_buffer.getvalue())
#print('Complete')

In [26]:
offices_clean[offices_clean['object_id']=='c:32111']

      object_id     region           address1                               address2       city zip_code state_code country_code  latitude  longitude
19249   c:32111  Bangalore  176 Indra Complex  Sarakki Main Road, JP Nagar 1st Phase  Bangalore   560078          0          IND       0.0        0.0

In [27]:
objects[objects['object_id']=='c:32111']

       object_id entity_type parent_id                 name category_code     status founded_at closed_at country_code state_code       city     region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
144946   c:32111     Company       NaN  Intepat IP Services         legal  operating        NaN       NaN          IND        NaN  Bangalore  Bangalore                 NaN                NaN                  0                   0              NaN             NaN               1            10000.0                NaN               NaN           0              1

In [33]:
ids = list(offices_clean['object_id'].unique())

new_office = pd.DataFrame()

for item in ids:
    df_extract = offices_clean[offices_clean['object_id']==item]
    new_office = new_office.append(df_extract.iloc[0])

In [35]:
#checking new df
new_office.head()

             address1         address2           city country_code   latitude   longitude object_id   region state_code zip_code
0    710 - 2nd Avenue       Suite 1100        Seattle          USA  47.603122 -122.333253       c:1  Seattle         WA    98104
1     4900 Hopyard Rd        Suite 310     Pleasanton          USA  37.692934 -121.904945       c:3   SF Bay         CA    94588
2  135 Mississippi St                0  San Francisco          USA  37.764726 -122.394523       c:4   SF Bay         CA    94107
3    1601 Willow Road                0     Menlo Park          USA  37.416050 -122.151801       c:5   SF Bay         CA    94025
4           Suite 200  654 High Street      Palo Alto          ISR   0.000000    0.000000       c:7   SF Bay         CA    94301

In [36]:
#rearranging new df
new_office = new_office[['object_id', 
                         'region', 
                         'address1',
                         'address2',
                         'city', 
                         'zip_code', 
                         'state_code', 
                         'country_code',
                         'latitude',
                         'longitude']]

In [37]:
#Searching for lines with issues
new_office[new_office.object_id=='c:49567']

      object_id  region                 address1         address2      city   zip_code state_code country_code  latitude  longitude
31694   c:49567  SF Bay  Level 36 Riparian Plaza  71 Eagle Street  Brisbane  QLD, 4000          0          AUS       0.0        0.0

In [38]:
new_office.at[31694, 'address1'] = 'Level 36 Riparian Plaza'

In [39]:
new_office.at[19249, 'address1'] = '176 Indra Complex'

In [40]:
new_office['address1'] = new_office['address1'].str.strip("'")
new_office['address2'] = new_office['address2'].str.strip("'")

In [41]:
new_office.head()

  object_id   region            address1         address2           city zip_code state_code country_code   latitude   longitude
0       c:1  Seattle    710 - 2nd Avenue       Suite 1100        Seattle    98104         WA          USA  47.603122 -122.333253
1       c:3   SF Bay     4900 Hopyard Rd        Suite 310     Pleasanton    94588         CA          USA  37.692934 -121.904945
2       c:4   SF Bay  135 Mississippi St              NaN  San Francisco    94107         CA          USA  37.764726 -122.394523
3       c:5   SF Bay    1601 Willow Road              NaN     Menlo Park    94025         CA          USA  37.416050 -122.151801
4       c:7   SF Bay           Suite 200  654 High Street      Palo Alto    94301         CA          ISR   0.000000    0.000000

In [ ]:
#new_office.to_csv(path+'offices_clean.csv')
#print('Save Complete')

# Acquisitions

In [42]:
acquisitions = pd.read_csv(path+'acquisitions_clean.csv', index_col=0)
acquisitions

     acquiring_object_id acquired_object_id term_code  price_amount price_currency_code acquired_at
0                   c:11               c:10       NaN  2.000000e+07                 USD   5/30/2007
1                   c:59               c:72      cash  6.000000e+07                 USD    7/1/2007
2                   c:24              c:132      cash  2.800000e+08                 USD    5/1/2007
3                   c:59              c:155      cash  1.000000e+08                 USD    6/1/2007
4                  c:212              c:215      cash  2.500000e+07                 USD    7/1/2007
...                  ...                ...       ...           ...                 ...         ...
9557            c:267859           c:285995     stock  2.220000e+08                 USD  12/11/2013
9558            c:285493           c:286006       NaN  0.000000e+00                 USD   12/9/2013
9559            c:223792           c:220208       NaN  2.600000e+10                 USD    7/3/2007
9560            c:227620           c:286176      cash  5.240000e+07                 USD  12/12/2013
9561                c:53            c:92846       NaN  4.260000e+07                 USD  12/12/2013

[9515 rows x 6 columns]

In [43]:
aq1 = acquisitions[acquisitions['acquiring_object_id'].isin(objects['object_id'])]
aq1

     acquiring_object_id acquired_object_id term_code  price_amount price_currency_code acquired_at
0                   c:11               c:10       NaN  2.000000e+07                 USD   5/30/2007
1                   c:59               c:72      cash  6.000000e+07                 USD    7/1/2007
2                   c:24              c:132      cash  2.800000e+08                 USD    5/1/2007
3                   c:59              c:155      cash  1.000000e+08                 USD    6/1/2007
4                  c:212              c:215      cash  2.500000e+07                 USD    7/1/2007
...                  ...                ...       ...           ...                 ...         ...
9557            c:267859           c:285995     stock  2.220000e+08                 USD  12/11/2013
9558            c:285493           c:286006       NaN  0.000000e+00                 USD   12/9/2013
9559            c:223792           c:220208       NaN  2.600000e+10                 USD    7/3/2007
9560            c:227620           c:286176      cash  5.240000e+07                 USD  12/12/2013
9561                c:53            c:92846       NaN  4.260000e+07                 USD  12/12/2013

[9515 rows x 6 columns]

In [44]:
aq2 = aq1[aq1['acquired_object_id'].isin(objects['object_id'])]
aq2

     acquiring_object_id acquired_object_id term_code  price_amount price_currency_code acquired_at
0                   c:11               c:10       NaN  2.000000e+07                 USD   5/30/2007
1                   c:59               c:72      cash  6.000000e+07                 USD    7/1/2007
2                   c:24              c:132      cash  2.800000e+08                 USD    5/1/2007
3                   c:59              c:155      cash  1.000000e+08                 USD    6/1/2007
4                  c:212              c:215      cash  2.500000e+07                 USD    7/1/2007
...                  ...                ...       ...           ...                 ...         ...
9557            c:267859           c:285995     stock  2.220000e+08                 USD  12/11/2013
9558            c:285493           c:286006       NaN  0.000000e+00                 USD   12/9/2013
9559            c:223792           c:220208       NaN  2.600000e+10                 USD    7/3/2007
9560            c:227620           c:286176      cash  5.240000e+07                 USD  12/12/2013
9561                c:53            c:92846       NaN  4.260000e+07                 USD  12/12/2013

[9515 rows x 6 columns]

In [46]:
#aq2.to_csv(path+'acquisitions_clean.csv')
#print('Save Complete')