In [18]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from flask import Flask
from flask_sqlalchemy import sqlalchemy
import os
import re

In [19]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"

In [20]:
path = 'Resources/'
office = pd.read_csv(path +'offices_clean.csv', index_col=0)
office

,object_id,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude
0,c:1,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253
1,c:3,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945
2,c:4,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523
3,c:5,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801
4,c:7,SF Bay,Suite 200,654 High Street,Palo Alto,94301,CA,ISR,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
112713,f:15098,New York,8 Sound Shore Drive,Suite 303,Greenwich,06830,CT,USA,0.000000,0.000000
112714,c:286200,Santa Barbara,735 State Street,Suite 500,Santa Barbara,93101,CA,USA,0.000000,0.000000
112715,c:256895,Los Angeles,"5777 W. Century Blvd., Suite 360",NaN,Los Angeles,90045,CA,USA,0.000000,0.000000
112716,c:256200,New York,420 LExington Avenue,NaN,New York,10170,NY,USA,0.000000,0.000000
112717,c:286215,SF Bay,2121 S. El Camino Real Suite C-120,NaN,San Mateo,94403,CA,USA,0.000000,0.000000

In [21]:
objects = pd.read_csv(path + 'objects_clean.csv', index_col=0)
objects

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,object_id,entity_type,parent_id,name,category_code,status,founded_at,closed_at,country_code,state_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,WA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,NaN,Flektor,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,NaN,There,games_video,acquired,NaN,NaN,USA,CA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

In [34]:
regex = "c:."
series = objects["object_id"]
df1 = series.str.contains(regex)
print(df1)

0          True
1          True
2          True
3          True
4          True
          ...
462646    False
462647    False
462648    False
462649    False
462650    False
Name: object_id, Length: 462651, dtype: bool

In [ ]:
[]