In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# from config import db_password
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit

In [2]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

3.909999999995861e-05

In [3]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [4]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationships_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv

In [5]:
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_raw/'

# IPOs

In [6]:
ipo_df= pd.read_csv(path + 'ipos.csv')
ipo_df.columns.tolist()

['id',
 'ipo_id',
 'object_id',
 'valuation_amount',
 'valuation_currency_code',
 'raised_amount',
 'raised_currency_code',
 'public_at',
 'stock_symbol',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [7]:
# dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

#df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)

In [8]:

# ipos_df = pd.read_csv('Resources/ipos.csv', parse_dates=['public_at'], date_parser=dateparse)
# ipos_df.head()

In [9]:
# df['date'] = pd.to_datetime(df.date, format='%Y-%m-%d')

In [10]:
# Converting strings to date type
# ipos_df['public_at'] = pd.to_datetime(ipos_df.public_at, format='%Y-%m-%d')

In [11]:
# ipos_df.dtypes

In [12]:
# ipo_df.nunique()

In [13]:
# ipo_df['valuation_currency_code'].unique()

In [14]:
# ipo_df['object_id'].unique()

In [15]:
# ipo_clean = ipo_df.drop(columns={'id', 'ipo_id', 'source_url', 'source_description', 'created_at', 'updated_at'})
# ipo_clean

In [16]:
# bucket = 'team3-final-bucket' # already created on S3
# csv_buffer = StringIO()
# ipo_clean.to_csv(csv_buffer)
# s3.Object(bucket, 'ipo_clean.csv').put(Body=csv_buffer.getvalue())

# Objects

#### Extracting data

In [17]:
# Objects cleaning
# objects_df= pd.read_csv(path + 'objects.csv')
# objects_df.columns.tolist()

In [18]:
from datetime import datetime

In [19]:
objects_df = pd.read_csv('Resources/objects.csv', dtype={'status':str, 'entity_id':str})
objects_df.head()

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [20]:
objects_df.dtypes

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [21]:
objects_df['category_code'].unique()

array(['web', 'games_video', 'network_hosting', 'advertising',
       'cleantech', nan, 'enterprise', 'other', 'consulting', 'mobile',
       'health', 'software', 'analytics', 'finance', 'education',
       'medical', 'manufacturing', 'biotech', 'ecommerce',
       'public_relations', 'hardware', 'search', 'news', 'government',
       'security', 'photo_video', 'travel', 'semiconductor', 'social',
       'legal', 'transportation', 'hospitality', 'sports', 'nonprofit',
       'fashion', 'messaging', 'music', 'automotive', 'design',
       'real_estate', 'local', 'nanotech', 'pets'], dtype=object)

In [22]:
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [23]:
is_string_dtype(objects_df['status'])

True

In [24]:
is_numeric_dtype(objects_df['status'])

False

In [25]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(objects_df.dtypes)

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [26]:
objects_df.head()

#id c:XXXX = company,  r:XXXX=product, f:XXXX=financial org, p:XXXX=person

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

#### Transforming data

In [27]:
objects_df = objects_df.rename(columns = {'id':'object_id'})
objects_df.head()

,object_id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

###### Dropping redundant columns

In [28]:
objects_clean = objects_df.drop(columns = {'permalink', 'created_by', 'created_at', 'updated_at', 'logo_url', 'logo_width', 'logo_height', 'overview', 'tag_list', 'domain', 'twitter_username', 'homepage_url', 'normalized_name', 'short_description','description'})
objects_clean

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

###### Converting date columns to date format

In [29]:
# Converting strings to date type
objects_clean['founded_at'] = pd.to_datetime(objects_clean.founded_at, format='%Y-%m-%d')
objects_clean['closed_at'] = pd.to_datetime(objects_clean.closed_at, format='%Y-%m-%d')
objects_clean['first_investment_at'] = pd.to_datetime(objects_clean.first_investment_at, format='%Y-%m-%d')
objects_clean['last_investment_at'] = pd.to_datetime(objects_clean.last_investment_at, format='%Y-%m-%d')
objects_clean['first_funding_at'] = pd.to_datetime(objects_clean.first_funding_at, format='%Y-%m-%d')
objects_clean['last_funding_at'] = pd.to_datetime(objects_clean.last_funding_at, format='%Y-%m-%d')
objects_clean['first_milestone_at'] = pd.to_datetime(objects_clean.first_milestone_at, format='%Y-%m-%d')
objects_clean['last_milestone_at'] = pd.to_datetime(objects_clean.last_milestone_at, format='%Y-%m-%d')

In [30]:
objects_clean.dtypes

object_id                      object
entity_type                    object
entity_id                      object
parent_id                      object
name                           object
category_code                  object
status                         object
founded_at             datetime64[ns]
closed_at              datetime64[ns]
country_code                   object
state_code                     object
city                           object
region                         object
first_investment_at    datetime64[ns]
last_investment_at     datetime64[ns]
investment_rounds               int64
invested_companies              int64
first_funding_at       datetime64[ns]
last_funding_at        datetime64[ns]
funding_rounds                  int64
funding_total_usd             float64
first_milestone_at     datetime64[ns]
last_milestone_at      datetime64[ns]
milestones                      int64
relationships                   int64
dtype: object

In [31]:
# Changing columns order
objects_clean.columns.to_list()

['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']

In [32]:
# Adding a new column for collecting dates

objects_clean["start_dates"] = ""
objects_clean.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,start_dates
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,USA,...,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,NaT,NaT,0,6,
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,2003-02-01,2011-09-23,4,12,
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,

In [33]:
objects_clean1 = objects_clean[['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'start_dates',
 'founded_at',
 'first_investment_at',
 'first_funding_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']]

In [34]:
objects_clean1.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [35]:
# Filtering 'companies' only
companies_df = objects_clean1[objects_clean1['entity_type']=='Company']
companies_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,,2007-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,,2007-11-01,NaT,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,,1959-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,,2007-09-01,NaT,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

###### Working on filling out gaps of start dates - pulling from different columns and related tables

In [36]:
# list =  [companies_df[['founded_at', 'first_investment_at', 'first_funding_at']].values]
# list

In [37]:
from datetime import datetime

In [38]:
# Filling out start dates gaps by combining dates from three columns of 'Companies':
# funded_at, first_investment_at, first_funding_at.
# If conflicting dates are found in one record, the earliest is taken.

def mindate(a,b,c):
    return min(a,b,c)

In [39]:
companies_df['start_dates'] = companies_df.apply(lambda row : mindate(row['founded_at'], 
                     row['first_investment_at'], row['first_funding_at']), axis = 1)

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
companies_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,2007-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,2007-11-01,NaT,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,1959-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,2007-09-01,NaT,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

In [41]:
# Dropping columns 
companies_df_new = companies_df.drop(companies_df[['founded_at','first_investment_at','first_funding_at']], axis=1)
companies_df_new

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

In [42]:
# Counting notnulls in start_dates
companies_df_new[companies_df_new['start_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
5,c:10002,Company,10002,NaN,Synergie Media,advertising,operating,2007-06-27,MAR,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,2
6,c:10003,Company,10003,NaN,Green Basti Ecosystems,cleantech,operating,2008-08-20,IND,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

###### Mapping related people, financial orgs and products to fill out remaining start date gaps

In [43]:
# Starting with products:
# 1. Filtering products in the original df

products_df = objects_clean1[objects_clean1['entity_type']=='Product']
products_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [44]:
# 2. Dropping null values in parent_id 
products_clean_df= products_df[products_df['parent_id'].notnull()]
products_clean_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [45]:
products_clean_df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['object_id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'category_code', 'status', 'start_dates', 'founded_at',
       'first_investment_at', 'first_funding_at', 'country_code', 'state_code',
       'city', 'region', 'investment_rounds', 'invested_companies',
       'funding_rounds', 'closed_at', 'last_investment_at', 'last_funding_at',
       'funding_total_usd', 'first_milestone_at', 'last_milestone_at',
       'milestones', 'relationships'],
      dtype='object')>

In [46]:
# Dropping all redundant columns
products_clean1_df = products_clean_df.drop(['entity_type', 'entity_id', 
       'category_code', 'start_dates', 'first_investment_at', 'first_funding_at', 'country_code', 'state_code',
       'city', 'region', 'investment_rounds', 'invested_companies',
       'funding_rounds', 'closed_at', 'last_investment_at', 'last_funding_at',
       'funding_total_usd', 'first_milestone_at', 'last_milestone_at',
       'milestones', 'relationships'], axis=1)
products_clean1_df

,object_id,parent_id,name,status,founded_at
434913,r:1,c:1,Wikison Wetpaint,live,2006-06-01
434914,r:10,c:16,Slacker Web Player,operating,2007-06-05
434915,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
434916,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
434917,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
462646,r:9995,c:14164,"SiteLink, listing feed for Brokerages",operating,NaT
462647,r:9996,c:14164,"EDCLink, listing feed for Economic Development...",operating,NaT
462648,r:9997,c:14164,"Cmail, broadcast email marketing",operating,NaT
462649,r:9998,c:14164,"CatylistCRM, contact database",operating,NaT
462650,r:9999,c:14164,Catylist Custom Print/Web Design,operating,NaT

In [47]:
# Dropping missing values
product_cleaned = products_clean1_df[products_clean1_df['founded_at'].notna()]
product_cleaned

,object_id,parent_id,name,status,founded_at
434913,r:1,c:1,Wikison Wetpaint,live,2006-06-01
434914,r:10,c:16,Slacker Web Player,operating,2007-06-05
434915,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
434932,r:10018,c:14201,Feedmyapp,live,2007-06-05
434935,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
462629,r:9971,c:14132,Vamooz,beta,2008-11-27
462634,r:9976,c:14141,Pintarget.com,live,2009-08-01
462636,r:9978,c:14145,LumoFlow,live,2008-01-01
462637,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
462642,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [48]:
# Resetting index
product_cleaned.reset_index(inplace=True, drop=True)
product_cleaned

,object_id,parent_id,name,status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10018,c:14201,Feedmyapp,live,2007-06-05
4,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
4586,r:9971,c:14132,Vamooz,beta,2008-11-27
4587,r:9976,c:14141,Pintarget.com,live,2009-08-01
4588,r:9978,c:14145,LumoFlow,live,2008-01-01
4589,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
4590,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [49]:
# Renaming columns
product_cleaned = product_cleaned.rename(columns = {'object_id':'product_id', 'parent_id':'object_id'})
product_cleaned

,product_id,object_id,name,status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10018,c:14201,Feedmyapp,live,2007-06-05
4,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
4586,r:9971,c:14132,Vamooz,beta,2008-11-27
4587,r:9976,c:14141,Pintarget.com,live,2009-08-01
4588,r:9978,c:14145,LumoFlow,live,2008-01-01
4589,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
4590,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [50]:
product_cleaned.dtypes

product_id            object
object_id             object
name                  object
status                object
founded_at    datetime64[ns]
dtype: object

In [51]:
product_grouped = product_cleaned.loc[product_cleaned.groupby('object_id').founded_at.idxmin()]
product_grouped

     product_id object_id               name       status founded_at
0           r:1       c:1   Wikison Wetpaint         live 2006-06-01
3836        r:5      c:10            Flektor  development 2011-09-01
4154     r:7025   c:10002          Blogotour         live 2006-01-28
4156     r:7036   c:10012    moviestring.com         live 2008-08-09
4158     r:7088   c:10053             FeedZa         beta 2008-08-26
...         ...       ...                ...          ...        ...
4146     r:6968    c:9922           DataCove         live 2007-08-27
4293      r:810     c:993        HereOrThere         live 2007-09-27
4150     r:7007    c:9962          Wikimapia         live 2006-05-24
4151     r:7008    c:9977   Carticipate v1.4         live 2008-10-23
4299      r:816     c:999  buddystumbler.com    operating 2008-01-01

[3424 rows x 5 columns]

In [52]:
# Testing the result
product_grouped.loc[product_grouped['object_id'] == 'c:14585']

   product_id object_id       name status founded_at
28    r:10304   c:14585  VoltaicHD   live 2007-06-30

In [53]:
product_cleaned.loc[product_cleaned['object_id'] == 'c:14585']

   product_id object_id           name status founded_at
28    r:10304   c:14585      VoltaicHD   live 2007-06-30
29    r:10305   c:14585     RevolverHD   live 2008-05-10
30    r:10306   c:14585  HD Quick Look   live 2008-08-12
31    r:10307   c:14585     FlamingoHD   live 2007-10-01

In [54]:
# Now we need to join two tables
companies_prod = pd.merge(companies_df_new, product_grouped, how='left', on = ['object_id'])
companies_prod

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,NaT,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

In [55]:
companies_prod.dtypes

object_id                     object
entity_type                   object
entity_id                     object
parent_id                     object
name_x                        object
category_code                 object
status_x                      object
start_dates           datetime64[ns]
country_code                  object
state_code                    object
city                          object
region                        object
investment_rounds              int64
invested_companies             int64
funding_rounds                 int64
closed_at             datetime64[ns]
last_investment_at    datetime64[ns]
last_funding_at       datetime64[ns]
funding_total_usd            float64
first_milestone_at    datetime64[ns]
last_milestone_at     datetime64[ns]
milestones                     int64
relationships                  int64
product_id                    object
name_y                        object
status_y                      object
founded_at            datetime64[ns]
dtype: object

In [56]:
def min_if_missing(a,b):
    if not a:
        return min(a,b)
    else:
        return a

In [57]:
companies_prod['start_dates'] = companies_prod.apply(lambda row : min_if_missing(row['start_dates'], row['founded_at']), axis = 1)

In [58]:
companies_prod

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,NaT,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

In [59]:
companies_prod[companies_prod['start_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
5,c:10002,Company,10002,NaN,Synergie Media,advertising,operating,2007-06-27,MAR,NaN,...,NaT,0.0,NaT,NaT,0,2,r:7025,Blogotour,live,2006-01-28
6,c:10003,Company,10003,NaN,Green Basti Ecosystems,cleantech,operating,2008-08-20,IND,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

###### Checking results

In [60]:
# Before applying products data to companies
companies_df_new[companies_df_new['start_dates'].notna()].count()

object_id             91227
entity_type           91227
entity_id             91227
parent_id                 0
name                  91227
category_code         88320
status                91227
start_dates           91227
country_code          66467
state_code            38179
city                  63991
region                91227
investment_rounds     91227
invested_companies    91227
funding_rounds        91227
closed_at              2011
last_investment_at      884
last_funding_at       24301
funding_total_usd     91227
first_milestone_at    43486
last_milestone_at     43486
milestones            91227
relationships         91227
dtype: int64

###### Product dates didn't add any values to start dates

After a more close look at the 'Funding orgs' and 'Person' objects we found out that the dates there cannot be used for defining the start date of a company. One financial org could have funded multiple startups and one startup could be funded by various financial orgs. 
Similarly, Persons found in 'Relationships' table provide us with information when they started working in a company which cannot tell us when the company started its business.

So far, we have only 91227 records of start dates out of 196553 total records.

###### We will check 'Funding Rounds' table as well to see if we can find start dates to fill the gaps

Fahima is taking care of that part and this is a placeholder for the code.

###### Pulling all product objects to companies to find out relationships

In [61]:
products_df.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [62]:
products_clean_df= products_df[products_df['parent_id'].notnull()]
products_clean_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [63]:
products_col_drop_df = products_clean_df.drop(['entity_type', 'entity_id', 
       'category_code', 'start_dates', 'first_investment_at', 'first_funding_at', 'country_code', 'state_code',
       'city', 'region', 'investment_rounds', 'invested_companies',
       'funding_rounds', 'closed_at', 'last_investment_at', 'last_funding_at',
       'funding_total_usd', 'first_milestone_at', 'last_milestone_at',
       'milestones', 'relationships'], axis=1)
products_col_drop_df

,object_id,parent_id,name,status,founded_at
434913,r:1,c:1,Wikison Wetpaint,live,2006-06-01
434914,r:10,c:16,Slacker Web Player,operating,2007-06-05
434915,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
434916,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
434917,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
462646,r:9995,c:14164,"SiteLink, listing feed for Brokerages",operating,NaT
462647,r:9996,c:14164,"EDCLink, listing feed for Economic Development...",operating,NaT
462648,r:9997,c:14164,"Cmail, broadcast email marketing",operating,NaT
462649,r:9998,c:14164,"CatylistCRM, contact database",operating,NaT
462650,r:9999,c:14164,Catylist Custom Print/Web Design,operating,NaT

In [64]:
products_col_drop_df.reset_index(inplace=True, drop=True)
products_col_drop_df

,object_id,parent_id,name,status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
4,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
27710,r:9995,c:14164,"SiteLink, listing feed for Brokerages",operating,NaT
27711,r:9996,c:14164,"EDCLink, listing feed for Economic Development...",operating,NaT
27712,r:9997,c:14164,"Cmail, broadcast email marketing",operating,NaT
27713,r:9998,c:14164,"CatylistCRM, contact database",operating,NaT
27714,r:9999,c:14164,Catylist Custom Print/Web Design,operating,NaT

In [65]:
product_col_ren = products_col_drop_df.rename(columns = {'object_id':'product_id', 'parent_id':'object_id', 'name':'product_name', 'status':'product_status'})
product_col_ren

,product_id,object_id,product_name,product_status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
4,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
27710,r:9995,c:14164,"SiteLink, listing feed for Brokerages",operating,NaT
27711,r:9996,c:14164,"EDCLink, listing feed for Economic Development...",operating,NaT
27712,r:9997,c:14164,"Cmail, broadcast email marketing",operating,NaT
27713,r:9998,c:14164,"CatylistCRM, contact database",operating,NaT
27714,r:9999,c:14164,Catylist Custom Print/Web Design,operating,NaT

In [66]:
product_unique = product_col_ren.drop_duplicates(subset=['object_id'], keep='first')
product_unique

,product_id,object_id,product_name,product_status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
4,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
27700,r:9978,c:14145,LumoFlow,live,2008-01-01
27704,r:9988,c:14154,DailyBread365 e-program,operating,NaT
27706,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01
27708,r:9993,c:14156,pomeloTV,operating,NaT
27709,r:9994,c:14164,CIQ Membership,operating,NaT

In [67]:
companies_prod_mapping = pd.merge(companies_df_new, product_unique, how='left', on = ['object_id'])
companies_prod_mapping

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,product_name,product_status,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,NaT,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,r:36339,eCC,operating,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

In [68]:
# Adding a product label for companies:
# 0 - no product
# 1 - with product
companies_prod_mapping["product_label"] = ""
companies_prod_mapping.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,product_name,product_status,founded_at,product_label
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01,
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01,
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT,
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT,
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT,

In [69]:
companies_prod_mapping.columns.to_list()

['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'start_dates',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'product_id',
 'product_name',
 'product_status',
 'founded_at',
 'product_label']

In [70]:
prod_mapped = companies_prod_mapping[['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'product_label',
 'product_id',
 'category_code',
 'status',
 'start_dates',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']]
prod_mapped

,object_id,entity_type,entity_id,parent_id,name,product_label,product_id,category_code,status,start_dates,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,,r:1,web,operating,2005-10-01,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,,r:5,games_video,acquired,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,,NaN,games_video,acquired,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,,NaN,network_hosting,operating,2008-07-26,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,,NaN,games_video,operating,2008-07-26,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,,r:36339,ecommerce,operating,2007-01-01,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,,NaN,public_relations,operating,2007-11-01,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,,NaN,consulting,operating,1959-01-01,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,,NaN,search,operating,2008-07-01,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,,NaN,ecommerce,operating,2007-09-01,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

In [71]:
def labeling(a):
    if pd.isnull(a):
        return 0
    else:
        return 1

In [72]:
prod_mapped['product_label'] = prod_mapped.apply(lambda row : labeling(row['product_id']), axis = 1)

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
prod_mapped

,object_id,entity_type,entity_id,parent_id,name,product_label,product_id,category_code,status,start_dates,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,1,r:1,web,operating,2005-10-01,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,1,r:5,games_video,acquired,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,0,NaN,games_video,acquired,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,0,NaN,network_hosting,operating,2008-07-26,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,0,NaN,games_video,operating,2008-07-26,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,1,r:36339,ecommerce,operating,2007-01-01,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,0,NaN,public_relations,operating,2007-11-01,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,0,NaN,consulting,operating,1959-01-01,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidate,0,NaN,search,operating,2008-07-01,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,0,NaN,ecommerce,operating,2007-09-01,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

###### Drop redundant columns when confirmed that we dont't need them

##### Loading acqusitions and ipos

In [74]:

s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)
my_bucket = s3.Bucket('team3-final-bucket')
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_clean/'

team3-final-bucket
wshih-bucket

###### Acquired

In [75]:
acquire_df= pd.read_csv(path + 'acquisitions_clean.csv')
acquire_df

,Unnamed: 0,object_id,object_id.1,term_code,price_amount,price_currency_code,acquired_at
0,0,c:11,c:10,NaN,2.000000e+07,USD,5/30/2007
1,1,c:59,c:72,cash,6.000000e+07,USD,7/1/2007
2,2,c:24,c:132,cash,2.800000e+08,USD,5/1/2007
3,3,c:59,c:155,cash,1.000000e+08,USD,6/1/2007
4,4,c:212,c:215,cash,2.500000e+07,USD,7/1/2007
...,...,...,...,...,...,...,...
9557,9557,c:267859,c:285995,stock,2.220000e+08,USD,12/11/2013
9558,9558,c:285493,c:286006,NaN,0.000000e+00,USD,12/9/2013
9559,9559,c:223792,c:220208,NaN,2.600000e+10,USD,7/3/2007
9560,9560,c:227620,c:286176,cash,5.240000e+07,USD,12/12/2013
9561,9561,c:53,c:92846,NaN,4.260000e+07,USD,12/12/2013

In [76]:
acquire_df = acquire_df.rename(columns = {'object_id':'acquirer', 'object_id.1':'object_id'})
acquire_df

,Unnamed: 0,acquirer,object_id,term_code,price_amount,price_currency_code,acquired_at
0,0,c:11,c:10,NaN,2.000000e+07,USD,5/30/2007
1,1,c:59,c:72,cash,6.000000e+07,USD,7/1/2007
2,2,c:24,c:132,cash,2.800000e+08,USD,5/1/2007
3,3,c:59,c:155,cash,1.000000e+08,USD,6/1/2007
4,4,c:212,c:215,cash,2.500000e+07,USD,7/1/2007
...,...,...,...,...,...,...,...
9557,9557,c:267859,c:285995,stock,2.220000e+08,USD,12/11/2013
9558,9558,c:285493,c:286006,NaN,0.000000e+00,USD,12/9/2013
9559,9559,c:223792,c:220208,NaN,2.600000e+10,USD,7/3/2007
9560,9560,c:227620,c:286176,cash,5.240000e+07,USD,12/12/2013
9561,9561,c:53,c:92846,NaN,4.260000e+07,USD,12/12/2013

In [77]:
acquire_clean_df = acquire_df[acquire_df['acquired_at'].notnull()]
acquire_clean_df

,Unnamed: 0,acquirer,object_id,term_code,price_amount,price_currency_code,acquired_at
0,0,c:11,c:10,NaN,2.000000e+07,USD,5/30/2007
1,1,c:59,c:72,cash,6.000000e+07,USD,7/1/2007
2,2,c:24,c:132,cash,2.800000e+08,USD,5/1/2007
3,3,c:59,c:155,cash,1.000000e+08,USD,6/1/2007
4,4,c:212,c:215,cash,2.500000e+07,USD,7/1/2007
...,...,...,...,...,...,...,...
9557,9557,c:267859,c:285995,stock,2.220000e+08,USD,12/11/2013
9558,9558,c:285493,c:286006,NaN,0.000000e+00,USD,12/9/2013
9559,9559,c:223792,c:220208,NaN,2.600000e+10,USD,7/3/2007
9560,9560,c:227620,c:286176,cash,5.240000e+07,USD,12/12/2013
9561,9561,c:53,c:92846,NaN,4.260000e+07,USD,12/12/2013

In [78]:
acquire_clean_df.dtypes

Unnamed: 0               int64
acquirer                object
object_id               object
term_code               object
price_amount           float64
price_currency_code     object
acquired_at             object
dtype: object

In [79]:
acquire_clean_df['acquired_at'] = pd.to_datetime(acquire_clean_df.acquired_at)

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
acquire_clean_df.dtypes

Unnamed: 0                      int64
acquirer                       object
object_id                      object
term_code                      object
price_amount                  float64
price_currency_code            object
acquired_at            datetime64[ns]
dtype: object

In [81]:
acquired_grouped = acquire_clean_df.loc[acquire_clean_df.groupby('object_id').acquired_at.idxmin()]
acquired_grouped

,Unnamed: 0,acquirer,object_id,term_code,price_amount,price_currency_code,acquired_at
0,0,c:11,c:10,NaN,20000000.0,USD,2007-05-30
13,13,c:377,c:100,cash,0.0,USD,2005-05-29
1650,1650,c:5,c:1001,cash_and_stock,47500000.0,USD,2009-08-10
3507,3507,c:23054,c:10014,NaN,0.0,USD,2010-09-30
5613,5613,c:38215,c:100265,NaN,0.0,USD,2011-09-06
...,...,...,...,...,...,...,...
8788,8788,c:267149,c:9949,NaN,400000000.0,USD,2013-09-25
6623,6623,c:161312,c:99685,stock,4800000.0,USD,2011-08-01
64,64,c:29,c:997,cash,350000000.0,USD,2007-09-01
5933,5933,c:67724,c:99737,NaN,0.0,USD,2011-11-30
1523,1523,c:4447,c:999,NaN,113000.0,USD,2008-07-09

In [82]:
acquired_grouped.columns.to_list()

['Unnamed: 0',
 'acquirer',
 'object_id',
 'term_code',
 'price_amount',
 'price_currency_code',
 'acquired_at']

In [83]:
# Keeping only two columns
acquired_dates = acquired_grouped[[
 'object_id',
 'acquired_at']]

In [84]:
acquired_dates = acquired_dates.rename(columns = {'acquired_at':'date'})
acquired_dates

     object_id       date
0         c:10 2007-05-30
13       c:100 2005-05-29
1650    c:1001 2009-08-10
3507   c:10014 2010-09-30
5613  c:100265 2011-09-06
...        ...        ...
8788    c:9949 2013-09-25
6623   c:99685 2011-08-01
64       c:997 2007-09-01
5933   c:99737 2011-11-30
1523     c:999 2008-07-09

[9383 rows x 2 columns]

###### IPOs

In [85]:
ipos_df= pd.read_csv(path + 'ipo_clean.csv')
ipos_df

,Unnamed: 0,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
0,0,c:1654,0.000000e+00,USD,0.000000e+00,USD,1980-12-19,NASDAQ:AAPL
1,1,c:1242,0.000000e+00,USD,0.000000e+00,NaN,1986-03-13,NASDAQ:MSFT
2,2,c:342,0.000000e+00,USD,0.000000e+00,NaN,1969-06-09,NYSE:DIS
3,3,c:59,0.000000e+00,USD,0.000000e+00,NaN,2004-08-25,NASDAQ:GOOG
4,4,c:317,1.000000e+11,USD,0.000000e+00,NaN,1997-05-01,NASDAQ:AMZN
...,...,...,...,...,...,...,...,...
1254,1254,c:267859,0.000000e+00,USD,0.000000e+00,USD,NaN,NYSE:EBS
1255,1255,c:39330,0.000000e+00,USD,7.250000e+08,USD,2013-12-11,NYSE:ARMK
1256,1256,c:220208,0.000000e+00,USD,2.350000e+09,USD,2008-12-08,NYSE:HLT
1257,1257,c:243568,0.000000e+00,USD,0.000000e+00,USD,NaN,OTC:BCLI
1258,1258,c:235945,0.000000e+00,USD,5.300000e+07,USD,NaN,NASDAQ:KIN

In [86]:
ipos_clean_df = ipos_df[ipos_df['public_at'].notnull()]
ipos_clean_df

,Unnamed: 0,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
0,0,c:1654,0.000000e+00,USD,0.000000e+00,USD,1980-12-19,NASDAQ:AAPL
1,1,c:1242,0.000000e+00,USD,0.000000e+00,NaN,1986-03-13,NASDAQ:MSFT
2,2,c:342,0.000000e+00,USD,0.000000e+00,NaN,1969-06-09,NYSE:DIS
3,3,c:59,0.000000e+00,USD,0.000000e+00,NaN,2004-08-25,NASDAQ:GOOG
4,4,c:317,1.000000e+11,USD,0.000000e+00,NaN,1997-05-01,NASDAQ:AMZN
...,...,...,...,...,...,...,...,...
1250,1250,c:157681,0.000000e+00,USD,0.000000e+00,USD,2009-08-28,NYSE:CFN
1252,1252,c:36508,0.000000e+00,USD,4.300000e+07,USD,2013-12-11,TYO:3681
1253,1253,c:152753,0.000000e+00,USD,0.000000e+00,USD,1985-12-05,NASDAQ:COST
1255,1255,c:39330,0.000000e+00,USD,7.250000e+08,USD,2013-12-11,NYSE:ARMK
1256,1256,c:220208,0.000000e+00,USD,2.350000e+09,USD,2008-12-08,NYSE:HLT

In [87]:
ipos_clean_df.dtypes

Unnamed: 0                   int64
object_id                   object
valuation_amount           float64
valuation_currency_code     object
raised_amount              float64
raised_currency_code        object
public_at                   object
stock_symbol                object
dtype: object

In [88]:
ipos_clean_df['public_at'] = pd.to_datetime(ipos_clean_df.public_at, format='%Y-%m-%d')

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
ipos_grouped = ipos_clean_df.loc[ipos_clean_df.groupby('object_id').public_at.idxmin()]
ipos_grouped

,Unnamed: 0,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
940,940,c:100844,0.0,USD,0.0,USD,2007-08-01,ATTU
1017,1017,c:10106,0.0,USD,0.0,USD,2002-06-21,NYSE:TRI
740,740,c:10222,0.0,USD,0.0,USD,1978-01-13,NYSE:HIT
849,849,c:104377,0.0,USD,75000000.0,USD,2013-06-27,NYSE:TRMR
1027,1027,c:10453,0.0,USD,0.0,USD,2011-06-24,NYSE:RATE
...,...,...,...,...,...,...,...,...
440,440,c:9636,117900.0,JPY,0.0,NaN,2005-02-16,1254
25,25,c:966,0.0,USD,0.0,USD,1986-04-11,NYSE:EMC
1055,1055,c:9743,0.0,USD,0.0,USD,2012-07-27,NYSE:PANW
1049,1049,c:988,0.0,USD,0.0,USD,2008-01-11,NASDAQ:SATS
699,699,c:9931,0.0,USD,0.0,NaN,2011-06-09,NASDAQ:PKT

In [90]:
ipos_grouped.columns.to_list()

['Unnamed: 0',
 'object_id',
 'valuation_amount',
 'valuation_currency_code',
 'raised_amount',
 'raised_currency_code',
 'public_at',
 'stock_symbol']

In [91]:
# Keeping only two columns
ipos_dates = ipos_grouped[[
 'object_id',
 'public_at']]

In [92]:
ipos_dates = ipos_dates.rename(columns = {'public_at':'date'})
ipos_dates

     object_id       date
940   c:100844 2007-08-01
1017   c:10106 2002-06-21
740    c:10222 1978-01-13
849   c:104377 2013-06-27
1027   c:10453 2011-06-24
...        ...        ...
440     c:9636 2005-02-16
25       c:966 1986-04-11
1055    c:9743 2012-07-27
1049     c:988 2008-01-11
699     c:9931 2011-06-09

[659 rows x 2 columns]

In [93]:
# Concatinating the two dfs
frames = [acquired_dates, ipos_dates]
dates_result = pd.concat(frames)
dates_result

     object_id       date
0         c:10 2007-05-30
13       c:100 2005-05-29
1650    c:1001 2009-08-10
3507   c:10014 2010-09-30
5613  c:100265 2011-09-06
...        ...        ...
440     c:9636 2005-02-16
25       c:966 1986-04-11
1055    c:9743 2012-07-27
1049     c:988 2008-01-11
699     c:9931 2011-06-09

[10042 rows x 2 columns]

In [94]:
# Pulling compiled dates from Fahima's code
end_dates_df = pd.read_csv('Resources/end_dates.csv')
end_dates_df

,object_id_x,entity_type,parent_id_x,name_x,category_code,status_x,start_dates_x,country_code,state_code,city,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,object_id_y,parent_id_y,name_y,status_y,start_dates_y
0,c:10014,Company,NaN,Mobclix,mobile,acquired,2008-03-01,USA,CA,Palo Alto,...,0.0,1995-03-01,2012-09-18,4,9,r:24273,c:63824,MyRichUncle Student Loans,closed,NaN
1,c:11685,Company,NaN,SnackFeed,games_video,operating,2008-09-01,NaN,NaN,NaN,...,0.0,2008-12-26,2008-12-26,1,0,r:24273,c:63824,MyRichUncle Student Loans,closed,NaN
2,c:12851,Company,NaN,Stupeflix,web,operating,2008-09-01,FRA,NaN,Paris,...,0.0,2008-08-15,2010-05-06,2,4,r:24273,c:63824,MyRichUncle Student Loans,closed,NaN
3,c:13517,Company,NaN,SpiceCSM,enterprise,operating,2008-09-01,USA,NY,Potsdam,...,1000000.0,NaN,NaN,0,6,r:24273,c:63824,MyRichUncle Student Loans,closed,NaN
4,c:1373,Company,NaN,RescueTime,web,operating,2007-04-01,USA,WA,Seattle,...,920000.0,2008-05-01,2013-01-01,3,13,r:24273,c:63824,MyRichUncle Student Loans,closed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10294,c:53443,Company,NaN,AppMakr,mobile,acquired,2010-01-01,SGP,NaN,Singapore,...,1000000.0,2010-10-25,2013-08-21,3,8,r:21572,c:41829,Sociaholic,closed,NaN
10295,c:60033,Company,NaN,Guanya Education Group,education,operating,NaN,NaN,NaN,NaN,...,4000000.0,NaN,NaN,0,0,r:21572,c:41829,Sociaholic,closed,NaN
10296,c:60117,Company,NaN,DiagnosisOne,biotech,operating,1999-01-01,USA,MA,Lowell,...,5000000.0,2010-07-01,2010-11-08,2,5,r:21572,c:41829,Sociaholic,closed,NaN
10297,c:60127,Company,NaN,QderoPateo Communications,messaging,operating,NaN,CHN,NaN,Tianjin,...,3400000.0,NaN,NaN,0,2,r:21572,c:41829,Sociaholic,closed,NaN
10298,c:6151,Company,NaN,TuneCore,games_video,operating,2005-11-01,USA,NY,Brooklyn,...,7000000.0,2008-10-26,2013-01-01,2,20,r:14805,c:20868,Sowre iSurvey,closed,NaN

In [95]:
end_dates_df.columns.to_list()

['object_id_x',
 'entity_type',
 'parent_id_x',
 'name_x',
 'category_code',
 'status_x',
 'start_dates_x',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'end_dates',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'object_id_y',
 'parent_id_y',
 'name_y',
 'status_y',
 'start_dates_y']

In [96]:
# Keeping only two columns
end_dates = end_dates_df[[
 'object_id_x',
 'end_dates']]
end_dates

      object_id_x   end_dates
0         c:10014  2008-09-01
1         c:11685  2008-09-01
2         c:12851  2008-09-01
3         c:13517  2008-09-01
4          c:1373  2008-09-01
...           ...         ...
10294     c:53443  2010-10-25
10295     c:60033  2010-10-25
10296     c:60117  2010-10-25
10297     c:60127  2010-10-25
10298      c:6151  2008-10-26

[10299 rows x 2 columns]

In [97]:
end_dates = end_dates.rename(columns = {'object_id_x':'object_id'})
end_dates

      object_id   end_dates
0       c:10014  2008-09-01
1       c:11685  2008-09-01
2       c:12851  2008-09-01
3       c:13517  2008-09-01
4        c:1373  2008-09-01
...         ...         ...
10294   c:53443  2010-10-25
10295   c:60033  2010-10-25
10296   c:60117  2010-10-25
10297   c:60127  2010-10-25
10298    c:6151  2008-10-26

[10299 rows x 2 columns]

In [98]:
# Merging dfs - pulling all end dated and start dates together
companies_compiled = pd.merge(companies_prod, end_dates, how='left', on = ['object_id'])
companies_compiled

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at,end_dates
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01,NaN
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01,NaN
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202606,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT,NaN
202607,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT,NaN
202608,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT,NaN
202609,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01
202610,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01

In [108]:
companies_prod.to_csv('companies_prod.csv', sep=',', index=False)
end_dates.to_csv('end_dates.csv', sep=',', index=False)

In [99]:
#Adding acquired / ipos dates
companies_final = pd.merge(companies_compiled, dates_result, how='left', on=['object_id'])
companies_final

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at,end_dates,date
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01,NaN,NaT
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01,NaN,2007-05-30
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT,NaN,2005-05-29
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,NaT,0,0,NaN,NaN,NaN,NaT,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,NaT,0,0,NaN,NaN,NaN,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202657,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT,NaN,NaT
202658,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT,NaN,NaT
202659,c:9997,Company,9997,NaN,Top-candidate,search,operating,2008-07-01,USA,CA,...,NaT,NaT,0,1,NaN,NaN,NaN,NaT,NaN,NaT
202660,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT
202661,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT

###### The number of rows are increasing regardless of using left join - need to check

###### Now we need to apply the function that will check for missing dates and add data from acquired/ipos

In [100]:
# Checking the numbers of notnull records in end_dates column before applying the function
companies_final[companies_final['end_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at,end_dates,date
18,c:10014,Company,10014,NaN,Mobclix,mobile,acquired,2008-03-01,USA,CA,...,1995-03-01,2012-09-18,4,9,NaN,NaN,NaN,NaT,2008-09-01,2010-09-30
41,c:10026,Company,10026,NaN,Wevod,games_video,operating,2006-05-04,FRA,NaN,...,NaT,NaT,0,2,NaN,NaN,NaN,NaT,2007-10-01,NaT
48,c:1003,Company,1003,NaN,Wikinvest,web,operating,2006-01-01,USA,CA,...,2010-07-01,2012-05-01,2,7,NaN,NaN,NaN,NaT,2007-10-01,NaT
72,c:1006,Company,1006,NaN,Youlicit,web,closed,2006-09-01,USA,NY,...,NaT,NaT,0,5,r:825,Youlicit,operating,2008-01-01,2008-01-01,NaT
75,c:10062,Company,10062,NaN,Workstir,web,closed,NaT,USA,CA,...,2008-11-12,2009-04-01,2,4,NaN,NaN,NaN,NaT,2009-06-01,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202625,c:99685,Company,99685,NaN,Symbyo Dental,biotech,acquired,2009-06-01,NaN,NaN,...,2009-06-01,2009-06-01,1,1,NaN,NaN,NaN,NaT,2009-08-01,2011-08-01
202626,c:99685,Company,99685,NaN,Symbyo Dental,biotech,acquired,2009-06-01,NaN,NaN,...,2009-06-01,2009-06-01,1,1,NaN,NaN,NaN,NaT,2009-08-01,2011-08-01
202655,c:9994,Company,9994,NaN,Imindi,advertising,operating,2007-01-01,NaN,NaN,...,2009-08-27,2009-08-27,1,2,NaN,NaN,NaN,NaT,2008-05-01,NaT
202660,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT
202661,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT

In [101]:
def min_if_missing(a,b):
    if not a:
        return min(a,b)
    else:
        return a

In [102]:
companies_final['end_dates'] = companies_final.apply(lambda row : min_if_missing(row['end_dates'], row['date']), axis = 1)

In [103]:
# Checking results - the number of records 
companies_final[companies_final['end_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at,end_dates,date
18,c:10014,Company,10014,NaN,Mobclix,mobile,acquired,2008-03-01,USA,CA,...,1995-03-01,2012-09-18,4,9,NaN,NaN,NaN,NaT,2008-09-01,2010-09-30
41,c:10026,Company,10026,NaN,Wevod,games_video,operating,2006-05-04,FRA,NaN,...,NaT,NaT,0,2,NaN,NaN,NaN,NaT,2007-10-01,NaT
48,c:1003,Company,1003,NaN,Wikinvest,web,operating,2006-01-01,USA,CA,...,2010-07-01,2012-05-01,2,7,NaN,NaN,NaN,NaT,2007-10-01,NaT
72,c:1006,Company,1006,NaN,Youlicit,web,closed,2006-09-01,USA,NY,...,NaT,NaT,0,5,r:825,Youlicit,operating,2008-01-01,2008-01-01,NaT
75,c:10062,Company,10062,NaN,Workstir,web,closed,NaT,USA,CA,...,2008-11-12,2009-04-01,2,4,NaN,NaN,NaN,NaT,2009-06-01,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202625,c:99685,Company,99685,NaN,Symbyo Dental,biotech,acquired,2009-06-01,NaN,NaN,...,2009-06-01,2009-06-01,1,1,NaN,NaN,NaN,NaT,2009-08-01,2011-08-01
202626,c:99685,Company,99685,NaN,Symbyo Dental,biotech,acquired,2009-06-01,NaN,NaN,...,2009-06-01,2009-06-01,1,1,NaN,NaN,NaN,NaT,2009-08-01,2011-08-01
202655,c:9994,Company,9994,NaN,Imindi,advertising,operating,2007-01-01,NaN,NaN,...,2009-08-27,2009-08-27,1,2,NaN,NaN,NaN,NaT,2008-05-01,NaT
202660,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT
202661,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT,2008-06-01,NaT

##### 10299 vs 10299 - no values added

In [104]:
companies_final.columns.to_list()

['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name_x',
 'category_code',
 'status_x',
 'start_dates',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships',
 'product_id',
 'name_y',
 'status_y',
 'founded_at',
 'end_dates',
 'date']

In [105]:
# bucket = 'team3-final-bucket' # already created on S3
# csv_buffer = StringIO()
# objects_clean.to_csv(csv_buffer)
# s3.Object('team3-final-bucket', 'objects_clean.csv').put(Body=csv_buffer.getvalue())

# Relationships

# Acquisitions

#  Milestones

# Offices

# People

# Funds

# Investments

# funding_rounds

# degrees

In [106]:
# db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"

###### Creating a correclation matrix

In [110]:
# Features first
features = companies_final[['category_code', 'city', 'status_x']]
features

           category_code               city   status_x
0                    web            Seattle  operating
1            games_video        Culver City   acquired
2            games_video          San Mateo   acquired
3        network_hosting                NaN  operating
4            games_video                NaN  operating
...                  ...                ...        ...
202657  public_relations           San Jose  operating
202658        consulting       Falls Church  operating
202659            search        Los Angeles  operating
202660         ecommerce  Pacific Palisades  operating
202661         ecommerce  Pacific Palisades  operating

[202662 rows x 3 columns]

In [119]:
features_clean = features.dropna()
features_clean

           category_code               city   status_x
0                    web            Seattle  operating
1            games_video        Culver City   acquired
2            games_video          San Mateo   acquired
5            advertising             Agadir  operating
6              cleantech           Vadodara  operating
...                  ...                ...        ...
202657  public_relations           San Jose  operating
202658        consulting       Falls Church  operating
202659            search        Los Angeles  operating
202660         ecommerce  Pacific Palisades  operating
202661         ecommerce  Pacific Palisades  operating

[82271 rows x 3 columns]

In [127]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [130]:
data_encoded_df = features_clean.copy()
data_encoded_df.head()

  category_code         city   status_x
0           web      Seattle  operating
1   games_video  Culver City   acquired
2   games_video    San Mateo   acquired
5   advertising       Agadir  operating
6     cleantech     Vadodara  operating

In [131]:
data_encoded_df['category_code'] = le.fit_transform(features_clean['category_code'])
data_encoded_df.head()

   category_code         city   status_x
0             41      Seattle  operating
1             12  Culver City   acquired
2             12    San Mateo   acquired
5              0       Agadir  operating
6              4     Vadodara  operating

In [132]:
data_encoded_df['city'] = le.fit_transform(features_clean['city'])
data_encoded_df['status_x'] = le.fit_transform(features_clean['status_x'])
data_encoded_df.head()

   category_code  city  status_x
0             41  7862         3
1             12  2083         0
2             12  7671         0
5              0   188         3
6              4  9033         3

In [116]:
# features_clean.corr()

In [133]:
corrMatrix = data_encoded_df.corr()

In [134]:
print(corrMatrix)

               category_code      city  status_x
category_code       1.000000  0.010514 -0.044026
city                0.010514  1.000000 -0.020263
status_x           -0.044026 -0.020263  1.000000

In [135]:
corrMatrix.style.background_gradient(cmap='coolwarm')