In [5]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
# from config import db_password
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit

In [2]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

3.889999999984184e-05

In [3]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [4]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationship_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv

In [6]:
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_raw/'

# IPOs

In [8]:
ipo_df= pd.read_csv(path + 'ipos.csv')
ipo_df.columns.tolist()

['id',
 'ipo_id',
 'object_id',
 'valuation_amount',
 'valuation_currency_code',
 'raised_amount',
 'raised_currency_code',
 'public_at',
 'stock_symbol',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [ ]:
# dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

#df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)

In [55]:

ipos_df = pd.read_csv('Resources/ipos.csv', parse_dates=['public_at'], date_parser=dateparse)
ipos_df.head()

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

TypeError: strptime() argument 1 must be str, not float

In [ ]:
# df['date'] = pd.to_datetime(df.date, format='%Y-%m-%d')

In [49]:
# Converting strings to date type
ipos_df['public_at'] = pd.to_datetime(ipos_df.public_at, format='%Y-%m-%d')

In [50]:
ipos_df.dtypes

id                                  int64
ipo_id                              int64
object_id                          object
valuation_amount                  float64
valuation_currency_code            object
raised_amount                     float64
raised_currency_code               object
public_at                  datetime64[ns]
stock_symbol                       object
source_url                         object
source_description                 object
created_at                         object
updated_at                         object
dtype: object

In [9]:
ipo_df.nunique()

id                         1259
ipo_id                     1259
object_id                  1253
valuation_amount            102
valuation_currency_code       5
raised_amount               114
raised_currency_code          5
public_at                   517
stock_symbol               1247
source_url                  191
source_description          177
created_at                 1258
updated_at                 1257
dtype: int64

In [10]:
ipo_df['valuation_currency_code'].unique()

array(['USD', 'JPY', nan, 'CAD', 'EUR', 'GBP'], dtype=object)

In [75]:
ipo_df['object_id'].unique()

array(['c:1654', 'c:1242', 'c:342', ..., 'c:220208', 'c:243568',
       'c:235945'], dtype=object)

In [85]:
ipo_clean = ipo_df.drop(columns={'id', 'ipo_id', 'source_url', 'source_description', 'created_at', 'updated_at'})
ipo_clean

,object_id,valuation_amount,valuation_currency_code,raised_amount,raised_currency_code,public_at,stock_symbol
0,c:1654,0.000000e+00,USD,0.000000e+00,USD,1980-12-19,NASDAQ:AAPL
1,c:1242,0.000000e+00,USD,0.000000e+00,NaN,1986-03-13,NASDAQ:MSFT
2,c:342,0.000000e+00,USD,0.000000e+00,NaN,1969-06-09,NYSE:DIS
3,c:59,0.000000e+00,USD,0.000000e+00,NaN,2004-08-25,NASDAQ:GOOG
4,c:317,1.000000e+11,USD,0.000000e+00,NaN,1997-05-01,NASDAQ:AMZN
...,...,...,...,...,...,...,...
1254,c:267859,0.000000e+00,USD,0.000000e+00,USD,NaN,NYSE:EBS
1255,c:39330,0.000000e+00,USD,7.250000e+08,USD,2013-12-11,NYSE:ARMK
1256,c:220208,0.000000e+00,USD,2.350000e+09,USD,2008-12-08,NYSE:HLT
1257,c:243568,0.000000e+00,USD,0.000000e+00,USD,NaN,OTC:BCLI
1258,c:235945,0.000000e+00,USD,5.300000e+07,USD,NaN,NASDAQ:KIN

In [110]:
bucket = 'team3-final-bucket' # already created on S3
csv_buffer = StringIO()
ipo_clean.to_csv(csv_buffer)
s3.Object(bucket, 'ipo_clean.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'DDBDA5FDACD8F149',
  'HostId': 'TM7LEIL99jhkUx5rBuylGqxMkjwxw+Eg+ZAyonZDPo18dBcXGoteWa+utiTOjr0l9rDhCgh0W+M=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'TM7LEIL99jhkUx5rBuylGqxMkjwxw+Eg+ZAyonZDPo18dBcXGoteWa+utiTOjr0l9rDhCgh0W+M=',
   'x-amz-request-id': 'DDBDA5FDACD8F149',
   'date': 'Mon, 27 Jul 2020 05:05:12 GMT',
   'etag': '"9aec0a48e74cb3b395b7b7f5872683f5"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9aec0a48e74cb3b395b7b7f5872683f5"'}

# Objects

#### Extracting data

In [7]:
# Objects cleaning
objects_df= pd.read_csv(path + 'objects.csv')
objects_df.columns.tolist()

KeyboardInterrupt:

In [138]:
from datetime import datetime

In [6]:
objects_df = pd.read_csv('Resources/objects.csv', dtype={'status':str, 'entity_id':str})
objects_df.head()

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [7]:
objects_df.dtypes

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [8]:
objects_df['category_code'].unique()

array(['web', 'games_video', 'network_hosting', 'advertising',
       'cleantech', nan, 'enterprise', 'other', 'consulting', 'mobile',
       'health', 'software', 'analytics', 'finance', 'education',
       'medical', 'manufacturing', 'biotech', 'ecommerce',
       'public_relations', 'hardware', 'search', 'news', 'government',
       'security', 'photo_video', 'travel', 'semiconductor', 'social',
       'legal', 'transportation', 'hospitality', 'sports', 'nonprofit',
       'fashion', 'messaging', 'music', 'automotive', 'design',
       'real_estate', 'local', 'nanotech', 'pets'], dtype=object)

In [9]:
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [10]:
is_string_dtype(objects_df['status'])

True

In [11]:
is_numeric_dtype(objects_df['status'])

False

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(objects_df.dtypes)

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [13]:
objects_df.head()

#id c:XXXX = company,  r:XXXX=product, f:XXXX=financial org, p:XXXX=person

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

#### Transforming data

In [14]:
objects_df = objects_df.rename(columns = {'id':'object_id'})
objects_df.head()

,object_id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

###### Dropping redundant columns

In [15]:
objects_clean = objects_df.drop(columns = {'permalink', 'created_by', 'created_at', 'updated_at', 'logo_url', 'logo_width', 'logo_height', 'overview', 'tag_list', 'domain', 'twitter_username', 'homepage_url', 'normalized_name', 'short_description','description'})
objects_clean

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

###### Converting date columns to date format

In [16]:
# Converting strings to date type
objects_clean['founded_at'] = pd.to_datetime(objects_clean.founded_at, format='%Y-%m-%d')
objects_clean['closed_at'] = pd.to_datetime(objects_clean.closed_at, format='%Y-%m-%d')
objects_clean['first_investment_at'] = pd.to_datetime(objects_clean.first_investment_at, format='%Y-%m-%d')
objects_clean['last_investment_at'] = pd.to_datetime(objects_clean.last_investment_at, format='%Y-%m-%d')
objects_clean['first_funding_at'] = pd.to_datetime(objects_clean.first_funding_at, format='%Y-%m-%d')
objects_clean['last_funding_at'] = pd.to_datetime(objects_clean.last_funding_at, format='%Y-%m-%d')
objects_clean['first_milestone_at'] = pd.to_datetime(objects_clean.first_milestone_at, format='%Y-%m-%d')
objects_clean['last_milestone_at'] = pd.to_datetime(objects_clean.last_milestone_at, format='%Y-%m-%d')

In [17]:
objects_clean.dtypes

object_id                      object
entity_type                    object
entity_id                      object
parent_id                      object
name                           object
category_code                  object
status                         object
founded_at             datetime64[ns]
closed_at              datetime64[ns]
country_code                   object
state_code                     object
city                           object
region                         object
first_investment_at    datetime64[ns]
last_investment_at     datetime64[ns]
investment_rounds               int64
invested_companies              int64
first_funding_at       datetime64[ns]
last_funding_at        datetime64[ns]
funding_rounds                  int64
funding_total_usd             float64
first_milestone_at     datetime64[ns]
last_milestone_at      datetime64[ns]
milestones                      int64
relationships                   int64
dtype: object

In [18]:
# Changing columns order
objects_clean.columns.to_list()

['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']

In [19]:
# Adding a new column for collecting dates

objects_clean["start_dates"] = ""
objects_clean.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,start_dates
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,USA,...,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,NaT,NaT,0,6,
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,2003-02-01,2011-09-23,4,12,
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,

In [20]:
objects_clean1 = objects_clean[['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'start_dates',
 'founded_at',
 'first_investment_at',
 'first_funding_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']]

In [21]:
objects_clean1.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [22]:
# Filtering 'companies' only
companies_df = objects_clean1[objects_clean1['entity_type']=='Company']
companies_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,,2007-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,,2007-11-01,NaT,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,,1959-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,,2007-09-01,NaT,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

###### Working on filling out gaps of start dates - pulling from different columns and related tables

In [23]:
# list =  [companies_df[['founded_at', 'first_investment_at', 'first_funding_at']].values]
# list

In [24]:
from datetime import datetime

In [25]:
# Filling out start dates gaps by combining dates from three columns of 'Companies':
# funded_at, first_investment_at, first_funding_at.
# If conflicting dates are found in one record, the earliest is taken.

def mindate(a,b,c):
    return min(a,b,c)

In [26]:
companies_df['start_dates'] = companies_df.apply(lambda row : mindate(row['founded_at'], 
                     row['first_investment_at'], row['first_funding_at']), axis = 1)

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
companies_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,2005-10-17,NaT,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,2008-07-26,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,2007-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,2007-11-01,NaT,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,1959-01-01,NaT,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,2007-09-01,NaT,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

In [28]:
# Dropping columns 
companies_df_new = companies_df.drop(companies_df[['founded_at','first_investment_at','first_funding_at']], axis=1)
companies_df_new

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

In [82]:
# Counting notnulls in start_dates
companies_df_new[companies_df_new['start_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,country_code,state_code,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,0,3,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
5,c:10002,Company,10002,NaN,Synergie Media,advertising,operating,2007-06-27,MAR,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,2
6,c:10003,Company,10003,NaN,Green Basti Ecosystems,cleantech,operating,2008-08-20,IND,NaN,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,0,1,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,0,0,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,USA,CA,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,0,1,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

###### Mapping related people, financial orgs and products to fill out remaining start date gaps

In [29]:
# Starting with products:
# 1. Filtering products in the original df

products_df = objects_clean1[objects_clean1['entity_type']=='Product']
products_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [32]:
# 2. Dropping null values in parent_id 
products_clean_df= products_df[products_df['parent_id'].notnull()]
products_clean_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,start_dates,founded_at,first_investment_at,...,invested_companies,funding_rounds,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
434913,r:1,Product,1,c:1,Wikison Wetpaint,NaN,live,,2006-06-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434914,r:10,Product,10,c:16,Slacker Web Player,NaN,operating,,2007-06-05,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434915,r:100,Product,100,c:1585,Vemo Enterprise Workforce Planning,NaN,live,,2008-07-01,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434916,r:10002,Product,10002,c:14171,dexmo.com - study and revision network,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
434917,r:10003,Product,10003,c:14173,VIrtual PBX Parachute,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,,NaT,NaT,...,0,0,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [33]:
products_clean_df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['object_id', 'entity_type', 'entity_id', 'parent_id', 'name',
       'category_code', 'status', 'start_dates', 'founded_at',
       'first_investment_at', 'first_funding_at', 'country_code', 'state_code',
       'city', 'region', 'investment_rounds', 'invested_companies',
       'funding_rounds', 'closed_at', 'last_investment_at', 'last_funding_at',
       'funding_total_usd', 'first_milestone_at', 'last_milestone_at',
       'milestones', 'relationships'],
      dtype='object')>

In [63]:
# Dropping all redundant columns
products_clean1_df = products_clean_df.drop(['entity_type', 'entity_id', 
       'category_code', 'start_dates', 'first_investment_at', 'first_funding_at', 'country_code', 'state_code',
       'city', 'region', 'investment_rounds', 'invested_companies',
       'funding_rounds', 'closed_at', 'last_investment_at', 'last_funding_at',
       'funding_total_usd', 'first_milestone_at', 'last_milestone_at',
       'milestones', 'relationships'], axis=1)
products_clean1_df

,object_id,parent_id,name,status,founded_at
434913,r:1,c:1,Wikison Wetpaint,live,2006-06-01
434914,r:10,c:16,Slacker Web Player,operating,2007-06-05
434915,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
434916,r:10002,c:14171,dexmo.com - study and revision network,operating,NaT
434917,r:10003,c:14173,VIrtual PBX Parachute,operating,NaT
...,...,...,...,...,...
462646,r:9995,c:14164,"SiteLink, listing feed for Brokerages",operating,NaT
462647,r:9996,c:14164,"EDCLink, listing feed for Economic Development...",operating,NaT
462648,r:9997,c:14164,"Cmail, broadcast email marketing",operating,NaT
462649,r:9998,c:14164,"CatylistCRM, contact database",operating,NaT
462650,r:9999,c:14164,Catylist Custom Print/Web Design,operating,NaT

In [64]:
# Dropping missing values
product_cleaned = products_clean1_df[products_clean1_df['founded_at'].notna()]
product_cleaned

,object_id,parent_id,name,status,founded_at
434913,r:1,c:1,Wikison Wetpaint,live,2006-06-01
434914,r:10,c:16,Slacker Web Player,operating,2007-06-05
434915,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
434932,r:10018,c:14201,Feedmyapp,live,2007-06-05
434935,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
462629,r:9971,c:14132,Vamooz,beta,2008-11-27
462634,r:9976,c:14141,Pintarget.com,live,2009-08-01
462636,r:9978,c:14145,LumoFlow,live,2008-01-01
462637,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
462642,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [65]:
# Resetting index
product_cleaned.reset_index(inplace=True, drop=True)
product_cleaned

,object_id,parent_id,name,status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10018,c:14201,Feedmyapp,live,2007-06-05
4,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
4586,r:9971,c:14132,Vamooz,beta,2008-11-27
4587,r:9976,c:14141,Pintarget.com,live,2009-08-01
4588,r:9978,c:14145,LumoFlow,live,2008-01-01
4589,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
4590,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [66]:
# Renaming columns
product_cleaned = product_cleaned.rename(columns = {'object_id':'product_id', 'parent_id':'object_id'})
product_cleaned

,product_id,object_id,name,status,founded_at
0,r:1,c:1,Wikison Wetpaint,live,2006-06-01
1,r:10,c:16,Slacker Web Player,operating,2007-06-05
2,r:100,c:1585,Vemo Enterprise Workforce Planning,live,2008-07-01
3,r:10018,c:14201,Feedmyapp,live,2007-06-05
4,r:10025,c:14202,VERDE,live,2013-10-01
...,...,...,...,...,...
4586,r:9971,c:14132,Vamooz,beta,2008-11-27
4587,r:9976,c:14141,Pintarget.com,live,2009-08-01
4588,r:9978,c:14145,LumoFlow,live,2008-01-01
4589,r:998,c:1164,Tech Advisors Network,operating,2007-12-30
4590,r:9991,c:14155,Ad-campaign visibility,live,2008-08-01

In [67]:
product_cleaned.dtypes

product_id            object
object_id             object
name                  object
status                object
founded_at    datetime64[ns]
dtype: object

In [68]:
product_grouped = product_cleaned.loc[product_cleaned.groupby('object_id').founded_at.idxmin()]
product_grouped

     product_id object_id               name       status founded_at
0           r:1       c:1   Wikison Wetpaint         live 2006-06-01
3836        r:5      c:10            Flektor  development 2011-09-01
4154     r:7025   c:10002          Blogotour         live 2006-01-28
4156     r:7036   c:10012    moviestring.com         live 2008-08-09
4158     r:7088   c:10053             FeedZa         beta 2008-08-26
...         ...       ...                ...          ...        ...
4146     r:6968    c:9922           DataCove         live 2007-08-27
4293      r:810     c:993        HereOrThere         live 2007-09-27
4150     r:7007    c:9962          Wikimapia         live 2006-05-24
4151     r:7008    c:9977   Carticipate v1.4         live 2008-10-23
4299      r:816     c:999  buddystumbler.com    operating 2008-01-01

[3424 rows x 5 columns]

In [69]:
# Testing the result
product_grouped.loc[product_grouped['object_id'] == 'c:14585']

   product_id object_id       name status founded_at
28    r:10304   c:14585  VoltaicHD   live 2007-06-30

In [70]:
product_cleaned.loc[product_cleaned['object_id'] == 'c:14585']

   product_id object_id           name status founded_at
28    r:10304   c:14585      VoltaicHD   live 2007-06-30
29    r:10305   c:14585     RevolverHD   live 2008-05-10
30    r:10306   c:14585  HD Quick Look   live 2008-08-12
31    r:10307   c:14585     FlamingoHD   live 2007-10-01

In [71]:
# Now we need to join two tables
companies_prod = pd.merge(companies_df_new, product_grouped, how='left', on = ['object_id'])
companies_prod

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,NaT,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

In [72]:
companies_prod.dtypes

object_id                     object
entity_type                   object
entity_id                     object
parent_id                     object
name_x                        object
category_code                 object
status_x                      object
start_dates           datetime64[ns]
country_code                  object
state_code                    object
city                          object
region                        object
investment_rounds              int64
invested_companies             int64
funding_rounds                 int64
closed_at             datetime64[ns]
last_investment_at    datetime64[ns]
last_funding_at       datetime64[ns]
funding_total_usd            float64
first_milestone_at    datetime64[ns]
last_milestone_at     datetime64[ns]
milestones                     int64
relationships                  int64
product_id                    object
name_y                        object
status_y                      object
founded_at            datetime64[ns]
dtype: object

In [74]:
def min_if_missing(a,b):
    if not a:
        return min(a,b)
    else:
        return a

In [75]:
companies_prod['start_dates'] = companies_prod.apply(lambda row : min_if_missing(row['start_dates'], row['founded_at']), axis = 1)

In [76]:
companies_prod

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,USA,CA,...,NaT,0.0,NaT,NaT,0,6,r:5,Flektor,development,2011-09-01
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,USA,CA,...,NaT,0.0,2003-02-01,2011-09-23,4,12,NaN,NaN,NaN,NaT
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

In [79]:
companies_prod[companies_prod['start_dates'].notna()]

,object_id,entity_type,entity_id,parent_id,name_x,category_code,status_x,start_dates,country_code,state_code,...,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,product_id,name_y,status_y,founded_at
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-01,USA,WA,...,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17,r:1,Wikison Wetpaint,live,2006-06-01
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
5,c:10002,Company,10002,NaN,Synergie Media,advertising,operating,2007-06-27,MAR,NaN,...,NaT,0.0,NaT,NaT,0,2,r:7025,Blogotour,live,2006-01-28
6,c:10003,Company,10003,NaN,Green Basti Ecosystems,cleantech,operating,2008-08-20,IND,NaN,...,NaT,0.0,NaT,NaT,0,0,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,USA,CA,...,NaT,0.0,2013-08-12,2013-08-12,2,5,NaN,NaN,NaN,NaT
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,USA,CA,...,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14,NaN,NaN,NaN,NaT
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,USA,VA,...,NaT,0.0,2012-01-01,2013-10-30,3,44,NaN,NaN,NaN,NaT
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,USA,CA,...,NaT,0.0,NaT,NaT,0,1,NaN,NaN,NaN,NaT
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,USA,CA,...,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1,NaN,NaN,NaN,NaT

###### Checking results

In [83]:
# Before applying products data to companies
companies_df_new[companies_df_new['start_dates'].notna()].count()

object_id             91227
entity_type           91227
entity_id             91227
parent_id                 0
name                  91227
category_code         88320
status                91227
start_dates           91227
country_code          66467
state_code            38179
city                  63991
region                91227
investment_rounds     91227
invested_companies    91227
funding_rounds        91227
closed_at              2011
last_investment_at      884
last_funding_at       24301
funding_total_usd     91227
first_milestone_at    43486
last_milestone_at     43486
milestones            91227
relationships         91227
dtype: int64

###### Product dates didn't add any values to start dates

After a more close look at the 'Funding orgs' and 'Person' objects we found out that the dates there cannot be used for defining the start date of a company. One financial org could have funded multiple startups and one startup could be funded by various financial orgs. 
Similarly, Persons found in 'Relationships' table provide us with information when they started working in a company which cannot tell us when the company started its business.

So far, we have only 91227 records of start dates out of 196553 total records.

###### We will check 'Funding Rounds' table as well to see if we can find start dates to fill the gaps

In [102]:
bucket = 'team3-final-bucket' # already created on S3
csv_buffer = StringIO()
objects_clean.to_csv(csv_buffer)
s3.Object('team3-final-bucket', 'objects_clean.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'C25CADC05F0BB84A',
  'HostId': 'SZeKtSI+tcxHus0ddT84nHgA0jws8cP1W0CYIdmZEBw8H/Mk1vRwwXyewPJepqfhsyg6WeESCLk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'SZeKtSI+tcxHus0ddT84nHgA0jws8cP1W0CYIdmZEBw8H/Mk1vRwwXyewPJepqfhsyg6WeESCLk=',
   'x-amz-request-id': 'C25CADC05F0BB84A',
   'date': 'Mon, 27 Jul 2020 02:58:53 GMT',
   'etag': '"3217937b0bb8b589cce12ab78dcc1463"',
   'content-length': '0',
   'server': 'AmazonS3',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"3217937b0bb8b589cce12ab78dcc1463"'}

# Relationships

In [46]:
rel_df= pd.read_csv(path + 'relationships.csv')
rel_df.columns.tolist()

['id',
 'relationship_id',
 'person_object_id',
 'relationship_object_id',
 'start_at',
 'end_at',
 'is_past',
 'sequence',
 'title',
 'created_at',
 'updated_at']

In [71]:
rel_df = pd.read_csv('Resources/relationships.csv')
rel_df.head()

,id,relationship_id,person_object_id,relationship_object_id,start_at,end_at,is_past,sequence,title,created_at,updated_at
0,1,1,p:2,c:1,NaN,NaN,0,8,Co-Founder/CEO/Board of Directors,2007-05-25 07:03:54,2013-06-03 09:58:46
1,2,2,p:3,c:1,NaN,NaN,1,279242,VP Marketing,2007-05-25 07:04:16,2010-05-21 16:31:34
2,3,3,p:4,c:3,NaN,NaN,0,4,Evangelist,2007-05-25 19:33:03,2013-06-29 13:36:58
3,4,4,p:5,c:3,2006-03-01,2009-12-01,1,4,Senior Director Strategic Alliances,2007-05-25 19:34:53,2013-06-29 10:25:34
4,6,6,p:7,c:4,2005-07-01,2010-04-05,1,1,Chief Executive Officer,2007-05-25 20:05:33,2010-04-05 18:41:41

In [72]:
relationships_clean = rel_df.drop(columns={'id','relationship_id','created_at','updated_at','start_at','end_at','is_past','sequence'})
relationships_clean

,person_object_id,relationship_object_id,title
0,p:2,c:1,Co-Founder/CEO/Board of Directors
1,p:3,c:1,VP Marketing
2,p:4,c:3,Evangelist
3,p:5,c:3,Senior Director Strategic Alliances
4,p:7,c:4,Chief Executive Officer
...,...,...,...
402873,p:268527,c:286218,Sr. Consultant/Patent Agent
402874,p:268597,c:12612,"VP, GM & Editor In Chief - Clinical Decison Su..."
402875,p:268528,c:286152,Vice President
402876,p:268528,c:286220,"General Counsel, Director of Patents and Licen..."
402877,p:268528,c:286221,Design Engineer

In [73]:
relationships_clean.dtypes

person_object_id          object
relationship_object_id    object
title                     object
dtype: object

In [143]:
bucket = 'team3-final-bucket'
content = csv_buffer.getvalue()
def to_s3(bucket,filename, content):
    client = boto3.client('s3')
    k = "Resources_clean/"+filename
    client.put_object(Bucket=bucket, Key=k, Body=content)

In [129]:
bucket = 'team3-final-bucket' # already created on S3
relationships_clean.to_csv(csv_buffer)
s3.Object(bucket, 'relationship_clean.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '2A13EA3265D870D1',
  'HostId': 'esfeCMoFifwWiCHqMZgPJ9SmNKKNc84nqJ+MJxcvtgwGCQpDVOodInAhsBZpTQjkA5T0CWAMNsg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'esfeCMoFifwWiCHqMZgPJ9SmNKKNc84nqJ+MJxcvtgwGCQpDVOodInAhsBZpTQjkA5T0CWAMNsg=',
   'x-amz-request-id': '2A13EA3265D870D1',
   'date': 'Mon, 27 Jul 2020 08:52:30 GMT',
   'etag': '"7942c23e927957d5fa69ca774064bd58"',
   'content-length': '0',
   'server': 'AmazonS3',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"7942c23e927957d5fa69ca774064bd58"'}

# Acquisitions

In [47]:
acquire_df= pd.read_csv(path + 'acquisitions.csv')
acquire_df.columns.tolist()

['id',
 'acquisition_id',
 'acquiring_object_id',
 'acquired_object_id',
 'term_code',
 'price_amount',
 'price_currency_code',
 'acquired_at',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [74]:
acquire_df = pd.read_csv('Resources/acquisitions.csv')
acquire_df.head()

,id,acquisition_id,acquiring_object_id,acquired_object_id,term_code,price_amount,price_currency_code,acquired_at,source_url,source_description,created_at,updated_at
0,1,1,c:11,c:10,NaN,20000000.0,USD,2007-05-30,http://venturebeat.com/2007/05/30/fox-interact...,Fox Interactive confirms purchase of Photobuck...,2007-05-31 22:19:54,2008-05-21 19:23:44
1,2,7,c:59,c:72,cash,60000000.0,USD,2007-07-01,http://www.techcrunch.com/2007/07/02/deal-is-c...,Deal is Confirmed: Google Acquired GrandCentral,2007-07-03 08:14:50,2011-05-06 21:51:05
2,3,8,c:24,c:132,cash,280000000.0,USD,2007-05-01,http://www.techcrunch.com/2007/05/30/cbs-acqui...,CBS Acquires EuropeÃ¢Â€Â™s Last.fm for $280 million,2007-07-12 04:19:24,2008-05-19 04:48:50
3,4,9,c:59,c:155,cash,100000000.0,USD,2007-06-01,http://techcrunch.com/2007/05/23/100-million-p...,$100 Million Payday For Feedburner Â– This Deal...,2007-07-13 09:52:59,2012-06-05 03:22:17
4,5,10,c:212,c:215,cash,25000000.0,USD,2007-07-01,http://blog.seattlepi.nwsource.com/venture/arc...,seatlepi.com,2007-07-20 05:29:07,2008-02-25 00:23:47

In [134]:
acquire_df.head()

,id,acquisition_id,acquiring_object_id,acquired_object_id,term_code,price_amount,price_currency_code,acquired_at,source_url,source_description,created_at,updated_at
0,1,1,c:11,c:10,NaN,20000000.0,USD,2007-05-30,http://venturebeat.com/2007/05/30/fox-interact...,Fox Interactive confirms purchase of Photobuck...,2007-05-31 22:19:54,2008-05-21 19:23:44
1,2,7,c:59,c:72,cash,60000000.0,USD,2007-07-01,http://www.techcrunch.com/2007/07/02/deal-is-c...,Deal is Confirmed: Google Acquired GrandCentral,2007-07-03 08:14:50,2011-05-06 21:51:05
2,3,8,c:24,c:132,cash,280000000.0,USD,2007-05-01,http://www.techcrunch.com/2007/05/30/cbs-acqui...,CBS Acquires EuropeÃ¢Â€Â™s Last.fm for $280 million,2007-07-12 04:19:24,2008-05-19 04:48:50
3,4,9,c:59,c:155,cash,100000000.0,USD,2007-06-01,http://techcrunch.com/2007/05/23/100-million-p...,$100 Million Payday For Feedburner Â– This Deal...,2007-07-13 09:52:59,2012-06-05 03:22:17
4,5,10,c:212,c:215,cash,25000000.0,USD,2007-07-01,http://blog.seattlepi.nwsource.com/venture/arc...,seatlepi.com,2007-07-20 05:29:07,2008-02-25 00:23:47

In [75]:
acquisitions_clean = acquire_df.drop(columns={'id','acquisition_id','source_url','source_description', 'created_at', 'updated_at'})
acquisitions_clean

,acquiring_object_id,acquired_object_id,term_code,price_amount,price_currency_code,acquired_at
0,c:11,c:10,NaN,2.000000e+07,USD,2007-05-30
1,c:59,c:72,cash,6.000000e+07,USD,2007-07-01
2,c:24,c:132,cash,2.800000e+08,USD,2007-05-01
3,c:59,c:155,cash,1.000000e+08,USD,2007-06-01
4,c:212,c:215,cash,2.500000e+07,USD,2007-07-01
...,...,...,...,...,...,...
9557,c:267859,c:285995,stock,2.220000e+08,USD,2013-12-11
9558,c:285493,c:286006,NaN,0.000000e+00,USD,2013-12-09
9559,c:223792,c:220208,NaN,2.600000e+10,USD,2007-07-03
9560,c:227620,c:286176,cash,5.240000e+07,USD,2013-12-12
9561,c:53,c:92846,NaN,4.260000e+07,USD,2013-12-12

In [76]:
acquisitions_clean.dtypes

acquiring_object_id     object
acquired_object_id      object
term_code               object
price_amount           float64
price_currency_code     object
acquired_at             object
dtype: object

In [77]:
# Converting strings to date type
acquisitions_clean['acquired_at'] = pd.to_datetime(acquisitions_clean.acquired_at, format='%Y-%m-%d')

In [78]:
acquisitions_clean.dtypes

acquiring_object_id            object
acquired_object_id             object
term_code                      object
price_amount                  float64
price_currency_code            object
acquired_at            datetime64[ns]
dtype: object

In [144]:
acquisitions_clean.to_csv(csv_buffer)
to_s3(bucket, 'acquisitions_clean.csv', content)

#  Milestones

In [48]:
milestones= pd.read_csv(path + 'milestones.csv')
milestones.columns.tolist()

['id',
 'object_id',
 'milestone_at',
 'milestone_code',
 'description',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [139]:
milestones.head()

,id,object_id,milestone_at,milestone_code,description,source_url,source_description,created_at,updated_at
0,1,c:12,2008-06-09,other,Survives iPhone 3G Stevenote,http://www.techcrunch.com/2008/06/10/twitter-f...,"Twitter Fails To Fail, Community Rejoices",2008-06-18 08:14:06,2008-06-18 08:14:06
1,2,c:3138,2008-06-17,other,Twhirl announces support for Seesmic video pla...,http://www.inquisitr.com/1103/seesmic-now-avai...,Seesmic Now Available In Twhirl,2008-06-18 08:46:28,2008-06-18 08:46:28
2,3,c:59,2008-06-18,other,More than 4 Billion videos viewed at Google Si...,http://www.comscore.com/press/release.asp?pres...,11 Billion Videos Viewed Online in the U.S. in...,2008-06-18 08:50:24,2008-06-18 08:50:24
3,4,c:314,2008-06-18,other,Reddit goes Open Source,http://blog.reddit.com/2008/06/reddit-goes-ope...,reddit goes open source,2008-06-19 04:14:00,2008-06-19 04:14:00
4,5,c:314,2008-01-22,other,Adds the ability to create your own Reddits,http://www.techcrunch.com/2008/01/22/reddit-ad...,Reddit Adds Ability to Create Your Own Ã¢Â€ÂœRedd...,2008-06-19 04:15:53,2008-06-19 04:15:53

In [140]:
milestones_clean = milestones.drop(columns={'id', 'created_at', 'updated_at', 'source_url','source_description'})
milestones_clean

,object_id,milestone_at,milestone_code,description
0,c:12,2008-06-09,other,Survives iPhone 3G Stevenote
1,c:3138,2008-06-17,other,Twhirl announces support for Seesmic video pla...
2,c:59,2008-06-18,other,More than 4 Billion videos viewed at Google Si...
3,c:314,2008-06-18,other,Reddit goes Open Source
4,c:314,2008-01-22,other,Adds the ability to create your own Reddits
...,...,...,...,...
39451,f:15096,2013-12-12,other,Hyderabad-based tech incubator-cum-seed fund B...
39452,c:59519,2013-12-12,other,miiCard builds on recent momentum and vision f...
39453,f:15097,2013-12-12,other,Quadro Capital Partners and FOREX CLUB Founder...
39454,f:4101,2013-12-12,other,Odyssey Investment Partners set to hit $2 bln ...
39455,f:13852,2013-12-12,other,Ben Franklin Invests $1 Million in 13 PA Tech...

In [145]:
milestones_clean.to_csv(csv_buffer)
to_s3(bucket, 'milestones_clean.csv', content)

# Offices

In [49]:
offices= pd.read_csv(path + 'offices.csv')
offices.columns.tolist()

['id',
 'object_id',
 'office_id',
 'description',
 'region',
 'address1',
 'address2',
 'city',
 'zip_code',
 'state_code',
 'country_code',
 'latitude',
 'longitude',
 'created_at',
 'updated_at']

In [141]:
offices.head()

,id,object_id,office_id,description,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,created_at,updated_at
0,1,c:1,1,NaN,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,NaN,NaN
1,2,c:3,3,Headquarters,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945,NaN,NaN
2,3,c:4,4,NaN,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523,NaN,NaN
3,4,c:5,5,Headquarters,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801,NaN,NaN
4,5,c:7,7,NaN,SF Bay,Suite 200,654 High Street,Palo Alto,94301,CA,ISR,0.000000,0.000000,NaN,NaN

In [142]:
offices_clean = offices.drop(columns={'id','office_id','created_at','updated_at'})
offices_clean

,object_id,description,region,address1,address2,city,zip_code,state_code,country_code,latitude,longitude
0,c:1,NaN,Seattle,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253
1,c:3,Headquarters,SF Bay,4900 Hopyard Rd,Suite 310,Pleasanton,94588,CA,USA,37.692934,-121.904945
2,c:4,NaN,SF Bay,135 Mississippi St,NaN,San Francisco,94107,CA,USA,37.764726,-122.394523
3,c:5,Headquarters,SF Bay,1601 Willow Road,NaN,Menlo Park,94025,CA,USA,37.416050,-122.151801
4,c:7,NaN,SF Bay,Suite 200,654 High Street,Palo Alto,94301,CA,ISR,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
112713,f:15098,NaN,New York,8 Sound Shore Drive,Suite 303,Greenwich,06830,CT,USA,0.000000,0.000000
112714,c:286200,NaN,Santa Barbara,735 State Street,Suite 500,Santa Barbara,93101,CA,USA,0.000000,0.000000
112715,c:256895,NaN,Los Angeles,"5777 W. Century Blvd., Suite 360",NaN,Los Angeles,90045,CA,USA,0.000000,0.000000
112716,c:256200,NaN,New York,420 LExington Avenue,NaN,New York,10170,NY,USA,0.000000,0.000000
112717,c:286215,NaN,SF Bay,2121 S. El Camino Real Suite C-120,NaN,San Mateo,94403,CA,USA,0.000000,0.000000

In [146]:
offices_clean.to_csv(csv_buffer)
to_s3(bucket, 'offices_clean.csv', content)

# People

In [65]:
people= pd.read_csv(path + 'people.csv')
people.columns.tolist()

['id',
 'object_id',
 'first_name',
 'last_name',
 'birthplace',
 'affiliation_name']

In [66]:
people

            id object_id first_name last_name   birthplace affiliation_name
0            1       p:2        Ben   Elowitz          NaN        Blue Nile
1            2       p:3      Kevin  Flaherty          NaN         Wetpaint
2            3       p:4       Raju   Vegesna          NaN             Zoho
3            4       p:5        Ian     Wenig          NaN             Zoho
4            5       p:6      Kevin      Rose  Redding, CA     i/o Ventures
...        ...       ...        ...       ...          ...              ...
226704  226705  p:268589       John      Pins          NaN     Unaffiliated
226705  226706  p:268590      David  Schulhof          NaN     Unaffiliated
226706  226707  p:268592    Matthew  D. Rosen          NaN     Unaffiliated
226707  226708  p:268593     Gordon  Hutchins          NaN     Unaffiliated
226708  226709  p:268597     Denise     Basow          NaN     Unaffiliated

[226709 rows x 6 columns]

In [130]:
people = people.rename(columns = {'person_id':'object_id'})
people

            id object_id first_name last_name affiliation_name
0            1       p:2        Ben   Elowitz        Blue Nile
1            2       p:3      Kevin  Flaherty         Wetpaint
2            3       p:4       Raju   Vegesna             Zoho
3            4       p:5        Ian     Wenig             Zoho
4            5       p:6      Kevin      Rose     i/o Ventures
...        ...       ...        ...       ...              ...
226704  226705  p:268589       John      Pins     Unaffiliated
226705  226706  p:268590      David  Schulhof     Unaffiliated
226706  226707  p:268592    Matthew  D. Rosen     Unaffiliated
226707  226708  p:268593     Gordon  Hutchins     Unaffiliated
226708  226709  p:268597     Denise     Basow     Unaffiliated

[226709 rows x 5 columns]

In [132]:
people_clean = people.drop(columns={'birthplace', 'id'})
people_clean

       object_id first_name last_name affiliation_name
0            p:2        Ben   Elowitz        Blue Nile
1            p:3      Kevin  Flaherty         Wetpaint
2            p:4       Raju   Vegesna             Zoho
3            p:5        Ian     Wenig             Zoho
4            p:6      Kevin      Rose     i/o Ventures
...          ...        ...       ...              ...
226704  p:268589       John      Pins     Unaffiliated
226705  p:268590      David  Schulhof     Unaffiliated
226706  p:268592    Matthew  D. Rosen     Unaffiliated
226707  p:268593     Gordon  Hutchins     Unaffiliated
226708  p:268597     Denise     Basow     Unaffiliated

[226709 rows x 4 columns]

In [147]:
people_clean.to_csv(csv_buffer)
to_s3(bucket, 'people_clean.csv', csv_buffer.getvalue())

# Funds

In [76]:
# Cleaning funds
funds= pd.read_csv(path + 'funds.csv')
funds.columns.tolist()

['id',
 'fund_id',
 'object_id',
 'name',
 'funded_at',
 'raised_amount',
 'raised_currency_code',
 'source_url',
 'source_description',
 'created_at',
 'updated_at']

In [78]:
funds.head()

,id,fund_id,object_id,name,funded_at,raised_amount,raised_currency_code,source_url,source_description,created_at,updated_at
0,1,1,f:371,Second Fund,2008-12-16,300000000.0,USD,http://www.pehub.com/26194/dfj-dragon-raising-...,peHub,2008-12-17 03:07:16,2008-12-17 03:07:16
1,4,4,f:17,Sequoia Israel Fourth Fund,2008-12-17,200750000.0,USD,http://www.pehub.com/26725/sequoia-israel-rais...,Sequoia Israel Raises Fourth Fund,2008-12-18 22:04:42,2008-12-18 22:04:42
2,5,5,f:951,Tenth fund,2008-08-11,650000000.0,USD,http://venturebeat.com/2008/08/11/interwest-cl...,Venture Beat,2008-12-31 09:47:51,2008-12-31 09:47:51
3,6,6,f:192,New funds acquire,NaN,625000000.0,USD,http://venturebeat.com/2008/07/28/us-venture-p...,U.S. Venture Partners raises $625M fund for ne...,2009-01-01 18:13:44,2009-01-01 18:16:27
4,7,7,f:519,Third fund,2008-05-20,200000000.0,USD,http://venturebeat.com/2008/05/20/disneys-stea...,Venture Beat,2009-01-03 09:51:58,2013-09-03 16:34:54

In [150]:
funds_clean = funds.drop(columns={'id', 'fund_id','created_at', 'updated_at', 'source_url', 'source_description'})
funds_clean

,object_id,name,funded_at,raised_amount,raised_currency_code
0,f:371,Second Fund,2008-12-16,300000000.0,USD
1,f:17,Sequoia Israel Fourth Fund,2008-12-17,200750000.0,USD
2,f:951,Tenth fund,2008-08-11,650000000.0,USD
3,f:192,New funds acquire,NaN,625000000.0,USD
4,f:519,Third fund,2008-05-20,200000000.0,USD
...,...,...,...,...,...
1559,f:101,Fund V,2013-12-11,150000000.0,USD
1560,f:7331,JANVEST Technologies LP I,2013-03-19,5.0,USD
1561,f:7791,Fund II,2013-12-11,5000000.0,USD
1562,f:15091,Fund I,2013-12-11,1100000.0,USD
1563,f:5920,Rochester Angel Fund,2013-12-12,2300000.0,USD

In [151]:
funds_clean.to_csv(csv_buffer)
to_s3(bucket, 'funds_clean.csv', csv_buffer.getvalue())

# Investments

In [152]:
investments= pd.read_csv(path + 'investments.csv')
investments.columns.tolist()

['id',
 'funding_round_id',
 'funded_object_id',
 'investor_object_id',
 'created_at',
 'updated_at']

In [153]:
investments.head()

,id,funding_round_id,funded_object_id,investor_object_id,created_at,updated_at
0,1,1,c:4,f:1,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,1,c:4,f:2,2007-07-04 04:52:57,2008-02-27 23:14:29
2,3,3,c:5,f:4,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,f:1,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,4,c:5,f:5,2007-05-27 06:09:36,2013-06-28 20:07:24

In [156]:
investments_clean = investments.drop(columns={'id','created_at', 'updated_at'})
investments_clean

       funding_round_id funded_object_id investor_object_id
0                     1              c:4                f:1
1                     1              c:4                f:2
2                     3              c:5                f:4
3                     4              c:5                f:1
4                     4              c:5                f:5
...                 ...              ...                ...
80897             57882         c:285244           p:267312
80898             57912          c:60389           p:268570
80899             57929         c:286183              p:365
80900             57929         c:286183           p:176466
80901             57929         c:286183           p:268577

[80902 rows x 3 columns]

In [164]:
investments_clean.to_csv(csv_buffer)
to_s3(bucket, 'investments_clean.csv', csv_buffer.getvalue())

# funding_rounds

In [157]:
funding_rounds = pd.read_csv(path + 'funding_rounds.csv')
funding_rounds.columns.tolist()

['id',
 'funding_round_id',
 'object_id',
 'funded_at',
 'funding_round_type',
 'funding_round_code',
 'raised_amount_usd',
 'raised_amount',
 'raised_currency_code',
 'pre_money_valuation_usd',
 'pre_money_valuation',
 'pre_money_currency_code',
 'post_money_valuation_usd',
 'post_money_valuation',
 'post_money_currency_code',
 'participants',
 'is_first_round',
 'is_last_round',
 'source_url',
 'source_description',
 'created_by',
 'created_at',
 'updated_at']

In [158]:
funding_rounds.head()

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,...,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round,source_url,source_description,created_by,created_at,updated_at
0,1,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.marketingvox.com/archives/2006/12/2...,NaN,initial-importer,2007-07-04 04:52:57,2008-02-27 23:14:29
1,2,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,...,0.0,USD,2,0,1,NaN,NaN,initial-importer,2007-05-27 06:08:18,2013-06-28 20:07:23
2,3,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,...,0.0,USD,3,0,0,http://www.techcrunch.com/2007/11/02/jim-breye...,Jim Breyer: Extra $500 Million Round For Faceb...,initial-importer,2007-05-27 06:09:10,2013-06-28 20:07:23
3,4,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,...,0.0,USD,4,0,0,http://www.facebook.com/press/info.php?factsheet,Facebook Funding,initial-importer,2007-05-27 06:09:36,2013-06-28 20:07:24
4,5,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,...,0.0,NaN,2,0,0,http://www.techcrunch.com/2006/05/14/photobuck...,PhotoBucket Closes $10.5M From Trinity Ventures,initial-importer,2007-05-29 11:05:59,2008-04-16 17:09:12

In [161]:
funding_rounds_clean = funding_rounds.drop(columns={'id','created_at', 'updated_at', 'source_url', 'source_description', 'created_by'})
funding_rounds_clean

,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,pre_money_valuation,pre_money_currency_code,post_money_valuation_usd,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round
0,1,c:4,2006-12-01,series-b,b,8500000.0,8500000.0,USD,0.0,0.0,NaN,0.0,0.0,NaN,2,0,0
1,2,c:5,2004-09-01,angel,angel,500000.0,500000.0,USD,0.0,0.0,USD,0.0,0.0,USD,2,0,1
2,3,c:5,2005-05-01,series-a,a,12700000.0,12700000.0,USD,115000000.0,115000000.0,USD,0.0,0.0,USD,3,0,0
3,4,c:5,2006-04-01,series-b,b,27500000.0,27500000.0,USD,525000000.0,525000000.0,USD,0.0,0.0,USD,4,0,0
4,5,c:7299,2006-05-01,series-b,b,10500000.0,10500000.0,USD,0.0,0.0,NaN,0.0,0.0,NaN,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52923,57948,c:211890,2013-12-12,series-a,a,3000000.0,3000000.0,USD,0.0,0.0,USD,0.0,0.0,USD,1,1,1
52924,57949,c:267427,2010-02-06,venture,partial,570000.0,570000.0,USD,0.0,0.0,USD,0.0,0.0,USD,0,0,1
52925,57950,c:261728,2010-02-06,venture,unattributed,2184100.0,2184100.0,USD,0.0,0.0,USD,0.0,0.0,USD,0,0,1
52926,57951,c:285864,2013-12-12,series-a,a,790783.0,790783.0,USD,0.0,0.0,USD,0.0,0.0,USD,0,1,1
52927,57952,c:286215,2010-04-07,venture,partial,271250.0,271250.0,USD,0.0,0.0,USD,0.0,0.0,USD,0,1,1

In [163]:
funding_rounds_clean.to_csv(csv_buffer)
to_s3(bucket, 'funding_rounds_clean.csv', csv_buffer.getvalue())

# degrees

In [159]:
degrees = pd.read_csv(path + 'degrees.csv')
degrees.columns.tolist()

['id',
 'object_id',
 'degree_type',
 'subject',
 'institution',
 'graduated_at',
 'created_at',
 'updated_at']

In [160]:
degrees.head()

,id,object_id,degree_type,subject,institution,graduated_at,created_at,updated_at
0,1,p:6117,MBA,NaN,NaN,NaN,2008-02-19 03:17:36,2008-02-19 03:17:36
1,2,p:6136,BA,"English, French","Washington University, St. Louis",1990-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55
2,3,p:6136,MS,Mass Communication,Boston University,1992-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55
3,4,p:6005,MS,Internet Technology,University of Greenwich,2006-01-01,2008-02-19 23:40:40,2008-02-25 00:23:55
4,5,p:5832,BCS,"Computer Science, Psychology",Rice University,NaN,2008-02-20 05:28:09,2008-02-20 05:28:09

In [162]:
degrees_clean = degrees.drop(columns={'id', 'created_at', 'updated_at'})
degrees_clean

,object_id,degree_type,subject,institution,graduated_at
0,p:6117,MBA,NaN,NaN,NaN
1,p:6136,BA,"English, French","Washington University, St. Louis",1990-01-01
2,p:6136,MS,Mass Communication,Boston University,1992-01-01
3,p:6005,MS,Internet Technology,University of Greenwich,2006-01-01
4,p:5832,BCS,"Computer Science, Psychology",Rice University,NaN
...,...,...,...,...,...
109605,p:268589,CPA,NaN,American Institute of Certtified Public Accoun...,NaN
109606,p:268527,MS & BS,Engineering,South China University of Technology,NaN
109607,p:268527,PhD,Engineering,Clarkson University,NaN
109608,p:268528,B.S.,Electrical Engineering,Colorado State University,NaN
109609,p:268528,J.D.,NaN,University of San Diego School of Law,NaN

In [165]:
degrees_clean.to_csv(csv_buffer)
to_s3(bucket, 'degrees_clean.csv', csv_buffer.getvalue())

In [ ]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"