In [1]:
import numpy as np
import pandas as pd
import glob
from io import StringIO # python3; python2: BytesIO 
import time
import os

In [2]:
path = 'geocodio/' # use your path
all_files = glob.glob(path + "*.csv")
li = []

In [3]:
start_time = time.time()

for filename in all_files:
    df = pd.read_csv(filename, index_col=0, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.40421628952026367 seconds ---

In [4]:
list(frame.columns)

['object_id',
 'name',
 'address1',
 'address2',
 'city',
 'zip_code',
 'state_code',
 'country_code',
 'Latitude',
 'Longitude',
 'region',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82']

In [5]:
locations = frame[['object_id',
 'name',
 'address1',
 'address2',
 'city',
 'zip_code',
 'state_code',
 'country_code',
 'Latitude',
 'Longitude',
 'region',]]
locations.shape

(37550, 11)

In [6]:
start_time = time.time()
locations.to_csv('locations_complete2.csv')
print('Completed in: %s seconds' % (time.time() - start_time))

Completed in: 0.7076306343078613 seconds

In [8]:
locations[locations['object_id']=='c:9977']

Empty DataFrame
Columns: [object_id, name, address1, address2, city, zip_code, state_code, country_code, Latitude, Longitude, region]
Index: []