In [1]:
import numpy as np
import pandas as pd
import glob
from io import StringIO # python3; python2: BytesIO 
import time
import os

In [2]:
path = 'geocodio/' # use your path
all_files = glob.glob(path + "*.csv")
li = []

In [3]:
# Concatenating multiple csv files together
start_time = time.time()

for filename in all_files:
    df = pd.read_csv(filename, index_col=0, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.3827359676361084 seconds ---

In [4]:
list(frame.columns)

['object_id',
 'name',
 'address1',
 'address2',
 'city',
 'zip_code',
 'state_code',
 'country_code',
 'Latitude',
 'Longitude',
 'region',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82']

In [5]:
# Removing unwanted columns from CSV
locations = frame[['object_id',
 'name',
 'address1',
 'address2',
 'city',
 'zip_code',
 'state_code',
 'country_code',
 'Latitude',
 'Longitude',
 'region',]]
locations.shape

(37550, 11)

In [6]:
start_time = time.time()
locations.to_csv('locations_complete2.csv')
print('Completed in: %s seconds' % (time.time() - start_time))

Completed in: 0.7188265323638916 seconds

In [7]:
locations.head(20)

,object_id,name,address1,address2,city,zip_code,state_code,country_code,Latitude,Longitude,region
0,c:10005,Thomas Publishing,Five Penn Plaza,15th Floor,New York,10001,NY,USA,40.750422,-73.996328,NY
1,c:222678,ProjectVision,1521 Shattuck Ave,NaN,SF,94611,CA,USA,37.879455,-122.268853,NorCal
2,c:100155,MTPV,13915 Burnet Road,Suite 420,Austin,78728,TX,USA,30.440575,-97.696996,Southwest
3,c:60694,Salter Labs,100 W. Sycamore Road,NaN,LA,93203,CA,USA,35.195170,-118.824708,SoCal
4,c:278710,Avenal Community Health Center,1000 Skyline Blvd.,NaN,LA,93204,CA,USA,36.007680,-120.121415,SoCal
5,c:100228,iHireHelp,NaN,NaN,Newtonville,7083,NJ,USA,40.692651,-74.269841,Northeast
6,c:157096,TutorMe,NaN,NaN,LA,0,CA,USA,33.973951,-118.248405,SoCal
7,c:100243,DeepFlex,3350 Rogerdale,Suite 200,Houston,77042,TX,USA,29.725535,-95.564197,Southwest
8,c:100271,Balance Financial,1800 - 112th AVE NE,Suite 260-E,Bellevue,98004,WA,USA,47.627185,-122.190080,West
9,c:168065,Colabus,19925 Stevens Creek Blvd.,"Cupertino,",SF,95014-2358,CA,USA,37.323640,-122.021570,NorCal
10,c:160803,Palomar Fashion,651 Palomar St.,Suite A-19,SD,91911,CA,USA,32.604324,-117.082382,SoCal
11,c:100301,Minds,PO Box 7681,NaN,Wilton,6897,CT,USA,41.209695,-73.439165,Northeast
12,c:100317,RIO Brands,10981 Decatur Road,NaN,Philadelphia,19154,PA,USA,40.092150,-74.989462,Northeast
13,c:100331,Solectria Renewables,360 Merrimack Street,"Building 9, 2nd Floor",Lawrence,1843,MA,USA,42.704435,-71.141619,Northeast
14,c:100379,G2 Web Services,1750 112th Ave NE,Suite C101,Bellevue,98004,WA,USA,47.625806,-122.190057,West
15,c:100442,Amantel,21 Holly Road,NaN,Iselin,8830,NJ,USA,40.571742,-74.331661,Northeast
16,c:1006,Youlicit,NaN,NaN,New York,10021,NY,USA,40.768823,-73.960257,NY
17,c:192036,Xpress Restoration,2256 Main St. Suite #14,NaN,SD,91911,CA,USA,32.595074,-117.088437,SoCal
18,c:100634,Dotcomweavers,140 East Ridgewood Avenue,Suite 415 ST,Paramus,7652,NJ,USA,40.971610,-74.089775,Northeast
19,c:255969,Hitech Communications,1177 Broadway ste 20,NaN,SD,91911,CA,USA,32.608317,-117.080062,SoCal