In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/team3"

In [4]:
path = 'Resources/'
objects = pd.read_csv(path +'objects_clean.csv', index_col=0)
objects.head()

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  object_id entity_type parent_id                name    category_code     status  founded_at closed_at country_code state_code         city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0       c:1     Company       NaN            Wetpaint              web  operating  2005-10-17       NaN          USA         WA      Seattle      Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3         39750000.0         2010-09-05        2013-09-18           5             17
1      c:10     Company       NaN             Flektor      games_video   acquired         NaN       NaN          USA         CA  Culver City  Los Angeles                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
2     c:100     Company       NaN               There      games_video   acquired         NaN       NaN          USA         CA    San Mateo       SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2003-02-01        2011-09-23           4             12
3   c:10000     Company       NaN             MYWEBBO  network_hosting  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
4   c:10001     Company       NaN  THE Movie Streamer      games_video  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

In [48]:
geocode_test = objects[['object_id', 'name', 'city', 'state_code', 'country_code']]
geocode_test.head()

  object_id                name         city state_code country_code
0       c:1            Wetpaint      Seattle         WA          USA
1      c:10             Flektor  Culver City         CA          USA
2     c:100               There    San Mateo         CA          USA
3   c:10000             MYWEBBO          NaN        NaN          NaN
4   c:10001  THE Movie Streamer          NaN        NaN          NaN

In [52]:
locations = pd.read_csv(path +'locations.csv')
locations.head()

  object_id                     name                                           address1 address2         city    zip_code state_code country_code   latitude   longitude
0   c:10526                  Anagran                             580 North Pastoria Ave      NaN    Sunnyvale       94085         CA          USA  37.392189 -122.033456
1  c:104739                CrushBlvd                                                NaN      NaN            0           0         CA          USA   0.000000    0.000000
2   c:10475              Abbott Labs                                    1300 East Touhy      NaN  Des Plaines  60018-3315         IL          USA   0.000000    0.000000
3  c:104751  Clary Business Machines  10360 Sorrento Valley Road, Suite C, San Diego...      NaN   San Diego,       92121         CA          USA   0.000000    0.000000
4  c:104753                   gis.to                                                NaN      NaN      Chicago           0          0          USA   0.000000    0.000000

In [53]:
loc_sorted = locations.sort_values(by=['object_id'], axis=0, ignore_index=True )
loc_sorted

      object_id                        name                     address1    address2             city zip_code state_code country_code   latitude   longitude
0           c:1                    Wetpaint             710 - 2nd Avenue  Suite 1100          Seattle    98104         WA          USA  47.603122 -122.333253
1          c:10                     Flektor  8536 National Blvd, Suite A         NaN      Culver City    90232         CA          USA  34.025958 -118.379768
2         c:100                       There      1855 South Grant Street   3rd Floor        San Mateo    94402         CA          USA  37.553385 -122.302149
3       c:10005           Thomas Publishing              Five Penn Plaza  15th Floor         New York    10001         NY          USA   0.000000    0.000000
4       c:10009             dimension5 labs           1025 Don Diego Ave         NaN         Santa Fe    87505         NM          USA  35.674675 -105.948434
...         ...                         ...                          ...         ...              ...      ...        ...          ...        ...         ...
55597    f:9985                Bee Partners                          NaN         NaN    San Francisco        0         CA          USA   0.000000    0.000000
55598    f:9991  Recruit Strategic Partners               530 Lytton Ave   Suite 231        Palo Alto    94301         CA          USA   0.000000    0.000000
55599    f:9997                Axel Johnson            155 Spring Street   6th floor         New York    10012         NY          USA  40.724468  -74.001704
55600    f:9998       Liberty City Ventures                          NaN         NaN         New York        0         NY          USA  40.714353  -74.005973
55601    f:9999                     CalSTRS         100 Waterfront Place         NaN  West Sacramento    95605         CA          USA  38.585713 -121.509262

[55602 rows x 10 columns]

In [54]:
gcn = locations[locations['latitude']==0]
gcn

      object_id                     name                                           address1   address2         city    zip_code state_code country_code  latitude  longitude
1      c:104739                CrushBlvd                                                NaN        NaN            0           0         CA          USA       0.0        0.0
2       c:10475              Abbott Labs                                    1300 East Touhy        NaN  Des Plaines  60018-3315         IL          USA       0.0        0.0
3      c:104751  Clary Business Machines  10360 Sorrento Valley Road, Suite C, San Diego...        NaN   San Diego,       92121         CA          USA       0.0        0.0
4      c:104753                   gis.to                                                NaN        NaN      Chicago           0          0          USA       0.0        0.0
5      c:104756               WMC Global                     12700 Fair Lakes Cir Suite 260        NaN      Fairfax       22033         VA          USA       0.0        0.0
...         ...                      ...                                                ...        ...          ...         ...        ...          ...       ...        ...
55594   c:10463    The MegaPhone Company                              14400 Springer Avenue        NaN     Saratoga       95070         CA          USA       0.0        0.0
55597   c:10471                 MedEview                                  281 Winter Street  Suite 350      Waltham       02451         MA          USA       0.0        0.0
55598  c:104711                   Blendr                                                NaN        NaN  Los Angeles       90028         CA          USA       0.0        0.0
55599  c:101882                Transpara                                 865 Piemonte Drive  Suite 100   Pleasanton       94566         CA          USA       0.0        0.0
55601  c:101903                Trendland                               214 Front Street #3A        NaN     New York       10038         NY          USA       0.0        0.0

[37676 rows x 10 columns]

In [55]:
gcn_nan = gcn[gcn['address1'].isnull()]
gcn_nan

      object_id                        name address1 address2         city zip_code state_code country_code  latitude  longitude
1      c:104739                   CrushBlvd      NaN      NaN            0        0         CA          USA       0.0        0.0
4      c:104753                      gis.to      NaN      NaN      Chicago        0          0          USA       0.0        0.0
7       c:10477                   North Sky      NaN      NaN            0        0          0          USA       0.0        0.0
19     c:104886                   Flytailit      NaN      NaN            0    98101         WA          USA       0.0        0.0
22     c:104908                      Punchh      NaN      NaN    Sunnyvale        0         CA          USA       0.0        0.0
...         ...                         ...      ...      ...          ...      ...        ...          ...       ...        ...
55553  c:104268           Toyopa Group, LLC      NaN      NaN  Los Angeles        0         CA          USA       0.0        0.0
55568  c:104467                   LessonPix      NaN      NaN      Oldsmar    34677         FL          USA       0.0        0.0
55577  c:104547  Alexander Interactive (Ai)      NaN      NaN            0    10010         DE          USA       0.0        0.0
55581  c:104568                   TapnScrap      NaN      NaN    San Mateo    94402         CA          USA       0.0        0.0
55598  c:104711                      Blendr      NaN      NaN  Los Angeles    90028         CA          USA       0.0        0.0

[5844 rows x 10 columns]

In [56]:
loc_sorted.to_csv('loc_sorted.csv')
print('Save Complete')

Save Complete

In [57]:
objects[objects['object_id']=='c:10477']

    object_id entity_type parent_id       name category_code    status  founded_at closed_at country_code state_code city                 region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
907   c:10477     Company       NaN  North Sky           web  acquired  1994-01-01       NaN          USA        NaN  NaN  United States - Other                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0