In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
#from config import db_password

In [2]:
#db_string = f'postgres://postgres:postgres@database-1.czruykdkti9i.us-east-2.rds.amazonaws.com:5432/startups'
#engine = create_engine(db_string)

In [3]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

5.1799999999602164e-05

In [4]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [5]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funding_rounds_final.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationships_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv
sql_db/
sql_db/acquisitions_clean.csv
sql_db/degrees_clean.csv
sql_db/funding_round_filled.csv
sql_db/funds_clean.csv
sql_db/investments_cleaner.csv
sql_db/ipos_cleaner.csv
sql_db/milestones_cleaner.csv
sql_db/objects_clean.csv
sql_db/offices_clean.csv
sql_db/people_cleaner.csv
sql_db/relationships_cleaner.csv
sql_db/time_elapsed_clean.csv
time_elapsed_clean.csv

######  Just for creating a layout I will be temporary loading local csv files as some of them I have downloaded on my laptop only

In [6]:
# Loading the file with compiled start dates
companies_df = pd.read_csv('companies_info.csv')
companies_df

,object_id,entity_type,name_x,category_code,status,country_code,state_code,city,region,investment_rounds,invested_companies,funding_rounds,funding_total_usd
0,c:1,Company,Wetpaint,web,operating,USA,WA,Seattle,Seattle,0,0,3,39750000
1,c:10,Company,Flektor,games_video,acquired,USA,CA,Culver City,Los Angeles,0,0,0,0
2,c:100,Company,There,games_video,acquired,USA,CA,San Mateo,SF Bay,0,0,0,0
3,c:10000,Company,MYWEBBO,network_hosting,operating,NaN,NaN,NaN,unknown,0,0,0,0
4,c:10001,Company,THE Movie Streamer,games_video,operating,NaN,NaN,NaN,unknown,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,Webgility,ecommerce,operating,USA,CA,San Francisco,SF Bay,0,0,0,0
196549,c:9995,Company,FohBoh,public_relations,operating,USA,CA,San Jose,SF Bay,0,0,1,750000
196550,c:9996,Company,CSC,consulting,operating,USA,VA,Falls Church,Washington DC,0,0,0,0
196551,c:9997,Company,Top-candidate,search,operating,USA,CA,Los Angeles,Los Angeles,0,0,0,0
196552,c:9998,Company,Closet Couture,ecommerce,operating,USA,CA,Pacific Palisades,Pacific Palisades,0,0,1,475000

In [7]:
companies_df.columns.to_list()

['object_id',
 'entity_type',
 'name_x',
 'category_code',
 'status',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'funding_total_usd']

In [8]:
companies_info = companies_df[['object_id',
 'category_code',
 'status',
 'funding_total_usd']]
companies_info

       object_id     category_code     status  funding_total_usd
0            c:1               web  operating           39750000
1           c:10       games_video   acquired                  0
2          c:100       games_video   acquired                  0
3        c:10000   network_hosting  operating                  0
4        c:10001       games_video  operating                  0
...          ...               ...        ...                ...
196548   c:99940         ecommerce  operating                  0
196549    c:9995  public_relations  operating             750000
196550    c:9996        consulting  operating                  0
196551    c:9997            search  operating                  0
196552    c:9998         ecommerce  operating             475000

[196553 rows x 4 columns]

In [9]:
# Loading the file from with product labels
labels_df = pd.read_csv('prod_label.csv')
labels_df

       object_id  product_label
0            c:1              1
1           c:10              1
2          c:100              0
3        c:10000              0
4        c:10001              0
...          ...            ...
196548   c:99940              1
196549    c:9995              0
196550    c:9996              0
196551    c:9997              0
196552    c:9998              0

[196553 rows x 2 columns]

In [10]:
#table_name = 'product_labels'
#labels_df.to_sql(name='product_labels', con = engine)

In [11]:
# Merging them
companies_prodlbls = pd.merge(companies_info, labels_df, how='left', on=['object_id'])
companies_prodlbls

,object_id,category_code,status,funding_total_usd,product_label
0,c:1,web,operating,39750000,1
1,c:10,games_video,acquired,0,1
2,c:100,games_video,acquired,0,0
3,c:10000,network_hosting,operating,0,0
4,c:10001,games_video,operating,0,0
...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1
196549,c:9995,public_relations,operating,750000,0
196550,c:9996,consulting,operating,0,0
196551,c:9997,search,operating,0,0
196552,c:9998,ecommerce,operating,475000,0

In [12]:
# Loading funding rounds types, # of rounds and # of participants
funds_df = pd.read_csv('companies_funding_rounds.csv')
funds_df

       object_id  rounds_total last_funding_round_type  number_of_participants
0            c:1           3.0               series-c+                     9.0
1           c:10           NaN                     NaN                     NaN
2          c:100           NaN                     NaN                     NaN
3        c:10000           NaN                     NaN                     NaN
4        c:10001           NaN                     NaN                     NaN
...          ...           ...                     ...                     ...
196548   c:99940           NaN                     NaN                     NaN
196549    c:9995           1.0                   angel                     0.0
196550    c:9996           NaN                     NaN                     NaN
196551    c:9997           NaN                     NaN                     NaN
196552    c:9998           1.0                   angel                     0.0

[196553 rows x 4 columns]

In [13]:
# Merging them
companies_lbls_funds = pd.merge(companies_prodlbls, funds_df, how='left', on=['object_id'])
companies_lbls_funds

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN
196551,c:9997,search,operating,0,0,NaN,NaN,NaN
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0

In [14]:
companies_lbls_funds.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'rounds_total',
 'last_funding_round_type',
 'number_of_participants']

In [136]:
# Loading final file with all date compiled based on Fahima's file
#client = boto3.client('s3')
#path1 = 's3://team3-final-bucket/'
time_elapsed_df = pd.read_csv('companies_all_dates_NEW.csv')
time_elapsed_df

,object_id,names,start_dates,end_dates,time_elapsed_months,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,c:1,Wetpaint,10/1/2005,5/19/2008,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c:10,Flektor,9/1/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,c:100,There,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,c:10000,MYWEBBO,7/26/2008,1/1/2015,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c:10001,THE Movie Streamer,7/26/2008,1/1/2015,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Webgility,1/1/2007,1/1/2015,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196549,c:9995,FohBoh,11/1/2007,8/25/2008,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196550,c:9996,CSC,1/1/1959,1/1/2015,672.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196551,c:9997,Top-candidate,7/1/2008,1/1/2015,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196552,c:9998,Closet Couture,9/1/2007,6/1/2008,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
time_elapsed_df.dtypes

object_id               object
names                   object
start_dates             object
end_dates               object
time_elapsed_months    float64
Unnamed: 5             float64
Unnamed: 6             float64
Unnamed: 7             float64
Unnamed: 8             float64
Unnamed: 9             float64
Unnamed: 10            float64
Unnamed: 11            float64
dtype: object

In [143]:
time_elapsed = time_elapsed_df[['object_id','start_dates','end_dates','time_elapsed_months']]
time_elapsed

       object_id start_dates  end_dates  time_elapsed_months
0            c:1   10/1/2005  5/19/2008                 32.0
1           c:10    9/1/2011        NaN                  NaN
2          c:100         NaN        NaN                  NaN
3        c:10000   7/26/2008   1/1/2015                 77.0
4        c:10001   7/26/2008   1/1/2015                 77.0
...          ...         ...        ...                  ...
196548   c:99940    1/1/2007   1/1/2015                 96.0
196549    c:9995   11/1/2007  8/25/2008                 10.0
196550    c:9996    1/1/1959   1/1/2015                672.0
196551    c:9997    7/1/2008   1/1/2015                 78.0
196552    c:9998    9/1/2007   6/1/2008                  9.0

[196553 rows x 4 columns]

In [144]:
from datetime import datetime
time_elapsed['start_dates'] = pd.to_datetime(time_elapsed.start_dates)
time_elapsed['end_dates'] = pd.to_datetime(time_elapsed.end_dates)
time_elapsed.dtypes

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

object_id                      object
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
dtype: object

In [145]:
time_elapsed

       object_id start_dates  end_dates  time_elapsed_months
0            c:1  2005-10-01 2008-05-19                 32.0
1           c:10  2011-09-01        NaT                  NaN
2          c:100         NaT        NaT                  NaN
3        c:10000  2008-07-26 2015-01-01                 77.0
4        c:10001  2008-07-26 2015-01-01                 77.0
...          ...         ...        ...                  ...
196548   c:99940  2007-01-01 2015-01-01                 96.0
196549    c:9995  2007-11-01 2008-08-25                 10.0
196550    c:9996  1959-01-01 2015-01-01                672.0
196551    c:9997  2008-07-01 2015-01-01                 78.0
196552    c:9998  2007-09-01 2008-06-01                  9.0

[196553 rows x 4 columns]

In [146]:
# Merging companies and dates
companies_with_dates = pd.merge(companies_lbls_funds, time_elapsed, how='left', on=['object_id'])
companies_with_dates

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0

In [147]:
# Loading Winston's file
locations = pd.read_csv('usa_only.csv')
locations

,Unnamed: 0,object_id,name,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,region
0,0,c:1,Wetpaint,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,West
1,6454,c:15710,Immersion Corporation,801 Fox Lane,San Jose 95131,SF,0,CA,USA,37.386711,-121.903953,NorCal
2,10539,c:17385,About Me!,"2601 Mission St,","#900,",SF,94110,CA,USA,37.755068,-122.418026,NorCal
3,3,c:10005,Thomas Publishing,Five Penn Plaza,15th Floor,New York,10001,NY,USA,0.000000,0.000000,NY
4,4,c:10009,dimension5 labs,1025 Don Diego Ave,NaN,Santa Fe,87505,NM,USA,35.674675,-105.948434,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...
55468,44595,c:65540,The Pricerie,NaN,NaN,LA,0,CA,USA,0.000000,0.000000,SoCal
55469,48079,c:75652,Textual Indices,NaN,NaN,SF,95382,CA,USA,0.000000,0.000000,NorCal
55470,55599,f:9997,Axel Johnson,155 Spring Street,6th floor,New York,10012,NY,USA,40.724468,-74.001704,NY
55471,55600,f:9998,Liberty City Ventures,NaN,NaN,New York,0,NY,USA,40.714353,-74.005973,NY
55472,16406,c:199793,Digital Energy,NaN,128 Auburn Ct Ste 106,LA,CA 91362,CA,USA,34.145839,-118.805647,SoCal

In [148]:
# Dropping columns
locations_clean = locations[['object_id','country_code','region']]

In [149]:
# Merging companies and locations
companies_locations = pd.merge(companies_with_dates, locations_clean, how='left', on=['object_id'])
companies_locations

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN,USA,NorCal
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [150]:
# We need only USA companies so filtering them
USA_companies = companies_locations[companies_locations['country_code']=='USA']
USA_companies

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN,USA,NorCal
8,c:10005,advertising,operating,0,0,NaN,NaN,NaN,NaT,2015-01-01,NaN,USA,NY
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [151]:
# Checking null values
for column in USA_companies.columns:
    print(f"Column {column} has {USA_companies[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 4305 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 31260 null values
Column last_funding_round_type has 31842 null values
Column number_of_participants has 31842 null values
Column start_dates has 12831 null values
Column end_dates has 5162 null values
Column time_elapsed_months has 15712 null values
Column country_code has 0 null values
Column region has 26 null values

In [152]:
# Filtering companies only from 2000 year
USA_companies1 = USA_companies[USA_companies['start_dates']>='2000-01-01']
USA_companies1

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [153]:
USA_companies1['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [154]:
USA_companies1[USA_companies1['status']=='acquired'].count()

object_id                  2157
category_code              2011
status                     2157
funding_total_usd          2157
product_label              2157
rounds_total               1306
last_funding_round_type    1296
number_of_participants     1296
start_dates                2157
end_dates                  2046
time_elapsed_months        2046
country_code               2157
region                     2157
dtype: int64

In [155]:
# Checking null values
for column in USA_companies1.columns:
    print(f"Column {column} has {USA_companies1[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 869 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 17626 null values
Column last_funding_round_type has 17751 null values
Column number_of_participants has 17751 null values
Column start_dates has 0 null values
Column end_dates has 1278 null values
Column time_elapsed_months has 1278 null values
Column country_code has 0 null values
Column region has 16 null values

In [156]:
# Filtering out missing values by dropping those features
USA_companies2 = USA_companies1.drop(columns={'rounds_total','last_funding_round_type','number_of_participants'})
USA_companies2

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [157]:
USA_companies2['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [158]:
# Checking null values
for column in USA_companies2.columns:
    print(f"Column {column} has {USA_companies2[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 869 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1278 null values
Column time_elapsed_months has 1278 null values
Column country_code has 0 null values
Column region has 16 null values

In [159]:
# Dropping nulls in category_code
USA_companies3 = USA_companies2[USA_companies2['category_code'].notnull()]
USA_companies3

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [160]:
# Checking null values
for column in USA_companies3.columns:
   print(f"Column {column} has {USA_companies3[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1259 null values
Column time_elapsed_months has 1259 null values
Column country_code has 0 null values
Column region has 15 null values

In [31]:
# Dropping rows with negative number of months in time_elapsed
#USA_companies4 = USA_companies3[USA_companies1['time_elapsed_months']>=0]
#USA_companies4

In [32]:
# Checking null values
#for column in USA_companies4.columns:
   # print(f"Column {column} has {USA_companies4[column].isnull().sum()} null values")

In [161]:
# Dropping missing values in regions
USA_companies4 = USA_companies3[USA_companies3['region'].notnull()].reset_index(drop=True)
USA_companies4

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
2,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
4,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
30967,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
30968,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
30969,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
30970,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [162]:
# Checking null values
for column in USA_companies4.columns:
   print(f"Column {column} has {USA_companies4[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1259 null values
Column time_elapsed_months has 1259 null values
Column country_code has 0 null values
Column region has 0 null values

In [163]:
# Dropping rows with null values of number of participants
USA_companies5 = USA_companies4[USA_companies4['time_elapsed_months'].notnull()]
USA_companies5

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
2,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
4,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
5,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal
...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
30967,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
30968,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
30969,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
30970,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [164]:
# Checking null values
for column in USA_companies5.columns:
   print(f"Column {column} has {USA_companies5[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 0 null values
Column time_elapsed_months has 0 null values
Column country_code has 0 null values
Column region has 0 null values

In [165]:
USA_companies5['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [166]:
USA_companies5[USA_companies5['status'] == 'acquired']

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
5,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal
25,c:10054,mobile,acquired,121500000,0,2005-01-01,2013-08-13,103.0,USA,Northeast
56,c:10117,web,acquired,0,1,2002-08-12,2008-08-26,72.0,USA,NorCal
60,c:101312,web,acquired,4000000,0,2011-06-01,2013-09-18,27.0,USA,NY
...,...,...,...,...,...,...,...,...,...,...
30940,c:99,web,acquired,3900000,1,2006-07-04,2010-09-22,50.0,USA,NY
30943,c:9905,software,acquired,5172349,0,2005-01-01,2010-06-24,65.0,USA,NorCal
30958,c:997,enterprise,acquired,14500000,1,2003-01-01,2015-08-19,151.0,USA,NorCal
30961,c:99737,public_relations,acquired,0,0,2005-11-01,2011-11-30,72.0,USA,Southwest
30964,c:999,web,acquired,0,1,2007-01-01,2008-07-09,18.0,USA,NorCal

###### Getting degrees

In [167]:
# Loading Winston's file
degrees_df1 = pd.read_csv('degrees_complete.csv')
degrees_df = degrees_df1[['relationship_object_id','degree_type']].rename(columns={'relationship_object_id':'object_id'})
degrees_df

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,8,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       object_id  degree_type
0            c:1          2.0
1            c:1          4.0
2            c:1          4.0
3            c:1          2.0
4            c:1          4.0
...          ...          ...
227497     f:999          2.0
227498     f:999          3.0
227499    f:9992          2.0
227500    f:9993          2.0
227501    f:9999          4.0

[227502 rows x 2 columns]

In [168]:
degrees_avg = degrees_df.groupby('object_id', as_index=False).agg({"degree_type":"mean"}).round()
degrees_avg

      object_id  degree_type
0           c:1          3.0
1          c:10          2.0
2         c:100          4.0
3       c:10002          3.0
4      c:100042          2.0
...         ...          ...
86520    f:9989          3.0
86521     f:999          2.0
86522    f:9992          2.0
86523    f:9993          2.0
86524    f:9999          4.0

[86525 rows x 2 columns]

In [169]:
USA_companies5_1 = pd.merge(USA_companies5, degrees_avg, how='left', on=['object_id'])
USA_companies5_1

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0
...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

In [170]:
USA_companies5_1.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'start_dates',
 'end_dates',
 'time_elapsed_months',
 'country_code',
 'region',
 'degree_type']

In [171]:
USA_companies5_1[USA_companies5_1['degree_type'].notnull()]

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0
5,c:10015,health,operating,68069200,0,2007-10-01,2013-08-13,70.0,USA,NorCal,3.0
...,...,...,...,...,...,...,...,...,...,...,...
29699,c:9966,search,operating,0,0,2007-06-17,2015-01-01,91.0,USA,SoCal,3.0
29700,c:99669,enterprise,operating,750000,0,2011-01-01,2011-09-08,8.0,USA,West,2.0
29701,c:997,enterprise,acquired,14500000,1,2003-01-01,2015-08-19,151.0,USA,NorCal,3.0
29703,c:9972,software,operating,82500000,1,2007-01-01,2013-05-23,77.0,USA,NorCal,3.0
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

##### Now we need to bucket companies life span

In [172]:
time_elapsed_months = USA_companies5['time_elapsed_months']
max_val = time_elapsed_months.max()
max_val

191.0

In [173]:
time_bins = [-0.01, 6, 12, 24, 36, 60, 200]
months_in_bins = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins)
months_in_bins

0         (24.0, 36.0]
1        (60.0, 200.0]
2         (12.0, 24.0]
3        (60.0, 200.0]
4         (24.0, 36.0]
             ...
29707    (60.0, 200.0]
29708    (60.0, 200.0]
29709      (6.0, 12.0]
29710    (60.0, 200.0]
29711      (6.0, 12.0]
Name: time_elapsed_months, Length: 29712, dtype: category
Categories (6, interval[float64]): [(-0.01, 6.0] < (6.0, 12.0] < (12.0, 24.0] < (24.0, 36.0] < (36.0, 60.0] < (60.0, 200.0]]

In [174]:
# Naming the groups:
group_names = ['0-6mth','6-12mth','1-2yr','2-3yr','3-5yr','over5yr']

In [175]:
USA_companies6 = USA_companies5_1.copy()
USA_companies6['time_range'] = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins, labels=group_names)
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0,2-3yr
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN,over5yr
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0,1-2yr
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0,over5yr
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0,2-3yr
...,...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN,over5yr
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN,over5yr
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN,6-12mth
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN,over5yr
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0,6-12mth

In [47]:
# USA_companies6.to_csv('USA_companies6_new.csv', index=False)

In [176]:
USA_companies6.dtypes

object_id                      object
category_code                  object
status                         object
funding_total_usd               int64
product_label                   int64
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
country_code                   object
region                         object
degree_type                   float64
time_range                   category
dtype: object

In [177]:
USA_companies6['time_range'] = USA_companies6['time_range'].astype('object')

In [178]:
USA_companies6.dtypes

object_id                      object
category_code                  object
status                         object
funding_total_usd               int64
product_label                   int64
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
country_code                   object
region                         object
degree_type                   float64
time_range                     object
dtype: object

In [179]:
#USA_companies6['time_range'] = USA_companies6['time_range'].replace(np.nan, 'unknown')
USA_companies6['degree_type'] = USA_companies6['degree_type'].replace(np.nan, 'unknown')
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3,2-3yr
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,unknown,over5yr
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3,1-2yr
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2,over5yr
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3,2-3yr
...,...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,unknown,over5yr
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,unknown,over5yr
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,unknown,6-12mth
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,unknown,over5yr
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3,6-12mth

##### Dropping redundant columns

In [180]:
USA_companies6.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'start_dates',
 'end_dates',
 'time_elapsed_months',
 'country_code',
 'region',
 'degree_type',
 'time_range']

In [182]:
USA_companies7 = USA_companies6[['object_id',
 'category_code',
 'status',
 'product_label',
 'start_dates',
 'country_code',
 'region',
 'degree_type',
 'time_range']]
USA_companies7

,object_id,category_code,status,product_label,start_dates,country_code,region,degree_type,time_range
0,c:1,web,operating,1,2005-10-01,USA,West,3,2-3yr
1,c:10009,advertising,operating,1,2008-08-01,USA,Southwest,unknown,over5yr
2,c:1001,web,acquired,1,2007-10-01,USA,NorCal,3,1-2yr
3,c:10011,games_video,operating,1,2008-01-01,USA,SoCal,2,over5yr
4,c:10014,mobile,acquired,1,2008-03-01,USA,NorCal,3,2-3yr
...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,2004-01-01,USA,Northeast,unknown,over5yr
29708,c:99940,ecommerce,operating,1,2007-01-01,USA,NorCal,unknown,over5yr
29709,c:9995,public_relations,operating,0,2007-11-01,USA,NorCal,unknown,6-12mth
29710,c:9997,search,operating,0,2008-07-01,USA,SoCal,unknown,over5yr
29711,c:9998,ecommerce,operating,0,2007-09-01,USA,SoCal,3,6-12mth

In [54]:
# Replace NaNs with 0 in a few columns - 
# funding_rounds_count, number_of_participants,time_elapsed_months 
#USA_companies7['rounds_total'] = USA_companies7['rounds_total'].replace(np.nan, 0)
#USA_companies7['number_of_participants'] = USA_companies7['number_of_participants'].replace(np.nan, 0)
#USA_companies7

In [183]:
#USA_companies7['rounds_total'].unique()

In [184]:
#USA_companies7['number_of_participants'].unique()

###### Now we need to bucket the number of rounds and number of participants

In [57]:
#rounds_bins = [-0.01, 5, 10, 20, 30, 50, 100, 500]
#rounds_in_bins = pd.cut(USA_companies7['rounds_total'], rounds_bins)
#rounds_in_bins

In [58]:
# Naming the groups:
#group_names1 = ['0-5_rounds','6-10_rounds','11-20_rounds','21-30_rounds','31-50_rounds','51-100_rounds','over_100_rounds']

In [59]:
#USA_companies7_1 = USA_companies7.copy()
#USA_companies7_1['rounds_range'] = pd.cut(USA_companies7['rounds_total'], rounds_bins, labels=group_names1)
#USA_companies7_1

In [60]:
#participants_bins = [-0.01, 0, 5, 10, 20, 30, 50, 100]
#participants_in_bins = pd.cut(USA_companies7_1['rounds_total'], participants_bins)
#participants_in_bins

In [61]:
# Naming the groups:
#group_names2 = ['0_participants','1-5_participants','6-10_participants','11-20_participants','21-30_participants','31-50_participants','over_50_participants']

In [62]:
#USA_companies7_2 = USA_companies7_1.copy()
#USA_companies7_2['participants_range'] = pd.cut(USA_companies7_1['number_of_participants'], participants_bins, labels=group_names2)
#USA_companies7_2

In [185]:
# Extracting years from dates
USA_companies8_2 = USA_companies7.copy()

In [186]:

USA_companies8_2['start_year'] = pd.DatetimeIndex(USA_companies8_2['start_dates']).year
USA_companies8_2

,object_id,category_code,status,product_label,start_dates,country_code,region,degree_type,time_range,start_year
0,c:1,web,operating,1,2005-10-01,USA,West,3,2-3yr,2005
1,c:10009,advertising,operating,1,2008-08-01,USA,Southwest,unknown,over5yr,2008
2,c:1001,web,acquired,1,2007-10-01,USA,NorCal,3,1-2yr,2007
3,c:10011,games_video,operating,1,2008-01-01,USA,SoCal,2,over5yr,2008
4,c:10014,mobile,acquired,1,2008-03-01,USA,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,2004-01-01,USA,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,operating,1,2007-01-01,USA,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,operating,0,2007-11-01,USA,NorCal,unknown,6-12mth,2007
29710,c:9997,search,operating,0,2008-07-01,USA,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,operating,0,2007-09-01,USA,SoCal,3,6-12mth,2007

In [187]:
USA_companies8_2.columns.to_list()

['object_id',
 'category_code',
 'status',
 'product_label',
 'start_dates',
 'country_code',
 'region',
 'degree_type',
 'time_range',
 'start_year']

## Keeping only features columns

In [190]:
#USA_companies8 = USA_companies8_2.drop(columns={'rounds_total','number_of_participants','start_dates'})
USA_companies8 = USA_companies8_2.drop(columns={'start_dates', 'country_code'})
USA_companies8

,object_id,category_code,status,product_label,region,degree_type,time_range,start_year
0,c:1,web,operating,1,West,3,2-3yr,2005
1,c:10009,advertising,operating,1,Southwest,unknown,over5yr,2008
2,c:1001,web,acquired,1,NorCal,3,1-2yr,2007
3,c:10011,games_video,operating,1,SoCal,2,over5yr,2008
4,c:10014,mobile,acquired,1,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,operating,1,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,operating,0,NorCal,unknown,6-12mth,2007
29710,c:9997,search,operating,0,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,operating,0,SoCal,3,6-12mth,2007

In [191]:
#USA_companies8['rounds_range'] = USA_companies8['rounds_range'].astype('object')
#USA_companies8['participants_range'] = USA_companies8['participants_range'].astype('object')
USA_companies8['start_year'] = USA_companies8['start_year'].astype('object')
USA_companies8['degree_type'] = USA_companies8['degree_type'].astype('object')

# ML part

###### Splitting the table to categorical and numerical features

In [193]:
# Categorical features
categorical = USA_companies8[[
 'category_code',
 'region',
 'start_year',
 'degree_type',
 'time_range',
 ]]
categorical

          category_code     region start_year degree_type time_range
0                   web       West       2005           3      2-3yr
1           advertising  Southwest       2008     unknown    over5yr
2                   web     NorCal       2007           3      1-2yr
3           games_video      SoCal       2008           2    over5yr
4                mobile     NorCal       2008           3      2-3yr
...                 ...        ...        ...         ...        ...
29707          software  Northeast       2004     unknown    over5yr
29708         ecommerce     NorCal       2007     unknown    over5yr
29709  public_relations     NorCal       2007     unknown    6-12mth
29710            search      SoCal       2008     unknown    over5yr
29711         ecommerce      SoCal       2007           3    6-12mth

[29712 rows x 5 columns]

In [194]:
categorical.dtypes

category_code    object
region           object
start_year       object
degree_type      object
time_range       object
dtype: object

In [195]:
# Checking null values
for column in categorical.columns:
    print(f"Column {column} has {categorical[column].isnull().sum()} null values")

Column category_code has 0 null values
Column region has 0 null values
Column start_year has 0 null values
Column degree_type has 0 null values
Column time_range has 0 null values

### First we would want to create a correlation matrix to find dependant valiables

In [196]:
# Encoding features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [197]:
categorical_encode = categorical.copy()

In [198]:
categorical_encode['category_code'] = le.fit_transform(categorical_encode['category_code'])
categorical_encode['region'] = le.fit_transform(categorical_encode['region'])
categorical_encode['start_year'] = le.fit_transform(categorical_encode['start_year'])
categorical_encode['degree_type'] = le.fit_transform(categorical_encode['degree_type'].astype(str))
categorical_encode['time_range'] = le.fit_transform(categorical_encode['time_range'])
categorical_encode

       category_code  region  start_year  degree_type  time_range
0                 41       7           5            3           2
1                  0       6           8            6           5
2                 41       2           7            3           1
3                 12       4           8            2           5
4                 22       2           8            3           2
...              ...     ...         ...          ...         ...
29707             37       3           4            6           5
29708              7       2           7            6           5
29709             31       2           7            6           4
29710             33       4           8            6           5
29711              7       4           7            3           4

[29712 rows x 5 columns]

In [199]:
# Numerical features
numerical = USA_companies8[['product_label',
 #'rounds_total',
 #'number_of_participants'
 ]]
numerical

       product_label
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
29707              0
29708              1
29709              0
29710              0
29711              0

[29712 rows x 1 columns]

In [200]:
# Merging dfs to combine all features and dropping IDs
features_corr = pd.merge(categorical_encode, numerical, how='left', left_index=True, right_index=True)
features_corr

,category_code,region,start_year,degree_type,time_range,product_label
0,41,7,5,3,2,1
1,0,6,8,6,5,1
2,41,2,7,3,1,1
3,12,4,8,2,5,1
4,22,2,8,3,2,1
...,...,...,...,...,...,...
29707,37,3,4,6,5,0
29708,7,2,7,6,5,1
29709,31,2,7,6,4,0
29710,33,4,8,6,5,0
29711,7,4,7,3,4,0

##### Creating a correlation matrix to find if there are dependent variables

In [201]:
corrMatrix = features_corr.corr()
corrMatrix.style.background_gradient(cmap='coolwarm')

There are no dependant variables

In [202]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix,classification_report
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from collections import Counter
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.metrics import classification_report_imbalanced
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN
from sklearn.decomposition import PCA

In [203]:
USA_companies8

,object_id,category_code,status,product_label,region,degree_type,time_range,start_year
0,c:1,web,operating,1,West,3,2-3yr,2005
1,c:10009,advertising,operating,1,Southwest,unknown,over5yr,2008
2,c:1001,web,acquired,1,NorCal,3,1-2yr,2007
3,c:10011,games_video,operating,1,SoCal,2,over5yr,2008
4,c:10014,mobile,acquired,1,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,operating,1,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,operating,0,NorCal,unknown,6-12mth,2007
29710,c:9997,search,operating,0,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,operating,0,SoCal,3,6-12mth,2007

In [204]:
# Defining target
у_df = USA_companies8[['object_id','status']]
у_df

      object_id     status
0           c:1  operating
1       c:10009  operating
2        c:1001   acquired
3       c:10011  operating
4       c:10014   acquired
...         ...        ...
29707   c:99938  operating
29708   c:99940  operating
29709    c:9995  operating
29710    c:9997  operating
29711    c:9998  operating

[29712 rows x 2 columns]

In [205]:
у_df['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [206]:
# Setting labels in the column for our target (acqusition)
у1_df_copy = у_df.copy()
у1_df_copy['status'].replace(to_replace=['acquired'], value='0', inplace=True)
у1_df_copy['status'].replace(to_replace=['operating', 'closed', 'ipo'], value='1', inplace=True)
у1_df_copy

      object_id status
0           c:1      1
1       c:10009      1
2        c:1001      0
3       c:10011      1
4       c:10014      0
...         ...    ...
29707   c:99938      1
29708   c:99940      1
29709    c:9995      1
29710    c:9997      1
29711    c:9998      1

[29712 rows x 2 columns]

In [207]:
у1_df_copy.dtypes

object_id    object
status       object
dtype: object

In [208]:
у1_df_copy.groupby('status')['status'].count()

status
0     1905
1    27807
Name: status, dtype: int64

In [209]:
# Defining the features for scaling
#X_df = pd.merge(categorical, numerical, left_index=True, right_index=True)
X_df = USA_companies8.drop(columns={'status'})
X_df

,object_id,category_code,product_label,region,degree_type,time_range,start_year
0,c:1,web,1,West,3,2-3yr,2005
1,c:10009,advertising,1,Southwest,unknown,over5yr,2008
2,c:1001,web,1,NorCal,3,1-2yr,2007
3,c:10011,games_video,1,SoCal,2,over5yr,2008
4,c:10014,mobile,1,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...
29707,c:99938,software,0,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,1,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,0,NorCal,unknown,6-12mth,2007
29710,c:9997,search,0,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,0,SoCal,3,6-12mth,2007

In [210]:
X_df.columns.to_list()

['object_id',
 'category_code',
 'product_label',
 'region',
 'degree_type',
 'time_range',
 'start_year']

In [211]:
# Encode the categorical features
X_encoded = pd.get_dummies(X_df, columns=['category_code',
 'region',
 'degree_type',
 'start_year',
 'time_range'])
X_encoded

,object_id,product_label,category_code_advertising,category_code_analytics,category_code_automotive,category_code_biotech,category_code_cleantech,category_code_consulting,category_code_design,category_code_ecommerce,...,start_year_2011,start_year_2012,start_year_2013,start_year_2014,time_range_0-6mth,time_range_1-2yr,time_range_2-3yr,time_range_3-5yr,time_range_6-12mth,time_range_over5yr
0,c:1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,c:10009,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,c:1001,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,c:10011,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,c:10014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29708,c:99940,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
29709,c:9995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29710,c:9997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29711,c:9998,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [212]:
X_for_elimination = X_encoded.drop(columns={'object_id'})

In [213]:
y1 = у1_df_copy['status']
y1

0        1
1        1
2        0
3        1
4        0
        ..
29707    1
29708    1
29709    1
29710    1
29711    1
Name: status, Length: 29712, dtype: object

### We are keeping 'object_id' column in features for splitting the data set. Splitting algorithm selects 30% of testing data randomly. Later on we will work on the testing data set, thus we will be able to merge any features to the testing data set by the IDs.

In [214]:
# Splitting the data to train / test
X_train_full, X_test_full, y_train, y_test = train_test_split(X_encoded, y1, random_state=1, stratify=y1, test_size=0.3)

In [215]:
X_test_full

,object_id,product_label,category_code_advertising,category_code_analytics,category_code_automotive,category_code_biotech,category_code_cleantech,category_code_consulting,category_code_design,category_code_ecommerce,...,start_year_2011,start_year_2012,start_year_2013,start_year_2014,time_range_0-6mth,time_range_1-2yr,time_range_2-3yr,time_range_3-5yr,time_range_6-12mth,time_range_over5yr
2530,c:147146,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
28097,c:79243,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19747,c:36790,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27980,c:78681,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
27360,c:7493,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21337,c:4371,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25564,c:65433,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25002,c:61509,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3596,c:153646,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
21193,c:43127,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [216]:
X_train = X_train_full.drop(columns={'object_id'}).reset_index(drop=True)
X_train

,product_label,category_code_advertising,category_code_analytics,category_code_automotive,category_code_biotech,category_code_cleantech,category_code_consulting,category_code_design,category_code_ecommerce,category_code_education,...,start_year_2011,start_year_2012,start_year_2013,start_year_2014,time_range_0-6mth,time_range_1-2yr,time_range_2-3yr,time_range_3-5yr,time_range_6-12mth,time_range_over5yr
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20794,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20795,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
20796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [217]:
X_test = X_test_full.drop(columns={'object_id'}).reset_index(drop=True)
X_test

,product_label,category_code_advertising,category_code_analytics,category_code_automotive,category_code_biotech,category_code_cleantech,category_code_consulting,category_code_design,category_code_ecommerce,category_code_education,...,start_year_2011,start_year_2012,start_year_2013,start_year_2014,time_range_0-6mth,time_range_1-2yr,time_range_2-3yr,time_range_3-5yr,time_range_6-12mth,time_range_over5yr
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8911,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
8912,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
8913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [218]:
y_test.reset_index(drop=True)

0       1
1       1
2       1
3       1
4       0
       ..
8909    1
8910    1
8911    1
8912    1
8913    1
Name: status, Length: 8914, dtype: object

In [219]:
# We need to scale some features
#data_scaler = StandardScaler()
#X_train_scaled = data_scaler.fit_transform(X_train)
#X_test_scaled = data_scaler.fit_transform(X_test)

# We don't need to do scaling because the data is binery.
# So just copying split data to be able to reuse the code for traing without changing it
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

In [220]:
X_train_scaled

,product_label,category_code_advertising,category_code_analytics,category_code_automotive,category_code_biotech,category_code_cleantech,category_code_consulting,category_code_design,category_code_ecommerce,category_code_education,...,start_year_2011,start_year_2012,start_year_2013,start_year_2014,time_range_0-6mth,time_range_1-2yr,time_range_2-3yr,time_range_3-5yr,time_range_6-12mth,time_range_over5yr
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20793,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20794,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20795,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
20796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [221]:
# Count target train data
Counter(y_train)

Counter({'1': 19465, '0': 1333})

In [222]:
# Resampling with SMOTE Oversampling
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({'1': 19465, '0': 19465})

#### Training

##### Random Forest

In [223]:
# Creating random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_resampled, y_resampled)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm

array([[ 183,  389],
       [ 756, 7586]], dtype=int64)

In [224]:
# Out of confusion matrix making a df with proper label names
df_rand_for = pd.DataFrame(data=cm, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_rand_for

                        predicted_Acquisition  predicted_non_Acquisition
actual_Acquisition                        183                        389
actual_non_Acquisition                    756                       7586

In [225]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8715503702041733

In [226]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.19      0.32      0.24       572
           1       0.95      0.91      0.93      8342

    accuracy                           0.87      8914
   macro avg       0.57      0.61      0.59      8914
weighted avg       0.90      0.87      0.89      8914

The accuracy score is very high but if we want to know which company we would acquire then we should focus on precision. Our result is 63% and could be improved.

######  Tried dimension reduction but it worsens the result significantly so PCA approach will not work in this case. (deleted PCA code)

## Logistic Regression

In [227]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [228]:
# Displaying results in confusion matrix
pred = model.predict(X_test_scaled)
matrix = confusion_matrix(y_test, pred)
matrix

array([[ 111,  461],
       [ 279, 8063]], dtype=int64)

In [229]:
df_log_reg = pd.DataFrame(data=matrix, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_log_reg

                        predicted_Acquisition  predicted_non_Acquisition
actual_Acquisition                        111                        461
actual_non_Acquisition                    279                       8063

In [230]:
# Accuracy score
balanced_accuracy_score(y_test, pred)

0.5803053635407986

In [231]:
# Imbalanced classification report
print(classification_report_imbalanced(y_test, pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.28      0.19      0.97      0.23      0.43      0.17       572
          1       0.95      0.97      0.19      0.96      0.43      0.20      8342

avg / total       0.90      0.92      0.24      0.91      0.43      0.20      8914

#### We can clearly see that Random Forest algorithm works much better for our data set

We want to try Support vector machine (SVM). Even though it is a binary classifier like logistic regression, it's worth trying:

## SVM

In [232]:
from sklearn.svm import SVC
model_svm = SVC(kernel='linear')

In [233]:
model_svm.fit(X_resampled, y_resampled)
pred_svm = model_svm.predict(X_test_scaled)
accuracy_score(y_test, pred_svm)

0.935719093560691

In [234]:
matrix_svm = confusion_matrix(y_test, pred_svm)

In [235]:
df_SVM = pd.DataFrame(data=matrix_svm, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_SVM

                        predicted_Acquisition  predicted_non_Acquisition
actual_Acquisition                          0                        572
actual_non_Acquisition                      1                       8341

In [236]:
print(classification_report(y_test, pred_svm))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       572
           1       0.94      1.00      0.97      8342

    accuracy                           0.94      8914
   macro avg       0.47      0.50      0.48      8914
weighted avg       0.88      0.94      0.90      8914

## Neural Network

In [237]:
X_resampled.values

array([[1, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [1, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 1, 0, 0]], dtype=int64)

In [238]:
number_input_features = len(X_resampled.values[0])
number_input_features

79

In [239]:
import tensorflow as tf

In [240]:
# Using 2 layers first with Tanh activation function
number_input_features = len(X_resampled.values[0])
hidden_nodes_layer1 = number_input_features*2
hidden_nodes_layer2 = 50
# hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [241]:
# Train the model with 100 epochs
fit_model = nn.fit(X_resampled, y_resampled, epochs=100)

Epoch 1/100
38930/38930 [==============================] - 2s 45us/sample - loss: 0.2442 - acc: 0.8981
Epoch 2/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1656 - acc: 0.9354
Epoch 3/100
38930/38930 [==============================] - 2s 43us/sample - loss: 0.1552 - acc: 0.9385
Epoch 4/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1456 - acc: 0.9415
Epoch 5/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1368 - acc: 0.9462
Epoch 6/100
38930/38930 [==============================] - 2s 43us/sample - loss: 0.1320 - acc: 0.9495
Epoch 7/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1269 - acc: 0.9502
Epoch 8/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1232 - acc: 0.9506
Epoch 9/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1202 - acc: 0.9533
Epoch 10/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1166 - acc: 0.9538
Epoch 11/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1136 - acc: 0.9562
Epoch 12/100
38930/38930 [==============================] - 2s 43us/sample - loss: 0.1106 - acc: 0.9572
Epoch 13/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1076 - acc: 0.9582
Epoch 14/100
38930/38930 [==============================] - 2s 42us/sample - loss: 0.1052 - acc: 0.9583
Epoch 15/100
38930/38930 [==============================] - 2s 43us/sample - loss: 0.1035 - acc: 0.9597
Epoch 16/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.1009 - acc: 0.9613
Epoch 17/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0994 - acc: 0.9610
Epoch 18/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0976 - acc: 0.9624
Epoch 19/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0961 - acc: 0.9625
Epoch 20/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0941 - acc: 0.9632
Epoch 21/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0930 - acc: 0.9636
Epoch 22/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0915 - acc: 0.9645
Epoch 23/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0901 - acc: 0.9650
Epoch 24/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0890 - acc: 0.9649
Epoch 25/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0876 - acc: 0.9654
Epoch 26/100
38930/38930 [==============================] - 2s 50us/sample - loss: 0.0862 - acc: 0.9662
Epoch 27/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0849 - acc: 0.9670
Epoch 28/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0836 - acc: 0.9680
Epoch 29/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0826 - acc: 0.9675
Epoch 30/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0812 - acc: 0.9686
Epoch 31/100
38930/38930 [==============================] - 2s 46us/sample - loss: 0.0799 - acc: 0.9684
Epoch 32/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0788 - acc: 0.9695
Epoch 33/100
38930/38930 [==============================] - 2s 46us/sample - loss: 0.0782 - acc: 0.9687
Epoch 34/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0767 - acc: 0.9695
Epoch 35/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0760 - acc: 0.9695
Epoch 36/100
38930/38930 [==============================] - 2s 50us/sample - loss: 0.0754 - acc: 0.9697
Epoch 37/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0739 - acc: 0.9708
Epoch 38/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0733 - acc: 0.9708
Epoch 39/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0726 - acc: 0.9715
Epoch 40/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0716 - acc: 0.9713
Epoch 41/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0707 - acc: 0.9715
Epoch 42/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0701 - acc: 0.9721
Epoch 43/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0692 - acc: 0.9725
Epoch 44/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0686 - acc: 0.9718
Epoch 45/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0675 - acc: 0.9726
Epoch 46/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0673 - acc: 0.9731
Epoch 47/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0669 - acc: 0.9733
Epoch 48/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0658 - acc: 0.9733
Epoch 49/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0652 - acc: 0.9737
Epoch 50/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0643 - acc: 0.9741
Epoch 51/100
38930/38930 [==============================] - 2s 46us/sample - loss: 0.0639 - acc: 0.9743
Epoch 52/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0634 - acc: 0.9747
Epoch 53/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0627 - acc: 0.9745
Epoch 54/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0616 - acc: 0.9749
Epoch 55/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0617 - acc: 0.9755
Epoch 56/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0611 - acc: 0.9754
Epoch 57/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0605 - acc: 0.9748
Epoch 58/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0604 - acc: 0.9752
Epoch 59/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0601 - acc: 0.9756
Epoch 60/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0592 - acc: 0.9756
Epoch 61/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0588 - acc: 0.9756
Epoch 62/100
38930/38930 [==============================] - 2s 55us/sample - loss: 0.0583 - acc: 0.9764
Epoch 63/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0578 - acc: 0.9767
Epoch 64/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0578 - acc: 0.9762
Epoch 65/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0575 - acc: 0.9760
Epoch 66/100
38930/38930 [==============================] - 2s 50us/sample - loss: 0.0567 - acc: 0.9762
Epoch 67/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0565 - acc: 0.9766
Epoch 68/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0562 - acc: 0.9766
Epoch 69/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0557 - acc: 0.9764
Epoch 70/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0557 - acc: 0.9773
Epoch 71/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0549 - acc: 0.9772
Epoch 72/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0553 - acc: 0.9768
Epoch 73/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0547 - acc: 0.9770
Epoch 74/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0545 - acc: 0.9775
Epoch 75/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0539 - acc: 0.9778
Epoch 76/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0537 - acc: 0.9776
Epoch 77/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0532 - acc: 0.9775
Epoch 78/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0532 - acc: 0.9779
Epoch 79/100

38930/38930 [==============================] - 2s 49us/sample - loss: 0.0525 - acc: 0.9781
Epoch 80/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0525 - acc: 0.9774
Epoch 81/100
38930/38930 [==============================] - 2s 50us/sample - loss: 0.0522 - acc: 0.9778
Epoch 82/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0523 - acc: 0.9781
Epoch 83/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0523 - acc: 0.9773
Epoch 84/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0517 - acc: 0.9775
Epoch 85/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0518 - acc: 0.9780
Epoch 86/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0518 - acc: 0.9780
Epoch 87/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0513 - acc: 0.9779
Epoch 88/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0505 - acc: 0.9782
Epoch 89/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0508 - acc: 0.9781
Epoch 90/100
38930/38930 [==============================] - 2s 54us/sample - loss: 0.0508 - acc: 0.9781
Epoch 91/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0507 - acc: 0.9785
Epoch 92/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0504 - acc: 0.9781
Epoch 93/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0500 - acc: 0.9781
Epoch 94/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0501 - acc: 0.9786
Epoch 95/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0496 - acc: 0.9786
Epoch 96/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0493 - acc: 0.9787
Epoch 97/100
38930/38930 [==============================] - 2s 47us/sample - loss: 0.0498 - acc: 0.9783
Epoch 98/100
38930/38930 [==============================] - 2s 50us/sample - loss: 0.0492 - acc: 0.9794
Epoch 99/100
38930/38930 [==============================] - 2s 49us/sample - loss: 0.0494 - acc: 0.9785
Epoch 100/100
38930/38930 [==============================] - 2s 48us/sample - loss: 0.0492 - acc: 0.9781

In [242]:
# Evaluate the model using the train data 
model_loss1, model_accuracy1 = nn.evaluate(X_resampled,y_resampled,verbose=2)
print(f"Loss: {model_loss1}, Accuracy: {model_accuracy1}")

38930/38930 - 1s - loss: 0.0448 - acc: 0.9805
Loss: 0.044771117218835574, Accuracy: 0.9804778099060059

In [243]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8914/8914 - 0s - loss: 0.3601 - acc: 0.9073
Loss: 0.3600694220567434, Accuracy: 0.9073367714881897

In [244]:
predictions_DL = nn.predict(X_test_scaled)
predictions_DL

array([[0.9828082 ],
       [0.9979112 ],
       [0.9993936 ],
       ...,
       [0.7353252 ],
       [0.99998975],
       [0.955925  ]], dtype=float32)

In [245]:
y_test1 = y_test.astype(float).values
y_test1

array([1., 1., 1., ..., 1., 1., 1.])

In [246]:
accuracy_score(y_test1, predictions_DL.round())

0.9073367736145389

In [247]:
matrix_DL = confusion_matrix(y_test1, predictions_DL.round())
matrix_DL

array([[ 114,  458],
       [ 368, 7974]], dtype=int64)

In [248]:
df_DL = pd.DataFrame(data=matrix_DL, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_DL

                        predicted_Acquisition  predicted_non_Acquisition
actual_Acquisition                        114                        458
actual_non_Acquisition                    368                       7974

In [249]:
print(classification_report(y_test1, predictions_DL.round()))

              precision    recall  f1-score   support

         0.0       0.24      0.20      0.22       572
         1.0       0.95      0.96      0.95      8342

    accuracy                           0.91      8914
   macro avg       0.59      0.58      0.58      8914
weighted avg       0.90      0.91      0.90      8914

###### We want to find valiables that have good correlation with the output and eliminate noisy data from our ML for performance improvement.

### Applying Backward Elimination Technique to select most relevant features

In [ ]:
data = pd.merge(X_for_elimination, y1, how='left', left_index=True, right_index=True)
data

In [ ]:
data.columns.to_list()

In [ ]:
data = data[['status',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'category_code_advertising',
 'category_code_analytics',
 'category_code_automotive',
 'category_code_biotech',
 'category_code_cleantech',
 'category_code_consulting',
 'category_code_design',
 'category_code_ecommerce',
 'category_code_education',
 'category_code_enterprise',
 'category_code_fashion',
 'category_code_finance',
 'category_code_games_video',
 'category_code_government',
 'category_code_hardware',
 'category_code_health',
 'category_code_hospitality',
 'category_code_legal',
 'category_code_local',
 'category_code_manufacturing',
 'category_code_medical',
 'category_code_messaging',
 'category_code_mobile',
 'category_code_music',
 'category_code_nanotech',
 'category_code_network_hosting',
 'category_code_news',
 'category_code_nonprofit',
 'category_code_other',
 'category_code_pets',
 'category_code_photo_video',
 'category_code_public_relations',
 'category_code_real_estate',
 'category_code_search',
 'category_code_security',
 'category_code_semiconductor',
 'category_code_social',
 'category_code_software',
 'category_code_sports',
 'category_code_transportation',
 'category_code_travel',
 'category_code_web',
 'region_Midwest',
 'region_NY',
 'region_NorCal',
 'region_Northeast',
 'region_SoCal',
 'region_South',
 'region_Southwest',
 'region_West',
 'degree_type_1.0',
 'degree_type_2.0',
 'degree_type_3.0',
 'degree_type_4.0',
 'degree_type_5.0',
 'degree_type_unknown',
 'start_year_2000',
 'start_year_2001',
 'start_year_2002',
 'start_year_2003',
 'start_year_2004',
 'start_year_2005',
 'start_year_2006',
 'start_year_2007',
 'start_year_2008',
 'start_year_2009',
 'start_year_2010',
 'start_year_2011',
 'start_year_2012',
 'start_year_2013']].astype(float)

In [ ]:
data

In [ ]:
import seaborn as sns

In [ ]:
corr1 = data.corr()

In [ ]:
sns.heatmap(corr1)

In [ ]:
columns = np.full((corr1.shape[0],), True, dtype=bool)
for i in range(corr1.shape[0]):
    for j in range(i+1, corr1.shape[0]):
        if corr1.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False

In [ ]:
columns

In [ ]:
selected_columns = data.columns[columns]

In [ ]:
data = data[selected_columns]

In [ ]:
data

In [ ]:
data.columns.to_list()

In [ ]:
selected_columns = selected_columns[1:].values

In [ ]:
import statsmodels.api as sm
def backwardElimination(x, Y, sl, columns):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(Y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
                    columns = np.delete(columns, j)
                    
    regressor_OLS.summary()
    return x, columns
SL = 0.05
data_modeled, selected_columns = backwardElimination(data.iloc[:,1:].values, data.iloc[:,0].values, SL, selected_columns)

In [ ]:
result = pd.DataFrame()
result['status'] = data.iloc[:,0]

In [ ]:
data1 = pd.DataFrame(data = data_modeled, columns = selected_columns)

In [ ]:
data1

In [ ]:
data1.columns.to_list()

In [ ]:
#import matplotlib.pyplot as plt
#fig = plt.figure(figsize = (20, 25))
#j = 0
#for i in data1.columns:
#    plt.subplot(6, 4, j+1)
#    j += 1
#    sns.distplot(data1[i][result['status']==0], color='g', label = 'acquired')
#    sns.distplot(data1[i][result['status']==1], color='r', label = 'non_acquired')
#    plt.legend(loc='best')
#fig.suptitle('Startup acquisition prediction')
#fig.tight_layout()
#fig.subplots_adjust(top=0.95)
#plt.show()

#### After we applied Backward Elimination technique some variables got eliminated. We will train new data set with Neural Network and then Logistic Regression.

###### Neural Network

In [ ]:
data1

In [ ]:
# Assigning new data set to the variable X
X_encoded_b = data1.values
X_encoded_b

In [ ]:
# Splitting the data to train / test
X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(X_encoded_b, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
X_train_b

In [ ]:
# We need to scale some features
data_scaler = StandardScaler()
X_train_scaled_b = data_scaler.fit_transform(X_train_b)
X_test_scaled_b = data_scaler.fit_transform(X_test_b)

In [ ]:
# Count target train data                   
Counter(y_train_b)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_b, y_resampled_b = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_b, y_train_b)
Counter(y_resampled_b)

In [ ]:
# Using 2 layers first with Tanh activation function
number_input_features = len(X_resampled_b[0])
hidden_nodes_layer1 = number_input_features*2
hidden_nodes_layer2 = 50
# hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model with 100 epochs
fit_model_b = nn.fit(X_resampled_b, y_resampled_b, epochs=100)

In [ ]:
predictions_DL_b = nn.predict(X_test_scaled_b)
predictions_DL_b

In [ ]:
y_testb = y_test_b.astype(float).values
y_testb

In [ ]:
matrix_DL_b = confusion_matrix(y_testb, predictions_DL_b.round())
matrix_DL_b

In [ ]:
df_DL_b = pd.DataFrame(data=matrix_DL_b, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_DL_b

In [ ]:
print(classification_report(y_testb, predictions_DL_b.round()))

###### Logistic Regression

In [ ]:
X_encoded_a = data1.values
X_encoded_a

In [ ]:
y1

In [ ]:
# Splitting the data to train / test
X_train_a, X_test_a, y_train_a, y_test_a = train_test_split(X_encoded_a, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
# We need to scale some features
data_scaler = StandardScaler()
X_train_scaled_a = data_scaler.fit_transform(X_train_a)
X_test_scaled_a = data_scaler.fit_transform(X_test_a)

In [ ]:
# Count target train data
Counter(y_train_a)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_a, y_resampled_a = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_a, y_train_a)
Counter(y_resampled_a)

In [ ]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled_a, y_resampled_a)

In [ ]:
# Displaying results in confusion matrix
pred_a = model.predict(X_test_scaled_a)
matrix_a = confusion_matrix(y_test_a, pred_a)
matrix_a

In [ ]:
df_log_reg_a = pd.DataFrame(data=matrix_a, columns=["predicted_Acquisition","predicted_non_Acquisition"], index=["actual_Acquisition","actual_non_Acquisition"])
df_log_reg_a

In [ ]:
# Accuracy score
balanced_accuracy_score(y_test_a, pred_a)

In [ ]:
# Imbalanced classification report
print(classification_report_imbalanced(y_test_a, pred_a))

# Testing ideas to visualize ML results

In [ ]:
# Encode the categorical features
X_features = USA_companies7[['object_id',
 'category_code',
 'product_label',
 'rounds_total',
 'number_of_participants',
 'region',
 'time_range']]
X_encoded_t = pd.get_dummies(X_features, columns=['category_code',
 'region',
 'time_range'])
X_encoded_t

In [ ]:
y1_df_t = у1_df_copy.copy()

In [ ]:
# Splitting the data to train / test
X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_encoded_t, y1_df_t, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
y_test_t

In [ ]:
predictions_DL_df = pd.DataFrame(data = predictions_DL.round(), columns={'predictions'})
predictions_DL_df

In [ ]:
X_test_t

In [ ]:
new_data_set = pd.merge(X_test_t, y_test_t, how='left', on=['object_id'])
new_data_set.reset_index(inplace=True, drop=True)
new_data_set

In [ ]:
categories_to_plot = USA_companies7.drop(columns={'product_label','rounds_total','number_of_participants'})

In [ ]:
added_data = pd.merge(new_data_set, categories_to_plot, how='left', on=['object_id'])

In [ ]:
updated_data_set = pd.merge(added_data, predictions_DL_df, how='left', left_index=True, right_index=True)
updated_data_set

In [ ]:
final_data_set = updated_data_set[['object_id', 
 'status_y',
 'status_x',
 'predictions', 
 'category_code',
 'region',
 'time_range',
 'rounds_total',
 'number_of_participants',
 'category_code_advertising',
 'category_code_analytics',
 'category_code_consulting',
 'category_code_enterprise',
 'category_code_security',
 'category_code_semiconductor',
 'category_code_social',
 'category_code_software',
 'region_Midwest',
 'region_NY',
 'region_NorCal',
 'region_Northeast',
 'region_SoCal',
 'region_South',
 'region_Southwest',
 'region_West',
 'time_range_0-6mth',
 'time_range_1-2yr',
 'time_range_2-3yr',
 'time_range_3-5yr',
 'time_range_6-12mth',
 'time_range_over5yr',
 'time_range_unknown']]
final_data_set

In [ ]:
# final_data_set.to_csv('final_data_set_charts.csv', index=False)