In [45]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
from flask import Flask
from flask_sqlalchemy import sqlalchemy
import os
import re
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import psycopg2
engine = psycopg2.connect(
    database="startups",
    user='postgres',
    password='postgres',
    host="database-1.czruykdkti9i.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [46]:
cur = engine.cursor()

In [48]:
table_name = 'prod_labels'
labels_df.to_sql(name = table_name, con=engine)

[(892,
  'c:10473',
  'Company',
  None,
  'Scotia Pharma',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (893,
  'c:104730',
  'Company',
  None,
  'Eunoia Labs',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (894,
  'c:104731',
  'Company',
  None,
  'Momment',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (895,
  'c:104739',
  'Company',
  None,
  'CrushBlvd',
  'social',
  'operating',
  datetime.date(2011, 1, 1),
  None,
  'USA',
  'CA',
  None,
  'California - Other',
  None,
  None,
  0,
  0,
  datetime.date(2011, 1, 1),
  datetime.date(2011, 1, 1),
  1,
  100000.0,
  None,
  None,
  0,
  0),
 (896,
  'c:104749',
  'Company',
  None,
  'BIT.GAMES',
  'games_video',
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (897,
  'c:10475',
  'Company',
  None,
  'Abbott Labs',
  'biotech',
  'ipo',
  datetime.date(1991, 1, 1),
  None,
  'USA',
  'IL',
  'Des Plaines',
  'Chicago',
  datetime.date(2007, 1, 30),
  datetime.date(2007, 11, 27),
  2,
  2,
  datetime.date(2011, 3, 15),
  datetime.date(2011, 3, 15),
  1,
  100000.0,
  datetime.date(2009, 1, 1),
  datetime.date(2013, 8, 19),
  2,
  66),
 (898,
  'c:104751',
  'Company',
  None,
  'Clary Business Machines',
  'advertising',
  'operating',
  datetime.date(2007, 6, 25),
  None,
  'USA',
  'CA',
  'San Diego,',
  'San Diego',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (899,
  'c:104753',
  'Company',
  None,
  'gis.to',
  'web',
  'operating',
  datetime.date(2010, 1, 1),
  None,
  'USA',
  None,
  'Chicago',
  'Chicago',
  None,
  None,
  0,
  0,
  datetime.date(2011, 7, 1),
  datetime.date(2011, 7, 1),
  1,
  2454.0,
  datetime.date(2010, 1, 1),
  datetime.date(2010, 1, 1),
  1,
  3),
 (900,
  'c:104756',
  'Company',
  None,
  'WMC Global',
  'mobile',
  'operating',
  datetime.date(2006, 11, 1),
  None,
  'USA',
  'DC',
  'Washington',
  'Washington DC',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2013, 6, 1),
  datetime.date(2013, 6, 1),
  1,
  17),
 (901,
  'c:104757',
  'Company',
  None,
  'naxxoo',
  'advertising',
  'operating',
  datetime.date(2007, 1, 1),
  None,
  'USA',
  'NY',
  'New York',
  'New York',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 3, 1),
  datetime.date(2011, 3, 1),
  1,
  3),
 (902,
  'c:10476',
  'Company',
  None,
  'Holtzbrinck',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  datetime.date(2007, 1, 1),
  datetime.date(2011, 3, 1),
  4,
  4,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  2),
 (903,
  'c:104760',
  'Company',
  None,
  'Mallstreet',
  'ecommerce',
  'operating',
  datetime.date(2009, 8, 12),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (904,
  'c:104761',
  'Company',
  None,
  'StrategicBCP',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 5, 1),
  datetime.date(2011, 5, 1),
  1,
  1),
 (905,
  'c:104763',
  'Company',
  None,
  'Microsoft Research Asia',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2013, 2, 15),
  datetime.date(2013, 2, 15),
  1,
  7),
 (906,
  'c:104764',
  'Company',
  None,
  'Mobilizing Health',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2010, 3, 1),
  datetime.date(2010, 3, 1),
  1,
  1),
 (907,
  'c:10477',
  'Company',
  None,
  'North Sky',
  'web',
  'acquired',
  datetime.date(1994, 1, 1),
  None,
  'USA',
  None,
  None,
  'United States - Other',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (908,
  'c:10478',
  'Company',
  None,
  'Adaptive Technologies(ATi)',
  'other',
  'operating',
  datetime.date(2000, 10, 1),
  None,
  'USA',
  'AZ',
  'Phoenix',
  'Phoenix',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  5),
 (909,
  'c:104781',
  'Company',
  None,
  'NiftieApps',
  'mobile',
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (910,
  'c:104783',
  'Company',
  None,
  'DicaX',
  'ecommerce',
  'operating',
  datetime.date(2011, 6, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 6, 1),
  datetime.date(2011, 6, 1),
  1,
  2),
 (911,
  'c:104785',
  'Company',
  None,
  'Tomo Clases',
  'education',
  'operating',
  datetime.date(2011, 1, 1),
  None,
  'CHL',
  None,
  'Santiago',
  'Santiago',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 9, 1),
  datetime.date(2011, 9, 1),
  1,
  1),
 (912,
  'c:104788',
  'Company',
  None,
  'Shoes4you',
  'ecommerce',
  'closed',
  datetime.date(2011, 6, 1),
  datetime.date(2013, 4, 19),
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  datetime.date(2011, 9, 1),
  datetime.date(2011, 9, 1),
  1,
  0.0,
  datetime.date(2011, 8, 1),
  datetime.date(2011, 8, 1),
  1,
  5),
 (913,
  'c:104789',
  'Company',
  None,
  'Freann Financial Services Limited',
  'other',
  'operating',
  datetime.date(2008, 9, 9),
  None,
  'GHA',
  None,
  'Accra',
  'Accra',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 1, 27),
  datetime.date(2011, 1, 27),
  1,
  1),
 (914,
  'c:10479',
  'Company',
  None,
  'Vantagenet',
  'web',
  'acquired',
  datetime.date(1997, 1, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  2),
 (915,
  'c:1048',
  'Company',
  None,
  'SnapLayout',
  'network_hosting',
  'closed',
  None,
  datetime.date(2012, 1, 1),
  'USA',
  'CA',
  'San Francisco',
  'SF Bay',
  None,
  None,
  0,
  0,
  datetime.date(2007, 5, 1),
  datetime.date(2007, 5, 1),
  1,
  650000.0,
  datetime.date(2007, 10, 10),
  datetime.date(2013, 4, 14),
  3,
  3),
 (916,
  'c:10480',
  'Company',
  None,
  'Big Stage',
  'web',
  'acquired',
  datetime.date(2008, 6, 1),
  None,
  'USA',
  'CA',
  'South Pasadena',
  'Los Angeles',
  None,
  None,
  0,
  0,
  datetime.date(2007, 3, 1),
  datetime.date(2009, 4, 14),
  2,
  10600000.0,
  datetime.date(2008, 7, 1),
  datetime.date(2013, 10, 8),
  3,
  6),
 (917,
  'c:104809',
  'Company',
  None,
  'Prerunr',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2010, 11, 23),
  datetime.date(2010, 11, 23),
  1,
  1),
 (918,
  'c:10481',
  'Company',
  None,
  'Clicky Web Analytics',
  'advertising',
  'operating',
  datetime.date(2006, 11, 29),
  None,
  'USA',
  'OR',
  'Portland',
  'Portland',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2006, 1, 1),
  datetime.date(2011, 8, 8),
  2,
  3),
 (919,
  'c:104810',
  'Company',
  None,
  'Sqwoq',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2009, 1, 1),
  datetime.date(2009, 1, 1),
  1,
  1),
 (920,
  'c:104813',
  'Company',
  None,
  'Red Hawk Interactive',
  'ecommerce',
  'operating',
  datetime.date(2011, 4, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (921,
  'c:104815',
  'Company',
  None,
  'M-Files',
  'software',
  'operating',
  datetime.date(2001, 1, 1),
  None,
  'USA',
  'TX',
  'Dallas',
  'Dallas',
  None,
  None,
  0,
  0,
  datetime.date(2013, 4, 30),
  datetime.date(2013, 4, 30),
  1,
  7843200.0,
  datetime.date(2012, 3, 1),
  datetime.date(2013, 4, 30),
  2,
  3),
 (922,
  'c:104817',
  'Company',
  None,
  'Sound Telecom',
  'public_relations',
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (923,
  'c:104818',
  'Company',
  None,
  'ShiftHound',
  'software',
  'operating',
  datetime.date(2008, 1, 1),
  None,
  'USA',
  'CA',
  'Vista',
  'San Diego',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2008, 6, 1),
  datetime.date(2008, 6, 1),
  1,
  4),
 (924,
  'c:104819',
  'Company',
  None,
  'Goods with Story',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 9, 20),
  datetime.date(2011, 9, 20),
  1,
  1),
 (925,
  'c:10482',
  'Company',
  None,
  'Tumbltape',
  'web',
  'operating',
  datetime.date(2008, 9, 3),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (926,
  'c:104824',
  'Company',
  None,
  'JSGeeks',
  'consulting',
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (927,
  'c:104828',
  'Company',
  None,
  'Arxspan',
  'software',
  'operating',
  datetime.date(2009, 1, 1),
  None,
  'USA',
  'MA',
  'Southborough',
  'Boston',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (928,
  'c:10483',
  'Company',
  None,
  'Stationery Style',
  'other',
  'operating',
  datetime.date(2006, 1, 1),
  None,
  'USA',
  'AL',
  'Birmingham',
  'Birmingham',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  3),
 (929,
  'c:104832',
  'Company',
  None,
  'Snailbox',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 3, 1),
  datetime.date(2011, 3, 1),
  1,
  1),
 (930,
  'c:104836',
  'Company',
  None,
  'Emerge Group',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  datetime.date(2009, 2, 26),
  datetime.date(2009, 2, 26),
  1,
  1,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (931,
  'c:104837',
  'Company',
  None,
  'Emerge Studio',
  'software',
  'operating',
  datetime.date(2010, 4, 1),
  None,
  'ZAF',
  None,
  'Knysna',
  'Knysna',
  None,
  None,
  0,
  0,
  datetime.date(2009, 2, 26),
  datetime.date(2009, 2, 26),
  1,
  100000.0,
  datetime.date(2009, 3, 17),
  datetime.date(2009, 3, 17),
  1,
  1),
 (932,
  'c:104839',
  'Company',
  None,
  'eye2eye',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (933,
  'c:10484',
  'Company',
  None,
  'Plop it on me!',
  'web',
  'operating',
  datetime.date(2008, 2, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (934,
  'c:104841',
  'Company',
  None,
  'Think Active',
  'software',
  'operating',
  datetime.date(2010, 4, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 6, 1),
  datetime.date(2011, 6, 1),
  1,
  2),
 (935,
  'c:104844',
  'Company',
  None,
  'Indike',
  'search',
  'operating',
  datetime.date(2011, 7, 7),
  None,
  'BRA',
  None,
  'Sao Paulo',
  'Sao Paulo',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 7, 7),
  datetime.date(2011, 7, 7),
  1,
  1),
 (936,
  'c:104846',
  'Company',
  None,
  'Peers',
  'web',
  'closed',
  datetime.date(2011, 9, 1),
  datetime.date(2011, 1, 1),
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (937,
  'c:104848',
  'Company',
  None,
  'Fashonify.com',
  'web',
  'operating',
  datetime.date(2011, 9, 14),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 9, 14),
  datetime.date(2011, 9, 14),
  1,
  1),
 (938,
  'c:10485',
  'Company',
  None,
  'GE Healthcare',
  'biotech',
  'acquired',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  datetime.date(2011, 11, 7),
  datetime.date(2012, 12, 11),
  2,
  2,
  None,
  None,
  0,
  0.0,
  datetime.date(2012, 1, 1),
  datetime.date(2013, 11, 26),
  2,
  60),
 (939,
  'c:104852',
  'Company',
  None,
  'BlackWash',
  'consulting',
  'operating',
  datetime.date(2004, 8, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (940,
  'c:104853',
  'Company',
  None,
  'Green Brick Apps',
  'enterprise',
  'operating',
  datetime.date(2011, 2, 4),
  None,
  'CHL',
  None,
  'Santiago',
  'Santiago',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 2, 4),
  datetime.date(2011, 2, 4),
  1,
  1),
 (941,
  'c:10486',
  'Company',
  None,
  'Intraware',
  'software',
  'acquired',
  datetime.date(1996, 1, 1),
  None,
  'USA',
  'CA',
  'Orinda',
  'SF Bay',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2006, 1, 1),
  datetime.date(2006, 1, 1),
  1,
  8),
 (942,
  'c:104861',
  'Company',
  None,
  'Brightblue',
  'software',
  'operating',
  datetime.date(2000, 1, 1),
  None,
  'GBR',
  None,
  'LONDON',
  'London',
  None,
  None,
  0,
  0,
  datetime.date(2000, 1, 1),
  datetime.date(2003, 1, 1),
  3,
  2309232.0,
  datetime.date(2005, 11, 1),
  datetime.date(2005, 11, 1),
  1,
  1),
 (943,
  'c:104862',
  'Company',
  None,
  'Eezeer',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (944,
  'c:104873',
  'Company',
  None,
  'ARL Mobile',
  'mobile',
  'operating',
  datetime.date(2011, 6, 1),
  None,
  'GBR',
  None,
  'Hemel Hempstead',
  'London',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 6, 1),
  datetime.date(2011, 6, 1),
  1,
  2),
 (945,
  'c:10488',
  'Company',
  None,
  'Milobox',
  'advertising',
  'operating',
  datetime.date(2007, 6, 6),
  None,
  'USA',
  'CA',
  'San Francisco',
  'SF Bay',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  3),
 (946,
  'c:104881',
  'Company',
  None,
  'Linoma Software',
  'software',
  'operating',
  datetime.date(1994, 1, 1),
  None,
  'USA',
  'NE',
  'Ashland',
  'Omaha',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  18),
 (947,
  'c:104883',
  'Company',
  None,
  'Fierce Wombat Games',
  'games_video',
  'operating',
  datetime.date(2010, 1, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 5, 1),
  datetime.date(2011, 12, 21),
  2,
  1),
 (948,
  'c:104884',
  'Company',
  None,
  'Netural Communication',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 9, 1),
  datetime.date(2011, 9, 1),
  1,
  1),
 (949,
  'c:104886',
  'Company',
  None,
  'Flytailit',
  'web',
  'operating',
  datetime.date(2011, 1, 1),
  None,
  'USA',
  'WA',
  None,
  'Washington - Other',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (950,
  'c:10489',
  'Company',
  None,
  'Postful',
  'public_relations',
  'operating',
  datetime.date(2006, 1, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (951,
  'c:104890',
  'Company',
  None,
  'T3 Advisors',
  'consulting',
  'operating',
  datetime.date(2001, 8, 1),
  None,
  'USA',
  'MA',
  'Waltham',
  'Boston',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  5),
 (952,
  'c:104896',
  'Company',
  None,
  'BSAVI Financial Services t/a moneysmart',
  'web',
  'operating',
  datetime.date(2010, 8, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (953,
  'c:1049',
  'Company',
  None,
  'Confabb',
  'web',
  'closed',
  datetime.date(2006, 6, 1),
  datetime.date(2013, 3, 24),
  'USA',
  'CA',
  None,
  'California - Other',
  None,
  None,
  0,
  0,
  datetime.date(2007, 8, 1),
  datetime.date(2007, 8, 1),
  1,
  200000.0,
  datetime.date(2007, 9, 24),
  datetime.date(2007, 9, 24),
  1,
  3),
 (954,
  'c:10490',
  'Company',
  None,
  'Storyfountain',
  'web',
  'operating',
  datetime.date(2008, 8, 31),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (955,
  'c:104908',
  'Company',
  None,
  'Punchh',
  'mobile',
  'operating',
  datetime.date(2010, 1, 1),
  None,
  'USA',
  'CA',
  'Sunnyvale',
  'SF Bay',
  None,
  None,
  0,
  0,
  datetime.date(2013, 8, 15),
  datetime.date(2013, 8, 15),
  1,
  4000000.0,
  datetime.date(2010, 8, 1),
  datetime.date(2013, 10, 10),
  2,
  4),
 (956,
  'c:10491',
  'Company',
  None,
  'Rentaskilldirect',
  'network_hosting',
  'operating',
  datetime.date(2008, 5, 15),
  None,
  'ZAF',
  None,
  'Cape Town',
  'Cape Town',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (957,
  'c:104923',
  'Company',
  None,
  'KNO Clothing',
  'ecommerce',
  'operating',
  datetime.date(2010, 11, 28),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2010, 7, 1),
  datetime.date(2010, 7, 1),
  1,
  2),
 (958,
  'c:104924',
  'Company',
  None,
  'FeeFind',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2011, 2, 1),
  datetime.date(2011, 2, 1),
  1,
  1),
 (959,
  'c:104925',
  'Company',
  None,
  'Xerox PARC',
  None,
  'operating',
  None,
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2005, 1, 1),
  datetime.date(2005, 1, 1),
  1,
  19),
 (960,
  'c:104926',
  'Company',
  None,
  'Trintech',
  None,
  'operating',
  None,
  None,
  'USA',
  'TX',
  'Addison',
  'Dallas',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  datetime.date(2007, 1, 1),
  datetime.date(2012, 1, 1),
  2,
  6),
 (961,
  'c:104927',
  'Company',
  None,
  'ReconArt',
  'software',
  'operating',
  datetime.date(2008, 1, 1),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (962,
  'c:104928',
  'Company',
  None,
  'Chessapeake',
  None,
  'operating',
  None,
  None,
  'USA',
  None,
  'Oklahoma',
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (963,
  'c:10493',
  'Company',
  None,
  'Mirial',
  'software',
  'acquired',
  datetime.date(1999, 7, 1),
  None,
  'ITA',
  None,
  'Milan',
  'Milan',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  0),
 (964,
  'c:10494',
  'Company',
  None,
  'Builders Copilot',
  'advertising',
  'operating',
  datetime.date(2003, 2, 2),
  None,
  'USA',
  'VA',
  'Reston',
  'Washington DC',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,
  None,
  0,
  1),
 (965,
  'c:104941',
  'Company',
  None,
  'mylivechat',
  'public_relations',
  'operating',
  datetime.date(2003, 3, 8),
  None,
  None,
  None,
  None,
  'unknown',
  None,
  None,
  0,
  0,
  None,
  None,
  0,
  0.0,
  None,

In [2]:
path = 'Resources/'
degrees = pd.read_csv(path +'degrees_clean.csv', index_col=0)
degrees

       object_id degree_type                       subject                                        institution graduated_at
0         p:6117         MBA                           NaN                                                NaN          NaN
1         p:6136          BA               English, French                   Washington University, St. Louis     1/1/1990
2         p:6136          MS            Mass Communication                                  Boston University     1/1/1992
3         p:6005          MS           Internet Technology                            University of Greenwich     1/1/2006
4         p:5832         BCS  Computer Science, Psychology                                    Rice University          NaN
...          ...         ...                           ...                                                ...          ...
109605  p:268589         CPA                           NaN  American Institute of Certtified Public Accoun...          NaN
109606  p:268527     MS & BS                   Engineering               South China University of Technology          NaN
109607  p:268527         PhD                   Engineering                                Clarkson University          NaN
109608  p:268528        B.S.        Electrical Engineering                          Colorado State University          NaN
109609  p:268528        J.D.                           NaN              University of San Diego School of Law          NaN

[109056 rows x 5 columns]

In [3]:
degrees_red = degrees[['object_id', 'degree_type']]
degrees_red

       object_id degree_type
0         p:6117         MBA
1         p:6136          BA
2         p:6136          MS
3         p:6005          MS
4         p:5832         BCS
...          ...         ...
109605  p:268589         CPA
109606  p:268527     MS & BS
109607  p:268527         PhD
109608  p:268528        B.S.
109609  p:268528        J.D.

[109056 rows x 2 columns]

In [4]:
objects = pd.read_csv(path +'objects_clean.csv', index_col=0)
objects

C:\Users\phsstudent\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,5,7,8,9,10,11,13,14,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       object_id entity_type parent_id                                               name    category_code     status  founded_at closed_at country_code state_code         city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships
0            c:1     Company       NaN                                           Wetpaint              web  operating  2005-10-17       NaN          USA         WA      Seattle      Seattle                 NaN                NaN                  0                   0       2005-10-01      2008-05-19               3         39750000.0         2010-09-05        2013-09-18           5             17
1           c:10     Company       NaN                                            Flektor      games_video   acquired         NaN       NaN          USA         CA  Culver City  Los Angeles                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              6
2          c:100     Company       NaN                                              There      games_video   acquired         NaN       NaN          USA         CA    San Mateo       SF Bay                 NaN                NaN                  0                   0              NaN             NaN               0                0.0         2003-02-01        2011-09-23           4             12
3        c:10000     Company       NaN                                            MYWEBBO  network_hosting  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
4        c:10001     Company       NaN                                 THE Movie Streamer      games_video  operating  2008-07-26       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
...          ...         ...       ...                                                ...              ...        ...         ...       ...          ...        ...          ...          ...                 ...                ...                ...                 ...              ...             ...             ...                ...                ...               ...         ...            ...
462646    r:9995     Product   c:14164              SiteLink, listing feed for Brokerages              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462647    r:9996     Product   c:14164  EDCLink, listing feed for Economic Development...              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462648    r:9997     Product   c:14164                   Cmail, broadcast email marketing              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462649    r:9998     Product   c:14164                      CatylistCRM, contact database              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0
462650    r:9999     Product   c:14164                   Catylist Custom Print/Web Design              NaN  operating         NaN       NaN          NaN        NaN          NaN      unknown                 NaN                NaN                  0                   0              NaN             NaN               0                0.0                NaN               NaN           0              0

[462651 rows x 24 columns]

In [5]:
obj_people = objects[objects['object_id'].str.contains('p:', regex=True)]

In [6]:
obj_people_red = obj_people[['object_id', 'entity_type', 'name']]

In [7]:
combined = obj_people_red.merge(degrees_red, how='outer')

In [8]:
combined[combined['name'].isnull()]

Empty DataFrame
Columns: [object_id, entity_type, name, degree_type]
Index: []

In [9]:
degree_clean = degrees[degrees['object_id'].isin(objects['object_id'])]

In [10]:
degree_clean.to_csv(path + 'degrees_clean.csv')

In [11]:
people = pd.read_csv(path +'people_clean.csv', index_col=0)
people

       object_id first_name last_name affiliation_name
0            p:2        Ben   Elowitz        Blue Nile
1            p:3      Kevin  Flaherty         Wetpaint
2            p:4       Raju   Vegesna             Zoho
3            p:5        Ian     Wenig             Zoho
4            p:6      Kevin      Rose     i/o Ventures
...          ...        ...       ...              ...
226703  p:268587       Mark   Stolper     Unaffiliated
226704  p:268589       John      Pins     Unaffiliated
226705  p:268590      David  Schulhof     Unaffiliated
226706  p:268592    Matthew  D. Rosen     Unaffiliated
226707  p:268593     Gordon  Hutchins     Unaffiliated

[226708 rows x 4 columns]

In [12]:
people = pd.read_csv(path +'people_clean.csv', index_col=0)
people

       object_id first_name last_name affiliation_name
0            p:2        Ben   Elowitz        Blue Nile
1            p:3      Kevin  Flaherty         Wetpaint
2            p:4       Raju   Vegesna             Zoho
3            p:5        Ian     Wenig             Zoho
4            p:6      Kevin      Rose     i/o Ventures
...          ...        ...       ...              ...
226703  p:268587       Mark   Stolper     Unaffiliated
226704  p:268589       John      Pins     Unaffiliated
226705  p:268590      David  Schulhof     Unaffiliated
226706  p:268592    Matthew  D. Rosen     Unaffiliated
226707  p:268593     Gordon  Hutchins     Unaffiliated

[226708 rows x 4 columns]

In [13]:
people_clean = people[people['object_id'].isin(objects['object_id'])]
people_clean

       object_id first_name last_name affiliation_name
0            p:2        Ben   Elowitz        Blue Nile
1            p:3      Kevin  Flaherty         Wetpaint
2            p:4       Raju   Vegesna             Zoho
3            p:5        Ian     Wenig             Zoho
4            p:6      Kevin      Rose     i/o Ventures
...          ...        ...       ...              ...
226703  p:268587       Mark   Stolper     Unaffiliated
226704  p:268589       John      Pins     Unaffiliated
226705  p:268590      David  Schulhof     Unaffiliated
226706  p:268592    Matthew  D. Rosen     Unaffiliated
226707  p:268593     Gordon  Hutchins     Unaffiliated

[226708 rows x 4 columns]

In [14]:
people_clean.to_csv(path + 'people_cleaner.csv')
print('Save Complete')

Save Complete

# Relationships

In [15]:
rels = pd.read_csv(path+'relationships.csv')
rels_df = rels.drop(columns={'id', 'relationship_id', 'created_at', 'updated_at'})
rels_df

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1         NaN         NaN        0         8                  Co-Founder/CEO/Board of Directors
1                   p:3                    c:1         NaN         NaN        1    279242                                       VP Marketing
2                   p:4                    c:3         NaN         NaN        0         4                                         Evangelist
3                   p:5                    c:3  2006-03-01  2009-12-01        1         4                Senior Director Strategic Alliances
4                   p:7                    c:4  2005-07-01  2010-04-05        1         1                            Chief Executive Officer
...                 ...                    ...         ...         ...      ...       ...                                                ...
402873         p:268527               c:286218  2005-01-01  2010-01-01        1         1                        Sr. Consultant/Patent Agent
402874         p:268597                c:12612         NaN         NaN        0         1  VP, GM & Editor In Chief - Clinical Decison Su...
402875         p:268528               c:286152         NaN         NaN        1    273049                                     Vice President
402876         p:268528               c:286220         NaN         NaN        1         1  General Counsel, Director of Patents and Licen...
402877         p:268528               c:286221         NaN         NaN        1         1                                    Design Engineer

[402878 rows x 7 columns]

In [16]:
rels_df['start_at'] = rels_df['start_at'].fillna('1900-01-01')
rels_df

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1  1900-01-01         NaN        0         8                  Co-Founder/CEO/Board of Directors
1                   p:3                    c:1  1900-01-01         NaN        1    279242                                       VP Marketing
2                   p:4                    c:3  1900-01-01         NaN        0         4                                         Evangelist
3                   p:5                    c:3  2006-03-01  2009-12-01        1         4                Senior Director Strategic Alliances
4                   p:7                    c:4  2005-07-01  2010-04-05        1         1                            Chief Executive Officer
...                 ...                    ...         ...         ...      ...       ...                                                ...
402873         p:268527               c:286218  2005-01-01  2010-01-01        1         1                        Sr. Consultant/Patent Agent
402874         p:268597                c:12612  1900-01-01         NaN        0         1  VP, GM & Editor In Chief - Clinical Decison Su...
402875         p:268528               c:286152  1900-01-01         NaN        1    273049                                     Vice President
402876         p:268528               c:286220  1900-01-01         NaN        1         1  General Counsel, Director of Patents and Licen...
402877         p:268528               c:286221  1900-01-01         NaN        1         1                                    Design Engineer

[402878 rows x 7 columns]

In [17]:
rels_df['end_at']=rels_df['end_at'].fillna('1900-01-01')
rels_df

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1  1900-01-01  1900-01-01        0         8                  Co-Founder/CEO/Board of Directors
1                   p:3                    c:1  1900-01-01  1900-01-01        1    279242                                       VP Marketing
2                   p:4                    c:3  1900-01-01  1900-01-01        0         4                                         Evangelist
3                   p:5                    c:3  2006-03-01  2009-12-01        1         4                Senior Director Strategic Alliances
4                   p:7                    c:4  2005-07-01  2010-04-05        1         1                            Chief Executive Officer
...                 ...                    ...         ...         ...      ...       ...                                                ...
402873         p:268527               c:286218  2005-01-01  2010-01-01        1         1                        Sr. Consultant/Patent Agent
402874         p:268597                c:12612  1900-01-01  1900-01-01        0         1  VP, GM & Editor In Chief - Clinical Decison Su...
402875         p:268528               c:286152  1900-01-01  1900-01-01        1    273049                                     Vice President
402876         p:268528               c:286220  1900-01-01  1900-01-01        1         1  General Counsel, Director of Patents and Licen...
402877         p:268528               c:286221  1900-01-01  1900-01-01        1         1                                    Design Engineer

[402878 rows x 7 columns]

In [18]:
rels_clean = rels_df[rels_df['person_object_id'].isin(objects['object_id'])]
rels_clean

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1  1900-01-01  1900-01-01        0         8                  Co-Founder/CEO/Board of Directors
1                   p:3                    c:1  1900-01-01  1900-01-01        1    279242                                       VP Marketing
2                   p:4                    c:3  1900-01-01  1900-01-01        0         4                                         Evangelist
3                   p:5                    c:3  2006-03-01  2009-12-01        1         4                Senior Director Strategic Alliances
4                   p:7                    c:4  2005-07-01  2010-04-05        1         1                            Chief Executive Officer
...                 ...                    ...         ...         ...      ...       ...                                                ...
402872         p:268527               c:286217  2010-09-01  2012-04-01        1         1                          Sr. Manager, IP Analytics
402873         p:268527               c:286218  2005-01-01  2010-01-01        1         1                        Sr. Consultant/Patent Agent
402875         p:268528               c:286152  1900-01-01  1900-01-01        1    273049                                     Vice President
402876         p:268528               c:286220  1900-01-01  1900-01-01        1         1  General Counsel, Director of Patents and Licen...
402877         p:268528               c:286221  1900-01-01  1900-01-01        1         1                                    Design Engineer

[401957 rows x 7 columns]

In [19]:
rels_clean2 = rels_clean[rels_clean['relationship_object_id'].isin(objects['object_id'])]
rels_clean2

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1  1900-01-01  1900-01-01        0         8                  Co-Founder/CEO/Board of Directors
1                   p:3                    c:1  1900-01-01  1900-01-01        1    279242                                       VP Marketing
2                   p:4                    c:3  1900-01-01  1900-01-01        0         4                                         Evangelist
3                   p:5                    c:3  2006-03-01  2009-12-01        1         4                Senior Director Strategic Alliances
4                   p:7                    c:4  2005-07-01  2010-04-05        1         1                            Chief Executive Officer
...                 ...                    ...         ...         ...      ...       ...                                                ...
402868         p:268589                c:12612  1900-01-01  1900-01-01        1         2         Accounting Manager for Facts & Comparisons
402869         p:268589                c:12612  1900-01-01  1900-01-01        1         3                  Controller, Wolters Kluwer Health
402870         p:268589                c:12612  1997-01-01  1900-01-01        1         1  Director, Accounting - Professional & Educatio...
402871         p:268527                c:39172  2012-04-01  2013-10-01        1    273047                     Director, Business Development
402875         p:268528               c:286152  1900-01-01  1900-01-01        1    273049                                     Vice President

[400176 rows x 7 columns]

In [20]:
rels_clean2[rels_clean2['person_object_id']=='p:80624']

      person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
83033          p:80624                c:45066  1961-02-18  1900-01-01        0         2  Prof. Dr., trustee, presidente di consiglio, U...
84694          p:80624                c:66405  1961-01-01  1900-01-01        0         1  Prof. Dr., trustee, presidente di consiglio, U...

In [21]:
rels_clean2.loc[83033, 'title'].replace(",", "")
rels_clean2.loc[84694, 'title'].replace(",", "")

"Prof. Dr. trustee presidente di consiglio Universita'"

In [22]:
rels_clean2.to_csv(path+'relationships_cleaner.csv')
print('Save Complete')

Save Complete

# Experiment with Sequence Column

In [23]:
rc2 = rels_clean2

In [24]:
rc2[rc2['sequence']==rc2['sequence'].max()]

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence    title
374286          p:99472                c:29588  1900-01-01  1900-01-01        0    399946  Founder

In [25]:
rc2[rc2['sequence']==rc2['sequence'].max()].groupby(['person_object_id'])

In [26]:
rcA = rc2.groupby(['person_object_id']).sequence.max()
rcA_df = pd.DataFrame(rcA)
rcA_df.reset_index()

       person_object_id  sequence
0                  p:10         2
1                 p:100         1
2                p:1000         1
3               p:10000         6
4              p:100000         1
...                 ...       ...
200859          p:99992         2
200860          p:99994         1
200861          p:99995         1
200862          p:99997         7
200863          p:99998         2

[200864 rows x 2 columns]

In [27]:
rcB = rc2[['person_object_id','sequence', 'title']]
rcB

       person_object_id  sequence                                              title
0                   p:2         8                  Co-Founder/CEO/Board of Directors
1                   p:3    279242                                       VP Marketing
2                   p:4         4                                         Evangelist
3                   p:5         4                Senior Director Strategic Alliances
4                   p:7         1                            Chief Executive Officer
...                 ...       ...                                                ...
402868         p:268589         2         Accounting Manager for Facts & Comparisons
402869         p:268589         3                  Controller, Wolters Kluwer Health
402870         p:268589         1  Director, Accounting - Professional & Educatio...
402871         p:268527    273047                     Director, Business Development
402875         p:268528    273049                                     Vice President

[400176 rows x 3 columns]

In [28]:
rcB.merge(rcA, how='left', on='person_object_id')

       person_object_id  sequence_x                                              title  sequence_y
0                   p:2           8                  Co-Founder/CEO/Board of Directors           8
1                   p:3      279242                                       VP Marketing      279248
2                   p:4           4                                         Evangelist           5
3                   p:5           4                Senior Director Strategic Alliances           5
4                   p:7           1                            Chief Executive Officer           8
...                 ...         ...                                                ...         ...
400171         p:268589           2         Accounting Manager for Facts & Comparisons           4
400172         p:268589           3                  Controller, Wolters Kluwer Health           4
400173         p:268589           1  Director, Accounting - Professional & Educatio...           4
400174         p:268527      273047                     Director, Business Development      273048
400175         p:268528      273049                                     Vice President      273050

[400176 rows x 4 columns]

In [29]:
rc2_sort = rc2.sort_values(by=['sequence'], ascending=False)
rc2_sort

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                     title
374286          p:99472                c:29588  1900-01-01  1900-01-01        0    399946                   Founder
374287          p:99472                c:37723  1900-01-01  1900-01-01        0    399945                   Advisor
135830          p:99472                 f:9273  1900-01-01  1900-01-01        0    399944          Managing Partner
296318          p:99472                f:13132  2013-08-06  1900-01-01        0    399943                  Director
134057          p:98433               c:158453  2011-10-28  1900-01-01        0    398565              Founder & MD
...                 ...                    ...         ...         ...      ...       ...                       ...
16680           p:18104                  c:194  1900-01-01  1900-01-01        1         1     Editor of Ostatic.com
16679           p:18103                  c:194  1900-01-01  1900-01-01        1         1       Editor of FoundRead
16678           p:18102                  c:194  1900-01-01  1900-01-01        1         1   Special Projects Editor
16677           p:11404                c:11018  1900-01-01  1900-01-01        1         1                       CEO
201605         p:190651                 c:9419  1900-01-01  1900-01-01        0         1  Corporate Officer, Legal

[400176 rows x 7 columns]

In [30]:
rc2_clean = rc2_sort.drop_duplicates(subset=['person_object_id'])
rc2_clean.shape

(200864, 7)

In [31]:
rc2_clean.sort_index()

       person_object_id relationship_object_id    start_at      end_at  is_past  sequence                                              title
0                   p:2                    c:1  1900-01-01  1900-01-01        0         8                  Co-Founder/CEO/Board of Directors
17                 p:21                 c:7299  1900-01-01  1900-01-01        0         1                               VP, Customer Service
21                 p:25                 c:7299  1900-01-01  1900-01-01        0         1                                        VP, Product
34                 p:40                   c:10  1900-01-01  1900-01-01        1         2                                 Co-founder and CTO
40                 p:51                   c:14  1900-01-01  1900-01-01        0         1                    Director of Strategic Relations
...                 ...                    ...         ...         ...      ...       ...                                                ...
402853         p:158143                c:12612  1900-01-01  1900-01-01        0         4  President & CEO, Wolters Kluwer Health, Clinic...
402864         p:268589                c:12612  2006-06-01  1900-01-01        0         4                   VP, Finance & Clinical Solutions
402865         p:268590               c:286215  1900-01-01  1900-01-01        0         1                                         Co-Founder
402866         p:268592               c:256200  1900-01-01  1900-01-01        0         1                                                CEO
402867         p:268593               c:256200  1900-01-01  1900-01-01        0         1                                                COO

[200864 rows x 7 columns]

In [ ]:
rels = pd.read_csv(path+'relationships.csv')
rels_df = rels.drop(columns={'id', 'relationship_id', 'created_at', 'updated_at'})
rels_df