In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
from datetime import datetime

In [2]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [3]:
my_bucket = s3.Bucket('team3-final-bucket')

In [4]:
client = boto3.client('s3')
path = 's3://team3-final-bucket/Resources_raw/'

In [5]:
objects_df = pd.read_csv(path + 'objects.csv', dtype={'status':str, 'entity_id':str})
objects_df.head()

C:\Users\Fahima Farha PC\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

In [6]:
objects_df.dtypes

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [7]:
objects_df['category_code'].unique()

array(['web', 'games_video', 'network_hosting', 'advertising',
       'cleantech', nan, 'enterprise', 'other', 'consulting', 'mobile',
       'health', 'software', 'analytics', 'finance', 'education',
       'medical', 'manufacturing', 'biotech', 'ecommerce',
       'public_relations', 'hardware', 'search', 'news', 'government',
       'security', 'photo_video', 'travel', 'semiconductor', 'social',
       'legal', 'transportation', 'hospitality', 'sports', 'nonprofit',
       'fashion', 'messaging', 'music', 'automotive', 'design',
       'real_estate', 'local', 'nanotech', 'pets'], dtype=object)

In [8]:
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [9]:
is_string_dtype(objects_df['status'])

True

In [10]:
is_numeric_dtype(objects_df['status'])

False

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(objects_df.dtypes)

id                      object
entity_type             object
entity_id               object
parent_id               object
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width               int64
logo_height              int64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds        int64
invested_companies       int64
first_funding_at        object
last_funding_at         object
funding_rounds           int64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones               int64
relationships            int64
created_by              object
created_at              object
updated_at              object
dtype: object

In [12]:
objects_df.head()

#id c:XXXX = company,  r:XXXX=product, f:XXXX=financial org, p:XXXX=person

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

##### Transforming Data

In [13]:
objects_df = objects_df.rename(columns = {'id':'object_id'})
objects_df.head()

,object_id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0,0.0,NaN,NaN,0,6,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0,0.0,NaN,NaN,0,0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18

##### Dropping redundant columns

In [14]:
objects_clean = objects_df.drop(columns = {'permalink', 'created_by', 'created_at', 'updated_at', 'logo_url', 'logo_width', 'logo_height', 'overview', 'tag_list', 'domain', 'twitter_username', 'homepage_url', 'normalized_name', 'short_description','description'})
objects_clean

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaN,USA,...,0,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaN,NaN,USA,...,0,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,...,0,0,NaN,NaN,0,0.0,NaN,NaN,0,0

##### Converting date columns into date format

In [15]:
# Converting strings to date type
objects_clean['founded_at'] = pd.to_datetime(objects_clean.founded_at, format='%Y-%m-%d')
objects_clean['closed_at'] = pd.to_datetime(objects_clean.closed_at, format='%Y-%m-%d')
objects_clean['first_investment_at'] = pd.to_datetime(objects_clean.first_investment_at, format='%Y-%m-%d')
objects_clean['last_investment_at'] = pd.to_datetime(objects_clean.last_investment_at, format='%Y-%m-%d')
objects_clean['first_funding_at'] = pd.to_datetime(objects_clean.first_funding_at, format='%Y-%m-%d')
objects_clean['last_funding_at'] = pd.to_datetime(objects_clean.last_funding_at, format='%Y-%m-%d')
objects_clean['first_milestone_at'] = pd.to_datetime(objects_clean.first_milestone_at, format='%Y-%m-%d')
objects_clean['last_milestone_at'] = pd.to_datetime(objects_clean.last_milestone_at, format='%Y-%m-%d')

In [16]:
objects_clean.dtypes

object_id                      object
entity_type                    object
entity_id                      object
parent_id                      object
name                           object
category_code                  object
status                         object
founded_at             datetime64[ns]
closed_at              datetime64[ns]
country_code                   object
state_code                     object
city                           object
region                         object
first_investment_at    datetime64[ns]
last_investment_at     datetime64[ns]
investment_rounds               int64
invested_companies              int64
first_funding_at       datetime64[ns]
last_funding_at        datetime64[ns]
funding_rounds                  int64
funding_total_usd             float64
first_milestone_at     datetime64[ns]
last_milestone_at      datetime64[ns]
milestones                      int64
relationships                   int64
dtype: object

In [17]:
# Changing columns order
objects_clean.columns.to_list()

['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'founded_at',
 'closed_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'first_investment_at',
 'last_investment_at',
 'investment_rounds',
 'invested_companies',
 'first_funding_at',
 'last_funding_at',
 'funding_rounds',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']

In [18]:
# Adding a new column for collecting dates

objects_clean["end_dates"] = ""
objects_clean.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,closed_at,country_code,...,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,end_dates
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,USA,...,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,NaT,NaT,0,6,
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,USA,...,0,NaT,NaT,0,0.0,2003-02-01,2011-09-23,4,12,
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaN,...,0,NaT,NaT,0,0.0,NaT,NaT,0,0,

In [19]:
objects_clean2 = objects_clean[['object_id',
 'entity_type',
 'entity_id',
 'parent_id',
 'name',
 'category_code',
 'status',
 'founded_at',
 'first_investment_at',
 'first_funding_at',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'end_dates',                               
 'closed_at',
 'last_investment_at',
 'last_funding_at',
 'funding_total_usd',
 'first_milestone_at',
 'last_milestone_at',
 'milestones',
 'relationships']]

In [20]:
objects_clean2.head()

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,first_investment_at,first_funding_at,...,funding_rounds,end_dates,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,2005-10-01,...,3,,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,0

In [21]:
# Filtering 'companies' only
companies_df = objects_clean2[objects_clean2['entity_type']=='Company']
companies_df

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,first_investment_at,first_funding_at,...,funding_rounds,end_dates,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,2005-10-01,...,3,,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,99940,NaN,Webgility,ecommerce,operating,2007-01-01,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,2013-08-12,2013-08-12,2,5
196549,c:9995,Company,9995,NaN,FohBoh,public_relations,operating,2007-11-01,NaT,2008-08-25,...,1,,NaT,NaT,2008-08-25,750000.0,2013-05-01,2013-05-01,1,14
196550,c:9996,Company,9996,NaN,CSC,consulting,operating,1959-01-01,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,2012-01-01,2013-10-30,3,44
196551,c:9997,Company,9997,NaN,Top-candidateÂ™,search,operating,2008-07-01,NaT,NaT,...,0,,NaT,NaT,NaT,0.0,NaT,NaT,0,1
196552,c:9998,Company,9998,NaN,Closet Couture,ecommerce,operating,2007-09-01,NaT,2008-06-01,...,1,,NaT,NaT,2008-06-01,475000.0,2006-07-01,2008-09-10,2,1

##### Working on filling in gap of end dates = pulling from different columns and related tables

In [22]:
# Filling out end dates gaps by combining dates from three columns of 'Companies':
# closed_at, last_investment_at, last_funding_at.
# If conflicting dates are found in one record, the earliest is taken.

def maxdate(a,b,c):
    return max(a,b,c)

In [23]:
companies_df['end_dates'] = companies_df.apply(lambda row : maxdate(row['closed_at'], 
                     row['last_investment_at'], row['last_funding_at']), axis = 1)

C:\Users\Fahima Farha PC\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
companies_df.head(10)

,object_id,entity_type,entity_id,parent_id,name,category_code,status,founded_at,first_investment_at,first_funding_at,...,funding_rounds,end_dates,closed_at,last_investment_at,last_funding_at,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships
0,c:1,Company,1,NaN,Wetpaint,web,operating,2005-10-17,NaT,2005-10-01,...,3,NaT,NaT,NaT,2008-05-19,39750000.0,2010-09-05,2013-09-18,5,17
1,c:10,Company,10,NaN,Flektor,games_video,acquired,NaT,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,NaT,NaT,0,6
2,c:100,Company,100,NaN,There,games_video,acquired,NaT,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,2003-02-01,2011-09-23,4,12
3,c:10000,Company,10000,NaN,MYWEBBO,network_hosting,operating,2008-07-26,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,NaT,NaT,0,0
4,c:10001,Company,10001,NaN,THE Movie Streamer,games_video,operating,2008-07-26,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,NaT,NaT,0,0
5,c:10002,Company,10002,NaN,Synergie Media,advertising,operating,2007-06-27,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,NaT,NaT,0,2
6,c:10003,Company,10003,NaN,Green Basti Ecosystems,cleantech,operating,2008-08-20,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,NaT,NaT,0,0
7,c:100042,Company,100042,NaN,HostNine,NaN,operating,NaT,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,2011-06-20,2011-06-20,1,1
8,c:10005,Company,10005,NaN,Thomas Publishing,advertising,operating,NaT,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,1999-06-01,1999-06-01,1,2
9,c:100062,Company,100062,NaN,Vetter Idea Management System,enterprise,operating,2011-08-01,NaT,NaT,...,0,NaT,NaT,NaT,NaT,0.0,2011-08-01,2011-08-01,1,2

In [25]:
companies_df['end_dates'].unique()

array([                          'NaT', '2010-01-01T00:00:00.000000000',
       '2010-05-22T00:00:00.000000000', '2011-12-17T00:00:00.000000000',
       '2012-07-24T00:00:00.000000000', '2010-02-23T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '2013-09-01T00:00:00.000000000',
       '2010-04-16T00:00:00.000000000', '2009-08-14T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2009-04-30T00:00:00.000000000',
       '2013-02-01T00:00:00.000000000', '2012-05-12T00:00:00.000000000',
       '2013-01-20T00:00:00.000000000', '2011-02-10T00:00:00.000000000',
       '2012-04-26T00:00:00.000000000', '2012-12-31T00:00:00.000000000',
       '2013-05-01T00:00:00.000000000', '2012-03-07T00:00:00.000000000',
       '2012-04-08T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2013-08-21T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2007-10-01T00:00:00.000000000',
       '2013-04-19T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2013-03-24T00:00:00.000000000', '2012-06-01T00:00:00.000000000',
       '2011-04-01T00:00:00.000000000', '2008-06-16T00:00:00.000000000',
       '2013-04-01T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '2012-09-08T00:00:00.000000000',
       '2013-08-02T00:00:00.000000000', '2009-07-01T00:00:00.000000000',
       '2010-03-01T00:00:00.000000000', '2012-06-27T00:00:00.000000000',
       '2013-04-12T00:00:00.000000000', '2011-09-02T00:00:00.000000000',
       '2010-11-19T00:00:00.000000000', '2012-05-31T00:00:00.000000000',
       '2012-03-01T00:00:00.000000000', '2010-04-25T00:00:00.000000000',
       '2013-06-14T00:00:00.000000000', '2010-08-15T00:00:00.000000000',
       '2008-10-11T00:00:00.000000000', '2011-09-20T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2013-09-17T00:00:00.000000000',
       '2011-01-31T00:00:00.000000000', '2010-01-12T00:00:00.000000000',
       '2012-01-15T00:00:00.000000000', '2013-07-01T00:00:00.000000000',
       '2011-12-05T00:00:00.000000000', '2009-08-01T00:00:00.000000000',
       '2012-04-23T00:00:00.000000000', '2010-06-10T00:00:00.000000000',
       '2008-05-09T00:00:00.000000000', '2012-09-03T00:00:00.000000000',
       '2010-08-08T00:00:00.000000000', '2009-05-01T00:00:00.000000000',
       '2011-11-04T00:00:00.000000000', '2009-10-26T00:00:00.000000000',
       '2010-11-12T00:00:00.000000000', '2010-01-21T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2009-06-17T00:00:00.000000000',
       '2011-06-01T00:00:00.000000000', '2009-06-23T00:00:00.000000000',
       '2008-10-02T00:00:00.000000000', '2010-07-22T00:00:00.000000000',
       '2008-05-22T00:00:00.000000000', '2011-01-29T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2013-06-28T00:00:00.000000000', '2009-06-15T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2012-08-17T00:00:00.000000000',
       '2012-09-04T00:00:00.000000000', '2012-10-31T00:00:00.000000000',
       '2008-10-16T00:00:00.000000000', '2012-09-23T00:00:00.000000000',
       '2009-05-25T00:00:00.000000000', '2011-05-10T00:00:00.000000000',
       '2012-01-21T00:00:00.000000000', '2009-02-18T00:00:00.000000000',
       '2012-09-19T00:00:00.000000000', '2009-04-01T00:00:00.000000000',
       '2012-10-01T00:00:00.000000000', '2013-04-30T00:00:00.000000000',
       '2010-02-03T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '2006-02-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '2011-12-31T00:00:00.000000000', '2012-01-04T00:00:00.000000000',
       '2012-08-18T00:00:00.000000000', '2011-02-24T00:00:00.000000000',
       '2009-02-23T00:00:00.000000000', '2011-03-29T00:00:00.000000000',
       '2012-09-10T00:00:00.000000000', '2012-04-03T00:00:00.000000000',
       '2009-07-13T00:00:00.000000000', '2011-11-14T00:00:00.000000000',
       '2012-04-20T00:00:00.000000000', '2008-12-19T00:00:00.000000000',
       '2008-10-29T00:00:00.000000000', '2013-04-02T00:00:00.000000000',
       '2012-07-16T00:00:00.000000000', '2008-11-28T00:00:00.000000000',
       '2008-11-03T00:00:00.000000000', '2012-08-01T00:00:00.000000000',
       '2010-02-17T00:00:00.000000000', '2008-11-01T00:00:00.000000000',
       '2012-06-30T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2011-05-21T00:00:00.000000000', '2008-11-07T00:00:00.000000000',
       '2012-04-18T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2011-10-05T00:00:00.000000000', '2008-04-14T00:00:00.000000000',
       '2011-11-29T00:00:00.000000000', '2012-07-06T00:00:00.000000000',
       '2010-11-23T00:00:00.000000000', '2012-02-01T00:00:00.000000000',
       '2011-02-07T00:00:00.000000000', '2012-07-02T00:00:00.000000000',
       '2012-11-24T00:00:00.000000000', '2012-04-19T00:00:00.000000000',
       '2012-05-01T00:00:00.000000000', '2014-01-02T00:00:00.000000000',
       '2012-04-12T00:00:00.000000000', '2011-02-15T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2012-10-04T00:00:00.000000000',
       '2011-07-11T00:00:00.000000000', '2009-05-20T00:00:00.000000000',
       '2001-01-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '2012-03-26T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2013-04-10T00:00:00.000000000', '2012-03-04T00:00:00.000000000',
       '2011-12-24T00:00:00.000000000', '2013-03-17T00:00:00.000000000',
       '2012-12-23T00:00:00.000000000', '2008-11-30T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '2011-02-01T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2012-04-24T00:00:00.000000000',
       '2013-01-10T00:00:00.000000000', '2011-05-14T00:00:00.000000000',
       '2012-02-19T00:00:00.000000000', '2013-08-31T00:00:00.000000000',
       '2013-02-22T00:00:00.000000000', '2011-10-04T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2013-08-01T00:00:00.000000000', '2008-12-10T00:00:00.000000000',
       '2011-04-21T00:00:00.000000000', '2012-11-01T00:00:00.000000000',
       '2008-07-30T00:00:00.000000000', '2009-01-14T00:00:00.000000000',
       '2011-09-03T00:00:00.000000000', '2012-12-06T00:00:00.000000000',
       '2012-03-05T00:00:00.000000000', '2008-07-26T00:00:00.000000000',
       '2008-12-16T00:00:00.000000000', '2013-04-29T00:00:00.000000000',
       '2010-06-12T00:00:00.000000000', '2013-06-12T00:00:00.000000000',
       '2012-04-01T00:00:00.000000000', '2011-02-02T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2013-06-18T00:00:00.000000000',
       '2013-05-11T00:00:00.000000000', '2011-01-28T00:00:00.000000000',
       '2011-05-27T00:00:00.000000000', '2009-10-23T00:00:00.000000000',
       '2010-07-09T00:00:00.000000000', '2013-10-08T00:00:00.000000000',
       '2008-08-25T00:00:00.000000000', '2009-07-26T00:00:00.000000000',
       '2012-02-28T00:00:00.000000000', '2013-10-18T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2012-07-05T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '2013-09-06T00:00:00.000000000', '2011-06-14T00:00:00.000000000',
       '2013-05-07T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2011-08-30T00:00:00.000000000', '2012-06-15T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2013-06-11T00:00:00.000000000',
       '2010-08-12T00:00:00.000000000', '2013-11-21T00:00:00.000000000',
       '2012-01-24T00:00:00.000000000', '2012-04-21T00:00:00.000000000',
       '2012-01-12T00:00:00.000000000', '2012-12-09T00:00:00.000000000',
       '2012-02-13T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2009-11-22T00:00:00.000000000', '2009-03-23T00:00:00.000000000',
       '2008-07-25T00:00:00.000000000', '2009-10-01T00:00:00.000000000',
       '2011-07-18T00:00:00.000000000', '2012-10-20T00:00:00.000000000',
       '2013-08-15T00:00:00.000000000', '2013-02-28T00:00:00.000000000',
       '2012-10-24T00:00:00.000000000', '2011-11-23T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-08-10T00:00:00.000000000',
       '2008-05-01T00:00:00.000000000', '2012-09-27T00:00:00.000000000',
       '2010-06-17T00:00:00.000000000', '2012-09-14T00:00:00.000000000',
       '2009-08-15T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2008-12-02T00:00:00.000000000', '2011-07-08T00:00:00.000000000',
       '2013-04-25T00:00:00.000000000', '2009-02-24T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2008-01-02T00:00:00.000000000',
       '2011-10-12T00:00:00.000000000', '2008-08-01T00:00:00.000000000',
       '2008-03-21T00:00:00.000000000', '2013-01-16T00:00:00.000000000',
       '2013-06-04T00:00:00.000000000', '2009-10-10T00:00:00.000000000',
       '2009-04-22T00:00:00.000000000', '2012-02-07T00:00:00.000000000',
       '2012-08-30T00:00:00.000000000', '2012-12-02T00:00:00.000000000',
       '2013-06-15T00:00:00.000000000', '2012-09-15T00:00:00.000000000',
       '2010-02-01T00:00:00.000000000', '2010-04-21T00:00:00.000000000',
       '2009-06-30T00:00:00.000000000', '2011-07-17T00:00:00.000000000',
       '2012-09-22T00:00:00.000000000', '2011-09-28T00:00:00.000000000',
       '2013-09-29T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2009-02-28T00:00:00.000000000', '2010-07-02T00:00:00.000000000',
       '2013-02-15T00:00:00.000000000', '2012-06-04T00:00:00.000000000',
       '2012-06-16T00:00:00.000000000', '2010-11-13T00:00:00.000000000',
       '2009-01-30T00:00:00.000000000', '2009-12-01T00:00:00.000000000',
       '2013-09-14T00:00:00.000000000', '2008-01-03T00:00:00.000000000',
       '2008-02-26T00:00:00.000000000', '2013-07-18T00:00:00.000000000',
       '2011-12-16T00:00:00.000000000', '2009-10-04T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2012-09-18T00:00:00.000000000',
       '2013-12-09T00:00:00.000000000', '2009-04-06T00:00:00.000000000',
       '2010-05-04T00:00:00.000000000', '2012-09-26T00:00:00.000000000',
       '2013-05-28T00:00:00.000000000', '2011-02-08T00:00:00.000000000',
       '2013-06-10T00:00:00.000000000', '2012-09-05T00:00:00.000000000',
       '2009-01-28T00:00:00.000000000', '2013-06-07T00:00:00.000000000',
       '2012-03-13T00:00:00.000000000', '2010-07-11T00:00:00.000000000',
       '2007-07-20T00:00:00.000000000', '2011-12-25T00:00:00.000000000',
       '2012-12-15T00:00:00.000000000', '2013-08-05T00:00:00.000000000',
       '2009-04-16T00:00:00.000000000', '2010-05-16T00:00:00.000000000',
       '2012-07-28T00:00:00.000000000', '2009-09-19T00:00:00.000000000',
       '2013-11-17T00:00:00.000000000', '2007-01-01T00:00:00.000000000',
       '2006-01-01T00:00:00.000000000', '2012-07-12T00:00:00.000000000',
       '2013-05-29T00:00:00.000000000', '2012-06-05T00:00:00.000000000',
       '2012-01-05T00:00:00.000000000', '2004-01-01T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-05-31T00:00:00.000000000',
       '2009-02-17T00:00:00.000000000', '2010-04-13T00:00:00.000000000',
       '2012-04-16T00:00:00.000000000', '2013-08-20T00:00:00.000000000',
       '2010-05-24T00:00:00.000000000', '2007-12-06T00:00:00.000000000',
       '2013-04-07T00:00:00.000000000', '2012-01-02T00:00:00.000000000',
       '2009-09-17T00:00:00.000000000', '2013-03-29T00:00:00.000000000',
       '2009-08-20T00:00:00.000000000', '2009-08-31T00:00:00.000000000',
       '2013-10-01T00:00:00.000000000', '2011-02-04T00:00:00.000000000',
       '2012-11-11T00:00:00.000000000', '2013-07-31T00:00:00.000000000',
       '2009-03-07T00:00:00.000000000', '2012-10-27T00:00:00.000000000',
       '2009-05-30T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2012-03-31T00:00:00.000000000', '2010-01-30T00:00:00.000000000',
       '2013-04-15T00:00:00.000000000', '2012-01-27T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-08-14T00:00:00.000000000',
       '2009-10-15T00:00:00.000000000', '2011-09-04T00:00:00.000000000',
       '2009-12-15T00:00:00.000000000', '2013-03-02T00:00:00.000000000',
       '2009-04-17T00:00:00.000000000', '2010-11-01T00:00:00.000000000',
       '2011-07-01T00:00:00.000000000', '2010-05-17T00:00:00.000000000',
       '1963-05-12T00:00:00.000000000', '2011-12-19T00:00:00.000000000',
       '2010-10-02T00:00:00.000000000', '2008-10-14T00:00:00.000000000',
       '2013-05-22T00:00:00.000000000', '2009-08-22T00:00:00.000000000',
       '2009-03-26T00:00:00.000000000', '2008-12-25T00:00:00.000000000',
       '2012-05-29T00:00:00.000000000', '2001-11-09T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2011-03-25T00:00:00.000000000',
       '2013-08-10T00:00:00.000000000', '2012-06-22T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2011-04-23T00:00:00.000000000',
       '2010-12-27T00:00:00.000000000', '2011-08-16T00:00:00.000000000',
       '2012-06-03T00:00:00.000000000', '2010-02-13T00:00:00.000000000',
       '2011-11-17T00:00:00.000000000', '2012-08-29T00:00:00.000000000',
       '2009-06-19T00:00:00.000000000', '2009-06-01T00:00:00.000000000',
       '2009-11-10T00:00:00.000000000', '2012-01-11T00:00:00.000000000',
       '2010-11-24T00:00:00.000000000', '2012-11-14T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2010-08-24T00:00:00.000000000', '2009-05-10T00:00:00.000000000',
       '2011-11-11T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2012-02-25T00:00:00.000000000', '2011-10-21T00:00:00.000000000',
       '2012-02-24T00:00:00.000000000', '2008-03-27T00:00:00.000000000',
       '2011-09-07T00:00:00.000000000', '2013-01-29T00:00:00.000000000',
       '2011-03-05T00:00:00.000000000', '2013-01-17T00:00:00.000000000',
       '2013-01-28T00:00:00.000000000', '2007-11-01T00:00:00.000000000',
       '2012-08-21T00:00:00.000000000', '2012-10-15T00:00:00.000000000',
       '2009-08-09T00:00:00.000000000', '2009-02-26T00:00:00.000000000',
       '2011-12-10T00:00:00.000000000', '2012-10-13T00:00:00.000000000',
       '2009-05-04T00:00:00.000000000', '2009-04-15T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2009-05-26T00:00:00.000000000',
       '2010-07-12T00:00:00.000000000', '2010-01-04T00:00:00.000000000',
       '2012-05-20T00:00:00.000000000', '2013-02-07T00:00:00.000000000',
       '2009-09-18T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '2009-02-15T00:00:00.000000000', '2010-03-30T00:00:00.000000000',
       '2011-08-04T00:00:00.000000000', '2011-05-19T00:00:00.000000000',
       '2013-10-21T00:00:00.000000000', '2013-05-31T00:00:00.000000000',
       '2010-09-04T00:00:00.000000000', '2012-10-16T00:00:00.000000000',
       '2012-02-11T00:00:00.000000000', '2012-03-06T00:00:00.000000000',
       '2009-05-21T00:00:00.000000000', '2013-05-20T00:00:00.000000000',
       '2013-09-25T00:00:00.000000000', '2012-08-28T00:00:00.000000000',
       '2013-07-21T00:00:00.000000000', '2012-10-14T00:00:00.000000000',
       '2012-05-22T00:00:00.000000000', '2009-08-23T00:00:00.000000000',
       '2010-10-03T00:00:00.000000000', '2013-01-18T00:00:00.000000000',
       '2012-02-12T00:00:00.000000000', '2012-10-25T00:00:00.000000000',
       '2008-12-06T00:00:00.000000000', '2011-05-31T00:00:00.000000000',
       '2013-06-03T00:00:00.000000000', '2008-08-27T00:00:00.000000000',
       '2011-08-08T00:00:00.000000000', '2011-05-17T00:00:00.000000000',
       '2010-03-03T00:00:00.000000000', '2011-11-12T00:00:00.000000000',
       '2013-10-05T00:00:00.000000000', '2012-05-25T00:00:00.000000000',
       '2002-06-28T00:00:00.000000000', '2012-08-03T00:00:00.000000000',
       '2010-12-30T00:00:00.000000000', '2013-11-15T00:00:00.000000000',
       '2009-01-20T00:00:00.000000000', '2009-06-16T00:00:00.000000000',
       '2012-10-02T00:00:00.000000000', '2013-08-08T00:00:00.000000000',
       '2008-09-29T00:00:00.000000000', '2012-02-26T00:00:00.000000000',
       '2011-10-02T00:00:00.000000000', '2012-01-03T00:00:00.000000000',
       '2010-05-14T00:00:00.000000000', '2009-07-14T00:00:00.000000000',
       '2010-03-14T00:00:00.000000000', '2010-02-10T00:00:00.000000000',
       '2012-05-23T00:00:00.000000000', '2011-03-01T00:00:00.000000000',
       '2010-07-21T00:00:00.000000000', '2013-06-17T00:00:00.000000000',
       '2009-02-04T00:00:00.000000000', '2010-01-15T00:00:00.000000000',
       '2011-10-10T00:00:00.000000000', '2011-04-04T00:00:00.000000000',
       '2009-08-11T00:00:00.000000000', '2007-05-01T00:00:00.000000000',
       '2013-08-23T00:00:00.000000000', '2012-03-03T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '2011-01-04T00:00:00.000000000',
       '2011-12-30T00:00:00.000000000', '2012-05-10T00:00:00.000000000',
       '2013-01-09T00:00:00.000000000', '2011-08-28T00:00:00.000000000',
       '2009-03-31T00:00:00.000000000', '2012-07-08T00:00:00.000000000',
       '2011-09-10T00:00:00.000000000', '2009-05-18T00:00:00.000000000',
       '2009-03-18T00:00:00.000000000', '2005-10-01T00:00:00.000000000',
       '2012-11-08T00:00:00.000000000', '2006-02-21T00:00:00.000000000',
       '2012-04-27T00:00:00.000000000', '2012-04-02T00:00:00.000000000',
       '1991-03-22T00:00:00.000000000', '2013-06-20T00:00:00.000000000',
       '2007-09-30T00:00:00.000000000', '2011-07-14T00:00:00.000000000',
       '2009-07-11T00:00:00.000000000', '2012-01-30T00:00:00.000000000',
       '2013-11-01T00:00:00.000000000', '2010-12-19T00:00:00.000000000',
       '2010-05-28T00:00:00.000000000', '2012-02-18T00:00:00.000000000',
       '2008-06-17T00:00:00.000000000', '2011-02-17T00:00:00.000000000',
       '2008-04-07T00:00:00.000000000', '2012-07-04T00:00:00.000000000',
       '2008-06-05T00:00:00.000000000', '2011-06-29T00:00:00.000000000',
       '2010-03-21T00:00:00.000000000', '2008-06-19T00:00:00.000000000',
       '2008-03-31T00:00:00.000000000', '2008-10-21T00:00:00.000000000',
       '2012-02-17T00:00:00.000000000', '2012-05-14T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2012-02-27T00:00:00.000000000',
       '2011-05-04T00:00:00.000000000', '2011-09-30T00:00:00.000000000',
       '2009-06-21T00:00:00.000000000', '2013-11-19T00:00:00.000000000',
       '2009-02-03T00:00:00.000000000', '2010-09-20T00:00:00.000000000',
       '2012-05-30T00:00:00.000000000', '2011-11-19T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2013-01-27T00:00:00.000000000',
       '2006-12-22T00:00:00.000000000', '2012-05-09T00:00:00.000000000',
       '2012-03-15T00:00:00.000000000', '2013-10-30T00:00:00.000000000',
       '2011-07-15T00:00:00.000000000', '2010-11-09T00:00:00.000000000',
       '2012-01-17T00:00:00.000000000', '2012-11-30T00:00:00.000000000',
       '2008-05-15T00:00:00.000000000', '2011-03-18T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-12-06T00:00:00.000000000',
       '2008-03-03T00:00:00.000000000', '2010-01-27T00:00:00.000000000',
       '2010-05-07T00:00:00.000000000', '2010-03-15T00:00:00.000000000',
       '2012-03-14T00:00:00.000000000', '2012-01-19T00:00:00.000000000',
       '2009-08-13T00:00:00.000000000', '2011-10-22T00:00:00.000000000',
       '2007-02-10T00:00:00.000000000', '2013-05-12T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2009-07-09T00:00:00.000000000',
       '2012-06-08T00:00:00.000000000', '2011-02-05T00:00:00.000000000',
       '2009-08-24T00:00:00.000000000', '2010-01-29T00:00:00.000000000',
       '2011-12-07T00:00:00.000000000', '2009-10-21T00:00:00.000000000',
       '2012-02-04T00:00:00.000000000', '2010-07-17T00:00:00.000000000',
       '2010-03-23T00:00:00.000000000', '2012-03-16T00:00:00.000000000',
       '2012-08-31T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2013-06-02T00:00:00.000000000', '2011-09-17T00:00:00.000000000',
       '2012-04-15T00:00:00.000000000', '2010-08-23T00:00:00.000000000',