In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from io import StringIO # python3; python2: BytesIO 
import boto3
import s3fs
import awscli
import timeit
#from config import db_password

In [2]:
#db_string = f'postgres://postgres:postgres@database-1.czruykdkti9i.us-east-2.rds.amazonaws.com:5432/startups'
#engine = create_engine(db_string)

In [3]:
tic=timeit.default_timer()
toc=timeit.default_timer()
toc - tic #elapsed time in seconds

2.9899999999916105e-05

In [4]:
s3 = boto3.resource('s3')

for bucket in s3.buckets.all():
    print(bucket.name)

team3-final-bucket
wshih-bucket

In [5]:
my_bucket = s3.Bucket('team3-final-bucket')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object.key)

Resources_clean/
Resources_clean/acquisitions_clean.csv
Resources_clean/degrees_clean.csv
Resources_clean/funding_rounds_clean.csv
Resources_clean/funding_rounds_final.csv
Resources_clean/funds_clean.csv
Resources_clean/investments_clean.csv
Resources_clean/ipo_clean.csv
Resources_clean/milestones_clean.csv
Resources_clean/objects_clean.csv
Resources_clean/offices_clean.csv
Resources_clean/people_clean.csv
Resources_clean/relationships_clean.csv
Resources_raw/
Resources_raw/acquisitions.csv
Resources_raw/degrees.csv
Resources_raw/funding_rounds.csv
Resources_raw/funds.csv
Resources_raw/investments.csv
Resources_raw/ipos.csv
Resources_raw/milestones.csv
Resources_raw/objects.csv
Resources_raw/offices.csv
Resources_raw/people.csv
Resources_raw/relationships.csv
sql_db/
sql_db/acquisitions_clean.csv
sql_db/degrees_clean.csv
sql_db/funding_round_filled.csv
sql_db/funds_clean.csv
sql_db/investments_cleaner.csv
sql_db/ipos_cleaner.csv
sql_db/milestones_cleaner.csv
sql_db/objects_clean.csv
sql_db/offices_clean.csv
sql_db/people_cleaner.csv
sql_db/relationships_cleaner.csv
sql_db/time_elapsed_clean.csv
time_elapsed_clean.csv

######  Just for creating a layout I will be temporary loading local csv files as some of them I have downloaded on my laptop only

#### Companies general information. 
#### Entire data set contains information about 4 objects - companies, related products, people that work for the companies and financial orgs that invest in the companies. We analyzed and processed the data set, extracted the companies as the main objects for analysis and linked all other objects to them.

In [6]:
# Loading the file with compiled start dates
companies_df = pd.read_csv('companies_info.csv')
companies_df

,object_id,entity_type,name_x,category_code,status,country_code,state_code,city,region,investment_rounds,invested_companies,funding_rounds,funding_total_usd
0,c:1,Company,Wetpaint,web,operating,USA,WA,Seattle,Seattle,0,0,3,39750000
1,c:10,Company,Flektor,games_video,acquired,USA,CA,Culver City,Los Angeles,0,0,0,0
2,c:100,Company,There,games_video,acquired,USA,CA,San Mateo,SF Bay,0,0,0,0
3,c:10000,Company,MYWEBBO,network_hosting,operating,NaN,NaN,NaN,unknown,0,0,0,0
4,c:10001,Company,THE Movie Streamer,games_video,operating,NaN,NaN,NaN,unknown,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Company,Webgility,ecommerce,operating,USA,CA,San Francisco,SF Bay,0,0,0,0
196549,c:9995,Company,FohBoh,public_relations,operating,USA,CA,San Jose,SF Bay,0,0,1,750000
196550,c:9996,Company,CSC,consulting,operating,USA,VA,Falls Church,Washington DC,0,0,0,0
196551,c:9997,Company,Top-candidate,search,operating,USA,CA,Los Angeles,Los Angeles,0,0,0,0
196552,c:9998,Company,Closet Couture,ecommerce,operating,USA,CA,Pacific Palisades,Pacific Palisades,0,0,1,475000

In [7]:
companies_df.columns.to_list()

['object_id',
 'entity_type',
 'name_x',
 'category_code',
 'status',
 'country_code',
 'state_code',
 'city',
 'region',
 'investment_rounds',
 'invested_companies',
 'funding_rounds',
 'funding_total_usd']

In [8]:
# Keeping only the columns that we will need fot the ML process
companies_info = companies_df[['object_id',
 'category_code',
 'status',
 'funding_total_usd']]
companies_info

       object_id     category_code     status  funding_total_usd
0            c:1               web  operating           39750000
1           c:10       games_video   acquired                  0
2          c:100       games_video   acquired                  0
3        c:10000   network_hosting  operating                  0
4        c:10001       games_video  operating                  0
...          ...               ...        ...                ...
196548   c:99940         ecommerce  operating                  0
196549    c:9995  public_relations  operating             750000
196550    c:9996        consulting  operating                  0
196551    c:9997            search  operating                  0
196552    c:9998         ecommerce  operating             475000

[196553 rows x 4 columns]

#### After distinguishing all objects we preprocessed and transformed each of them. We collected start and end dates from multiple objects and tables, calculated life span, worked on funding rounds and types and a number of participants, employees degrees, cleaned locations and placed them in regions buckets and so on. As a result of this transformation we have a few clean tables that we are going to merge one by one. Finally we will have all of them as features for out ML algorithms.

###### Mapping products to the companies

In [9]:
# Loading the file from with product labels
labels_df = pd.read_csv('prod_label.csv')
labels_df

       object_id  product_label
0            c:1              1
1           c:10              1
2          c:100              0
3        c:10000              0
4        c:10001              0
...          ...            ...
196548   c:99940              1
196549    c:9995              0
196550    c:9996              0
196551    c:9997              0
196552    c:9998              0

[196553 rows x 2 columns]

In [10]:
#table_name = 'product_labels'
#labels_df.to_sql(name='product_labels', con = engine)

In [11]:
# Merging them
companies_prodlbls = pd.merge(companies_info, labels_df, how='left', on=['object_id'])
companies_prodlbls

,object_id,category_code,status,funding_total_usd,product_label
0,c:1,web,operating,39750000,1
1,c:10,games_video,acquired,0,1
2,c:100,games_video,acquired,0,0
3,c:10000,network_hosting,operating,0,0
4,c:10001,games_video,operating,0,0
...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1
196549,c:9995,public_relations,operating,750000,0
196550,c:9996,consulting,operating,0,0
196551,c:9997,search,operating,0,0
196552,c:9998,ecommerce,operating,475000,0

###### Getting funding information - number of rounds and tarticipants, funding types

In [12]:
# Loading funding rounds types, # of rounds and # of participants
funds_df = pd.read_csv('companies_funding_rounds.csv')
funds_df

       object_id  rounds_total last_funding_round_type  number_of_participants
0            c:1           3.0               series-c+                     9.0
1           c:10           NaN                     NaN                     NaN
2          c:100           NaN                     NaN                     NaN
3        c:10000           NaN                     NaN                     NaN
4        c:10001           NaN                     NaN                     NaN
...          ...           ...                     ...                     ...
196548   c:99940           NaN                     NaN                     NaN
196549    c:9995           1.0                   angel                     0.0
196550    c:9996           NaN                     NaN                     NaN
196551    c:9997           NaN                     NaN                     NaN
196552    c:9998           1.0                   angel                     0.0

[196553 rows x 4 columns]

In [13]:
# Merging them
companies_lbls_funds = pd.merge(companies_prodlbls, funds_df, how='left', on=['object_id'])
companies_lbls_funds

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN
196551,c:9997,search,operating,0,0,NaN,NaN,NaN
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0

In [14]:
companies_lbls_funds.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'rounds_total',
 'last_funding_round_type',
 'number_of_participants']

###### Getting dates was done ina few steps. Pulled data from the tables and objects had a lot of missing values in end dates. That means that we were not able to calculate life span of those companies. In case if we drop all missing values we loose all rows with statuses that we want to analyze and predict. We tested a few options. 
###### First, we had put all such rows in one bucket "unknown" life span. That actualy was a wrong thing to do because all acquired, ipo and closed startups fell in this category and skewed the data. As a result this feature had a veri high weight in the ML algorithms which was misleading to a very high accuracy score and precision level for predicting our target. So we realized that we cannot combine all companies with unknown duration into one category because the duration can really vary a lot. We dropped this feature.
###### Second, we extracted years from start dates and used them as features. The accuracy score fell significantly and we were not able to reach the same level. Features elimination didn't improve the result either. 
###### Third, we explored another data set from a different source for the purpose to find more values for the end dates. We were able to extract and map about additional 2,000 values. That helped us to get life span for most of startups that were missing it.
###### After having this ETL process in place we created a table with all start / end dates and calculated lifa span.

In [15]:
# Loading final file with all dates collected from different sources
# and tables and compiled in one 
#client = boto3.client('s3')
#path1 = 's3://team3-final-bucket/'
time_elapsed_df = pd.read_csv('companies_all_dates_NEW.csv')
time_elapsed_df

,object_id,names,start_dates,end_dates,time_elapsed_months,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,c:1,Wetpaint,10/1/2005,5/19/2008,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c:10,Flektor,9/1/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,c:100,There,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,c:10000,MYWEBBO,7/26/2008,1/1/2015,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c:10001,THE Movie Streamer,7/26/2008,1/1/2015,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,Webgility,1/1/2007,1/1/2015,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196549,c:9995,FohBoh,11/1/2007,8/25/2008,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196550,c:9996,CSC,1/1/1959,1/1/2015,672.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196551,c:9997,Top-candidate,7/1/2008,1/1/2015,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196552,c:9998,Closet Couture,9/1/2007,6/1/2008,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
time_elapsed_df.dtypes

object_id               object
names                   object
start_dates             object
end_dates               object
time_elapsed_months    float64
Unnamed: 5             float64
Unnamed: 6             float64
Unnamed: 7             float64
Unnamed: 8             float64
Unnamed: 9             float64
Unnamed: 10            float64
Unnamed: 11            float64
dtype: object

In [17]:
time_elapsed = time_elapsed_df[['object_id','start_dates','end_dates','time_elapsed_months']]
time_elapsed

       object_id start_dates  end_dates  time_elapsed_months
0            c:1   10/1/2005  5/19/2008                 32.0
1           c:10    9/1/2011        NaN                  NaN
2          c:100         NaN        NaN                  NaN
3        c:10000   7/26/2008   1/1/2015                 77.0
4        c:10001   7/26/2008   1/1/2015                 77.0
...          ...         ...        ...                  ...
196548   c:99940    1/1/2007   1/1/2015                 96.0
196549    c:9995   11/1/2007  8/25/2008                 10.0
196550    c:9996    1/1/1959   1/1/2015                672.0
196551    c:9997    7/1/2008   1/1/2015                 78.0
196552    c:9998    9/1/2007   6/1/2008                  9.0

[196553 rows x 4 columns]

In [18]:
from datetime import datetime
time_elapsed['start_dates'] = pd.to_datetime(time_elapsed.start_dates)
time_elapsed['end_dates'] = pd.to_datetime(time_elapsed.end_dates)
time_elapsed.dtypes

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

object_id                      object
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
dtype: object

In [19]:
time_elapsed

       object_id start_dates  end_dates  time_elapsed_months
0            c:1  2005-10-01 2008-05-19                 32.0
1           c:10  2011-09-01        NaT                  NaN
2          c:100         NaT        NaT                  NaN
3        c:10000  2008-07-26 2015-01-01                 77.0
4        c:10001  2008-07-26 2015-01-01                 77.0
...          ...         ...        ...                  ...
196548   c:99940  2007-01-01 2015-01-01                 96.0
196549    c:9995  2007-11-01 2008-08-25                 10.0
196550    c:9996  1959-01-01 2015-01-01                672.0
196551    c:9997  2008-07-01 2015-01-01                 78.0
196552    c:9998  2007-09-01 2008-06-01                  9.0

[196553 rows x 4 columns]

In [20]:
# Merging companies and dates
companies_with_dates = pd.merge(companies_lbls_funds, time_elapsed, how='left', on=['object_id'])
companies_with_dates

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0
...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0

#### Getting locations - collected, cleaned, compiled and bucketed

In [21]:
# Loading Winston's file
locations = pd.read_csv('usa_only.csv')
locations

,Unnamed: 0,object_id,name,address1,address2,city,zip_code,state_code,country_code,latitude,longitude,region
0,0,c:1,Wetpaint,710 - 2nd Avenue,Suite 1100,Seattle,98104,WA,USA,47.603122,-122.333253,West
1,6454,c:15710,Immersion Corporation,801 Fox Lane,San Jose 95131,SF,0,CA,USA,37.386711,-121.903953,NorCal
2,10539,c:17385,About Me!,"2601 Mission St,","#900,",SF,94110,CA,USA,37.755068,-122.418026,NorCal
3,3,c:10005,Thomas Publishing,Five Penn Plaza,15th Floor,New York,10001,NY,USA,0.000000,0.000000,NY
4,4,c:10009,dimension5 labs,1025 Don Diego Ave,NaN,Santa Fe,87505,NM,USA,35.674675,-105.948434,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...
55468,44595,c:65540,The Pricerie,NaN,NaN,LA,0,CA,USA,0.000000,0.000000,SoCal
55469,48079,c:75652,Textual Indices,NaN,NaN,SF,95382,CA,USA,0.000000,0.000000,NorCal
55470,55599,f:9997,Axel Johnson,155 Spring Street,6th floor,New York,10012,NY,USA,40.724468,-74.001704,NY
55471,55600,f:9998,Liberty City Ventures,NaN,NaN,New York,0,NY,USA,40.714353,-74.005973,NY
55472,16406,c:199793,Digital Energy,NaN,128 Auburn Ct Ste 106,LA,CA 91362,CA,USA,34.145839,-118.805647,SoCal

In [22]:
# Dropping columns
locations_clean = locations[['object_id','country_code','region']]

In [23]:
# Merging companies and locations
companies_locations = pd.merge(companies_with_dates, locations_clean, how='left', on=['object_id'])
companies_locations

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN,USA,NorCal
3,c:10000,network_hosting,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
4,c:10001,games_video,operating,0,0,NaN,NaN,NaN,2008-07-26,2015-01-01,77.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

#### We want to analyze only US startups

In [24]:
# We need only USA companies so filtering them
USA_companies = companies_locations[companies_locations['country_code']=='USA']
USA_companies

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
2,c:100,games_video,acquired,0,0,NaN,NaN,NaN,NaT,NaT,NaN,USA,NorCal
8,c:10005,advertising,operating,0,0,NaN,NaN,NaN,NaT,2015-01-01,NaN,USA,NY
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196550,c:9996,consulting,operating,0,0,NaN,NaN,NaN,1959-01-01,2015-01-01,672.0,USA,Northeast
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [25]:
# Checking null values
for column in USA_companies.columns:
    print(f"Column {column} has {USA_companies[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 4305 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 31260 null values
Column last_funding_round_type has 31842 null values
Column number_of_participants has 31842 null values
Column start_dates has 12831 null values
Column end_dates has 5162 null values
Column time_elapsed_months has 15712 null values
Column country_code has 0 null values
Column region has 26 null values

#### We decided to focus only on companies started in 2000 year and later

In [26]:
# Filtering companies only from 2000 year
USA_companies1 = USA_companies[USA_companies['start_dates']>='2000-01-01']
USA_companies1

,object_id,category_code,status,funding_total_usd,product_label,rounds_total,last_funding_round_type,number_of_participants,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,3.0,series-c+,9.0,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,NaN,NaN,NaN,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,NaN,NaN,NaN,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,1.0,series-a,3.0,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,NaN,NaN,NaN,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,NaN,NaN,NaN,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,NaN,NaN,NaN,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,1.0,angel,0.0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,NaN,NaN,NaN,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,1.0,angel,0.0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [27]:
USA_companies1['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [28]:
USA_companies1[USA_companies1['status']=='acquired'].count()

object_id                  2157
category_code              2011
status                     2157
funding_total_usd          2157
product_label              2157
rounds_total               1306
last_funding_round_type    1296
number_of_participants     1296
start_dates                2157
end_dates                  2046
time_elapsed_months        2046
country_code               2157
region                     2157
dtype: int64

In [29]:
# Checking null values
for column in USA_companies1.columns:
    print(f"Column {column} has {USA_companies1[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 869 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column rounds_total has 17626 null values
Column last_funding_round_type has 17751 null values
Column number_of_participants has 17751 null values
Column start_dates has 0 null values
Column end_dates has 1278 null values
Column time_elapsed_months has 1278 null values
Column country_code has 0 null values
Column region has 16 null values

###### After analyzing the number of NaNs we decided to drop three features - rounds_total,  last_funding_round_type and number_of_participants. If we keep these data attributes and drop the missing values we will loose a half of the data.

In [30]:
# Filtering out missing values by dropping those features
USA_companies2 = USA_companies1.drop(columns={'rounds_total','last_funding_round_type','number_of_participants'})
USA_companies2

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [31]:
USA_companies2['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [32]:
# Checking null values
for column in USA_companies2.columns:
    print(f"Column {column} has {USA_companies2[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 869 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1278 null values
Column time_elapsed_months has 1278 null values
Column country_code has 0 null values
Column region has 16 null values

In [33]:
# Dropping nulls in category_code
USA_companies3 = USA_companies2[USA_companies2['category_code'].notnull()]
USA_companies3

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
12,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
13,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
15,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
196545,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
196548,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
196549,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
196551,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
196552,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [34]:
# Checking null values
for column in USA_companies3.columns:
   print(f"Column {column} has {USA_companies3[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1259 null values
Column time_elapsed_months has 1259 null values
Column country_code has 0 null values
Column region has 15 null values

In [35]:
# Dropping missing values in regions
USA_companies4 = USA_companies3[USA_companies3['region'].notnull()].reset_index(drop=True)
USA_companies4

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
1,c:10,games_video,acquired,0,1,2011-09-01,NaT,NaN,USA,SoCal
2,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
4,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
30967,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
30968,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
30969,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
30970,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [36]:
# Checking null values
for column in USA_companies4.columns:
   print(f"Column {column} has {USA_companies4[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 1259 null values
Column time_elapsed_months has 1259 null values
Column country_code has 0 null values
Column region has 0 null values

In [37]:
# Dropping rows with null values of number of participants
USA_companies5 = USA_companies4[USA_companies4['time_elapsed_months'].notnull()]
USA_companies5

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West
2,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
4,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal
5,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal
...,...,...,...,...,...,...,...,...,...,...
30966,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast
30967,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal
30968,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal
30969,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal
30970,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal

In [38]:
# Checking null values
for column in USA_companies5.columns:
   print(f"Column {column} has {USA_companies5[column].isnull().sum()} null values")

Column object_id has 0 null values
Column category_code has 0 null values
Column status has 0 null values
Column funding_total_usd has 0 null values
Column product_label has 0 null values
Column start_dates has 0 null values
Column end_dates has 0 null values
Column time_elapsed_months has 0 null values
Column country_code has 0 null values
Column region has 0 null values

In [39]:
USA_companies5['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)

In [40]:
USA_companies5[USA_companies5['status'] == 'acquired']

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region
3,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal
5,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal
25,c:10054,mobile,acquired,121500000,0,2005-01-01,2013-08-13,103.0,USA,Northeast
56,c:10117,web,acquired,0,1,2002-08-12,2008-08-26,72.0,USA,NorCal
60,c:101312,web,acquired,4000000,0,2011-06-01,2013-09-18,27.0,USA,NY
...,...,...,...,...,...,...,...,...,...,...
30940,c:99,web,acquired,3900000,1,2006-07-04,2010-09-22,50.0,USA,NY
30943,c:9905,software,acquired,5172349,0,2005-01-01,2010-06-24,65.0,USA,NorCal
30958,c:997,enterprise,acquired,14500000,1,2003-01-01,2015-08-19,151.0,USA,NorCal
30961,c:99737,public_relations,acquired,0,0,2005-11-01,2011-11-30,72.0,USA,Southwest
30964,c:999,web,acquired,0,1,2007-01-01,2008-07-09,18.0,USA,NorCal

###### Getting degrees of people who worked for the companies. We want to add it as a feature and see if it has an impact on the output.

In [41]:
# Loading Winston's file
degrees_df1 = pd.read_csv('degrees_complete.csv')
degrees_df = degrees_df1[['relationship_object_id','degree_type']].rename(columns={'relationship_object_id':'object_id'})
degrees_df

C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5,8,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       object_id  degree_type
0            c:1          2.0
1            c:1          4.0
2            c:1          4.0
3            c:1          2.0
4            c:1          4.0
...          ...          ...
227497     f:999          2.0
227498     f:999          3.0
227499    f:9992          2.0
227500    f:9993          2.0
227501    f:9999          4.0

[227502 rows x 2 columns]

In [42]:
degrees_avg = degrees_df.groupby('object_id', as_index=False).agg({"degree_type":"mean"}).round()
degrees_avg

      object_id  degree_type
0           c:1          3.0
1          c:10          2.0
2         c:100          4.0
3       c:10002          3.0
4      c:100042          2.0
...         ...          ...
86520    f:9989          3.0
86521     f:999          2.0
86522    f:9992          2.0
86523    f:9993          2.0
86524    f:9999          4.0

[86525 rows x 2 columns]

In [43]:
USA_companies5_1 = pd.merge(USA_companies5, degrees_avg, how='left', on=['object_id'])
USA_companies5_1

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0
...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

In [44]:
USA_companies5_1.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'start_dates',
 'end_dates',
 'time_elapsed_months',
 'country_code',
 'region',
 'degree_type']

In [45]:
USA_companies5_1[USA_companies5_1['degree_type'].notnull()]

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0
5,c:10015,health,operating,68069200,0,2007-10-01,2013-08-13,70.0,USA,NorCal,3.0
...,...,...,...,...,...,...,...,...,...,...,...
29699,c:9966,search,operating,0,0,2007-06-17,2015-01-01,91.0,USA,SoCal,3.0
29700,c:99669,enterprise,operating,750000,0,2011-01-01,2011-09-08,8.0,USA,West,2.0
29701,c:997,enterprise,acquired,14500000,1,2003-01-01,2015-08-19,151.0,USA,NorCal,3.0
29703,c:9972,software,operating,82500000,1,2007-01-01,2013-05-23,77.0,USA,NorCal,3.0
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0

###### Too many missing values but we don't want to drop them, we will keep and lable it as unknown.

##### Now we need to bucket companies life span

In [46]:
time_elapsed_months = USA_companies5['time_elapsed_months']
max_val = time_elapsed_months.max()
max_val

191.0

In [47]:
time_bins = [-0.01, 6, 12, 24, 36, 60, 200]
months_in_bins = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins)
months_in_bins

0         (24.0, 36.0]
1        (60.0, 200.0]
2         (12.0, 24.0]
3        (60.0, 200.0]
4         (24.0, 36.0]
             ...
29707    (60.0, 200.0]
29708    (60.0, 200.0]
29709      (6.0, 12.0]
29710    (60.0, 200.0]
29711      (6.0, 12.0]
Name: time_elapsed_months, Length: 29712, dtype: category
Categories (6, interval[float64]): [(-0.01, 6.0] < (6.0, 12.0] < (12.0, 24.0] < (24.0, 36.0] < (36.0, 60.0] < (60.0, 200.0]]

In [48]:
# Naming the groups:
group_names = ['0-6mth','6-12mth','1-2yr','2-3yr','3-5yr','over5yr']

In [49]:
USA_companies6 = USA_companies5_1.copy()
USA_companies6['time_range'] = pd.cut(USA_companies5_1['time_elapsed_months'], time_bins, labels=group_names)
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3.0,2-3yr
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,NaN,over5yr
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3.0,1-2yr
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2.0,over5yr
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3.0,2-3yr
...,...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,NaN,over5yr
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,NaN,over5yr
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,NaN,6-12mth
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,NaN,over5yr
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3.0,6-12mth

In [50]:
# USA_companies6.to_csv('USA_companies6_new.csv', index=False)

In [51]:
USA_companies6.dtypes

object_id                      object
category_code                  object
status                         object
funding_total_usd               int64
product_label                   int64
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
country_code                   object
region                         object
degree_type                   float64
time_range                   category
dtype: object

In [52]:
USA_companies6['time_range'] = USA_companies6['time_range'].astype('object')

In [53]:
USA_companies6.dtypes

object_id                      object
category_code                  object
status                         object
funding_total_usd               int64
product_label                   int64
start_dates            datetime64[ns]
end_dates              datetime64[ns]
time_elapsed_months           float64
country_code                   object
region                         object
degree_type                   float64
time_range                     object
dtype: object

In [54]:
#USA_companies6['time_range'] = USA_companies6['time_range'].replace(np.nan, 'unknown')
USA_companies6['degree_type'] = USA_companies6['degree_type'].replace(np.nan, 'unknown')
USA_companies6

,object_id,category_code,status,funding_total_usd,product_label,start_dates,end_dates,time_elapsed_months,country_code,region,degree_type,time_range
0,c:1,web,operating,39750000,1,2005-10-01,2008-05-19,32.0,USA,West,3,2-3yr
1,c:10009,advertising,operating,0,1,2008-08-01,2015-01-01,77.0,USA,Southwest,unknown,over5yr
2,c:1001,web,acquired,5000000,1,2007-10-01,2009-08-10,22.0,USA,NorCal,3,1-2yr
3,c:10011,games_video,operating,0,1,2008-01-01,2015-01-01,84.0,USA,SoCal,2,over5yr
4,c:10014,mobile,acquired,0,1,2008-03-01,2010-09-30,30.0,USA,NorCal,3,2-3yr
...,...,...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,0,2004-01-01,2015-01-01,132.0,USA,Northeast,unknown,over5yr
29708,c:99940,ecommerce,operating,0,1,2007-01-01,2015-01-01,96.0,USA,NorCal,unknown,over5yr
29709,c:9995,public_relations,operating,750000,0,2007-11-01,2008-08-25,10.0,USA,NorCal,unknown,6-12mth
29710,c:9997,search,operating,0,0,2008-07-01,2015-01-01,78.0,USA,SoCal,unknown,over5yr
29711,c:9998,ecommerce,operating,475000,0,2007-09-01,2008-06-01,9.0,USA,SoCal,3,6-12mth

##### Dropping redundant columns

In [55]:
#USA_companies6.to_csv('NEW_latest_companies_full.csv')

In [56]:
USA_companies6.columns.to_list()

['object_id',
 'category_code',
 'status',
 'funding_total_usd',
 'product_label',
 'start_dates',
 'end_dates',
 'time_elapsed_months',
 'country_code',
 'region',
 'degree_type',
 'time_range']

In [57]:
USA_companies7 = USA_companies6[['object_id',
 'category_code',
 'status',
 'product_label',
 'start_dates',
 'country_code',
 'region',
 'degree_type',
 'time_range']]
USA_companies7

,object_id,category_code,status,product_label,start_dates,country_code,region,degree_type,time_range
0,c:1,web,operating,1,2005-10-01,USA,West,3,2-3yr
1,c:10009,advertising,operating,1,2008-08-01,USA,Southwest,unknown,over5yr
2,c:1001,web,acquired,1,2007-10-01,USA,NorCal,3,1-2yr
3,c:10011,games_video,operating,1,2008-01-01,USA,SoCal,2,over5yr
4,c:10014,mobile,acquired,1,2008-03-01,USA,NorCal,3,2-3yr
...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,2004-01-01,USA,Northeast,unknown,over5yr
29708,c:99940,ecommerce,operating,1,2007-01-01,USA,NorCal,unknown,over5yr
29709,c:9995,public_relations,operating,0,2007-11-01,USA,NorCal,unknown,6-12mth
29710,c:9997,search,operating,0,2008-07-01,USA,SoCal,unknown,over5yr
29711,c:9998,ecommerce,operating,0,2007-09-01,USA,SoCal,3,6-12mth

In [58]:
# Extracting years from dates
USA_companies8_2 = USA_companies7.copy()

In [59]:
USA_companies8_2['start_year'] = pd.DatetimeIndex(USA_companies8_2['start_dates']).year
USA_companies8_2

,object_id,category_code,status,product_label,start_dates,country_code,region,degree_type,time_range,start_year
0,c:1,web,operating,1,2005-10-01,USA,West,3,2-3yr,2005
1,c:10009,advertising,operating,1,2008-08-01,USA,Southwest,unknown,over5yr,2008
2,c:1001,web,acquired,1,2007-10-01,USA,NorCal,3,1-2yr,2007
3,c:10011,games_video,operating,1,2008-01-01,USA,SoCal,2,over5yr,2008
4,c:10014,mobile,acquired,1,2008-03-01,USA,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,2004-01-01,USA,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,operating,1,2007-01-01,USA,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,operating,0,2007-11-01,USA,NorCal,unknown,6-12mth,2007
29710,c:9997,search,operating,0,2008-07-01,USA,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,operating,0,2007-09-01,USA,SoCal,3,6-12mth,2007

In [60]:
USA_companies8_2.columns.to_list()

['object_id',
 'category_code',
 'status',
 'product_label',
 'start_dates',
 'country_code',
 'region',
 'degree_type',
 'time_range',
 'start_year']

## Keeping only features columns

In [61]:
USA_companies8 = USA_companies8_2.drop(columns={'start_dates', 'country_code'})
USA_companies8

,object_id,category_code,status,product_label,region,degree_type,time_range,start_year
0,c:1,web,operating,1,West,3,2-3yr,2005
1,c:10009,advertising,operating,1,Southwest,unknown,over5yr,2008
2,c:1001,web,acquired,1,NorCal,3,1-2yr,2007
3,c:10011,games_video,operating,1,SoCal,2,over5yr,2008
4,c:10014,mobile,acquired,1,NorCal,3,2-3yr,2008
...,...,...,...,...,...,...,...,...
29707,c:99938,software,operating,0,Northeast,unknown,over5yr,2004
29708,c:99940,ecommerce,operating,1,NorCal,unknown,over5yr,2007
29709,c:9995,public_relations,operating,0,NorCal,unknown,6-12mth,2007
29710,c:9997,search,operating,0,SoCal,unknown,over5yr,2008
29711,c:9998,ecommerce,operating,0,SoCal,3,6-12mth,2007

In [62]:
USA_companies8['start_year'] = USA_companies8['start_year'].astype('object')
USA_companies8['degree_type'] = USA_companies8['degree_type'].astype('object')

# ML part

###### Splitting the table to categorical and numerical features

In [63]:
# Categorical features
categorical = USA_companies8[[
 'category_code',
 'region',
 'start_year',
 'degree_type',
 'time_range',
 ]]
categorical

          category_code     region start_year degree_type time_range
0                   web       West       2005           3      2-3yr
1           advertising  Southwest       2008     unknown    over5yr
2                   web     NorCal       2007           3      1-2yr
3           games_video      SoCal       2008           2    over5yr
4                mobile     NorCal       2008           3      2-3yr
...                 ...        ...        ...         ...        ...
29707          software  Northeast       2004     unknown    over5yr
29708         ecommerce     NorCal       2007     unknown    over5yr
29709  public_relations     NorCal       2007     unknown    6-12mth
29710            search      SoCal       2008     unknown    over5yr
29711         ecommerce      SoCal       2007           3    6-12mth

[29712 rows x 5 columns]

In [64]:
categorical.dtypes

category_code    object
region           object
start_year       object
degree_type      object
time_range       object
dtype: object

In [65]:
# Checking null values
for column in categorical.columns:
    print(f"Column {column} has {categorical[column].isnull().sum()} null values")

Column category_code has 0 null values
Column region has 0 null values
Column start_year has 0 null values
Column degree_type has 0 null values
Column time_range has 0 null values

### First we would want to create a correlation matrix to find dependant valiables

In [66]:
# Encoding features
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [67]:
categorical_encode = categorical.copy()

In [68]:
categorical_encode['category_code'] = le.fit_transform(categorical_encode['category_code'])
categorical_encode['region'] = le.fit_transform(categorical_encode['region'])
categorical_encode['start_year'] = le.fit_transform(categorical_encode['start_year'])
categorical_encode['degree_type'] = le.fit_transform(categorical_encode['degree_type'].astype(str))
categorical_encode['time_range'] = le.fit_transform(categorical_encode['time_range'])
categorical_encode

       category_code  region  start_year  degree_type  time_range
0                 41       7           5            3           2
1                  0       6           8            6           5
2                 41       2           7            3           1
3                 12       4           8            2           5
4                 22       2           8            3           2
...              ...     ...         ...          ...         ...
29707             37       3           4            6           5
29708              7       2           7            6           5
29709             31       2           7            6           4
29710             33       4           8            6           5
29711              7       4           7            3           4

[29712 rows x 5 columns]

In [69]:
# Numerical features
numerical = USA_companies8[['product_label',
 #'rounds_total',
 #'number_of_participants'
 ]]
numerical

       product_label
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
29707              0
29708              1
29709              0
29710              0
29711              0

[29712 rows x 1 columns]

In [70]:
# Merging dfs to combine all features and dropping IDs
features_corr = pd.merge(categorical_encode, numerical, how='left', left_index=True, right_index=True)
features_corr

,category_code,region,start_year,degree_type,time_range,product_label
0,41,7,5,3,2,1
1,0,6,8,6,5,1
2,41,2,7,3,1,1
3,12,4,8,2,5,1
4,22,2,8,3,2,1
...,...,...,...,...,...,...
29707,37,3,4,6,5,0
29708,7,2,7,6,5,1
29709,31,2,7,6,4,0
29710,33,4,8,6,5,0
29711,7,4,7,3,4,0

##### Creating a correlation matrix to find if there are dependent variables

In [71]:
corrMatrix = features_corr.corr()
corrMatrix.style.background_gradient(cmap='coolwarm')

There are no dependant variables

#### Getting into the training part

In [73]:
!pip install tensorflow --upgrade --force-reinstall

Collecting tensorflow
  Downloading tensorflow-2.3.0-cp37-cp37m-win_amd64.whl (342.5 MB)
Collecting six>=1.12.0
  Downloading six-1.15.0-py2.py3-none-any.whl (10 kB)
Collecting wheel>=0.26
  Downloading wheel-0.35.1-py2.py3-none-any.whl (33 kB)
Collecting wrapt>=1.11.1
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Collecting tensorboard<3,>=2.3.0
  Downloading tensorboard-2.3.0-py3-none-any.whl (6.8 MB)
Collecting astunparse==1.6.3
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting google-pasta>=0.1.8
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting tensorflow-estimator<2.4.0,>=2.3.0
  Downloading tensorflow_estimator-2.3.0-py2.py3-none-any.whl (459 kB)
Collecting absl-py>=0.7.0
  Downloading absl-py-0.9.0.tar.gz (104 kB)
Collecting grpcio>=1.8.6
  Downloading grpcio-1.31.0-cp37-cp37m-win_amd64.whl (2.4 MB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.13.0-cp37-cp37m-win_amd64.whl (1.0 MB)
Collecting numpy<1.19.0,>=1.16.0
  Downloading numpy-1.18.5-cp37-cp37m-win_amd64.whl (12.7 MB)

ERROR: spyder 4.1.1 requires pyqt5<5.13; python_version >= "3", which is not installed.
ERROR: spyder 4.1.1 requires pyqtwebengine<5.13; python_version >= "3", which is not installed.
ERROR: pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
ERROR: pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
ERROR: astroid 2.3.3 has requirement wrapt==1.11.*, but you'll have wrapt 1.12.1 which is incompatible.
ERROR: tensorflow-gpu 2.2.0 has requirement tensorboard<2.3.0,>=2.2.0, but you'll have tensorboard 2.3.0 which is incompatible.
ERROR: awscli 1.18.103 has requirement rsa<=4.5.0,>=3.1.2; python_version != "3.4", but you'll have rsa 4.6 which is incompatible.
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\hp\\appdata\\roaming\\python\\python37\\site-packages\\~rapt\\_wrappers.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Collecting scipy==1.4.1
  Downloading scipy-1.4.1-cp37-cp37m-win_amd64.whl (30.9 MB)
Collecting gast==0.3.3
  Downloading gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting keras-preprocessing<1.2,>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting h5py<2.11.0,>=2.10.0
  Downloading h5py-2.10.0-cp37-cp37m-win_amd64.whl (2.5 MB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Using cached tensorboard_plugin_wit-1.7.0-py3-none-any.whl (779 kB)
Collecting werkzeug>=0.11.15
  Using cached Werkzeug-1.0.1-py2.py3-none-any.whl (298 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.2.2-py3-none-any.whl (88 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.1-py2.py3-none-any.whl (18 kB)
Collecting requests<3,>=2.21.0
  Downloading requests-2.24.0-py2.py3-none-any.whl (61 kB)
Collecting google-auth<2,>=1.6.3
  Using cached google_auth-1.20.1-py2.py3-none-any.whl (91 kB)
Collecting setuptools>=41.0.0
  Downloading setuptools-49.6.0-py3-none-any.whl (803 kB)
Collecting importlib-metadata; python_version < "3.8"
  Downloading importlib_metadata-1.7.0-py2.py3-none-any.whl (31 kB)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
Collecting chardet<4,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Collecting idna<3,>=2.5
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.10-py2.py3-none-any.whl (127 kB)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.5"
  Downloading rsa-4.6-py3-none-any.whl (47 kB)
Collecting cachetools<5.0,>=2.0.0
  Using cached cachetools-4.1.1-py3-none-any.whl (10 kB)
Collecting zipp>=0.5
  Downloading zipp-3.1.0-py3-none-any.whl (4.9 kB)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Building wheels for collected packages: wrapt, absl-py, termcolor
  Building wheel for wrapt (setup.py): started
  Building wheel for wrapt (setup.py): finished with status 'done'
  Created wheel for wrapt: filename=wrapt-1.12.1-cp37-cp37m-win_amd64.whl size=33715 sha256=b170b161b92ebf47891a1e28f4669530afe8b3b4ac92a1239c7aa7908e432771
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\62\76\4c\aa25851149f3f6d9785f6c869387ad82b3fd37582fa8147ac6
  Building wheel for absl-py (setup.py): started
  Building wheel for absl-py (setup.py): finished with status 'done'
  Created wheel for absl-py: filename=absl_py-0.9.0-py3-none-any.whl size=121935 sha256=147511a9cbd479c4e4cde7ffe0801cd31a3ab1fd70f37372ceddca5f69dccc05
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\cc\af\1a\498a24d0730ef484019e007bb9e8cef3ac00311a672c049a3e
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4835 sha256=dd901bc6416bf9c4278cf487731863910099f28c056450713f496a674060276f
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\3f\e3\ec\8a8336ff196023622fbcb36de0c5a5c218cbb24111d1d4c7f2
Successfully built wrapt absl-py termcolor
Installing collected packages: six, wheel, wrapt, tensorboard-plugin-wit, werkzeug, grpcio, zipp, importlib-metadata, markdown, setuptools, protobuf, pyasn1, pyasn1-modules, rsa, cachetools, google-auth, certifi, chardet, idna, urllib3, requests, oauthlib, requests-oauthlib, google-auth-oauthlib, numpy, absl-py, tensorboard, astunparse, google-pasta, tensorflow-estimator, scipy, gast, termcolor, keras-preprocessing, h5py, opt-einsum, tensorflow
  Attempting uninstall: six
    Found existing installation: six 1.14.0
    Uninstalling six-1.14.0:
      Successfully uninstalled six-1.14.0
  Attempting uninstall: wheel
    Found existing installation: wheel 0.34.2
    Uninstalling wheel-0.34.2:
      Successfully uninstalled wheel-0.34.2
  Attempting uninstall: wrapt
    Found existing installation: wrapt 1.11.2
    Uninstalling wrapt-1.11.2:
      Successfully uninstalled wrapt-1.11.2

In [1]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix,classification_report
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from collections import Counter
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.metrics import classification_report_imbalanced
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN
from sklearn.decomposition import PCA

ImportError: Traceback (most recent call last):
  File "C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

In [ ]:
USA_companies8

#### The question that we are hopeful to answer is success prediction. Our data set has a column with statuses of the startups - acquired, ipo, operating, closed. Thus it would be our target - acquired + ipo. We think that it is the most desirable outcome for startups though we don't regect that operating companies can be equaly successful but not willing to go public or to be acquired. We belive that they are minority and most of startups would want to reach that point. Thus we defined that as indicators of success.

In [ ]:
# Defining target
у_df = USA_companies8[['object_id','status']]
у_df

In [ ]:
у_df['status'].unique()

In [ ]:
# Setting labels in the column for our target (acqusition)
у1_df_copy = у_df.copy()
у1_df_copy['status'].replace(to_replace=['acquired',  'ipo'], value='0', inplace=True)
у1_df_copy['status'].replace(to_replace=['operating', 'closed'], value='1', inplace=True)
у1_df_copy

In [ ]:
у1_df_copy.dtypes

In [ ]:
у1_df_copy.groupby('status')['status'].count()

In [ ]:
# Defining the features for scaling
#X_df = pd.merge(categorical, numerical, left_index=True, right_index=True)
X_df = USA_companies8.drop(columns={'status'})
X_df

In [ ]:
X_df.columns.to_list()

In [ ]:
# Encode the categorical features
X_encoded = pd.get_dummies(X_df, columns=['category_code',
 'region',
 'degree_type',
 'start_year',
 'time_range'])
X_encoded

In [ ]:
# A data frame craeted for using in elimination process code that is below
X_for_elimination = X_encoded.drop(columns={'object_id'})

In [ ]:
y1 = у1_df_copy['status']
y1

### We are keeping 'object_id' column in features for splitting the data set. Splitting algorithm selects 30% of testing data randomly. Later on we will work on the testing data set, thus we will be able to merge any features to the testing data set by the IDs and analyze / visualize.

In [ ]:
# Splitting the data to train / test
X_train_full, X_test_full, y_train, y_test = train_test_split(X_encoded, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
X_test_full

In [ ]:
X_train = X_train_full.drop(columns={'object_id'}).reset_index(drop=True)
X_train

In [ ]:
X_test = X_test_full.drop(columns={'object_id'}).reset_index(drop=True)
X_test

In [ ]:
y_test.reset_index(drop=True)

In [ ]:
# We need to scale some features
#data_scaler = StandardScaler()
#X_train_scaled = data_scaler.fit_transform(X_train)
#X_test_scaled = data_scaler.fit_transform(X_test)

# We don't need to do scaling because the data is binery.
# So just copying split data to be able to reuse the code for traing without changing it
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

In [ ]:
X_train_scaled

In [ ]:
# Count target train data
Counter(y_train)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

#### Training

## Random Forest

In [ ]:
# Creating random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_resampled, y_resampled)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm

In [ ]:
# Out of confusion matrix making a df with proper label names
df_rand_for = pd.DataFrame(data=cm, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_rand_for

In [ ]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Balanced accuracy score - considers all factors in confusion matrix
balanced_accuracy_score(y_test, predictions)

In [ ]:
print(classification_report(y_test, predictions))

###### The accuracy score is very high but if we want to know which company we would acquire or if a company would have a high value as a public company then we should focus on precision. Our result is 20% only. So we want to try other algorithms.

######  P.S. Tried dimension reduction but it doesn't make the result better so PCA approach will not work in this case. (deleted PCA code)

## Logistic Regression

In [ ]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Displaying results in confusion matrix
pred = model.predict(X_test_scaled)
matrix = confusion_matrix(y_test, pred)
matrix

In [ ]:
df_log_reg = pd.DataFrame(data=matrix, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_log_reg

In [ ]:
# Accuracy score
accuracy_score(y_test, pred)

In [ ]:
# Balanced Accuracy score
balanced_accuracy_score(y_test, pred)

In [ ]:
# Imbalanced classification report
print(classification_report(y_test, pred))

#### Logistic Regression gave a better result vs Random Forest algorithm.

We want to try Support vector machine (SVM).

## SVM

In [ ]:
from sklearn.svm import SVC
model_svm = SVC(kernel='linear')

In [ ]:
model_svm.fit(X_resampled, y_resampled)
pred_svm = model_svm.predict(X_test_scaled)
accuracy_score(y_test, pred_svm)

In [ ]:
balanced_accuracy_score(y_test, pred_svm)

In [ ]:
matrix_svm = confusion_matrix(y_test, pred_svm)

In [ ]:
df_SVM = pd.DataFrame(data=matrix_svm, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_SVM

In [ ]:
print(classification_report(y_test, pred_svm))

###### SVM shows an impessive accuracy score while precision of success is 0.
###### So we will exclude this algorithm.

## Neural Network

In [ ]:
X_resampled.values

In [ ]:
number_input_features = len(X_resampled.values[0])
number_input_features

In [ ]:
#pip install tensorflow-gpu==2.2.0

In [79]:
import tensorflow as tf
from sklearn.model_selection import GridSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

ImportError: Traceback (most recent call last):
  File "C:\Users\hp\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed: The specified module could not be found.


Failed to load the native TensorFlow runtime.

See https://www.tensorflow.org/install/errors

for some common reasons and solutions.  Include the entire stack trace
above this error message when asking for help.

### Applying Grid Search Technique

In [ ]:
def create_model():
    # Using 2 layers first with Tanh activation function
    number_input_features = len(X_resampled.values[0])
    hidden_nodes_layer1 = number_input_features*2
    hidden_nodes_layer2 = 50
    # hidden_nodes_layer3 = 50

    nn = tf.keras.models.Sequential()

    # First hidden layer
    nn.add(
        tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
    )

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

    # Third hidden layer
    # nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the Sequential model together and customize metrics
    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# create model
nn = KerasClassifier(build_fn=create_model, verbose=2)
# define the grid search parameters
batch_size = [1, 10, 20, 40, 60, 80, 100]
epochs = [10, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=nn, param_grid=param_grid)
grid_result = grid.fit(X_resampled, y_resampled)

In [ ]:
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
Stop here

In [ ]:
# Train the model with 100 epochs
#fit_model = nn.fit(X_resampled, y_resampled, epochs=100)

In [ ]:
# Evaluate the model using the train data 
model_loss1, model_accuracy1 = nn.evaluate(X_resampled,y_resampled,verbose=2)
print(f"Loss: {model_loss1}, Accuracy: {model_accuracy1}")

In [ ]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
predictions_DL = nn.predict(X_test_scaled)
predictions_DL

In [ ]:
y_test1 = y_test.astype(float).values
y_test1

In [ ]:
accuracy_score(y_test1, predictions_DL.round())

In [ ]:
# Balanced accuracy score
balanced_accuracy_score(y_test1, predictions_DL.round())

In [ ]:
matrix_DL = confusion_matrix(y_test1, predictions_DL.round())
matrix_DL

In [ ]:
df_DL = pd.DataFrame(data=matrix_DL, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_DL

In [ ]:
print(classification_report(y_test1, predictions_DL.round()))

###### We want to find valiables that have good correlation with the output and eliminate noisy data from our ML for performance improvement.

### Applying Backward Elimination Technique to select most relevant features

In [ ]:
data = pd.merge(X_for_elimination, y1, how='left', left_index=True, right_index=True)
data

In [ ]:
data.columns.to_list()

In [ ]:
# Changing the sequence - making status column first
data = data[['status',
 'product_label',
 'category_code_advertising',
 'category_code_analytics',
 'category_code_automotive',
 'category_code_biotech',
 'category_code_cleantech',
 'category_code_consulting',
 'category_code_design',
 'category_code_ecommerce',
 'category_code_education',
 'category_code_enterprise',
 'category_code_fashion',
 'category_code_finance',
 'category_code_games_video',
 'category_code_government',
 'category_code_hardware',
 'category_code_health',
 'category_code_hospitality',
 'category_code_legal',
 'category_code_local',
 'category_code_manufacturing',
 'category_code_medical',
 'category_code_messaging',
 'category_code_mobile',
 'category_code_music',
 'category_code_nanotech',
 'category_code_network_hosting',
 'category_code_news',
 'category_code_nonprofit',
 'category_code_other',
 'category_code_pets',
 'category_code_photo_video',
 'category_code_public_relations',
 'category_code_real_estate',
 'category_code_search',
 'category_code_security',
 'category_code_semiconductor',
 'category_code_social',
 'category_code_software',
 'category_code_sports',
 'category_code_transportation',
 'category_code_travel',
 'category_code_web',
 'region_Midwest',
 'region_NY',
 'region_NorCal',
 'region_Northeast',
 'region_SoCal',
 'region_South',
 'region_Southwest',
 'region_West',
 'degree_type_0.0',
 'degree_type_1.0',
 'degree_type_2.0',
 'degree_type_3.0',
 'degree_type_4.0',
 'degree_type_5.0',
 'degree_type_unknown',
 'start_year_2000',
 'start_year_2001',
 'start_year_2002',
 'start_year_2003',
 'start_year_2004',
 'start_year_2005',
 'start_year_2006',
 'start_year_2007',
 'start_year_2008',
 'start_year_2009',
 'start_year_2010',
 'start_year_2011',
 'start_year_2012',
 'start_year_2013',
 'start_year_2014',
 'time_range_0-6mth',
 'time_range_1-2yr',
 'time_range_2-3yr',
 'time_range_3-5yr',
 'time_range_6-12mth',
 'time_range_over5yr']].astype(float)

In [ ]:
data

In [ ]:
import seaborn as sns

In [ ]:
corr1 = data.corr()

In [ ]:
sns.heatmap(corr1)

In [ ]:
columns = np.full((corr1.shape[0],), True, dtype=bool)
for i in range(corr1.shape[0]):
    for j in range(i+1, corr1.shape[0]):
        if corr1.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] = False

In [ ]:
selected_columns = data.columns[columns]

In [ ]:
data = data[selected_columns]

In [ ]:
data

In [ ]:
data.columns.to_list()

In [ ]:
selected_columns = selected_columns[1:].values

In [ ]:
import statsmodels.api as sm
def backwardElimination(x, Y, sl, columns):
    numVars = len(x[0])
    for i in range(0, numVars):
        regressor_OLS = sm.OLS(Y, x).fit()
        maxVar = max(regressor_OLS.pvalues).astype(float)
        if maxVar > sl:
            for j in range(0, numVars - i):
                if (regressor_OLS.pvalues[j].astype(float) == maxVar):
                    x = np.delete(x, j, 1)
                    columns = np.delete(columns, j)
                    
    regressor_OLS.summary()
    return x, columns
SL = 0.05
data_modeled, selected_columns = backwardElimination(data.iloc[:,1:].values, data.iloc[:,0].values, SL, selected_columns)

In [ ]:
result = pd.DataFrame()
result['status'] = data.iloc[:,0]

In [ ]:
data1 = pd.DataFrame(data = data_modeled, columns = selected_columns)

In [ ]:
data1

In [ ]:
data1.columns.to_list()

#### After we applied Backward Elimination technique some variables got eliminated. We will train new data set with Neural Network and then Logistic Regression.

###### Neural Network

In [ ]:
data1

In [ ]:
# Assigning new data set to the variable X
X_encoded_b = data1.values
X_encoded_b

In [ ]:
# Splitting the data to train / test
X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(X_encoded_b, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
X_train_b

In [ ]:
# We need to scale some features
#data_scaler = StandardScaler()
#X_train_scaled_b = data_scaler.fit_transform(X_train_b)
#X_test_scaled_b = data_scaler.fit_transform(X_test_b)

# We don't ned to scale this data set
X_train_scaled_b = X_train_b.copy()
X_test_scaled_b = X_test_b

In [ ]:
# Count target train data                   
Counter(y_train_b)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_b, y_resampled_b = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_b, y_train_b)
Counter(y_resampled_b)

In [ ]:
# Using 2 layers first with Tanh activation function
number_input_features = len(X_resampled_b[0])
hidden_nodes_layer1 = number_input_features*2
hidden_nodes_layer2 = 50
# hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model with 100 epochs
fit_model_b = nn.fit(X_resampled_b, y_resampled_b, epochs=100)

In [ ]:
predictions_DL_b = nn.predict(X_test_scaled_b)
predictions_DL_b

In [ ]:
y_testb = y_test_b.astype(float).values
y_testb

In [ ]:
matrix_DL_b = confusion_matrix(y_testb, predictions_DL_b.round())
matrix_DL_b

In [ ]:
df_DL_b = pd.DataFrame(data=matrix_DL_b, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_DL_b

In [ ]:
# Accuracy score
accuracy_score(y_testb, predictions_DL_b.round())

In [ ]:
# Balanced Accuracy score
balanced_accuracy_score(y_testb, predictions_DL_b.round())

In [ ]:
print(classification_report(y_testb, predictions_DL_b.round()))

###### Logistic Regression

In [ ]:
X_encoded_a = data1.values
X_encoded_a

In [ ]:
y1

In [ ]:
# Splitting the data to train / test
X_train_a, X_test_a, y_train_a, y_test_a = train_test_split(X_encoded_a, y1, random_state=1, stratify=y1, test_size=0.3)

In [ ]:
# We need to scale some features
#data_scaler = StandardScaler()
#X_train_scaled_a = data_scaler.fit_transform(X_train_a)
#X_test_scaled_a = data_scaler.fit_transform(X_test_a)

# We don't need to scale this data set
X_train_scaled_a = X_train_a.copy()
X_test_scaled_a = X_test_a

In [ ]:
# Count target train data
Counter(y_train_a)

In [ ]:
# Resampling with SMOTE Oversampling
X_resampled_a, y_resampled_a = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train_scaled_a, y_train_a)
Counter(y_resampled_a)

In [ ]:
# Using Logistic Regression model to generate predictions
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled_a, y_resampled_a)

In [ ]:
# Displaying results in confusion matrix
pred_a = model.predict(X_test_scaled_a)
matrix_a = confusion_matrix(y_test_a, pred_a)
matrix_a

In [ ]:
df_log_reg_a = pd.DataFrame(data=matrix_a, columns=["predicted_Success","predicted_non_Success"], index=["actual_Success","actual_non_Success"])
df_log_reg_a

In [ ]:
# Accuracy score
accuracy_score(y_test_a, pred_a)

In [ ]:
# Balanced Accuracy score
balanced_accuracy_score(y_test_a, pred_a)

In [ ]:
# Imbalanced classification report
print(classification_report(y_test_a, pred_a))

### So far the best results that we have are results of Logistic Regeression - accuracy score 91% and Precision on Success prediction 28%. We are planning to tune Nural Netrork algorithm and see if we can get a better outcome.
###### At this point we are coming to conclusion that there is no guarantied way to predict an outcome of a startup. 28% is way too small to tell what exactly will lead to success.

# Testing ideas to visualize ML results

In [ ]:
# We need a file of test data with IDs in it
X_test_full_ids = X_test_full[['object_id']].reset_index(drop=True)
X_test_full_ids

In [ ]:
# We need our target of test data
y_test_df = y_test.reset_index().drop(columns={'index'})
y_test_df

In [ ]:
# Merging them 
test_set_df = pd.merge(X_test_full_ids, y_test_df, how='left', left_index=True, right_index=True)
test_set_df

In [ ]:
pred_log_reg = pd.DataFrame(data=pred, columns={'predictions'})
pred_log_reg

In [ ]:
# Merging
test_set_full = pd.merge(test_set_df, pred_log_reg, how='left', left_index=True, right_index=True)
test_set_full

In [ ]:
# Getting original features
USA_companies_features = pd.merge(USA_companies8, USA_companies6[['object_id','time_elapsed_months']], how='left', on=['object_id'])
USA_companies_features

In [ ]:
# Merging the features to the test data set
full_test_data_set = pd.merge(test_set_full, USA_companies_features, how='left', on=['object_id'])
full_test_data_set

In [ ]:
#full_test_data_set.to_csv('predictions_to_plot.csv', index=False)